.componentMain {
  width: 90vw;
  height: CALC(var(--vh, 1vh) * 100 - 60px);
}

.chat-container {
  height: CALC(var(--vh, 1vh) * 100 - 60px);   
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: space-around;
  align-items: stretch; 
}
 

  .chat-container .input-container {
    flex-grow: 1; /* Let the input container take up available space */
    display: flex;
    flex-direction: row;
  }

    .chat-container .input-container textarea {
      flex-grow: 1; /* Let the textarea expand within the input container */
      min-height: 40px; /* Set a minimum height to prevent it from shrinking too much */
    }


.chat-box {
  height: CALC(var(--vh, 1vh) * 100 - 160px);
  overflow-y: auto; 
  padding-left: 30px;
  padding-right: 30px;
}

.message {
  padding-left: 20px;
  padding-right: 20px;
  display: inline-block;
  word-break: break-word;
}

  .message pre, .message code {
    word-break: break-word;
  }
    .message pre ::ng-deep *, .message code ::ng-deep * {
      word-break: break-word;
    }


.input-container {
  display: flex;
  flex-direction: row;
  height:35px;
}

textarea {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px;  
  cursor: pointer; 
}

 
.hr {
  border-bottom: 1px solid white;
  margin: 20px;
}
pre {
  background: #2d2d2d; 
  padding: 10px;
  border-radius: 5px;
  overflow-x: auto;
  font-family: monospace;
  white-space: pre-wrap; /* Preserve formatting */
  line-height: 1.5;
}

code {
  font-family: monospace;
  display: block; /* Ensure block-level formatting */
}

ol, ul {
  padding-left: 20px;
}

.textAreaOptionsDiv { 
  display: flex;
  gap: 10px;
  padding: 10px;
  margin: 5px;
}

  .textAreaOptionsDiv pre {
    background: unset;
    padding: unset;
    line-height: unset;
  }
.messageButtonsWrapperDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  gap: 5px;
  margin-top:5px;
  margin-bottom:5px;
}
.messageButtonsWrapperDiv button { 
  width: 40px;
  height: 35px;
  line-height:0;
}

.loadingResponseDiv {
  margin:20px;
  padding: 20px;
  font-weight: bolder;
  font-size: small; 
}
.chat-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-top: 10px;
}
.emptyHostAiMessage {
  font-size: xx-large;
  height: CALC(var(--vh, 1vh)* 100 - 200px);
  overflow-y: auto;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background: linear-gradient(135deg, var(--component-background-color) 5%, var(--main-highlight-color) 95%);
  padding: 16px;
  text-align: center;
}
