<div class="componentMain">
  <div class="closeButton" (click)="remove_me('HostAiComponent');"></div> 
  <div class="componentTitle">{{this.hostName}}</div>

  <div class="chat-container" #chatContainer>
    <div class="chat-box" *ngIf="chatMessages && chatMessages.length > 0">
      <div *ngFor="let message of chatMessages; let i = index">
        <div class="hr" *ngIf="i > 0"></div>
        <div>
          <strong>{{ message.sender }}:</strong>
          <span class="message" [innerHTML]="message.message"></span> 
        </div>
      </div>
      <div class="loadingResponseDiv" *ngIf="isLoading">Loading...</div>
    </div>
    <div *ngIf="!isLoading && (!chatMessages || chatMessages.length == 0)" class="emptyHostAiMessage">
      <div>Welcome to HostAI.</div>
      <div>Start by typing a message.</div>
    </div>
     
    <div class="input-container">
      <textarea [value]="userMessage"
                (keydown)="handleKeyDown($event)"
                placeholder="Type your message..." rows="4" #chatInput></textarea>
      <app-speech-recognition (speechRecognitionEvent)="speechRecognitionEvent($event)" (speechRecognitionStopListeningEvent)="stopListening()"></app-speech-recognition>
      <button (click)="stopTalking()" *ngIf="startedTalking">🤐</button>
      <button (click)="sendMessage()" [disabled]="isLoading">Send</button>
    </div>
  </div> 
</div>
