.componentMain {
  max-width: 800px;
  overflow: auto;
  position: relative;
}
 

.selectedArticle {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--main-bg-color-full-opacity);
  border: var(--main-border);
  border-radius: 5px;
  padding: 20px;
  z-index: 9999;
  max-height:100%;
  max-width:100%;
}
.articleContainer{
    margin-bottom:10px;
}

.selectedArticleContent {
  position: relative;
}

.closeSelectedArticle {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
  color: var(--main-highlight-color);
}

.articleTitle {
  font-weight: bold;
}

.articleDescription {
  margin-bottom: 10px;
}

.articleAuthor,
.articleSource,
.articleDate {
  margin-top: 10px;
  text-shadow: 0.5px 0.5px 1px var(--secondary-font-color);
}

.articleSource {
  cursor: pointer;
}


/* Styling for the message when there's no news to show */
.noNewsMessage {
  margin-top: 20px;
  font-style: italic;
  color: #999;
}



.selectedArticleContent {
  position: relative;
}

.closeSelectedArticle {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
}

.articleTitle {
  font-weight: bold;
}

.articleDescription {
  margin-bottom: 10px;
}

.articleAuthor,
.articleSource,
.articleDate {
  margin-top: 10px;
}

.articleSource {
  cursor: pointer;
}


.newsList {
  margin-top: 20px;  
}

.newsItem {
  cursor: pointer;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

  .newsItem:hover {
    background-color: #f0f0f0;
  }

.articleTitle {
  font-weight: bold;
  font-size: 18px;
}

.articleDescription {
  margin-top: 5px;
  font-size: 14px;
  color: var(--secondary-font-color);
}

/* Styling for the selected article details */
.selectedArticle {
  margin-top: 20px;
  border: var(--main-border);
  border-radius: 5px;
  padding: 20px;
}

.articleContent {
  margin-top: 10px;
  color: var(--secondary-font-color);
}

.articleDetails {
  margin-top: 20px;
}

.articleAuthor,
.articleSource,
.articleDate {
  font-size: small;
  color: #666;
  text-align: right;
}

/* Styling for the message when there's no news to show */
.noNewsMessage {
  margin-top: 20px;
  font-style: italic;
  color: #999;
}

