.componentMain {
  max-width: 800px;
  overflow: auto;
  position: relative;
}

.selectedArticle {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--main-bg-color-full-opacity);
  border: var(--main-border);
  border-radius: 5px;
  padding: 20px;
  z-index: 9999;
  max-height: 100%;
  max-width: 100%;
}

.articleContainer {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid;
}

.selectedArticleContent {
  position: relative;
  height: CALC(100% - 50px);
  margin-top: 50px;
  padding: 30px;
}

.closeSelectedArticle {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
  color: var(--main-highlight-color);
}

.articleTitle {
  font-weight: bold;
}

.articleDescription {
  margin-bottom: 10px;
}

.articleAuthor,
.articleSource,
.articleDate {
  margin-top: 10px;
  text-shadow: 0.5px 0.5px 1px var(--secondary-font-color);
}

.articleSource {
  cursor: pointer;
}

.selectedArticleContent {
  position: relative;
}

.closeSelectedArticle {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
}

.articleTitle {
  font-weight: bold;
}

.articleDescription {
  margin-bottom: 10px;
}

.articleAuthor,
.articleSource,
.articleDate {
  margin-top: 10px;
}

.articleSource {
  cursor: pointer;
}


.newsList {
  margin-top: 20px;
}

.newsItem {
  cursor: pointer;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

  .newsItem:hover {
    background-color: #f0f0f0;
  }

.articleTitle {
  font-weight: bold;
  font-size: 18px;
}

.articleDescription {
  margin-top: 5px;
  font-size: 14px;
  color: var(--secondary-font-color);
}

.smallArticleImage, .articleImage {
  max-height: 300px;
  max-width: 100%;
  object-fit: contain;
  display: block;
  margin: auto;
}

.articleImage {
  max-height: CALC(var(--vh, 1vh) * 40);
}

.selectedArticle {
  margin-top: 20px;
  border: var(--main-border);
  border-radius: 5px;
  padding: 20px;
}

.articleContent {
  margin-top: 10px;
  color: var(--secondary-font-color);
}

.articleDetails {
  margin-top: 20px;
}

.articleAuthor,
.articleSource,
.articleDate {
  text-align: right;
}

.noNewsMessage {
  margin-top: 20px;
  font-style: italic;
  color: #999;
}

.topSearchDiv {
  display: flex;
  flex-wrap: nowrap;
}

  .topSearchDiv input {
    width: 100%;
  }

.defaultSearchTopDiv {
  display: flex;
  flex-wrap: nowrap;
}

.popupPanel {
  width: 100vw;
  height: CALC(var(--vh, 1vh) * 100 - 40px);
}

.closeButton {
  position: fixed;
  top: 0px;
  right: 21px !important;
}
