<div class="componentMain">
  <div class="closeButton" (click)="remove_me('NewsComponent');"></div>
  <div class="refreshButton" (click)="ngOnInit();"></div>
  <div class="componentTitle">News</div>
  <div class="topSearchDiv defaultSearchTopDiv">
    <table>
      <tr>
        <td>
          <input type="text" #searchKeywords placeholder="Search news by keyword" (keyup)="searchByKeyword()" />
        </td>
        <td>
          <button (click)="searchByKeyword()">🔍Keywords</button>
        </td>
      </tr> 
      <tr>
        <td>
          <input type="text" [value]="defaultSearch" placeholder="Saved search (comma sep.)" #defaultSearchInput />
        </td>
        <td>
          <button (click)="saveDefaultSearch()">💾Saved</button>
        </td>
      </tr>
    </table> 
  </div>
  <div class="paginationControls" *ngIf="newsArticles && newsArticles.totalResults && newsArticles.totalResults > pageSize">
    <button (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
    <span>Page {{currentPage}} of {{totalPages}}</span>
    <button (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
  </div> 
  <!-- Display list of news articles -->
  <div class="newsList mainTableContainer" *ngIf="newsArticles != null" #newsList>
    <span class="smallFont">Results: {{newsArticles.totalResults}}</span>
    <div *ngFor="let newsArticle of newsArticles.articles">
      <div class="articleContainer" (click)="selectArticle(newsArticle)">
        <div class="articleTitle cursorPointer">{{ newsArticle.title }}</div>
        <div class="articleDescription cursorPointer" [innerHTML]="newsArticle.description"></div> 
        <div> 
          <div class="articleDetailData">
            <div class="articleAuthor cursorPointerUnderlined" (click)="openSource(newsArticle.url)">
              Author(s): {{ getAuthors(newsArticle) }}
            </div>
            <div class="articleSource cursorPointerUnderlined" (click)="openSource(newsArticle.url)">
              Source: {{ newsArticle.source.name }}
            </div>
            <div class="articleDate cursorPointerUnderlined" (click)="openSource(newsArticle.url)">
              Published Date: {{ newsArticle.publishedAt }}
            </div>
            <div class="articleDate cursorPointerUnderlined">
              <button (click)="parentRef?.addFavourite(newsArticle.url, newsArticle.urlToImage, newsArticle.source.name)" title="Add to Favourites" class="cursorPointer">❤️</button>
            </div>
          </div>
          <div class="mainArticleImage">
            <img class="smallArticleImage" [attr.loading]="'lazy'" src="{{ newsArticle.urlToImage }}" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Display selected article details -->
  <div *ngIf="selectedArticle" class="articlePopupPanel">
    <div class="articleTitle selectedArticleTitle">{{ selectedArticle.title }}</div>
    <div class="selectedArticleContent">
      <div class="closeButton articleCloseButton" (click)="selectedArticle = undefined"></div>
      <div class="articleContent" [innerHTML]="selectedArticle.content"></div>
      <div class="articleContent" [innerHTML]="selectedArticle.description"></div>
      <div class="articleDetails">
        <div class="articleDetailData">
          <div class="articleAuthor cursorPointerUnderlined" (click)="openSource(selectedArticle.url)">Author(s): {{ getAuthors(selectedArticle) }}</div>
          <div class="articleSource cursorPointerUnderlined" (click)="openSource(selectedArticle.url)">Source: {{ selectedArticle.source.name }}</div>
          <div class="articleDate cursorPointerUnderlined" (click)="openSource(selectedArticle.url)">Published Date: {{ selectedArticle.publishedAt }}</div>
        </div>
        <div class="mainArticleImage"><img class="articleImage" [attr.loading]="'lazy'" src="{{ selectedArticle.urlToImage }}" /></div>
      </div>
    </div>
    <div class="newsArticleActionButtons">
      <button id="closeOverlay" (click)="selectedArticle = undefined">Close</button>
      <button (click)="saveArticle(selectedArticle)">💾Save</button>
      <button (click)="openSource(selectedArticle.url)">📰Read</button>
      <button (click)="parentRef?.addFavourite(selectedArticle.url, selectedArticle.urlToImage, selectedArticle.source.name)" title="Add to Favourites" class="cursorPointer">❤️</button>
    </div>
  </div>

  <div *ngIf="newsArticles == null || !newsArticles">
    No news to show
  </div>

</div>
