.crypto-top-traders-container {
	margin-top: 10px;
	padding: 8px;
}
.crypto-top-traders-container .sectionName {
	font-weight: 600;
}
.top-traders-list {
	margin: 6px 0 0 18px;
	padding: 0;
}
.top-traders-list li {
	line-height: 1.4em;
	font-size: 0.95rem;
    display: flex;
    gap: 20px;
    align-items: center;
	flex-wrap: wrap;
}
.sectionName {
	text-align: center;
}