.componentMain {
  min-width: 375px;
}
@media only screen and (max-width : 400px) {
  .componentMain {
      min-width: 300px;
  }
}
.folder {
  color: black;
  cursor: pointer;
}

  .folder::before {
    content: '📁';
  }


.thumbnailArea {
  max-width: 200px;
  max-height: 100%;
  border: 1px solid black;
  z-index: 999;
  background-color: var(--main-bg-color);
  border: var(--main-border);
  margin-left: auto;
  margin-right: auto;
}

  .thumbnailArea img {
    max-width: 100%;
    max-height: 100%;
  }

  .thumbnailArea button {
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
  }

.thumbnailTitle {
  position: relative;
  display: inline-block;
  width: 100%;
}

  .thumbnailTitle span {
    width: CALC(100% - 30px);
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
  }

.closeImageButton {
  display: inline-block;
  position: relative;
  top: 0px;
  height: 25px;
}

  .closeImageButton::before {
    font-size: 18px;
    line-height: 25px;
    z-index: 2;
    border: 2px outset black;
    text-align: center;
    padding-left: 0px;
  }

  .closeImageButton:active::before {
    border: 2px inset black;
  }

  .closeImageButton::before {
    content: '❌';
  }

.downloadImageButton {
  margin-left: auto;
  margin-right: auto;
}

  .downloadImageButton::before {
    font-size: 18px;
    line-height: 25px;
    z-index: 2;
    border: 2px outset black;
    text-align: center;
    padding-left: 0px;
  }

  .downloadImageButton:active::before {
    border: 2px inset black;
  }

  .downloadImageButton::before {
    content: '⏬';
    right: 0px;
  }

tr[draggable] {
  cursor: move;
}

  tr[draggable]:hover {
    background-color: #f0f0f0;
  }


.disabled-overlay {
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: CALC(100% - 80px);
  background: rgba(128, 128, 128, 0.65);
  z-index: 100;
  pointer-events: none;
}

.disabled {
  pointer-events: none; /* Disable pointer events for the disabled elements */
}

.uploadFileNames {
  max-width: 300px;
  white-space: nowrap; /* Prevent wrapping */
  overflow: hidden; /* Hide overflow */
  text-overflow: ellipsis; /* Add ellipsis */
}

.uploadOrCreateDirectoryDiv {
  max-width: 300px;
}

.fileActionsTd {
  width: 75px;
  text-align: right;
}

  .fileActionsTd input {
    display: inline-block;
  }

.thumbnailImage, .thumbnailVideo {
  width: 100%;
  height: 100%;
  max-width: 500px;
  max-height: 500px;
  cursor: default;
}

#closeOverlay {
  margin-top: 20px;
}

.fileMenuPopupPanel {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: CALC(var(--vh, 1vh) * 100);
  background: var(--secondary-component-background-color);
  z-index: 4 !important;
  border-radius: 8px;
  overflow: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  cursor: default;
}
 
.uploadAndNewFolderButtonDiv {
  display: flex;
  gap: 30px;
}

.topTopicsDiv {
  white-space: nowrap;
}

.popupPanelContent {
  padding: 20px;
}

.browserInstructions {
  border-top: 1px solid var(--main-border-color);
  padding: 10px;
  margin: 5px 0px;
  color: var(--third-font-color);
}