<div class="componentMain">
  <div class="closeButton" (click)="remove_me();"></div>
  <div class="refreshButton" (click)="ngOnInit();"></div>
  <div class="componentTitle">Filesystem</div> 
  <div *ngFor="let notif of notifications" [innerHTML]="notif" (click)="notifications = [];" title="Click to clear notifications" class="notificationArea notification"></div>

  <app-user-list (userClickEvent)="shareFile($event);" [user]="parentRef?.user!" *ngIf="isSharePanelExpanded"></app-user-list>
 
  <div [style.display]="isUploadInitiate ? 'none' : 'block'">
    <span *ngIf="!showMakeDirectoryPrompt">Current Directory :</span>
    <input type="text" #directoryInput placeholder="path/to/directory"
            [style.visibility]="showMakeDirectoryPrompt || uploadFileList.length != 0 ? 'hidden' : 'visible'"
            [style.position]="showMakeDirectoryPrompt || uploadFileList.length != 0 ? 'absolute' : 'unset'" />
    <input type="submit" value="➡️" (click)="changeDirectory()" title="Change Directory" *ngIf="!showMakeDirectoryPrompt" />
    <input type="submit" value="⬅️" (click)="previousDirectory()" title="Previous Directory" *ngIf="!showMakeDirectoryPrompt" />
  </div>

  <input type="submit" value="📂" (click)="showMakeDirectoryPrompt=true;" title="New Folder" *ngIf="!showMakeDirectoryPrompt && !isUploadInitiate" />

  <app-file-upload (userUploadEvent)="uploadInitiate();"
                    (userNotificationEvent)="uploadNotification($event);"
                    (userCancelEvent)="cancelMakeDirectoryOrFile();"
                    [currentDirectory]="directoryInput!.value"
                    [user]="parentRef?.user!"
                    [visibility]="isUploadInitiate ? true : false"
                    *ngIf="!showMakeDirectoryPrompt">
  </app-file-upload> 

  <div *ngIf="showMakeDirectoryPrompt"> 
    <input placeholder="Folder Name" #makeFolderName />
    <label>
      <select #folderVisibility [value]="createVisibility" (change)="createVisibilityOnChange()">
        <option value="public">Public</option>
        <option value="private">Private</option>
      </select>
    </label>
    <button (click)="makeDirectory()">Create Folder</button> 
    <button (click)="cancelMakeDirectoryOrFile()">Cancel</button>
  </div>



  <div [class.disabled]="isDisabled">
    <div *ngIf="isDisabled" class="disabled-overlay"></div>

    <div class="thumbnailArea" *ngIf="showThumbnail">
      <div class="thumbnailTitle">
        <span [title]="thumbnailFileName">{{thumbnailFileName}}</span>
        <div class="closeImageButton" (click)="showThumbnail = false;" title="Close"></div>
      </div>
      <div style="width:100%;text-align:center;"> 
        <img [src]="thumbnailSrc" alt="Thumbnail">
        <div class="downloadImageButton" (click)="downloadThumbnail()" [title]="'Download ' + thumbnailFileName"></div>
       </div>
    </div>

    <div style="margin-top:25px;"></div>

    <!-- filter elements -->
    <div class="filters">
      <label>
        Visibility:
        <select (change)="setFilterVisibility($event)">
          <option value="all" [selected]="filter.visibility === 'all'">All</option>
          <option value="public" [selected]="filter.visibility === 'public'">Public</option>
          <option value="private" [selected]="filter.visibility === 'private'">Private</option>
        </select>
      </label>
      <label>
        Ownership:
        <select (change)="setFilterOwnership($event)">
          <option value="own" [selected]="filter.ownership === 'own'">Own</option>
          <option value="others" [selected]="filter.ownership === 'others'">Others</option>
          <option value="all" [selected]="filter.ownership === 'all'">All</option>
        </select>
      </label>
    </div>

    <!-- FILE TABLE --> 
    <table class="mainTable" id="fileTable">
      <thead>
        <tr *ngIf="showUpFolderRow">
          <td (click)="previousDirectory()"
              class="upOneFolder"
              title="Up one folder"
              (drop)="onDrop($event)"
              (dragover)="onDragOver($event)"
              colspan="2">
            ⬆️📁...
          </td>
        </tr>
        <tr>
          <th (click)="sortTable(0, 'fileTable')">File Name</th>
          <th></th>
        </tr>
      </thead>
      <tbody *ngIf="directoryContents.length > 0">
        <tr *ngFor="let fileName of directoryContents"
            draggable="true"
            (dragstart)="onDragStart($event, fileName.name)">
          <td class="{{ !isFile(fileName.name) ? 'folder' : '' }}"
              (click)="this.handleFileClick(fileName.name);"
              (dragover)="onDragOver($event)"
              (drop)="onDrop($event)">
            {{ fileName.name }}
          </td>
          <td class="fileActionsTd">
            <input value="↗️" type="submit" (click)="isSharePanelExpanded = !isSharePanelExpanded; shareFileOpenUser(fileName.id);" title="Share File" *ngIf="fileName.visibility.toLowerCase() == 'private'" />
            <input value="❌" type="submit" (click)="this.delete(fileName.name);" />
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="directoryContents.length == 0">
        <tr>
          <td>Directory is empty</td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
