<div class="componentMain">
  <div class="closeButton" (click)="remove_me();"></div>
  <div class="refreshButton" (click)="ngOnInit();"></div>
  <div class="componentTitle">Filesystem</div>

  Current Directory :
  <input type="text" #directoryInput placeholder="path/to/directory" />
  <input type="submit" value="➡️" (click)="changeDirectory()" title="Change Directory" />
  <input type="submit" value="⬅️" (click)="previousDirectory()" title="Previous Directory" />
  <input type="submit" value="📂" (click)="makeDirectory()" title="New Folder" />

  <input type="file" #fileInput placeholder="Upload" multiple /><button type="submit" (click)="upload()" title="Upload">⏫</button>


  <table class="table" id="fileTable">
    <thead>
      <tr>
        <th (click)="sortTable(0, 'fileTable')">File Name</th>
      </tr>
      <tr></tr>
    </thead>
    <tbody>
      <tr *ngFor="let fileName of directoryContents">
        <td class="{{ !isFile(fileName) ? 'folder' : '' }}" (click)="this.handleFileClick(fileName);">{{ fileName }}</td>
        <td><input value="X" type="submit" (click)="this.delete(fileName);" /></td>
      </tr>
    </tbody>
  </table>
</div>
