.rotated-header {
  display: inline-block;
  text-transform: capitalize;
  transform: rotate(-90deg) translateY(10px);
  white-space: nowrap;
  height: 30px;
  width: 30px;
  font-size: xx-small;
  text-overflow: ellipsis;
  color: var(--secondary-font-color);
}

table {
  border-collapse: collapse;
}

td { 
  text-align: center; 
  font-size:small;
}
th,td {
    width:5px;
}
th { 
  overflow: hidden;
  text-overflow: ellipsis;
} 
.unitSummaryDiv {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}
button {
  width: 40px;
  background-color: var(--main-font-color);
}
