 
table {
  border-collapse: collapse;
}

td { 
  text-align: center; 
  font-size:small;
}
th,td {
    width:5px;
}
th { 
  overflow: hidden;
  text-overflow: ellipsis;
} 
.unitSummaryDiv {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}
button {
  width: 40px;
  background-color: var(--main-font-color);
}

thead th {
  font-size: small;
}

.defencesTableDiv {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center; 
  overflow: auto;
}
.greyText {
    color:grey;
}

.mainInfoSection {
    display: flex; 
}

.gameNotification {
  color: var(--secondary-font-color);
  font-size: small;
}

.unitPic {
  width: 30px;
  height: 30px;
}
