<div *ngIf="groupedDefences && getObjectKeys(groupedDefences).length > 0">
  <div *ngFor="let key of getObjectKeys(groupedDefences)" class="defencesTableDiv">
    <div class="mainInfoSection">Player : {{ key.split('-')[0] }} Coordinates: <span class="invertedHighlights cursorPointer" (click)="openMapEmitter.emit(key.split('-')[1])">{{ key.split('-')[1] }}</span></div>
    <table>
      <thead>
        <tr>
          <th><span class="rotated-header unitCell">Origin Coordinates</span></th>
          <th><span class="rotated-header unitCell">Origin User ID</span></th>
          <th><span class="rotated-header unitCell">Marine Total</span></th>
          <th><span class="rotated-header unitCell">Goliath Total</span></th>
          <th><span class="rotated-header unitCell">Siege Tank Total</span></th>
          <th><span class="rotated-header unitCell">Scout Total</span></th>
          <th><span class="rotated-header unitCell">Wraith Total</span></th>
          <th><span class="rotated-header unitCell">Battlecruiser Total</span></th>
          <th><span class="rotated-header unitCell">Glitcher Total</span></th>
          <th><span class="rotated-header unitCell">Arrived</span></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let defence of groupedDefences[key]">
          <td (click)="openMapEmitter.emit(defence.originCoordsX + ',' + defence.originCoordsY)" class="cursorPointer invertedHighlights">{{defence.originCoordsX}},{{defence.originCoordsY}}</td>
          <td><app-user-tag [user]="getTmpUserForUserId(defence.originUserId)" [inputtedParentRef]="inputtedParentRef"></app-user-tag></td>
          <td [class]="defence.marineTotal > 0 ? '' : 'greyText'">{{defence.marineTotal}}</td>
          <td [class]="defence.goliathTotal > 0 ? '' : 'greyText'">{{defence.goliathTotal}}</td>
          <td [class]="defence.siegeTankTotal > 0 ? '' : 'greyText'">{{defence.siegeTankTotal}}</td>
          <td [class]="defence.scoutTotal > 0 ? '' : 'greyText'">{{defence.scoutTotal}}</td>
          <td [class]="defence.wraithTotal > 0 ? '' : 'greyText'">{{defence.wraithTotal}}</td>
          <td [class]="defence.battlecruiserTotal > 0 ? '' : 'greyText'">{{defence.battlecruiserTotal}}</td>
          <td [class]="defence.glitcherTotal > 0 ? '' : 'greyText'">{{defence.glitcherTotal}}</td>
          <td><button (click)="sendBack(defence)">{{defence.arrived ? '🔙' : '⛔'}}</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
