<div class="componentMain">
  <div class="closeButton" (click)="ngOnDestroy(); remove_me();"></div>
  <!--<div class="refreshButton" (click)="ngAfterViewInit();"></div>-->
  <div class="componentTitle">GBC</div>

  <div class="gamesContainer">
    <select (change)="loadRom($event)" #loadRomSelect>
      <option value="" disabled selected>Select A Game</option>
      <option value="" disabled>=====Gameboy=====</option>
      <option *ngFor="let game of gbGamesList" [value]="game">{{ game.substring(0, game.lastIndexOf(".")) }}</option>

      <option value="" disabled>=====Gameboy Color=====</option>
      <option *ngFor="let game of gbColorGamesList" [value]="game">{{ game.substring(0, game.lastIndexOf(".")) }}</option>
    </select>
    <span class="persistanceSpan">
      Server Save:
      <label for="autosaveOn">On</label>
      <input type="radio" id="autosaveOn" name="autosave" [checked]="autosave" (change)="autosave = true">

      <label for="autosaveOff">Off</label>
      <input type="radio" id="autosaveOff" name="autosave" [checked]="!autosave" (change)="autosave = false">
    </span>
    <form>
      <span class="uploadRomSpan">
        <label for="localFileOpen" class="upload-label" title="Upload Rom/Save state">📤</label>
        <input type="file" id="localFileOpen" #localFileOpen (change)="fileChanged()" accept=".gb,.gbc,.zip, .sav" class="file-input" />

      </span>
    </form>
    <span *ngIf="loadRomSelect.value" class="uploadRomSpan">
      <label for="downloadSaveState" class="upload-label" title="Download Save State" (click)="saveGame(true)">📥</label>
    </span>
    <span class="uploadRomSpan upload-label" (click)="toggleSound()" title="Toggle audio">{{ soundOn ? '🔊' : '🔇' }}</span>
    <span class="uploadRomSpan keyboardControlsSpan" title="Controls for keyboard: Up,down,right,left arrows for movement; a = a, b = b, enter = start, shift = select.">⌨️</span>

  </div>



  <div class="gameboy" id="GameBoy">

    <div class="screen-area">
      <canvas id="mainCanvas" class="mainCanvas" #canvas slot="lcd" onkeypress="canvasKeypress($event)"></canvas>
    </div>

    <div class="nintendo">Hackboy</div>

    <div class="controls">
      <div class="dpad">
        <div class="up-left">
          <div class="up-left-triangle"></div>
        </div>
        <div class="up">
          <div class="up-triangle"></div>
        </div>
        <div class="up-right">
          <div class="up-right-triangle"></div>
        </div>
        <div class="right">
          <div class="right-triangle"></div>
        </div>
        <div class="down">
          <div class="down-triangle"></div>
        </div>
        <div class="down-left">
          <div class="down-left-triangle"></div>
        </div>
        <div class="left">
          <div class="left-triangle"></div>
        </div>
        <div class="down-right">
          <div class="down-right-triangle"></div>
        </div>
        <div class="middle">
        </div>
      </div>
      <div class="a-b">
        <div class="b">B</div>
        <div class="a">A</div>
      </div>
    </div>

    <div class="start-select">
      <div class="select">SELECT</div>
      <div class="start">START</div>
    </div>

    <div class="speaker" (click)="toggleSound()">
      <div class="dot placeholder"></div>
      <div class="dot open"></div>
      <div class="dot closed"></div>
      <div class="dot open"></div>
      <div class="dot closed"></div>
      <div class="dot open"></div>
      <div class="dot closed"></div>
      <div class="dot placeholder"></div>

      <div class="dot open"></div>
      <div class="dot closed"></div>
      <div class="dot open"></div>
      <div class="dot closed"></div>
      <div class="dot open"></div>
      <div class="dot closed"></div>
      <div class="dot open"></div>
      <div class="dot closed"></div>

      <div class="dot closed"></div>
      <div class="dot open"></div>
      <div class="dot closed"></div>
      <div class="dot open"></div>
      <div class="dot closed"></div>
      <div class="dot open"></div>
      <div class="dot closed"></div>
      <div class="dot open"></div>

      <div class="dot open"></div>
      <div class="dot closed"></div>
      <div class="dot open"></div>
      <div class="dot closed"></div>
      <div class="dot open"></div>
      <div class="dot closed"></div>
      <div class="dot open"></div>
      <div class="dot closed"></div>

      <div class="dot closed"></div>
      <div class="dot open"></div>
      <div class="dot closed"></div>
      <div class="dot open"></div>
      <div class="dot closed"></div>
      <div class="dot open"></div>
      <div class="dot closed"></div>
      <div class="dot open"></div>

      <div class="dot open"></div>
      <div class="dot closed"></div>
      <div class="dot open"></div>
      <div class="dot closed"></div>
      <div class="dot open"></div>
      <div class="dot closed"></div>
      <div class="dot open"></div>
      <div class="dot closed"></div>

      <div class="dot closed"></div>
      <div class="dot open"></div>
      <div class="dot closed"></div>
      <div class="dot open"></div>
      <div class="dot closed"></div>
      <div class="dot open"></div>
      <div class="dot closed"></div>
      <div class="dot open"></div>

      <div class="dot placeholder"></div>
      <div class="dot closed"></div>
      <div class="dot open"></div>
      <div class="dot closed"></div>
      <div class="dot open"></div>
      <div class="dot closed"></div>
      <div class="dot open"></div>
      <div class="dot placeholder"></div>
    </div>
  </div>
