<div class=componentMain>
  <div class="closeButton" (click)="remove_me();"></div>

  <table width=100%>
    <tr width=100%>
      <td width=33% style="border: 1px royalblue dotted;" (click)="monthBackClick();">
        <a href=#><div #monthBack>{{ this.getMonthName(monthBackFromNow) }}</div><div #yearBack>{{ monthBackFromNow.getFullYear() }}</div></a>
      </td>
      <td width=33%>
        <div #month>{{ this.getMonthName(now) }}</div><div #year>{{ now.getFullYear() }}</div>
      </td>
      <td width=33% style="border: 1px royalblue dotted;" (click)="monthForwardClick();">
        <a href=#><div #monthForward>{{ this.getMonthName(monthForwardFromNow) }}</div><div #yearForward>{{ monthForwardFromNow.getFullYear() }}</div></a>
      </td>
    </tr>
  </table>
  <div *ngIf="!!selectedDate" class="calendarDetail">
    <div>{{selectedDate!.date}}</div>
    <table>
      <tr *ngFor="let cal of selectedCalendarEntries">
        <td>{{cal.date | date:'shortTime'}}</td><td>{{cal.type}}</td><td>{{cal.note}}</td><td><input type="button" value="X" (click)="deleteCalendarEntry(cal!);" /></td>
      </tr>
    </table>
    <input #calendarNoteEntry type="text" placeholder="Description" />
    <select #calendarTypeEntry>
      <option>Event</option>
      <option>Birthday</option>
      <option>Holiday</option>
      <option>Newyears</option>
      <option>Christmas</option>
      <option>Weekly</option>
      <option>Monthly</option>
      <option>Annually</option>
      <option>Daily</option>
      <option>Milestone</option>
    </select>
    <input #calendarTimeEntry type="time" />
    <input type="button" (click)="validateNoteEntry()" value="Add"/>
  </div>
  <table align=center border=1 width=90% height=95% class=table>
    <tr width=100% height=50>
      <td width=14% height=50>Sunday</td>
      <td width=14% height=50>Monday</td>
      <td width=14% height=50>Tuesday</td>
      <td width=14% height=50>Wednesday</td>
      <td width=14% height=50>Thursday</td>
      <td width=14% height=50>Friday</td>
      <td width=14% height=50>Saturday</td>
    </tr>
    <tr>
      <td *ngFor="let cal of calendarDays.slice(0,7)" (click)="getCalendarDetails(cal);">{{cal.date?.getDate()}}{{cal.symbols?.join('')}}</td>
    </tr>
    <tr>
      <td *ngFor="let cal of calendarDays.slice(7,14)" (click)="getCalendarDetails(cal);">{{cal.date?.getDate()}}{{cal.symbols?.join('')}}</td>
    </tr>
    <tr>
      <td *ngFor="let cal of calendarDays.slice(14,21)" (click)="getCalendarDetails(cal);">{{cal.date?.getDate()}}{{cal.symbols?.join('')}}</td>
    </tr>
    <tr>
      <td *ngFor="let cal of calendarDays.slice(21,28)" (click)="getCalendarDetails(cal);">{{cal.date?.getDate()}}{{cal.symbols?.join('')}}</td>
    </tr>
    <tr>
      <td *ngFor="let cal of calendarDays.slice(28,35)" (click)="getCalendarDetails(cal);">{{cal.date?.getDate()}}{{cal.symbols?.join('')}}</td>
    </tr>
    <tr>
      <td *ngFor="let cal of calendarDays.slice(35,42)" (click)="getCalendarDetails(cal);">{{cal.date?.getDate()}}{{cal.symbols?.join('')}}</td>
    </tr>
  </table>
  <div id=bookingArea></div>
</div>
