<div class="componentMain">
  <div class="closeButton" (click)="remove_me('CoinWalletComponent');"></div>
  <div class="menuButton" (click)="showMenuPanel();"></div>
  <div class="componentTitle">Crypto Hub</div>
  <div [class]="noMining ? 'noMiningHubSection' : !isTradePanelOpen ? 'hubSection' : ''" [style.display]="isTradePanelOpen ? 'none' : 'block'">
    <div class="cryptoHubConverterAndCoinWatchWrapper" [style.display]="isTradePanelOpen ? 'none' : 'block'">
      <div class="marquee-scroll"
           (mousedown)="onMouseDown($event)"
           (mouseup)="onMouseUp()"
           (mousemove)="onMouseMove($event)"
           (mouseleave)="onMouseUp()"
           (touchstart)="onTouchStart($event)"
           (touchend)="onTouchEnd()"
           (touchmove)="onTouchMove($event)"
           #scrollContainer>
        <a *ngFor="let item of data"
           (click)="selectCoin(item.name)"
           class="cursorPointer marquee-item">
          <div>{{ item.name }} <span *ngIf="item.symbol">({{ item.symbol }})</span></div>
          <div>{{ item.valueCAD ? formatToCanadianCurrency(getConvertedCurrencyValue(item.valueCAD)) : '-' }}</div>
        </a>
      </div>


      <div class="BTCtoCADConversionWrapperDiv">
        <div class="BTCtoCADConversionDiv">
          <label for="btcConvertBTCValue">BTC:</label>
          <input id="btcConvertBTCValue"
                 type="text"
                 value="1"
                 #btcConvertBTCValue
                 (input)="convertBTCtoFIAT()"
                 placeholder="Enter BTC amount" />
        </div>

        <div class="BTCtoCADConversionDiv">
          <label for="btcConvertCADValue">{{selectedCurrency}}:</label>
          <input id="btcConvertCADValue"
                 type="text"
                 #btcConvertCADValue
                 (input)="convertCurrencyToBTC()"
                 placeholder="Enter CAD amount" />
        </div>

        <div class="BTCtoCADConversionDiv">
          <label for="btcConvertSATValue">SAT:</label>
          <input id="btcConvertSATValue"
                 type="text"
                 #btcConvertSATValue
                 (input)="convertSatoshiToBTC()"
                 placeholder="Enter Satoshi amount" />
        </div>
      </div>

    </div>

    <div *ngIf="allHistoricalData && allHistoricalData.length > 0 && volumeData && volumeData.length > 0" class="graphContainerDiv sectionContainer" [style.display]="isTradePanelOpen ? 'none' : 'block'">

      <app-line-graph #lineGraphComponent
                      [type]="'Crypto'"
                      [selectedCurrency]="selectedCurrency"
                      [selectedPeriod]="'15min'"
                      [showAverage]="true"
                      [data]="allHistoricalData!"
                      [selectedCoin]="currentSelectedCoin">
      </app-line-graph>
      <app-line-graph [selectedCurrency]="'Volume'"
                      [type]="'Volume'"
                      [chartTypeInputted]="'bar'"
                      [showAverage]="true"
                      [displayCoinSwitcher]="false"
                      [selectedPeriod]="'15min'"
                      [data]="volumeData">
      </app-line-graph>
    </div>

    <div *ngIf="allHistoricalExchangeRateData && allHistoricalExchangeRateData.length > 0" class="graphContainerDiv sectionContainer" [style.display]="isTradePanelOpen ? 'none' : 'block'">

      <app-line-graph [type]="'Currency'"
                      [selectedCoin]="'USD'"
                      [showAverage]="true"
                      [selectedPeriod]="'1y'"
                      [data]="allHistoricalExchangeRateData!">
      </app-line-graph>
    </div>
  </div>
  <div [class]="isTradePanelOpen ? 'fullScreenTradePanelDiv' : 'hubSection miningHubSection'" *ngIf="latestCurrencyPriceRespectToCAD && latestCurrencyPriceRespectToCAD != 0">
    <app-mining-rigs [style.display]="isTradePanelOpen ? 'none' : 'block'"
                     #miningRigComponent
                     [isDiscreete]="isDiscreete"
                     [inputtedParentRef]="parentRef"
                     [conversionRate]="latestCurrencyPriceRespectToCAD"
                     [currency]="selectedCurrency"
                     (closeMiningEvent)="closeMiningEvent()"></app-mining-rigs>

    <div class="wallet sectionContainer" *ngIf="(wallet || btcWalletResponse)" [style.display]="isTradePanelOpen ? 'none' : 'block'">
      <div class="sectionName cryptoWalletSectionHeader" *ngIf="wallet || btcWalletResponse">Crypto Wallet Balance(s):</div>
      <table *ngIf="wallet || btcWalletResponse?.currencies" id="walletTable">
        <thead *ngIf="wallet?.length">
          <tr>
            <th (click)="areWalletAddressesHidden = !areWalletAddressesHidden" class="cursorPointerUnderlined normalBtcAddress">Address</th>
            <th (click)="sortTable(1, 'walletTable')">Currency</th>
            <th (click)="sortTable(2, 'walletTable')">Total Balance</th>
            <th (click)="sortTable(3, 'walletTable')" title="Fiat rate">${{selectedCurrency}}</th>
            <th (click)="sortTable(4, 'walletTable')" title="Wallet data"></th>
          </tr>
        </thead>
        <tbody *ngFor="let subWallet of wallet">
          <ng-container>
            <tr (click)="selectCoin(subWallet.total?.currency)">
              <!--<tr (click)="selectCoin(wallet.total?.currency)">-->
              <td></td>
              <td>{{ subWallet.total?.currency }}</td>
              <td>{{ isDiscreete ? '***' : subWallet.total?.totalBalance }}</td>
              <td>{{ isDiscreete ? '***' : getTotalCurrencyDisplayValue(subWallet.total) }}</td>
              <td></td>
            </tr>
          </ng-container>
          <ng-container *ngFor="let currency of subWallet?.currencies">
            <tr (click)="selectCoin(currency.currency)">
              <td (click)="areWalletAddressesHidden = !areWalletAddressesHidden"
                  [class]="areWalletAddressesHidden ? 'hiddenBtcAddress' : 'normalBtcAddress'">
                {{ isDiscreete && currency.address ? currency.address.substring(0,3) + '***' + currency.address.substring(currency.address.length - 3, currency.address.length) : currency.address }}
              </td>
              <td>{{ currency.currency }}</td>
              <td>{{ isDiscreete ? '***' : currency.totalBalance }}</td>
              <td>{{ isDiscreete ? '***' : getCurrencyDisplayValue(subWallet.total?.currency, currency) }}</td>
              <td title="Wallet data" class="cursorPointer" (click)="showWalletData(currency)">ℹ️</td>
            </tr>
          </ng-container>
        </tbody>
      </table>
      <div style="margin-top: 10px;">
        <span class="cursorPointerUnderlined" (click)="isAddCryptoDivVisible = !isAddCryptoDivVisible">✚ Add a crypto wallet</span>
        <div *ngIf="isAddCryptoDivVisible">
          <input type="text" #newWalletInput (keyup.enter)="saveNewCryptoWallet()" />
          <select><option>BTC</option></select>
          <button (click)="saveNewCryptoWallet()">💾Save</button>
        </div>
      </div>
    </div>

    <div class="{{isTradePanelOpen ? '' : 'sectionContainer'}}">
      <div class="titleFont cursorPointer">
        <span class="warning-text" title="We take no responsibility in how you use this trade bot nor what you do with any of this information.">⚠️</span>
        Trade Bot:
        <button *ngIf="hasKrakenApi && hasAnyTradeConfig && !tradeBotStarted" (click)="startTradeBot()">Start</button>
        <button *ngIf="tradeBotStarted" (click)="stopTradeBot()">Stop</button>
        <p *ngIf="tradeBotStartedSince && isTradePanelOpen"></p>
        <span *ngIf="tradeBotStartedSince">Running Since: {{tradeBotStartedSince}}</span>
        <span class="cursorPointerUnderlined" (click)="createUpdateUserComponent();" *ngIf="!hasKrakenApi && parentRef?.user?.id"> Set Up Kraken API Keys </span>
        <span class="cursorPointerUnderlined" (click)="createUserComponent();" *ngIf="!hasKrakenApi && !parentRef?.user?.id"> Log in to use the bot.</span>

        <div *ngIf="hasKrakenApi && isTradePanelOpen" style="margin-top: 20px; display: flex; justify-content: center; align-content: flex-start; flex-wrap: wrap; align-items: flex-start;">
          <button (click)="checkBalance()" [disabled]="isLoading" *ngIf="isTradePanelOpen">{{isTradebotBalanceShowing ? 'Hide' : 'Show'}} Trades</button>
          <button (click)="showTradeSettings()" *ngIf="isTradePanelOpen">{{showingTradeSettings ? 'Hide' : 'Show'}} Configuration</button>
          <button (click)="showTradeLogs()" *ngIf="isTradePanelOpen">{{showingTradeLogs ? 'Hide' : 'Show'}} Logs</button>
          <button (click)="showTradeValueGraph()" *ngIf="isTradePanelOpen">{{isShowingTradeValueGraph ? 'Hide' : 'Show'}} Trade Value Graph</button>
        </div>
        <div *ngIf="hasKrakenApi && isTradebotBalanceShowing && tradebotBalances?.length" class="mainTableContainer tradeDataTable">
          <table class="mainTable">
            <thead>
              <tr>
                <th class="xxSmallFont">From</th>
                <th class="xxSmallFont">To</th>
                <th class="xxSmallFont">Value</th>
                <th class="xxSmallFont">BTC Price($CAD)</th>
                <th class="xxSmallFont">Value($CAD)</th>
                <th class="xxSmallFont">Timestamp</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let trade of tradebotBalances">
                <td class="xxSmallFont">{{ trade.from_currency }}</td>
                <td class="xxSmallFont">{{ trade.to_currency }}</td>
                <td class="xxSmallFont">{{ trade.value }}</td>
                <td class="xxSmallFont">{{ trade.btc_price_cad }}</td>
                <td class="xxSmallFont">{{ trade.trade_value_cad }}</td>
                <td class="xxSmallFont">{{ getUtcTimeSince(trade.timestamp) }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div *ngIf="showingTradeSettings" class="optionsStatsWrapperDiv tradeDataTable">
        <div class="optionsStatsDiv">
          <div class="optionsStatsHeader">From Coin</div>
          <div class="optionsStatsDescription">
            <select #tradeFromCoinSelect><option value="XBT">BTC</option></select>
          </div>
        </div>
        <div class="optionsStatsDiv">
          <div class="optionsStatsHeader">To Coin</div>
          <div class="optionsStatsDescription">
            <select #tradeToCoinSelect><option value="USDC">USDC</option></select>
          </div>
        </div>
        <div class="optionsStatsDiv">
          <div class="optionsStatsHeader">_MaximumFromTradeAmount</div>
          <div class="optionsStatsDescription">
            <input type="number" #tradeMaximumFromTradeAmount />
          </div>
        </div>
        <div class="optionsStatsDiv">
          <div class="optionsStatsHeader">_MinimumFromTradeAmount</div>
          <div class="optionsStatsDescription">
            <input type="number" #tradeMinimumFromTradeAmount />
          </div>
        </div>
        <div class="optionsStatsDiv">
          <div class="optionsStatsHeader">_MaximumToTradeAmount</div>
          <div class="optionsStatsDescription">
            <input type="number" #tradeMaximumToTradeAmount />
          </div>
        </div>
        <div class="optionsStatsDiv">
          <div class="optionsStatsHeader">_TradeThreshold</div>
          <div class="optionsStatsDescription">
            <input type="number" #tradeTradeThreshold />
          </div>
        </div>
        <div class="optionsStatsDiv">
          <div class="optionsStatsHeader">_MaximumTradeBalanceRatio</div>
          <div class="optionsStatsDescription">
            <input type="number" #tradeMaximumTradeBalanceRatio />
          </div>
        </div>
        <div class="optionsStatsDiv">
          <div class="optionsStatsHeader">_ValueTradePercentage</div>
          <div class="optionsStatsDescription">
            <input type="number" #tradeValueTradePercentage />
          </div>
        </div>
        <div class="optionsStatsDiv">
          <div class="optionsStatsHeader">_FromPriceDiscrepencyStopPercentage</div>
          <div class="optionsStatsDescription">
            <input type="number" #tradeFromPriceDiscrepencyStopPercentage />
          </div>
        </div>
        <div class="optionsStatsDiv">
          <div class="optionsStatsHeader">_InitialMinimumFromAmountToStart</div>
          <div class="optionsStatsDescription">
            <input type="number" #tradeInitialMinimumFromAmountToStart />
          </div>
        </div>
        <div class="optionsStatsDiv">
          <div class="optionsStatsHeader">_MinimumFromReserves</div>
          <div class="optionsStatsDescription">
            <input type="number" #tradeMinimumFromReserves />
          </div>
        </div>
        <div class="optionsStatsDiv">
          <div class="optionsStatsHeader">_MinimumToReserves</div>
          <div class="optionsStatsDescription">
            <input type="number" #tradeMinimumToReserves />
          </div>
        </div>
        <div class="optionsStatsDiv">
          <div class="optionsStatsHeader">Updated</div>
          <div class="optionsStatsDescription">
            <span *ngIf="tradeConfigLastUpdated">{{tradeConfigLastUpdated}}</span>
            <span *ngIf="!tradeConfigLastUpdated">Never</span>
          </div>
        </div>
        <div class="optionsStatsDiv">
          <div class="optionsStatsHeader">Save Configuration</div>
          <button (click)="updateCoinConfiguration()">💾Save</button>
        </div>
      </div>
      <div *ngIf="isShowingTradeValueGraph">
        <app-line-graph [type]="'Crypto'"
                        [graphTitle]="'Trade Value'"
                        [data]="tradebotValuesForGraph"
                        [selectedPeriod]="'5y'"
                        [showAverage]="true"
                        (fullscreenSelectedEvent)="fullscreenSelectedInPopup($event)">
        </app-line-graph>
      </div>
      <div *ngIf="showingTradeLogs" class="tradeDataTable">
        <div *ngIf="tradeLogs.length > 0; else noLogs" class="mainTableContainer">
          <table class="smallFont mainTable">
            <thead>
              <tr>
                <th>Comment</th>
                <th>Timestamp</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let log of paginatedLogs">
                <td>{{ log.comment }}</td>
                <td>{{ log.timestamp | date: 'short' }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <ng-template #noLogs>
          <p>No logs found.</p>
        </ng-template>
      </div>
      <div style="text-align:center;" *ngIf="showingTradeLogs && tradeLogs && tradeLogs.length > 0">
        <button (click)="prevLogPage()" [disabled]="currentLogPage === 1">Previous</button>
        <span>Page {{ currentLogPage }} of {{ totalLogPages }}</span>
        <button (click)="nextLogPage()" [disabled]="currentLogPage >= totalLogPages">Next</button>
      </div>

      <div *ngIf="hasKrakenApi" style="{{isTradePanelOpen ? 'margin-top:20px;' : ''}}text-align:center; width: 100%;">
        <button (click)="openTradeFullscreen()">{{isTradePanelOpen ? 'Minimize' : 'Maximize'}} View</button>
      </div>
    </div>


    <div class="sectionContainer" [style.display]="isTradePanelOpen ? 'none' : 'block'">
      <div class="titleFont cursorPointer" (click)="hideHostAiMessage = !hideHostAiMessage">
        <span class="warning-text" title="This is not actual financial advice. This is based off AI and the data presented to it from your wallet. We take no responsibility in what you do with this information.">⚠️</span>
        HostAI: <button (click)="generateGeneralAiMessage(); hideHostAiMessage = !hideHostAiMessage;" *ngIf="!finishedGeneratingAiMessage" [disabled]="isLoading">Generate Analysis</button>
      </div>
      <div *ngIf="!finishedGeneratingAiMessage && isLoading">Generating...</div>
      <div class="aiMessage" *ngIf="finishedGeneratingAiMessage && !hideHostAiMessage">
        <span [innerHTML]="getAiMessage('1')"></span>
      </div>
    </div>

    <div *ngIf="!data && isLoading">
      Loading data, please wait...
    </div>
    <div *ngIf="!data && !isLoading">
      Something went wrong, please refresh this component after a while.
    </div>
  </div>


<div *ngIf="isMenuPanelOpen" class="popupPanel">
  <div class="popupPanelTitle">
    Menu
  </div>
  <div class="optionsStatsWrapperDiv menuPanelOptionsDiv">
    <div *ngIf="uniqueCurrencyNames" class="optionsStatsDiv">
      <div class="optionsStatsHeader">
        Selected Currency :
      </div>
      <div class="optionsStatsDescription">
        <select #selectedCurrencyDropdown (change)="changeDefaultCurrency()">
          <option *ngFor="let currency of uniqueCurrencyNames" [selected]="selectedCurrency === currency">
            {{ currency }}
          </option>
        </select>
      </div>
    </div>
    <div class="optionsStatsDiv">
      <div class="optionsStatsHeader">
        Discreete mode :
      </div>
      <div class="optionsStatsDescription discreeteModeSelectorDiv" title="Enable/Disable discreete mode">
        <input type="checkbox" (click)="discreete()" [checked]="isDiscreete" />
        <span (click)="discreete()" class="discreeteModeSpan">{{ isDiscreete ? '🙈' : '🙉' }}</span>
      </div>
    </div>
  </div> 
  <div>
    <button id="closeOverlay" (click)="closeMenuPanel()">Close</button>
  </div>
</div>



<div *ngIf="isWalletPanelOpen" class="popupPanel {{isWalletGraphFullscreened ? 'fullscreenPopupPanel' : ''}}">
  <div class="popupPanelTitle walletPopupTitle">
    Wallet ℹ️
    <div *ngIf="currentlySelectedCurrency">{{currentlySelectedCurrency.address}}</div>
  </div>

  <div class="optionsStatsWrapperDiv walletPopupWrapperDiv" *ngIf="currentlySelectedCurrency">
    <div class="optionsStatsDiv">
      <div class="optionsStatsHeader">Currency:</div>
      <div class="optionsStatsDescription">
        {{currentlySelectedCurrency.currency}}
      </div>
    </div>
    <div class="optionsStatsDiv">
      <div class="optionsStatsHeader">Total:</div>
      <div class="optionsStatsDescription">
        {{currentlySelectedCurrency.totalBalance}}
      </div>
    </div>
    <div class="optionsStatsDiv">
      <div class="optionsStatsHeader">Value:</div>
      <div class="optionsStatsDescription">
        {{formatToCanadianCurrency(getConvertedCurrencyValue(convertFromFIATToCryptoValue(currentlySelectedCurrency)))}}
      </div>
    </div>
  </div>

  <div *ngIf="allWalletBalanceData && allWalletBalanceData.length > 0 && currentlySelectedCurrency?.address != 'Nicehash Wallet'">
    <app-line-graph #walletDataLineGraphComponent
                    [type]="'Crypto'"
                    [selectedCurrency]="selectedCurrency"
                    [selectedPeriod]="'5d'"
                    [graphTitle]="!currentSelectedCoin.includes('->') ? '$Bitcoin Value' : ('$Bitcoin/' + (selectedCurrency) + ' Value')"
                    [data]="allWalletBalanceData" 
                    (fullscreenSelectedEvent)="fullscreenSelectedInPopup($event)">
    </app-line-graph>
  </div>
  <div class="popupPanelTitle cursorPointer" (click)="hideHostAiMessageWallet = !hideHostAiMessageWallet">
    <span class="warning-text" title="This is not actual financial advice. This is based off AI and the data presented to it from your wallet. We take no responsibility in what you do with this information.">⚠️</span>
    HostAI: <button (click)="generateWalletAiMessage(); hideHostAiMessageWallet = !hideHostAiMessageWallet;" *ngIf="!finishedGeneratingAiWalletMessage && !getAiMessage(currentlySelectedCurrency?.address)" [disabled]="isLoading">Generate Analysis</button>
  </div>
  <div *ngIf="!finishedGeneratingAiWalletMessage && isLoading">Generating...</div>
  <div class="aiMessage" *ngIf="(finishedGeneratingAiWalletMessage && !hideHostAiMessageWallet) || getAiMessage(currentlySelectedCurrency?.address)">
    <span [innerHTML]="getAiMessage(currentlySelectedCurrency?.address)"></span>
  </div>
 
  <div class="walletPanelCloseDiv">
    <button id="closeOverlay" (click)="closeWalletPanel()">Close</button>
  </div>
</div>
