 
.deleteNotificationButton, .readNotificationButton {
  width: 65px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.deleteNotificationButton {
  position: absolute;
  top: 0px;
  right: 0px;
}
.readNotificationButton {
  position: absolute;
  top: 0px;
  right: 70px;
}
.fileId {
  line-height: 30px;
  text-align:left;
}
.date {
  font-size: small;
}
.minimalInterfaceComponent {
  background-color: var(--main-bg-color-full-opacity);
  position: fixed;
  width: 100%;
  max-width: 600px;
  overflow: auto; 
  transform: translateY(10%);
  left: 50%;
  z-index: 3;
  border: var(--main-border);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  border-radius: 8px;
  transform: translateX(-50%) !important;
  cursor: default;
}

/* typical phone screen resolution */
@media only screen and (max-width : 667px) {
  .minimalInterfaceComponent {
    height: 100%;
    width: 99vw;
    max-width: unset;
    transform: unset;
    top: 0; 
    border-radius: 0px;
  }
} 
.notificationsDisplay button {
  cursor: pointer;
}
.notificationsDisplay {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  z-index: 3;
  padding: 5px;
/*  height: CALC(var(--vh, 1vh) * 100 - 70px);
*/  flex-wrap: nowrap;
  text-shadow: 0 0 black;
  font-size: var(--main-font-size);
}
.notificationsListContainer {
  overflow-y: auto;
  overflow-x: hidden;
/*  height: CALC(var(--vh, 1vh) * 100 - 105px);*/
  display: flex;
  flex-direction: column;
  align-items: center;
}
.notificationsList {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
}
.notificationListItem {
  border: var(--main-border);
  display: flex;
  position: relative;
  margin: 0px 0px 10px 10px;
  padding: 20px;
  max-width: 500px;
}
@media only screen and (max-width : 1000px) {
  .notificationListItem {
    width: 80vw;
  }
}
@media only screen and (min-width : 1000px) { 
  .notificationListItem {
    width: 500px;
  }
}

.notificationText {
  text-overflow: ellipsis; 
  overflow: hidden;
  text-align: left;
}
.notificationsCountHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
  margin-bottom: 20px;
  margin-top: 15px;
}
.notificationsCountHeaderButtons {
  display: flex;
  gap: 20px;
  margin: 20px;
}
.noNotificationsDiv {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: space-between;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  margin-bottom: 10px;
  height: 100%;
  min-height: 300px;
}
.noNotificationsWrapperSpan {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.notificationsOverlay {
  position: absolute;
  top: -53px;
  left: CALC(-100vw + 2vw);
  width: 100vw;
  height: CALC(-60px + CALC(var(--vh, 1vh) * 100));
  z-index: 3;
  background-color: var(--main-highlight-color-quarter-opacity);
}

.nliRightDiv {
  width: 100%;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: space-evenly;
} 
