<div *ngIf="minimalInterface" class="usernameProfileLink pointer" (click)="showNotifications = !showNotifications; (inputtedParentRef ? inputtedParentRef.showOverlay = showNotifications : '')">
  🔔<span>{{notifications && notifications.length}}</span>
</div>

<div [class]="minimalInterface ? 'minimalInterfaceComponent' : 'componentMain'" *ngIf="!minimalInterface || showNotifications">
  <div class="closeButton" (click)="removeMe('Notifications')" *ngIf="!minimalInterface"></div>
  <div class="refreshButton" (click)="ngOnInit();" *ngIf="!minimalInterface"></div>
  <div class="componentTitle" *ngIf="!minimalInterface">Notifications</div>

  <div class="notificationsDisplay">
    <div>
      <div *ngIf="notifications && notifications.length > 0" class="noNotificationsDiv">You have {{notifications && notifications.length}} notifications <button (click)="delete()" *ngIf="notifications && notifications.length > 0">❌ Delete Notifications</button></div>
      <div class="closeButton" id="closeOverlay" (click)="showNotifications = false;  (inputtedParentRef ? inputtedParentRef.closeOverlay() : '')" *ngIf="minimalInterface"></div>
    </div>
    <div [class]="minimalInterface ? 'notificationsList' : ''">
      <div *ngFor="let notification of notifications" class="notificationListItem">
        <div><button title="Delete Notification" (click)="delete(notification)">❌</button></div>
        <div>
          <app-user-tag [user]="notification.fromUser" [inputtedParentRef]="inputtedParentRef ?? parentRef"></app-user-tag>
        </div>
        <div *ngIf="notification.fileId" (click)="goToFileId(notification.fileId)" class="usernameProfileLink cursorPointer">
          <strong>File ID:</strong> {{ notification.fileId }}
        </div>
        <div *ngIf="notification.storyId" (click)="goToStoryId(notification.storyId)" class="usernameProfileLink cursorPointer">
          <strong>Story ID:</strong> {{ notification.storyId }}
        </div>
        <div *ngIf="notification.chatUserId && notification.fromUser" (click)="goToChat(notification.fromUser)" class="usernameProfileLink cursorPointer">
          <strong>Chat Notification</strong>
        </div>
        <div class="notificationText">
          <strong>Text:</strong> {{ notification.text }}
        </div>
        <div>
          <strong>Date:</strong> {{ notification.date | date: 'short' }}
        </div>
      </div>
    </div>
    <div *ngIf="notifications && notifications.length == 0" class="noNotificationsDiv">

      <div>You don't have any notifications</div>
      <img src="../../favicon.ico" />
      <div>Notifications will appear when users interact with you or your content.</div>

    </div>
  </div>
</div> 
