<div *ngIf="minimalInterface" class="usernameProfileLink cursorPointer" (click)="showNotifications = !showNotifications; (inputtedParentRef ? inputtedParentRef.showOverlay = showNotifications : '')">
  <span [class]="notifications && notifications.length > 0 ? 'glowing' : ''">🔔</span>
</div>

<div [class]="minimalInterface ? 'minimalInterfaceComponent' : 'componentMain'" *ngIf="!minimalInterface || showNotifications">
  <div class="closeButton" (click)="removeMe('Notifications')" *ngIf="!minimalInterface"></div>
  <div class="refreshButton" (click)="ngOnInit();" *ngIf="!minimalInterface"></div>
  <div class="componentTitle" *ngIf="!minimalInterface">Notifications</div>

  <div class="notificationsDisplay" [style.width]="minimalInterface ? '90%' : ''">
    <div>
      <div *ngIf="notifications && notifications.length > 0" class="noNotificationsDiv">
        <div>
          {{notifications && notifications.length}} Notifications
        </div>
        <div>
          <button (click)="delete()" *ngIf="notifications && notifications.length > 0">
            ❌ Clear {{notifications && notifications.length > 1 ? 'All ' : '' }}
          </button>
          <button (click)="read()" *ngIf="notifications && notifications.length > 0">
            Read {{notifications && notifications.length > 1 ? 'All ' : '' }}
          </button>
        </div>
      </div>
      <div class="closeButton" id="closeOverlay" (click)="showNotifications = false;  (inputtedParentRef ? inputtedParentRef.closeOverlay() : '')" *ngIf="minimalInterface"></div>
    </div>
    <div [class]="'notificationsListContainer ' + (minimalInterface ? 'notificationsList' : '')" *ngIf="notifications && notifications.length > 0">
      <div *ngFor="let notification of notifications" class="notificationListItem" [style.opacity]="notification.isRead ? '50%' : '100%'">
        <div class="nliLeftDiv">
          <app-user-tag [user]="notification.fromUser" [inputtedParentRef]="inputtedParentRef ?? parentRef"></app-user-tag>
        </div>
        <div class="nliRightDiv">
          <button title="Delete Notification" (click)="delete(notification)" class="deleteNotificationButton">❌</button>
          <button title="Read Notification" (click)="read(notification)" class="readNotificationButton">Read</button>
          <div *ngIf="notification.fileId" (click)="goToFileId(notification.fileId)" class="usernameProfileLink cursorPointerUnderlined fileId">
            <strong>File ID:</strong> {{ notification.fileId }}
          </div>
          <div *ngIf="notification.storyId" (click)="goToStoryId(notification.storyId)" class="usernameProfileLink cursorPointerUnderlined fileId">
            <strong>Story ID:</strong> {{ notification.storyId }}
          </div>
          <div *ngIf="notification.chatId && notification.fromUser" (click)="goToChat(notification.chatId)" class="usernameProfileLink cursorPointerUnderlined fileId">
            <strong>Chat Notification</strong>
          </div>
          <div class="notificationText cursorPointer" (click)="notificationTextClick(notification)">
            <strong>{{ notification.text }}</strong>
          </div>
          <div class="date notificationText" (click)="notificationTextClick(notification)">
            <strong>Date:</strong> {{ notification.date | date: 'short' }}
          </div>
        </div>
      </div> 
    </div>
    <div *ngIf="notifications && notifications.length == 0" class="noNotificationsDiv">
      <div class="noNotificationsWrapperSpan">
        <div>You don't have any notifications</div>
        <img style="height: 50px;" src="../../favicon.ico" />
        <div>Notifications will appear when users interact with you or your content.</div> 
      </div>
      
    </div>
  </div>
</div> 
