.componentMain {
    min-width: 300px;
    max-width:98vw;
}
.deleteNotificationButton, .readNotificationButton {
  width: 50px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.deleteNotificationButton {
  position: absolute;
  top: 0px;
  right: 0px;
}
.readNotificationButton {
  position: absolute;
  top: 0px;
  right: 60px;
}
.fileId {
  line-height: 30px;
  text-align:left;
}
.date {
  font-size: small;
}
.minimalInterfaceComponent {
  background-color: var(--main-bg-color-full-opacity);
  position: fixed;
  width: 100%;  
  max-width: 600px;  
  height: 80%;
  overflow: auto;
  transform: translateY(10%);
  left: 50%;
  z-index: 10;
  border: var(--main-border);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  border-radius: 8px;
  transform: translateX(-50%);  
}

/* typical phone screen resolution */
@media only screen and (max-width : 667px) {
  .minimalInterfaceComponent {
    height: 100%;
    width: 99vw;
    max-width: unset;
    transform: unset;
    top: 0;
    left: 0;
    border-radius: 0px;
  }
} 

.notificationsDisplay {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  z-index: 2;
  padding: 5px;
  height: CALC(100% - 15px); 
  flex-wrap: nowrap;
}
.notificationsListContainer {
  overflow: auto;
  height: CALC(100vh - 100px);
}
.notificationsList {
  overflow: auto;
  height: 100%;
  width: 100%;
}
.notificationListItem {
  border: var(--main-border);
  display: flex;
  position: relative;
  overflow: hidden;
  margin: 20px;
  padding: 20px;
}
.notificationText {
  text-overflow: ellipsis; 
  overflow: hidden;
  text-align: left;
}
.noNotificationsDiv {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: space-between;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin-bottom: 10px;
  height: 100%;
}
.noNotificationsWrapperSpan {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.notificationsOverlay {
  position: absolute;
  top: -53px;
  left: CALC(-100vw + 2vw);
  width: 100vw;
  height: CALC(-60px + 100vh); 
  z-index: 1;
  background-color: var(--main-highlight-color-quarter-opacity);
}

.nliRightDiv {
  width: 100%;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: space-evenly;
} 
