.componentMain {
    min-width: 300px;
    max-width:98vw;
} 
.minimalInterfaceComponent {
  background-color: var(--main-bg-color-full-opacity);
  position: fixed;
  width: 300px;
  height: 350px;
  overflow: auto;
  top: CALC(50% - 175px);
  left: CALC(50% - 150px);
  z-index: 10;
  border: var(--main-border);
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.notificationsDisplay {
    display: flex;
    flex-flow:column wrap;
    justify-content: space-between;
}
.notificationsList { 
  max-height: 245px;
  overflow: auto;
  width: 270px;
}
.notificationListItem {
    border: var(--main-border);
}
.notificationText {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.noNotificationsDiv {
  display: flex; 
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: space-between;
  justify-content: space-around;
  align-items: center;
  text-align:center;
}
