<div [class]="'mainComponent ' + !selectedRomName ? 'componentMain' : ''">
  <div class="closeButton" (click)="ngOnDestroy(); remove_me('GbcComponent');"></div>
  <div class="menuButton" (click)="showMenuPanel();"></div>
  <div class="componentTitle">Emulation</div>
  <div class="gamesContainer {{ !selectedRomName ? 'expanded' : '' }}" *ngIf="isSearchVisible">
    <app-file-search [user]="parentRef?.user"
                     [inputtedParentRef]="parentRef"
                     [currentDirectory]="'roms/'"
                     [clearAfterSelectFile]="true"
                     [allowedFileTypes]="getAllowedFileTypes()"
                     [showPrivatePublicOption]="false"
                     [showFileSearchOptions]="false"
                     [canChangeDirectory]="false"
                     [canDragMove]="false"
                     [displayFileActions]="false"
                     [displayComments]="false"
                     [displayFileSize]="false"
                     [displayReactions]="false"
                     (selectFileEvent)="loadRom($event)">
    </app-file-search>
  </div>


  <div class="gameboy" id="GameBoy" #fullscreenContainer [style.visibility]="selectedRomName ? 'visible' : 'hidden'">

    <div class="screen-area">
      <canvas id="mainCanvas" class="mainCanvas" #canvas slot="lcd"></canvas>
    </div>

    <div class="nintendo"><span class="nintendoLogo">Hackboy</span></div>

    <div class="controls">
      <div class="dpad" [style.visibility]="!selectedRomName ? 'hidden' : !parentRef?.isShowingOverlay ? 'visible' : 'hidden'">
        <div class="up-left">
          <div class="up-left-triangle"></div>
        </div>
        <div class="up">
          <div class="up-triangle"></div>
        </div>
        <div class="up-right">
          <div class="up-right-triangle"></div>
        </div>
        <div class="right">
          <div class="right-triangle"></div>
        </div>
        <div class="down">
          <div class="down-triangle"></div>
        </div>
        <div class="down-left">
          <div class="down-left-triangle"></div>
        </div>
        <div class="left">
          <div class="left-triangle"></div>
        </div>
        <div class="down-right">
          <div class="down-right-triangle"></div>
        </div>
        <div class="middle">
        </div>
      </div>
      <div class="a-b" *ngIf="!parentRef?.isShowingOverlay">
        <div class="b" [style.visibility]="!selectedRomName ? 'hidden' : displayAB ? 'visible' : 'hidden'">B</div>
        <div class="a" [style.visibility]="!selectedRomName ? 'hidden' : displayAB ? 'visible' : 'hidden'">A</div>
        <div class="c" [style.visibility]="!selectedRomName ? 'hidden' : displayC ? 'visible' : 'hidden'">C</div>
      </div>
    </div>

    <div class="start-select">
      <div class="select">SELECT</div>
      <div class="start">START</div>
    </div>
  </div>

</div>



<!-- Menu Popup -->
<div class="popupPanel" style="overflow: auto;" *ngIf="isMenuPanelOpen">
  <div class="popupPanelTitle" style="margin-bottom:15px;">
    Emulation Menu
    <span class="helperSpanTitle"
          title="This emulator autosaves every minute and when the game closes (ie: when you navigate away from this page).
     ◻️ : Toggle fullscreen mode.
     🛑 : Click on this to power off the emulator (if autosave is selected, this will also save your progress).
     🔊/🔇 : Click on this to mute/unmute the audio.
     ⌨️ Keyboard Controls: Arrows keys for movement; a = x, b = z, c = a, q for left trigger (gba), w for right trigger (gba) enter = start, shift = select.
     "></span>
  </div>
  <div class="optionsStatsWrapperDiv">
    <div class="optionsStatsDiv">
      <div class="optionsStatsHeader">
        Autosave:
      </div>
      <div class="optionsStatsDescription">
        <label for="autosaveOn">On</label>
        <input type="radio" id="autosaveOn" name="autosave" [checked]="autosave" (change)="autosave = true">

        <label for="autosaveOff">Off</label>
        <input type="radio" id="autosaveOff" name="autosave" [checked]="!autosave" (change)="autosave = false">
      </div>
    </div>
    <div class="optionsStatsDiv" *ngIf="!autosave">
      <div class="optionsStatsHeader">
        Save your game:
      </div>
      <div class="optionsStatsDescription">
        <span class="uploadRomSpan upload-label" (click)="saveState()" title="Save your game">💾</span>
      </div>
    </div>
    <div class="optionsStatsDiv" *ngIf="lastSaved">
      <div class="optionsStatsHeader">
        Last Saved:
      </div>
      <div class="optionsStatsDescription">
        {{ lastSaved | date: 'HH:mm' }} ({{ daysSinceDate(lastSaved) }})
      </div>
    </div>
    <div class="optionsStatsDiv" *ngIf="!isSearchVisible">
      <div class="optionsStatsHeader">
        Stop the emulator:
      </div>
      <div class="optionsStatsDescription">
        <span class="uploadRomSpan upload-label" #stopButton (click)="stopEmulator()" title="Power Off">🛑</span>
      </div>
    </div>
    <div class="optionsStatsDiv">
      <div class="optionsStatsHeader">
        Fullscreen:
      </div>
      <div class="optionsStatsDescription">
        <div class="uploadRomSpan upload-label" id="fullscreenBtn" (click)="toggleFullscreen()" title="Fullscreen mode">◻️</div>
      </div>
    </div>
    <div class="optionsStatsDiv" *ngIf="nostalgist">
      <div class="optionsStatsHeader">
        Reset game:
      </div>
      <div class="optionsStatsDescription">
        <button (click)="nostalgist.restart()">Reset</button>
      </div>
    </div>
    <div class="optionsStatsDiv">
      <div class="optionsStatsHeader">
        Mute/Unmute:
      </div>
      <div class="optionsStatsDescription">
        <span class="uploadRomSpan upload-label" (click)="toggleSound()" title="Toggle audio">{{ soundOn ? '🔊' : '🔇' }}</span>
      </div>
    </div>
    <div class="optionsStatsDiv">
      <div class="optionsStatsHeader">
        Volume:
      </div>
      <div class="optionsStatsDescription uploadRomSpan upload-label controlVolume">
        <input type="range" min="0" [max]="maxVolume" [value]="currentVolume" (input)="onVolumeChange($event)" title="Adjust volume levels">
      </div>
    </div>
  </div>

  <div class="optionsStatsWrapperDiv" *ngIf="!onMobile()">
    <div class="optionsStatsDiv">
      <div class="optionsStatsHeader">
        Controller: A
      </div>
      <div class="optionsStatsDescription">
        Keyboard: X
      </div>
    </div>
    <div class="optionsStatsDiv">
      <div class="optionsStatsHeader">
        Controller: B
      </div>
      <div class="optionsStatsDescription">
        Keyboard: Z
      </div>
    </div>
    <div class="optionsStatsDiv">
      <div class="optionsStatsHeader">
        Controller: C
      </div>
      <div class="optionsStatsDescription">
        Keyboard: A
      </div>
    </div>
    <div class="optionsStatsDiv">
      <div class="optionsStatsHeader">
        Controller: Left Trigger <span class="xxSmallFont">(GBA)</span>
      </div>
      <div class="optionsStatsDescription">
        Keyboard: Q
      </div>
    </div>
    <div class="optionsStatsDiv">
      <div class="optionsStatsHeader">
        Controller: Right Trigger <span class="xxSmallFont">(GBA)</span>
      </div>
      <div class="optionsStatsDescription">
        Keyboard: W
      </div>
    </div>
    <div class="optionsStatsDiv">
      <div class="optionsStatsHeader">
        Controller: START
      </div>
      <div class="optionsStatsDescription">
        Keyboard: Enter
      </div>
    </div>
    <div class="optionsStatsDiv">
      <div class="optionsStatsHeader">
        Controller: SELECT
      </div>
      <div class="optionsStatsDescription">
        Keyboard: Shift
      </div>
    </div>
  </div>
  <button id="closeOverlay" (click)="closeMenuPanel()">Close</button>
</div>
