* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

.mainComponent {
  margin-top: 50px;
}

.componentMain {
  width: 100vw;
  overflow: unset;
  border: unset !important;
}

@media only screen and (max-width: 667px) {
  .componentMain {
    width: 100vw !important;
  }
}

.componentTitle {
  width: calc(100% - 100px);
}

.gamesContainer {
  width: 100%;
  height: calc(var(--vh, 1vh) * 100 - 65px);
  overflow: auto;
}

.gamesContainer select {
  width: 100%;
  text-align: center;
}

.gameboy {
  margin-left: -2px;
  overflow: hidden;
  width: 100%;
  height: calc(var(--vh, 1vh) * 100 - 55px);
  border-radius: 20px;
  padding-top: 10px;
  box-shadow: 0px -5px 0px var(--main-bg-color), 0px 5px 0px var(--main-bg-color);
  font-family: sans-serif;
  user-select: none;
  -webkit-user-select: none;
  cursor: default;
}

.screen-area {
  width: 100%;
  image-rendering: pixelated;
  display: flex;
  /* background-color: black; */
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
}

.mainCanvas {
  width: 100vw;
  height: 60vh !important;
}

canvas:fullscreen,
#fullscreenContainer:fullscreen {
  width: 100%;
  height: calc(100% - 100px); /* Leave space for controls */
  margin-bottom: 100px; /* Space for controls */
}

canvas:-webkit-full-screen,
#fullscreenContainer:-webkit-full-screen {
  width: 100%;
  height: calc(100% - 100px);
  margin-bottom: 100px;
}

canvas:-moz-full-screen,
#fullscreenContainer:-moz-full-screen {
  width: 100%;
  height: calc(100% - 100px);
  margin-bottom: 100px;
}

canvas:-ms-fullscreen,
#fullscreenContainer:-ms-fullscreen {
  width: 100%;
  height: calc(100% - 100px);
  margin-bottom: 100px;
}

:fullscreen .controls,
:-webkit-full-screen .controls,
:-moz-full-screen .controls,
:-ms-fullscreen .controls {
  position: fixed;
  bottom: 20px;
  left: 0;
  right: 0;
  z-index: 1000;
}

.fullscreenControlsBottom {
  position: fixed;
  bottom: 10px;
  left: 0;
  right: 0;
  width: 100%;
  padding: 0 10px;
}

.fullscreenControlsTop {
  position: fixed;
  top: 10px;
  left: 0;
  right: 0;
  width: 100%;
  padding: 0 10px;
}

.fullscreenBtnTop {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 50px;
  padding: 0 10px;
  z-index: 9999;
}

.nintendo {
  padding: 0px 5px;
  width: 82px;
  color: var(--main-bg-color);
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
  border-radius: 11px;
  margin-top: 5px;
  box-shadow: 0px -2px 1px var(--main-bg-color);
}

.controls {
  display: flex;
  justify-content: space-between;
  position: fixed; 
  pointer-events: auto;
  z-index: 1000;
  /* top: calc(var(--vh, 1vh) * 85 - 160px); */
  bottom: 100px;
}

.controls.snes-controls {
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 20px;
}

.dpad {
  position: relative;
  display: inline-block;
  width: 160px;
  height: 160px;
  z-index: 5;
}

/* Joystick styles */
.joystick {
  position: relative;
  width: 160px;
  height: 160px;
  z-index: 6;
}
.joystick-base {
  position: absolute;
  left: 0;
  top: 0;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background: rgba(0,0,0,0.08);
  display: flex;
  align-items: center;
  justify-content: center;
  touch-action: none;
}
.joystick-knob {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: rgba(255,255,255,0.95);
  box-shadow: 0 4px 8px rgba(0,0,0,0.4);
  transform: translate(0px, 0px);
  transition: transform 0.05s linear;
  touch-action: none;
}

.dpad>* {
  width: 33%;
  height: 33%;
  position: absolute;
  /* background-color: var(--main-bg-color); */
  cursor: pointer;
}

.dpad>* i {
  position: relative;
  display: block;
  margin: 0 auto;
  text-align: center;
  height: 100%;
  font-size: 28px;
  color: #333a4a;
  text-shadow: 0px -0.5px 0px #aaa;
}

.up {
  top: calc(0% + 4px);
  left: 33%;
  border-top: 4px solid black;
  border-left: 4px solid black;
  border-right: 4px solid black;
  border-radius: 5px 5px 0px 0px;
}

.up:active,
.up.active {
  background: linear-gradient(to top, #565e6a 0%, #333 100%);
}

.right {
  top: 33%;
  left: calc(66% - 4px);
  border-top: 4px solid black;
  border-bottom: 4px solid black;
  border-right: 4px solid black;
  border-radius: 0px 5px 5px 0px;
  box-shadow: 0px -2px 0px #888 inset;
}

.right:active,
.right.active {
  background: linear-gradient(to right, #565e6a 0%, #333 100%);
}

.down {
  top: calc(66% - 4px);
  left: 33%;
  border-left: 4px solid black;
  border-bottom: 4px solid black;
  border-right: 4px solid black;
  border-radius: 0px 0px 5px 5px;
  box-shadow: 0px -2px 0px #888 inset;
}

.down:active,
.down.active {
  background: linear-gradient(to bottom, #565e6a 0%, #333 100%);
}

.left {
  top: 33%;
  left: calc(0% + 4px);
  border-top: 4px solid black;
  border-bottom: 4px solid black;
  border-left: 4px solid black;
  border-radius: 5px 0px 0px 5px;
  box-shadow: 0px -2px 0px #888 inset;
}

.left:active,
.left.active {
  background: linear-gradient(to left, #565e6a 0%, #333 100%);
}

.middle {
  top: 33%;
  left: 33%;
  z-index: -5;
}

.middle::after {
  content: "";
  position: absolute;
  top: 20%;
  left: 20%;
  display: inline-block;
  background: linear-gradient(to bottom, #333 30%, var(--secondary-font-color) 100%);
  border-radius: 50%;
  height: 60%;
  width: 60%;
}

 
.face-buttons {
  position: fixed;
  display: grid;
  grid-template-columns: 70px 70px;
  grid-template-rows: 70px 70px;
  gap: 10px;
  /* top: calc(var(--vh, 1vh) * 80 - 100px); */
  bottom: 100px;
  right: 20px;
  z-index: 30;
}

/* Two-button mode: when only A and B are shown (non-SNES, non-Sega) make them larger
   and offset the lower A button slightly left so it sits more separate from B above. */
.face-buttons.two-button-mode {
  grid-template-columns: 86px 86px;
  grid-template-rows: 86px 86px;
  gap: 12px;
  right: 18px;
}

.face-buttons.two-button-mode .a,
.face-buttons.two-button-mode .b {
  width: 126px;
  height: 86px;
  line-height: 86px;
  font-size: 36px;
}
.face-buttons.two-button-mode .a {
  transform: translate(-60px, 35px);
}
.face-buttons.two-button-mode .b {
  transform: translate(-30px, 35px);
}

.shoulder-buttons {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: calc(100vw - 40px);
  top: -40px;
  z-index: 30;
}

.a,
.b,
.x,
.y,
.l,
.r,
.c {
  position: absolute;
  display: inline-block;
  font-size: 32px;
  width: 65px;
  height: 65px;
  line-height: 65px;
  border-radius: 50%;
  /* background-color: var(--main-bg-color); */
  border-bottom: 2px solid #888;
  box-shadow: -1px 1px 5px black, 0px 0px 5px black inset;
  text-shadow: 0px -1px 1px #888;
  color: var(--secondary-font-color);
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
  touch-action: manipulation;
}

.a:active,
.b:active,
.x:active,
.y:active,
.l:active,
.r:active,
.c:active,
.a.active,
.b.active,
.x.active,
.y.active,
.l.active,
.r.active,
.c.active {
  box-shadow: -1px 1px 1px black, 0px 0px 5px black inset;
  border-width: 0px;
  line-height: 70px;
  filter: brightness(85%);
}

.r:active, .r.active, .l:active, .l.active {
  line-height: 50px !important;
}

.a {
  grid-column: 2;
  grid-row: 2;
}
.b {
  grid-column: 2;
  grid-row: 1;
}

.x {
  grid-column: 1;
  grid-row: 1;
}

.y {
  grid-column: 1;
  grid-row: 2;
}

.l {
  left: 10px;
  border-radius: 10px;
  width: 80px;
  height: 40px;
  line-height: 40px;
  font-size: 24px;
}

.r {
  right: 10px;
  border-radius: 10px;
  width: 80px;
  height: 40px;
  line-height: 40px;
  font-size: 24px;
}

.c {
  grid-column: 1;
  grid-row: 1;
}

.start-select {
  height: 60px;
  display: flex;
  justify-content: center;
  position: absolute;
  /* top: calc(var(--vh, 1vh) * 95 - 60px);
  left: 10px; */
  bottom: 10px;
  left: 35px;
  z-index: 3;
}

 
.start,
.select {
  display: inline-block;
  color: var(--secondary-font-color);
  text-shadow: 0px -1px 0px #3436bf;
  letter-spacing: -1px;
  width: 60px;
  font-size: 16px;
  text-align: center;
}

.start::before,
.select::before {
  content: "";
  display: block;
  margin: 0 auto;
  width: 30px;
  height: 10px;
  margin-bottom: 5px;
  border-radius: 40%;
  background: linear-gradient(to bottom, #0b0a1c 0%, #0b0a1c 30%, #62636c 70%, var(--secondary-font-color) 100%);
  background-repeat: no-repeat;
  border: 2px solid #0b0a1c;
  box-shadow: 0px -2px 1px #8482e9;
  cursor: pointer;
}

.start:active::before,
.select:active::before,
.start.active::before,
.select.active::before {
  background: linear-gradient(to bottom, #0b0a1c 0%, #0b0a1c 50%, var(--secondary-font-color) 100%);
}

.up-triangle {
  position: absolute;
  bottom: 16px;
  right: 7px;
  margin: auto;
  width: 65%;
  height: 65%;
  border-left: solid 15px transparent;
  border-right: solid 15px transparent;
  border-bottom: solid 20px var(--secondary-font-color);
}

.right-triangle {
  position: absolute;
  bottom: 8px;
  right: 0px;
  margin: auto;
  width: 65%;
  height: 65%;
  border-left: solid 15px transparent;
  border-right: solid 15px transparent;
  border-bottom: solid 20px var(--secondary-font-color);
  transform: rotate(90deg);
}

.down-triangle {
  position: absolute;
  bottom: 0px;
  right: 7px;
  margin: auto;
  width: 65%;
  height: 65%;
  border-left: solid 15px transparent;
  border-right: solid 15px transparent;
  border-bottom: solid 20px var(--secondary-font-color);
  transform: rotate(180deg);
}

.left-triangle {
  position: absolute;
  bottom: 8px;
  left: 1px;
  margin: auto;
  width: 65%;
  height: 65%;
  border-left: solid 15px transparent;
  border-right: solid 15px transparent;
  border-bottom: solid 20px var(--secondary-font-color);
  transform: rotate(-90deg);
}

.down-left {
  bottom: 0px;
  left: 7px;
}

.top-left {
  top: 0px;
  left: 7px;
}

.down-right {
  bottom: 0px;
  right: 7px;
}

.up-right {
  top: 0px;
  right: 7px;
}

.down-left,
.down-right,
.up-left,
.up-right {
  position: absolute;
  background-color: transparent !important;
  margin: auto;
  width: 65%;
  height: 65%;
  z-index: 3;
}

.down-left::after,
.down-right::after,
.up-left::after,
.up-right::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
}

.down-left::after {
  border-width: 0 20px 20px 0;
  border-color: transparent var(--secondary-font-color) transparent transparent;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(180deg);
}

.up-left::after {
  border-width: 20px 20px 0 0;
  border-color: var(--main-font-color) transparent transparent transparent;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(360deg);
}

.down-right::after {
  border-width: 0 0 20px 20px;
  border-color: transparent transparent var(--secondary-font-color) transparent;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.up-right::after {
  border-width: 20px 0 0 20px;
  border-color: var(--secondary-font-color) transparent transparent transparent;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.controlVolume {
  font-size: xx-small;
  margin-left: 3px;
  margin-right: 3px;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.persistanceSpan,
.uploadRomSpan {
  padding: 2px;
}

.persistanceSpan {
  float: left;
}

.uploadRomSpan {
  line-height: 20px;
}

.file-input-wrapper {
  position: relative;
  display: inline-block;
}

.file-input {
  width: 30px;
  height: 30px;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

.upload-label {
  cursor: pointer;
  text-align: center;
  font-size: x-large;
}

.keyboardControlsSpan {
  cursor: help;
}
  
.optionsStatsDiv {
  margin-top: 15px;
}

.explainWrapper {
  max-width: 400px;
} 

.slider {
  position: absolute;
  cursor: pointer;
  background-color: #ccc;
  border-radius: 26px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.4s;
}

.slider::before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 0px;
  bottom: 0px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}

input:checked+.slider {
  background-color: #4caf50;
}

input:checked+.slider::before {
  transform: translateX(20px);
}

.optionsStatsWrapperDiv {
  height: unset !important;
}

.toggle-label {
  font-weight: bold;
  font-size: 14px;
  vertical-align: middle;
}

.rebindingWrapper {
  width: 240px;
}

.rebindingWrapper button:disabled {
  color: black;
}

.is-disabled {
  pointer-events: none;    /* blocks clicks in children */
  opacity: 0.6;            /* visual cue, tweak as needed */
}