.componentMain {
  min-height: 500px;
  height:80vh;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
}

.gamescreen, .map {
  width: 350px;
  height: var(--nexus-gamescreen-height);
  border: var(--main-border);
}

.map {
  overflow: auto;
}

.levelLabel {
  background-color: black;
  position: absolute;
}

.building {
  position: relative;
}

.buildingPicture {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.commandCenter, .commandCenterLevelDisplay {
  top: -200px;
  left: 150px;
}

.mines, .minesLevelDisplay {
  top: -180px;
  left: 195px;
}

.starport, .starportLevelDisplay {
  top: -280px;
  left: 105px;
}

.factory, .factoryLevelDisplay {
  top: -373px;
  left: 95px;
}

.supplyDepot, .supplyDepotLevelDisplay {
  top: -418px;
  left: 225px;
}

.nexusBackground {
  position: relative;
  top: -18px;
  left: 0px;
  z-index: -1;
}

.commandCenterBackground {
  position: relative;
  top: -140px;
  left: 0px;
  z-index: -1;
  height: var(--nexus-gamescreen-height);
  overflow: hidden;
}
.commandCenterScreen {
  height: var(--nexus-gamescreen-height);
}

.minesBackground {
  position: relative;
  top: -108px;
  left: 0px;
  z-index: -1;
  height: var(--nexus-gamescreen-height);
  overflow: hidden;
}
.shareMapButtonDiv {
  position: absolute;
  bottom: 0px;
}

.mapComponentDiv {
  display: none;
}

  .mapComponentDiv.opened {
    display: block;
  }
.upgradesTableDiv {
    max-height:200px;
    overflow: auto;
    max-width:99%;
}
