<div class=componentMain>
  <div class="closeButton" (click)="remove_me('NexusComponent');"></div>
  <div class="refreshButton" (click)="ngOnInit();"></div>
  <div class="componentTitle">Bug Wars</div>


  <div *ngIf="!isUserComponentOpen && parentRef && parentRef.user && isUserNew">
    Welcome to Nexus wars.
    <button (click)="start()">Enter the fight</button>
  </div>

  <div class="gamescreen" [style.display]="!isUserNew ? 'block':'none'">
    <div *ngIf="!isReportsOpen && !isMapOpen">
      <span title="Gold" class="resourceSpan">🪙:{{ goldAmount | number:'1.2-2' }}</span>
      <span title="Supply Capacity" class="resourceSpan" *ngIf="nexusBase">👤:{{calculateCurrentSupply()}}</span>
      <span title="Nexus location" class="resourceSpan">📍:{{'{' + currentBaseLocationX + ',' + currentBaseLocationY + '}'}}</span>
    </div>

    <div *ngIf="parentRef && parentRef.user" [style.display]="isReportsOpen && !isMinesOpen && !isCommandCenterOpen && !isSupplyDepotOpen && !isFactoryOpen && !isMinesOpen && !isStarportOpen && !isWarehouseOpen && !isEngineeringBayOpen && !isMapOpen && nexusBase ? 'block' : 'none'"  class="battleReportComponentDiv">
      <app-nexus-reports [battleReports]="battleReports" [user]="parentRef.user"></app-nexus-reports>
    </div>

    <div class="mapComponentDiv" #mapComponentDiv *ngIf="parentRef && parentRef.user" [style.display]="isMapOpen ? 'block':'none'">
      <app-nexus-map #mapComponent
                     [user]="parentRef.user"
                     [inputtedParentRef]="parentRef"
                     [nexusBase]="nexusBase"
                     [nexusUnits]="nexusAvailableUnits"
                     [unitStats]="units"
                     [nexusPictureSrc]="nexusBackgroundPictureSrc"
                     [marinePictureSrc]="marinePictureSrc"
                     [goliathPictureSrc]="goliathPictureSrc"
                     [siegeTankPictureSrc]="siegeTankPictureSrc"
                     [scoutPictureSrc]="scoutPictureSrc"
                     [wraithPictureSrc]="wraithPictureSrc"
                     [battlecruiserPictureSrc]="battlecruiserPictureSrc"
                     [glitcherPictureSrc]="glitcherPictureSrc"
                     [mapTileSrc]="mapTileSrc"
                     [nexusAttacksIncoming]="nexusAttacksIncoming"
                     [nexusAttacksSent]="nexusAttacksSent"
                     [attackTimers]="attackTimers"
                     (emittedNotifications)="emittedNotifications($event)"
                     (emittedReloadEvent)="emittedReloadEvent($event)"
                     (closeMapEvent)="viewMap()">
      </app-nexus-map>
    </div>




    <img [src]="nexusBackgroundPictureSrc" class="nexusBackground" *ngIf="nexusBackgroundPictureSrc" [style.display]="!isMinesOpen && !isWarehouseOpen && !isEngineeringBayOpen && !isCommandCenterOpen && !isSupplyDepotOpen && !isFactoryOpen && !isMinesOpen && !isStarportOpen && !isMapOpen && !isReportsOpen ? 'block' : 'none' " loading="lazy" decoding="asynchronous" />


    <div [style.display]="!isMinesOpen && !isCommandCenterOpen && !isSupplyDepotOpen && !isFactoryOpen && !isMinesOpen && !isStarportOpen && !isWarehouseOpen && !isEngineeringBayOpen && !isMapOpen && !isReportsOpen && nexusBase ? 'block' : 'none'">
      <div class="building">
        <img [src]="commandCenterPictureSrc" class="commandCenter buildingPicture" *ngIf="commandCenterPictureSrc" (click)="openCommandCenter()" title="Command Center" loading="lazy" decoding="asynchronous" />
        <span class="levelLabel commandCenterLevelDisplay" *ngIf="nexusBase">
          {{nexusBase.commandCenterLevel ? nexusBase.commandCenterLevel : ''}}
          <span class="timerLabel">
            {{getBuildingTimerForBuilding("command_center") ? formatTimer(getBuildingTimerForBuilding("command_center").endTime) : ''}}
          </span>
        </span>
      </div>

      <div class="building" [style.display]="displayMines ?  'block' : 'none'">
        <img [src]="minesPictureSrc" class="buildingPicture mines" *ngIf="minesPictureSrc" (click)="openMines();" title="Mines"  loading="lazy" decoding="asynchronous" />
        <span class="levelLabel minesLevelDisplay" *ngIf="nexusBase">
          {{nexusBase.minesLevel ? nexusBase.minesLevel : ''}}
          <span class="timerLabel">
            {{getBuildingTimerForBuilding("mines") ? formatTimer(getBuildingTimerForBuilding("mines").endTime) : ''}}
          </span>
        </span>
      </div>


      <div class="building" [style.visibility]="displayEngineeringBay ?  'visible' : 'hidden'">
        <img [src]="engineeringBayPictureSrc" class="buildingPicture engineeringBay" *ngIf="engineeringBayPictureSrc" (click)="openEngineeringBay();" title="Engineering Bay"  loading="lazy" decoding="asynchronous"/>
        <span class="levelLabel engineeringBayLevelDisplay" *ngIf="nexusBase">
          {{nexusBase.engineeringBayLevel ? nexusBase.engineeringBayLevel : ''}}
          <span class="timerLabel">
            {{getBuildingTimerForBuilding("engineering_bay") ? formatTimer(getBuildingTimerForBuilding("engineering_bay").endTime) : ''}}
          </span>
        </span>
      </div>


      <div class="building" [style.visibility]="displayWarehouse ?  'visible' : 'hidden'">
        <img [src]="warehousePictureSrc" class="buildingPicture warehouse" *ngIf="warehousePictureSrc" (click)="openWarehouse();" title="Warehouse"  loading="lazy" decoding="asynchronous"/>
        <span class="levelLabel warehouseLevelDisplay" *ngIf="nexusBase">
          {{nexusBase.warehouseLevel ? nexusBase.warehouseLevel : ''}}
          <span class="timerLabel">
            {{getBuildingTimerForBuilding("warehouse") ? formatTimer(getBuildingTimerForBuilding("warehouse").endTime) : ''}}
          </span>
        </span>
      </div>

      <div class="building" [style.visibility]="displayFactory ?  'visible' : 'hidden'">
        <img [src]="factoryPictureSrc" class="buildingPicture factory" *ngIf="factoryPictureSrc" (click)="openFactory()" title="Factory"  loading="lazy" decoding="asynchronous" />
        <span class="levelLabel factoryLevelDisplay" *ngIf="nexusBase">
          {{nexusBase.factoryLevel ? nexusBase.factoryLevel : ''}}
          <span class="timerLabel">
            {{getBuildingTimerForBuilding("factory") ? formatTimer(getBuildingTimerForBuilding("factory").endTime) : ''}}
          </span>
        </span>
      </div>

      <div class="building" [style.visibility]="displayStarport ?  'visible' : 'hidden'">
        <img [src]="starportPictureSrc" class="buildingPicture starport" *ngIf="starportPictureSrc" (click)="openStarport()" title="Starport"  loading="lazy" decoding="asynchronous" />
        <span class="levelLabel starportLevelDisplay" *ngIf="nexusBase">
          {{nexusBase.starportLevel ? nexusBase.starportLevel : ''}}
          <span class="timerLabel">
            {{getBuildingTimerForBuilding("starport") ? formatTimer(getBuildingTimerForBuilding("starport").endTime) : ''}}
          </span>
        </span>
      </div>

      <div class="building" [style.visibility]="displaySupplyDepot ? 'visible' : 'hidden'">
        <img [src]="supplyDepotPictureSrc" class="buildingPicture supplyDepot" *ngIf="supplyDepotPictureSrc" (click)="openSupplyDepot()" title="Supply Depot" loading="lazy" decoding="asynchronous"/>
        <span class="levelLabel supplyDepotLevelDisplay" *ngIf="nexusBase">
          {{nexusBase.supplyDepotLevel ? nexusBase.supplyDepotLevel : ''}}
          <span class="timerLabel">
            {{getBuildingTimerForBuilding("supply_depot") ? formatTimer(getBuildingTimerForBuilding("supply_depot").endTime) : ''}}
          </span>
        </span>
      </div>
    </div>



    <img [src]="commandCenterPictureSrc" class="commandCenterBackground" *ngIf="commandCenterPictureSrc"
         [style.display]="isCommandCenterOpen && !isSupplyDepotOpen && !isFactoryOpen && !isMinesOpen && !isStarportOpen && !isMapOpen && !isReportsOpen && !isUserNew ? 'block' : 'none'"
         loading="lazy" decoding="asynchronous"/>
    <div *ngIf="nexusBase" [style.display]="isCommandCenterOpen && !isMapOpen && !isUserNew && nexusBase ? 'block' : 'none'" class="commandCenterScreen">
      <div>
        <p class="">
          Upgrade the Command Center to gain more worker slots.
          Worker slots allow you to upgrade more buildings simultaneously.
        </p>
        <p class="upgradeProgressDisplayP">Current upgrade limit : {{nexusBase.commandCenterLevel + 1}}</p>
        <button (click)="closeCommandCenter()">Back</button>
      </div>

    </div>


    <img [src]="supplyDepotPictureSrc"
         class="supplyDepotBackground"
         *ngIf="supplyDepotPictureSrc"
         [style.display]="isSupplyDepotOpen && !isFactoryOpen && !isMinesOpen && !isStarportOpen && !isCommandCenterOpen && !isMapOpen && !isReportsOpen && !isUserNew ? 'block' : 'none'"
          loading="lazy" decoding="asynchronous" />
    <div [style.display]="isSupplyDepotOpen && !isMapOpen && !isUserNew ? 'block' : 'none'" class="supplyDepotScreen">
      <div *ngIf="nexusBase">
        <div class="supplyInfoDiv">
          <div class="supplyExplainDiv">
            For every supply depot level your supply capacity increases by 2500.
            <p>Capacity: {{supplyCapacity}}</p>
            <p>Used: <span [class]="supplyCapacity - nexusBase.supply <= 600 ? 'redText' : ''">{{nexusBase.supply}}</span></p>
          </div>
          <div class="supplyUsedDiv">
            <div *ngFor="let unit of units">
              {{unit.unitType}}: {{getSupplyUsedForUnit(unit.unitId)}}
            </div>
          </div>
        </div>
        <button (click)="closeSupplyDepot()">Back</button>
      </div>
    </div>


    <img [src]="factoryPictureSrc" class="factoryBackground" *ngIf="factoryPictureSrc" [style.display]="isFactoryOpen && !isMapOpen && !isReportsOpen && !isUserNew ? 'block' : 'none'"  loading="lazy" decoding="asynchronous"/>
    <div [style.display]="isFactoryOpen && !isMapOpen && !isUserNew ? 'block' : 'none'" class="factoryScreen">
      <div>
        Upgrade the Factory to train more units simultaneously. Current training limit: <span class="redText">{{nexusBase?.factoryLevel ?? 0}}</span>
        <div class="unitsTableDiv">
          <table class="mainTable">
            <tbody *ngFor="let unit of getFactoryUnits()">
              <tr>
                <td class="unitPictureTd">
                  <img [src]="unit.pictureSrc" class="unitPicture" *ngIf="unit.pictureSrc"  loading="lazy" decoding="asynchronous" />
                </td>
                <td class="unitPictureTd">
                  {{ unit.unitType }}
                </td>
                <td class="unitSliderTd">
                  <input type="range" class="unitSliderTd" [value]="unit.purchasedValue ?? 0" [min]="0" [max]="maxSliderValue(unit)" [step]="1" (input)="onSliderChange($event, unit)" />
                </td>
                <td>
                  <input [value]="unit.purchasedValue ? unit.purchasedValue : '0'" (keyup)="onSliderChange($event, unit)" class="unitInput" />
                </td>
                <td class="unitPictureTd">
                  <button [disabled]="!unit.purchasedValue" (click)="purchaseUnit(unit.unitId)">✔️</button>
                </td>
              </tr>
              <tr>
                <td></td>
                <td class="smallFont" colspan="3">
                  🪙{{ ((unit.purchasedValue ? unit.purchasedValue : 1) * unit.cost) }}
                  ⏱️{{ formatTimer(unit.duration * (unit.purchasedValue ? unit.purchasedValue : 1))}}
                  <span [class]="((unit.purchasedValue ? unit.purchasedValue : 1) * unit.supply) > supplyCapacity ? 'redText' : ''">👤{{ unit.supply ? (unit.purchasedValue ? unit.purchasedValue : 1) * unit.supply : ''}}</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <button (click)="closeFactory()">Back</button>
      </div>
    </div>


    <img [src]="starportPictureSrc" class="starportBackground" *ngIf="starportPictureSrc && nexusBase" [style.display]="isStarportOpen && !isMapOpen && !isReportsOpen && !isUserNew ? 'block' : 'none'"  loading="lazy" decoding="asynchronous"/>
    <div [style.display]="isStarportOpen && !isMapOpen && !isReportsOpen && !isUserNew ? 'block' : 'none'" class="starportScreen">
      <div>
        <div>
          Upgrade the Starport to train more units simultaneously. Current training limit: <span class="redText">{{nexusBase?.starportLevel ?? 0}}</span>
          <div class="unitsTableDiv">
            <table class="mainTable">
              <tbody *ngFor="let unit of getStarportUnits()">
                <tr>
                  <td class="unitPictureTd">
                    <img [src]="unit.pictureSrc" class="unitPicture" *ngIf="unit.pictureSrc"  loading="lazy" decoding="asynchronous"/>
                  </td>
                  <td class="unitPictureTd">
                    {{ unit.unitType }}
                  </td>
                  <td class="unitSliderTd">
                    <input type="range" class="unitSliderTd" [value]="unit.purchasedValue ?? 0" [min]="0" [max]="maxSliderValue(unit)" [step]="1" (input)="onSliderChange($event, unit)" />
                  </td>
                  <td>
                    <input [value]="unit.purchasedValue ? unit.purchasedValue : '0'" (keyup)="onSliderChange($event, unit)" class="unitInput" />
                  </td>
                  <td class="unitPictureTd">
                    <button [disabled]="!unit.purchasedValue" (click)="purchaseUnit(unit.unitId)">✔️</button>
                  </td>
                </tr>
                <tr>
                  <td></td>
                  <td class="smallFont" colspan="3">
                    🪙{{ ((unit.purchasedValue ? unit.purchasedValue : 1) * unit.cost) }}
                    ⏱️{{ formatTimer(unit.duration * (unit.purchasedValue ? unit.purchasedValue : 1))}}
                    <span [class]="((unit.purchasedValue ? unit.purchasedValue : 1) * unit.supply) > supplyCapacity ? 'redText' : ''">👤{{ unit.supply ? (unit.purchasedValue ? unit.purchasedValue : 1) * unit.supply : ''}}</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <button (click)="closeStarport()">Back</button>
      </div>
    </div>


    <img [src]="warehousePictureSrc" class="warehouseBackground" *ngIf="warehousePictureSrc" [style.display]="isWarehouseOpen && !isMapOpen && !isReportsOpen && !isUserNew ? 'block' : 'none'" loading="lazy" decoding="asynchronous"/>
    <div [style.display]="isWarehouseOpen && !isMapOpen && !isReportsOpen && !isUserNew ? 'block' : 'none'" class="warehouseScreen">
      <div>
        <p></p>Current gold capacity : {{goldCapacity}}🪙
        <div class="warehouseLevelsDiv">
          <table class="mainTable">
            <thead>
              <tr>
                <th>Warehouse Level</th>
                <th>Capacity</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let i of warehouseUpgradeLevels">
                <td>{{i}}</td>
                <td>{{5000 * (i + 1)}}🪙</td>
              </tr>
            </tbody>
          </table>
        </div>
        <button (click)="closeWarehouse()">Back</button>
      </div>
    </div>


    <img [src]="engineeringBayPictureSrc" class="engineeringBayBackground" *ngIf="engineeringBayPictureSrc" [style.display]="isEngineeringBayOpen && !isMapOpen && !isReportsOpen && !isUserNew ? 'block' : 'none'"  loading="lazy" decoding="asynchronous" />
    <div [style.display]="isEngineeringBayOpen && !isMapOpen && !isReportsOpen && !isUserNew ? 'block' : 'none'" class="engineeringBayScreen">
      <div>
        Upgrade units and create a drone that converts a Command Center to your ownership.

        <div class="unitsTableDiv" *ngIf="glitcherStats">
          <table class="mainTable">
            <tbody>
              <tr>
                <td class="unitPictureTd">
                  <img [src]="glitcherStats.pictureSrc" class="unitPicture" *ngIf="glitcherStats.pictureSrc" loading="lazy" decoding="asynchronous"/>
                </td>
                <td class="unitPictureTd">
                  {{ glitcherStats.unitType }}
                </td>
                <td class="unitSliderTd">
                  <input type="range" class="unitSliderTd" [value]="glitcherStats.purchasedValue ?? 0" [min]="0" [max]="maxSliderValue(glitcherStats)" [step]="1" (input)="onSliderChange($event, glitcherStats)" />
                </td>
                <td>
                  <input [value]="glitcherStats.purchasedValue ? glitcherStats.purchasedValue : '0'" (keyup)="onSliderChange($event, glitcherStats)" class="unitInput" />
                </td>
                <td class="unitPictureTd">
                  <button [disabled]="!glitcherStats.purchasedValue" (click)="purchaseUnit(glitcherStats.unitId)">✔️</button>
                </td>
              </tr>
              <tr>
                <td></td>
                <td class="smallFont" colspan="3">
                  🪙{{ ((glitcherStats.purchasedValue ? glitcherStats.purchasedValue : 1) * glitcherStats.cost) }}
                  ⏱️{{ formatTimer(glitcherStats.duration * (glitcherStats.purchasedValue ? glitcherStats.purchasedValue : 1))}}
                  <span [class]="((glitcherStats.purchasedValue ? glitcherStats.purchasedValue : 1) * glitcherStats.supply) > supplyCapacity ? 'redText' : ''">👤{{ glitcherStats.supply ? (glitcherStats.purchasedValue ? glitcherStats.purchasedValue : 1) * glitcherStats.supply : ''}}</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <button (click)="closeEngineeringBay()">Back</button>
      </div>
    </div>


    <img [src]="minesPictureSrc" class="minesBackground" *ngIf="minesPictureSrc" [style.display]="isMinesOpen && !isMapOpen && !isReportsOpen && !isUserNew ? 'block' : 'none'"  loading="lazy" decoding="asynchronous" />
    <div [style.display]="isMinesOpen && !isMapOpen && !isReportsOpen && !isUserNew ? 'block' : 'none'" class="minesScreen">
      <div>
        Current mining speed: {{miningSpeed}}
        <button (click)="closeMines()">Back</button>
      </div>
    </div>
  </div>
  <div class="upgradesTableDiv" [style.display]="isCommandCenterOpen && !isMapOpen && !isReportsOpen && !isUserNew ? 'block' : 'none'">
    Upgrades Available:
    <table class="mainTable">
      <thead>
        <tr>
          <th>Building</th>
          <th>Level</th>
          <th>🪙</th>
          <th>Duration</th>
          <th></th>
        </tr>
      </thead>
      <tbody *ngIf="getValidBuildingUpgrades().length > 0">
        <tr *ngFor="let upgrade of getValidBuildingUpgrades()">
          <td>{{upgrade.building}}</td>
          <td>{{upgrade.nextLevel + 1}}</td>
          <td>{{upgrade.cost}}</td>
          <td>{{upgrade.duration}}s</td>
          <td>
            <button (click)="upgradeBuilding(upgrade, upgrade.duration)" #upgradeButton>
              {{ getBuildingTimerForBuilding(upgrade.building) ? formatTimer(getBuildingTimerForBuilding(upgrade.building).endTime) : '🔧' }}
            </button>
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="getValidBuildingUpgrades().length === 0">
        <tr>
          <td colspan="5">All buildings are maxed out on upgrades.</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div [style.display]="!isCommandCenterOpen && !isMapOpen && !isReportsOpen && !isUserNew && !isUserComponentOpen ? 'block' : 'none'">
    Movement:<span class="xxSmallFont redText" *ngIf="!activeAttackTimers() || activeAttackTimers().length == 0">[No movement.]</span>
    <div class="upgradeTimersTableDiv"> 
      <div *ngFor="let timer of activeAttackTimers()">
        <p [class]="timer.unit.includes('Returning') ? 'defenceProgressDisplayP' : 'unitProgressDisplayP'">
          {{ timer.unit.includes(".") ? timer.unit.substring(timer.unit.indexOf('.') + 1, timer.unit.length) : timer.unit }} - {{ formatTimer(timer.endTime) }}
        </p>
      </div>
    </div>

    Training:<span class="xxSmallFont redText" *ngIf="!activeUnitTimers() || activeUnitTimers().length == 0">[No training.]</span>
    <div class="upgradeTimersTableDiv"> 
      <div *ngIf="activeUnitTimers().length > 0">
        <div *ngFor="let timer of activeUnitTimers()">
          <p [class]="timer.unit.includes('.') ? 'unitProgressDisplayP' : 'upgradeProgressDisplayP'">
            {{ timer.unit.includes(".") ? timer.unit.substring(timer.unit.indexOf('.') + 1, timer.unit.length) : timer.unit }} - {{ formatTimer(timer.endTime) }}
          </p>
        </div>
      </div>
    </div>
    Building: <span class="xxSmallFont redText" *ngIf="!activeBuildingTimers() || activeBuildingTimers().length == 0">[No building.]</span>
    <div class="upgradeTimersTableDiv"> 
      <ng-container *ngIf="activeBuildingTimers().length > 0">
        <div *ngFor="let timer of activeBuildingTimers()">
          <p [class]="timer.building.includes('.') ? 'unitProgressDisplayP' : 'upgradeProgressDisplayP'">
            {{ formatBuildingTimer(timer.building) }} - {{ formatTimer(timer.endTime) }}
          </p>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="upgradeTimersTableDiv" [style.display]="!isCommandCenterOpen && !isMapOpen && !isReportsOpen && !isUserNew && !isUserComponentOpen ? 'block' : 'none'">
    <app-nexus-base-units [parentRef]="parentRef"
                          [nexusUnits]="nexusAvailableUnits"
                          [marinePictureSrc]="marinePictureSrc"
                          [goliathPictureSrc]="goliathPictureSrc"
                          [siegeTankPictureSrc]="siegeTankPictureSrc"
                          [scoutPictureSrc]="scoutPictureSrc"
                          [wraithPictureSrc]="wraithPictureSrc"
                          [battlecruiserPictureSrc]="battlecruiserPictureSrc"
                          [glitcherPictureSrc]="glitcherPictureSrc">

    </app-nexus-base-units>
  </div>

  <div class="gameNotificationDiv">
    <div *ngFor="let notif of notifications" class="gameNotification" (click)="notifications = []">>{{notif}}</div>
  </div>
  <div *ngIf="isUserComponentOpen">
    <app-user [loginOnly]="true"
              [inputtedParentRef]="parentRef"
              [canClose]="false"
              (closeUserComponentEvent)="closeUserComponent($event)"
              [loginReasonMessage]="'You must log in to fight in the Bug Wars.'"></app-user>
  </div>

  <div class="shareMapButtonDiv">
    <button (click)="copyLink()" title="Share Link">Share 📋</button>
    <button (click)="toggleScreen('map')" title="View Map">{{isMapOpen ? 'Close ' : ''}}Map 🗺️</button>
    <button (click)="toggleScreen('reports')" title="View Reports">{{isReportsOpen ? 'Close ' : ''}}Reports 📃</button>
  </div>
</div>
