.componentMain {
  min-height: 500px;
  height: 80vh;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  overflow: hidden;
}

.gamescreen, .map {
  width: var(--nexus-gamescreen-width);
  height: var(--nexus-gamescreen-height);
  border: var(--main-border); 
}

.map {
  overflow: auto;
}

.levelLabel {
  position: absolute;
}

.timerLabel {
  font-size: small;
  background: var(--main-bg-color);
}

.building {
  position: absolute;
}

.buildingPicture {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
}

.commandCenter, .commandCenterLevelDisplay {
  top: 50px;
  left: 150px;
}

.mines, .minesLevelDisplay {
  top: 130px;
  left: 195px;
}

.starport, .starportLevelDisplay {
  top: 140px;
  left: 100px;
}

.factory, .factoryLevelDisplay {
  top: 73px;
  left: 35px;
}

.supplyDepot, .supplyDepotLevelDisplay {
  top: 18px;
  left: 225px;
}

.warehouse, .warehouseLevelDisplay {
  top: 8px;
  left: 95px;
}

.engineeringBay, .engineeringBayLevelDisplay {
  top: 90px;
  left: 250px;
}

.supplyDepotScreen, .starportScreen, .minesScreen, .factoryScreen, .warehouseScreen, .engineeringBayScreen, .commandCenterScreen {
  position: absolute;
  top: 65px;
  left: 0px;
  z-index: 1;
  width: 100%;
  height: 245px;
  overflow: hidden;
  display:flex;
  flex-flow:column;
  justify-content:space-between;
}

.supplyDepotBackground, .starportBackground, .warehouseBackground, .engineeringBayBackground, .minesBackground, .factoryBackground, .commandCenterBackground, .nexusBackground {
  position: absolute;
  top: 38px;
  left: 0px;
  z-index: -1;
  width: var(--nexus-gamescreen-width);
  height: var(--nexus-gamescreen-height);
  object-fit: cover; /* Ensures the image covers the entire parent div */
  overflow: hidden;
  opacity: 25%;
}
.nexusBackground {
  opacity: 100% !important;
}

.commandCenterScreen, .commandCenterBackground, .factoryScreen, .factoryBackground, .starportScreen, .starportBackground,
.minesScreen, .minesBackground, .supplyDepotBackground, .engineeringBayBackground, .warehouseBackground, .nexusBackground {
  height: var(--nexus-gamescreen-height);
  width: var(--nexus-gamescreen-width);
}

.shareMapButtonDiv {
  position: absolute;
  bottom: 0px;
}

.mapComponentDiv {
  display: none;
} 

.battleReportComponentDiv {
  display: flex;
  flex-direction: column;
  overflow: auto;
  width: var(--nexus-gamescreen-width);
  height: var(--nexus-gamescreen-height);
}

.upgradesTableDiv {
  max-height: 500px;
  overflow: auto;
  width: var(--nexus-gamescreen-width);
}

.unitsTableDiv {
  height: 180px;
  overflow: auto;
  width: var(--nexus-gamescreen-width);
}

.unitPicture {
  display: block;
  width: 50px;
  height: 50px;
}
.closeScreenButtonDiv {
    margin-top: 5px;
}
.warehouseLevelsDiv {
    height: 165px;
    overflow:auto;
}
.upgradeProgressDisplayP::before {
  content: '🔧';
}
.unitProgressDisplayP:before {
  content: '⚔️';
}
.upgradeProgressDisplayP, .unitProgressDisplayP {
  color: var(--secondary-font-color);
}
.resourceSpan {
    z-index: 3;
    font-size:small;
    font-weight:bold;
}
.unitPictureTd {
    width:50px;
}
.unitSliderTd {
    width:120px;
}
.redText {
    color:red;
}
  .supplyUsedDiv {
    height: 100px;
    overflow: auto;
    border: var(--main-border);
    padding-left: 10px;
    padding-right: 10px;
    color: var(--secondary-font-color);
  }
.supplyInfoDiv {
    display:flex;
    flex-direction:row;
    justify-content: flex-start;
}
.supplyExplainDiv, .supplyUsedDiv {
  width: 45%;
}
.upgradeTimersTableDiv {
  max-height: 100px;
  width: var(--nexus-gamescreen-width);
  overflow: auto;
  font-size: small;
} 
.gameNotification {
  color: var(--secondary-font-color);
  font-size: small;
}
.gameNotificationDiv {
    max-height: 50px;
    overflow:auto;
}
.unitInput {
    width:25px;
}
