.componentMain {
  height: CALC(90vh - 110px);
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  overflow: hidden;
  width: 400px;
}


@media only screen and (min-device-width: 300px) and (max-device-width: 800px) {
  .componentMain {
    width: 98vw;
  }
}

.bugWarsInfo {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start; 
  height: 605px;
  overflow: auto;
  flex-direction: column;
  flex-wrap: nowrap;
  text-align: center;
  font-size: large;
  font-weight: bolder;
}
.gamescreen, .map {
  width: 100%;
  height: var(--nexus-gamescreen-height);
  z-index: 1;
}
.resourceDiv {
  position: absolute;
  top: CALC(var(--nexus-gamescreen-height) + 10px);
  left: calc(50% - 110px);
  width: 220px;
  text-align: center;
  background-color: var(--main-bg-color);
  border: var(--main-border);
}
.attacksIncomingCount {
  position: relative;
  top: 0px;
  left: CALC(100% - 30px);
  width: 0px;
  height: 0px;
  color: red;
  cursor:pointer;
}
.nextBaseButton {
  position: absolute;
  top: CALC(var(--nexus-gamescreen-height) / 2);
  left: CALC(100% - 25px);
  display: block;
  width: 25px;
  z-index:5;
}

.previousBaseButton {
  position: absolute;
  top: CALC(var(--nexus-gamescreen-height) / 2);
  left: 0px;
  display: block;
  width: 25px;
  z-index: 5;
}

.map {
  overflow: auto;
}

.levelLabel {
  width: 85px;
  position: absolute;
}

.timerLabel {
  font-size: small;
  background: var(--main-bg-color);
}

.building {
  position: absolute;
}

.buildingPicture {
  max-height: 80px;
  max-width: 120px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
}

.commandCenter {
  top: 44px;
  left: 158px;
}
.commandCenterLevelDisplay {
  top: 45px;
  left: 175px;
}
.mines, .minesLevelDisplay {
  top: 160px;
  left: 210px;
}

.starport, .starportLevelDisplay {
  top: 150px;
  left: 90px;
}

.factory, .factoryLevelDisplay {
  top: 63px;
  left: 39px;
}

.supplyDepot {
  max-height: 65px;
}

.supplyDepot, .supplyDepotLevelDisplay {
  top: 0px;
  left: 259px;
}

.warehouse {
  top: 0px;
  left: 60px;
}
.warehouseLevelDisplay {
  top: 0px;
  left: 160px;
}
.engineeringBay, .engineeringBayLevelDisplay {
  top: 84px;
  left: 293px;
}

.supplyDepotScreen, .starportScreen, .minesScreen, .factoryScreen, .warehouseScreen, .engineeringBayScreen, .commandCenterScreen {
  position: absolute;
  top: 30px;
  left: 0px;
  z-index: 1;
  width: 100%;
  height: var(--nexus-gamescreen-height);
  overflow: hidden;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.supplyDepotBackground, .starportBackground, .warehouseBackground, .engineeringBayBackground, .minesBackground, .factoryBackground, .commandCenterBackground, .nexusBackground {
  position: absolute;
  top: 33px;
  left: 0px;
  z-index: -1;
  width: 100%;
  height: var(--nexus-gamescreen-height);
  object-fit: cover; /* Ensures the image covers the entire parent div */
  overflow: hidden;
  opacity: 25%;
}

.nexusBackground {
  height: var(--nexus-gamescreen-height);
  opacity: 100% !important;
  left: -25px;
  width: 450px
}

.commandCenterScreen, .commandCenterBackground, .factoryScreen, .factoryBackground, .starportScreen, .starportBackground,
.minesScreen, .minesBackground, .supplyDepotBackground, .engineeringBayBackground, .warehouseBackground {
  height: var(--nexus-gamescreen-height);
  width: 100%;
}

.shareMapButtonDiv {
  position: absolute;
  bottom: 0px;
  width: 100%;
}
  .shareMapButtonDiv button {
      width:20%;
      height:35px;
      font-size: x-small;
  }

.mapComponentDiv {
  display: none;
  max-height: 80vh;
  overflow: hidden;
}

.baseListComponentDiv {
  height: 70vh; 
  overflow:auto;
}

.battleReportComponentDiv {
  display: flex;
  flex-direction: column;
  overflow: auto;
  width: 100%;
  height: CALC(90vh - 150px);
  border-bottom: var(--main-border);
}

.upgradesTableDiv {
  max-height: 500px;
  overflow: auto;
  width: var(--nexus-gamescreen-width);
}

.unitsTableDiv {
  max-height: 210px;
  overflow: auto;
  width: 100%;
}

.unitPicture {
  display: block;
  width: 50px;
  height: 50px;
}

.closeScreenButtonDiv {
  margin-top: 5px;
}

.warehouseLevelsDiv {
  height: 165px;
  overflow: auto;
}

.upgradeProgressDisplayP::before {
  content: '🔧';
}

.unitProgressDisplayP:before {
  content: '⚔️';
}

.defenceProgressDisplayP:before {
  content: '🛡️';
}

.researchDisplayP:before {
  content: '🧬';
}

.upgradeProgressDisplayP, .unitProgressDisplayP, .defenceProgressDisplayP, .researchDisplayP {
  color: var(--secondary-font-color);
}

.showMoreInfoWarehouseDiv {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  align-content: flex-start;
}

.supplyUsedDiv {
  height: 120px;
  overflow: auto;
  border: var(--main-border);
  padding-left: 10px;
  padding-right: 10px;
  color: var(--secondary-font-color);
}

.supplyInfoDiv {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.supplyUsedDiv {
  width: 30%;
  font-size:small;
  color: var(--secondary-font-color);
}
.supplyExplainDiv  {
  width: 65%;
}
.upgradesTableDiv {
  width: 100%;
}
.upgradeTimersTableDiv {
  max-height: 100px;
  width: 100%;
  overflow: auto;
  font-size: small;
}
.unitPurchaseTableDiv {
    display: flex;
}
.gameNotification {
  color: var(--secondary-font-color);
  font-size: small;
}

.gameNotificationDiv {
  max-height: 50px;
  overflow: auto;
  bottom: 0px;
  position: absolute;
  margin-bottom: 50px;
}

.unitInput {
  width: 25px;
}

.toggledUnitStatScreen {
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
  border-bottom: var(--main-border);
}

.toggledUnitStatInfoPic {
  width: 75px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: space-between;
  justify-content: space-between;
  align-items: center;
}
.toggledUnitStatInfoPicImg {
    width:71px;
    height:71px;
    overflow:hidden;
    border: var(--main-border);
}

.toggledUnitStatInfoDiv {
  width: CALC(100% - 77px);
  max-height: 210px;
  overflow: auto;
} 
.unitUpgradeDiv {
  height: 35px;
}

.unitsUpgradesDiv {
  max-height: 130px;
  overflow: auto;
}
.upgradeDisplayTable {
    max-width:100%;
}
.upgradeButton {
  width: 65px;
}
.unitResearches {
  display: flex;
  flex-flow: row wrap; 
}
  .unitResearches .unitUpgradeDiv {
    width: 48%;
    height:50px;
    display:flex;
    justify-content: center;
  }

    .unitResearches .unitUpgradeDiv div {
      display: block;
      width: 100%;
    }

      .unitResearches .unitUpgradeDiv div p {
        width: 100%;
        line-height: 3px;
      }
      .unitUpgradeDiv button{
          height:100%;
      }
      .unitUpgradeDivContainer{
          border: var(--main-border);
      }
.centeredText {
    text-align: center;
}
.unitslist {
    max-height:200px;
    overflow:auto;
}
.mainInfoSection {
  text-align: center;
  font-size: small;
  border-top: var(--main-border);
  margin-bottom: 2px;
  display: block;
  background-color: var(--main-bg-color);
  text-shadow: 0.1px 0.1px 2px black;
  text-decoration-color: var(--primary-font-color);
  box-shadow: 0px 0px 5px black;
}
.unitSliderTd {
  -webkit-appearance: none;
  width: 100%;
  height: 16px; 
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.unitSliderTd:hover {
  opacity: 1;
}

.resourceSpan {
  z-index: 3;
  font-size: small;
  font-weight: bold;
}

.unitPictureTd {
  width: 50px;
}

.goldText {
    color: gold;
}
.unitStatUnitTitle {
    font-weight:bolder;
}
