<div class="componentMain">
  <div class="closeButton" (click)="remove_me('FavouritesComponent');"></div>
  <div class="componentTitle">Favourites</div>
  <div class="menuButton" (click)="showMenuPanel();"></div>

  <div class="popupPanelTitle favouritesTitle">
    Add/Share your Favorites
  </div>
  <div class="favouritesControlsDiv">
    <div class="search-input-container">
      <input #linkInput placeholder="URL" (input)="linkUrlInput()" />
      <button class="search-button" (click)="showSearchPopup()" *ngIf="!isLoading && linkInput.value" title="Search with Crawler">
        🔍
      </button>
    </div>
    <button (click)="addLink()" *ngIf="showNameImageInput" [disabled]="isLoading">💾Create</button>
  </div>
  <div *ngIf="isSearchingUrl" class="popupPanel">
    <div class="popupPanelTitle">Crawler:</div>
    <app-crawler [url]="linkInput.value" [onlySearch]="true" (urlSelectedEvent)="urlSelectedEvent($event)"></app-crawler>
    <button id="closeOverlay" class="closeButton" (click)="closeSearchPopup()">Close</button>
  </div>
  <div class="topLinks">
    <div *ngIf="favorites.length > 0">
      <div class="miniTitle">{{ showingLatestLinks ? 'Latest' : 'Your' }} Links:</div>
      <div class="favouriteListWrapper">
        <div *ngFor="let fav of favorites"
          [title]="fav.url"
          class="favouriteDiv"
          [style.border]="showEditLinks && fav.isUserFavourite ? '1px solid' : ''"
          [style.boxShadow]="showEditLinks && fav.isUserFavourite ? '1px 1px 4px var(--main-link-color)' : ''">
          <a (click)="visitExternalLink(fav)" href="{{fav.url}}" target="_blank" [title]="fav.url">
            <div class="favImage" [title]="fav.name">
              <img [src]="fav.imageUrl" *ngIf="fav.imageUrl" (error)="fav.imageUrl = ''" />
              <div class="emptyFavImage" *ngIf="!fav.imageUrl" [title]="fav.url"></div>
            </div>
            <div class="favName">
              {{ fav.name && fav.name.trim() ? fav.name : fav.url }}
            </div>
          </a>
          <div class="favUserCount">{{fav.userCount}}</div>
          <button *ngIf="!fav.isUserFavourite" (click)="addLink(fav)" class="cursorPointer generalFavouriteAddButton"
            [disabled]="isIncludedInFavourites(fav)"
            [title]="isIncludedInFavourites(fav) ? 'Already added' : 'Add To Favourites'">
            ➕
          </button>
          <div class="editOrDeleteSpanWrapper" *ngIf="showEditLinks && fav.isUserFavourite">
            <button (click)="openEditPanel(fav)" class="cursorPointer smallFont" title="Edit">✏️</button>
            <button (click)="deleteFav(fav)" class="cursorPointer smallFont" title="Delete">❌</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="linkOptionButtons">
    <button (click)="showEditLinks = !showEditLinks" class="cursorPointer" *ngIf="!showingLatestLinks">
      {{showEditLinks ? 'Done ' : ''}}Edit{{showEditLinks ? 'ing' : ''}}{{showEditLinks ? '' : ' Links'}}
    </button>
    <button (click)="showLatestLinks()" class="cursorPointer"
      *ngIf=" !isSearchingUrls">
      {{ !showingLatestLinks ? 'Show' : 'Hide' }} Latest Links
    </button>
  </div>
</div>

<!-- Edit Favourite Popup -->
<div class="popupPanel editingPopupPanel" *ngIf="isEditPanelOpen">
  <div class="popupPanelTitle">
    Edit Link
  </div>
  <div class="editingPopupPanelInputs optionsStatsWrapperDiv">
    <div class="optionsStatsDiv specialStatsDiv">
      <div class="optionsStatsHeader">URL:</div>
      <div class="optionsStatsDescription" style="position: relative;">
        <input [value]="editingFavourite?.url" #editingUrlInput placeholder="URL" style="padding-right: 30px;" />
        <button (click)="isSearchingEditUrl = !isSearchingEditUrl" class="search-icon-button">
          🔍
          </button>
      </div>
    </div>
    <div class="optionsStatsDiv specialStatsDiv">
      <div class="optionsStatsHeader">Image URL:</div>
      <div class="optionsStatsDescription">
        <input [value]="editingFavourite?.imageUrl" #editingImageUrlInput placeholder="Website Logo URL" />
      </div>
    </div>
    <div class="optionsStatsDiv specialStatsDiv">
      <div class="optionsStatsHeader">Title:</div>
      <div class="optionsStatsDescription">
        <input [value]="editingFavourite?.name" #editingNameInput placeholder="Website Name" />
      </div>
    </div>
    <button (click)="editFavourite()" title="Update favourite" *ngIf="editingFavourite?.createdBy == parentRef?.user?.id">💾Update</button>
  </div>
  <div *ngIf="isSearchingEditUrl">
    <app-crawler [url]="editingUrlInput.value" [onlySearch]="true" (urlSelectedEvent)="urlSelectedEvent($event)"></app-crawler>
  </div>
  <div class="optionsStatsWrapperDiv" *ngIf="!isSearchingEditUrl">
    <div class="optionsStatsDiv">
      <div class="optionsStatsHeader">Id:</div>
      <div class="optionsStatsDescription">
        {{ editingFavourite?.id }}
      </div>
    </div>
    <div class="optionsStatsDiv">
      <div class="optionsStatsHeader">Users:</div>
      <div class="optionsStatsDescription">
        {{ editingFavourite?.userCount }}
      </div>
    </div>
    <div class="optionsStatsDiv">
      <div class="optionsStatsHeader">Accessed:</div>
      <div class="optionsStatsDescription">
        {{ editingFavourite?.accessCount }}
      </div>
    </div>
    <div class="optionsStatsDiv">
      <div class="optionsStatsHeader">Created By:</div>
      <div class="optionsStatsDescription">
        <app-user-tag [user]="editingCreatedBy" [displayMiniTag]="true" [inputtedParentRef]="parentRef"
          [displayHoverPicture]="true"
          [previousComponent]="'Favourites'"></app-user-tag>
      </div>
    </div>
    <div class="optionsStatsDiv">
      <div class="optionsStatsHeader">Creation Date:</div>
      <div class="optionsStatsDescription">{{ editingFavourite?.creationDate | date: 'y/MM/dd HH:mm' }}</div>
    </div>
    <div class="optionsStatsDiv">
      <div class="optionsStatsHeader">Modified By:</div>
      <div class="optionsStatsDescription">
        <app-user-tag [user]="editingUpdatedBy" [displayMiniTag]="true" 
          [displayHoverPicture]="true" [inputtedParentRef]="parentRef"
          [previousComponent]="'Favourites'"></app-user-tag>
      </div>
    </div>
    <div class="optionsStatsDiv">
      <div class="optionsStatsHeader">Modification Date:</div>
      <div class="optionsStatsDescription">{{ editingFavourite?.modificationDate | date: 'y/MM/dd HH:mm' }}</div>
    </div>
    <div class="optionsStatsDiv" *ngIf="parentRef?.user?.id === editingFavourite?.createdBy">
      <div class="optionsStatsHeader">Permanently Delete:</div>
      <div class="optionsStatsDescription"><button (click)="permanentlyDelete(editingFavourite)">❌Delete</button></div>
    </div>
  </div> 
  <button id="closeOverlay" (click)="closeEditPanel()" class="closeButton">Close</button> 
</div>

<!-- Menu Popup -->
<div class="popupPanel" *ngIf="isMenuPanelOpen">
  <div class="popupPanelTitle" style="margin-bottom:15px;">
    Menu
  </div>
  <div class="chatMenuPopupWrapperDiv">
    <div class="optionsStatsDiv" *ngIf="totalCount > pageSize">
      <div class="optionsStatsHeader">
        Page:
      </div>
      <div class="optionsStatsDescription">
        <input [placeholder]="page" (input)="pageChanged($event)" style="width: 20px;" /> on {{numberOfPages}}
      </div>
    </div>
    <div class="optionsStatsDiv">
      <div class="optionsStatsHeader">
        Page Size:
      </div>
      <div class="optionsStatsDescription">
        <select (change)="pageSizeChanged($event)">
          <option value="" disabled selected>Page size</option>
          <option>10</option>
          <option>20</option>
          <option>50</option>
          <option>100</option>
        </select>
      </div>
    </div>
    <div class="optionsStatsDiv">
      <div class="optionsStatsHeader">
        Order:
      </div>
      <div class="optionsStatsDescription">
        <select (change)="orderChanged($event)" [value]="currentOrder">
          <option value="recent">Most Recent</option>
          <option value="popular">Most Popular</option>
          <option value="visited">Most Visited</option>
          <option value="name">By Name</option>
          <option value="url">By URL</option>
        </select>
      </div>
    </div>
  </div> 
  <button id="closeOverlay" (click)="closeMenuPanel()" class="closeButton">Close</button> 
</div>