<div class=componentMain>
  <div class="closeButton" (click)="remove_me('FavouritesComponent');"></div>
  <div class="componentTitle">Favourites</div>
  <div class="popupPanelTitle favouritesTitle">
    Add/Share your Favorites
  </div>
  <div class=topLinks>
    <input #linkInput placeholder="URL" (input)="linkUrlInput()" />
    <button (click)="addLink()" *ngIf="showNameImageInput" [disabled]="isLoading">💾Create</button>
    <div *ngIf="favouriteSearch.length > 0">
      <div class="miniTitle">{{ showingLatestLinks ? 'Latest' : 'Existing' }} Links:</div>
      <div class="favouriteListWrapper">
        <div *ngFor="let sFav of favouriteSearch" class="favouriteDiv">
          <a (click)="parentRef?.visitExternalLink(sFav.url)">
            <div class="favImage" [title]="sFav.name">
              <img [src]="sFav.imageUrl" *ngIf="sFav.imageUrl" />
              <div class="emptyFavImage" *ngIf="!sFav.imageUrl"></div>
            </div>
            <div class="favName">
              {{ sFav.name && sFav.name.trim() ? sFav.name : sFav.url }}
            </div>
          </a>
          <button (click)="addLink(sFav)"
                  class="cursorPointer"
                  [disabled]="isIncludedInFavourites(sFav)"
                  [title]="isIncludedInFavourites(sFav) ? 'Already added' : 'Add To Favourites'">
            ➕
          </button>
        </div>
      </div>
    </div>

    <!--<div *ngIf="showNameImageInput">
    <input #linkNameInput placeholder="Website Name" />
    <input #linkImageInput placeholder="Website Logo URL" />
  </div>-->
    <div *ngIf="!showNameImageInput && !showingLatestLinks && !isSearchingUrls">
      <div class="miniTitle">Your Favs:</div>
      <div class="favouriteListWrapper">
        <div *ngFor="let fav of userFavourites" class="favouriteDiv" [style.border]="showEditLinks ? '1px solid' : ''">
          <a (click)="parentRef?.visitExternalLink(fav.url)">
            <div class="favImage">
              <img [src]="fav.imageUrl" *ngIf="fav.imageUrl" />
              <div class="emptyFavImage" *ngIf="!fav.imageUrl"></div>
            </div>
            <div class="favName">
              {{fav.name && fav.name.trim() ? fav.name : fav.url}}
            </div>
          </a>
          <div class="editOrDeleteSpanWrapper" *ngIf="showEditLinks">
            <span (click)="openEditPanel(fav)" class="cursorPointerUnderlined smallFont">[Edit]</span>
            <span (click)="deleteFav(fav)" class="cursorPointerUnderlined smallFont">[Delete]</span>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="(!showNameImageInput && !showingLatestLinks && !isSearchingUrls) || showingLatestLinks" class="linkOptionButtons">
      <button (click)="showEditLinks = !showEditLinks" class="cursorPointer" *ngIf="userFavourites.length > 0 && (!showNameImageInput && !showingLatestLinks && !isSearchingUrls)">{{showEditLinks ? 'Done ' : ''}}Edit{{showEditLinks ? 'ing' : ''}}{{showEditLinks ? '' : ' Links'}}</button>
      <button (click)="showLatestLinks()" class="cursorPointer" *ngIf="showingLatestLinks || (!showNameImageInput && !showingLatestLinks && !isSearchingUrls)">{{ !showingLatestLinks ? 'Show' : 'Hide' }} Latest Links</button>
    </div>
  </div>
</div>



<!-- Edit Favourite Popup -->
<div class="popupPanel editingPopupPanel" *ngIf="isEditPanelOpen">
  <div class="popupPanelTitle">
    Edit Link
  </div>
  <div class="editingPopupPanelInputs">
    <input [value]="editingFavourite?.url" #editingUrlInput placeholder="URL" /> 
    <input [value]="editingFavourite?.imageUrl" #editingImageUrlInput placeholder="Website Logo URL" /> 
    <input [value]="editingFavourite?.name" #editingNameInput placeholder="Website Name" />
    <button (click)="editFavourite()" title="Update favourite">💾Update</button>
  </div>
  <div class="optionsStatsWrapperDiv">
    <div class="optionsStatsDiv">
      <div class="optionsStatsHeader">Created By:</div>
      <div class="optionsStatsDescription">
        <app-user-tag [user]="editingCreatedBy" [displayMiniTag]="true" [inputtedParentRef]="parentRef"></app-user-tag>
      </div>
    </div>
    <div class="optionsStatsDiv">
      <div class="optionsStatsHeader">Creation Date:</div>
      <div class="optionsStatsDescription">{{ editingFavourite?.creationDate | date: 'y/MM/dd HH:mm' }}</div>
    </div>
    <div class="optionsStatsDiv">
      <div class="optionsStatsHeader">Modified By:</div>
      <div class="optionsStatsDescription">
        <app-user-tag [user]="editingUpdatedBy" [displayMiniTag]="true" [inputtedParentRef]="parentRef"></app-user-tag>
      </div>
    </div>
    <div class="optionsStatsDiv">
      <div class="optionsStatsHeader">Modification Date:</div>
      <div class="optionsStatsDescription">{{ editingFavourite?.modificationDate  | date: 'y/MM/dd HH:mm' }}</div>
    </div>
    <div class="optionsStatsDiv" *ngIf="parentRef?.user?.id === editingFavourite?.createdBy">
      <div class="optionsStatsHeader">Permanently Delete:</div>
      <div class="optionsStatsDescription"><button (click)="permanentlyDelete(editingFavourite)">❌Delete</button></div>
    </div>
  </div>
  <div>
    <button id="closeOverlay" (click)="closeEditPanel()">Close</button>
  </div>
</div>
