<div class=componentMain>
  <div class="closeButton" (click)="remove_me('FavouritesComponent');"></div>
  <div class="componentTitle">Favourites</div>
  <div class="popupPanelTitle">
    Add/Share your Favorites!
  </div>
  <div class=topLinks>
    <input #linkInput placeholder="URL" (input)="linkUrlInput()" />
    <div *ngIf="favouriteSearch.length > 0 && showNameImageInput">
      <div class="favouriteListWrapper">
        <div *ngFor="let sFav of favouriteSearch" class="favouriteDiv">
          <a [href]="sFav.url" target="_blank">
            <div class="favImage">
              <img [src]="sFav.imageUrl" />
            </div>
            <div class="favName">
              {{sFav.name}}
            </div>
          </a>
          <button (click)="addLink(sFav)">Add</button>
        </div>
      </div> 
    </div>
    <button (click)="addLink()" *ngIf="showNameImageInput">Create</button>

    <div *ngIf="linkInput.value">
      <input #linkNameInput placeholder="Website Name" />
      <input #linkImageInput placeholder="Website Logo URL" />
    </div>
    <div>
      <div class="favouriteListWrapper">
        <div *ngFor="let fav of userFavourites" class="favouriteDiv">
          <a [href]="fav.url" target="_blank">
            <div class="favImage">
              <img [src]="fav.imageUrl" />
            </div>
            <div class="favName">
              {{fav.name}}
            </div>
          </a>
          <span *ngIf="showEditLinks" (click)="openEditPanel(fav)" class="cursorPointerUnderlined smallFont">[Edit]</span>
          <span *ngIf="showEditLinks" (click)="deleteFav(fav)" class="cursorPointerUnderlined smallFont">[Delete]</span>
        </div>
      </div>
    </div>
    <span (click)="showEditLinks = !showEditLinks" class="cursorPointerUnderlined" *ngIf="userFavourites.length > 0">[Edit Links]</span>
  </div>
</div>



<!-- Friends Popup -->
<div class="popupPanel" *ngIf="isEditPanelOpen">
  <div class="popupPanelTitle">
    Edit Link
  </div>
  <div>
    <input [value]="editingFavourite?.url" #editingUrlInput placeholder="URL" /> 
    <input [value]="editingFavourite?.imageUrl" #editingImageUrlInput placeholder="Website Logo URL" /> 
    <input [value]="editingFavourite?.name" #editingNameInput placeholder="Website Name" />
    <button (click)="editFavourite()" title="Update favourite">Update</button>
  </div>
  <div class="optionsStatsWrapperDiv">
    <div class="optionsStatsDiv">
      <div class="optionsStatsHeader">Created By:</div>
      <div class="optionsStatsDescription">
        <app-user-tag [user]="getTmpUserById(editingFavourite?.createdBy)" [displayMiniTag]="true" [inputtedParentRef]="parentRef"></app-user-tag>
      </div>
    </div>
    <div class="optionsStatsDiv">
      <div class="optionsStatsHeader">Creation Date:</div>
      <div class="optionsStatsDescription">{{editingFavourite?.creationDate}}</div>
    </div>
    <div class="optionsStatsDiv">
      <div class="optionsStatsHeader">Modified By:</div>
      <div class="optionsStatsDescription">
        <app-user-tag [user]="getTmpUserById(editingFavourite?.modifiedBy)" [displayMiniTag]="true" [inputtedParentRef]="parentRef"></app-user-tag>
      </div>
    </div>
    <div class="optionsStatsDiv">
      <div class="optionsStatsHeader">Modification Date:</div>
      <div class="optionsStatsDescription">{{editingFavourite?.modificationDate}}</div>
    </div>
    
    
    
    
  </div>
  <div>
    <button id="closeOverlay" (click)="closeEditPanel()">Close</button>
  </div>
</div>
