button {
  cursor: pointer;
}

.memeResultsDiv {
  max-height: CALC(var(--vh, 1vh) * 100 - 60px);
  overflow: auto;
} 
  
@media only screen and (min-width:800px) {
  .componentMain {
    width: 800px; 
  }
}


  @media only screen and (max-width:800px) {
    .componentMain {
      width: 99vw;
    } 
  }


    .loadMoreResultsDiv button {
      font-size: 30px;
      font-family: var(--title-font-family);
    }

.fileUploadInputs {
  margin: 20px;
}
 
.popupPanelContents {
  padding: 20px;
}
 

.browsingInstructions {
  border-top: 1px solid var(--main-border-color);
  padding: 10px;
  margin: 5px 0px;
  color: var(--third-font-color);
}