<div class="componentMain">
  <div class="closeButton" (click)="remove_me('MemeComponent')"></div>
  <div class="menuButton" (click)="showMenuPanel();"></div>
  <div class="componentTitle">Meme</div>
   
  <app-notifications [minimalInterface]="true"
                      [inputtedParentRef]="parentRef">
  </app-notifications>
 
  <div class="memeResultsDiv">
      
    <app-file-search #fileSearchComponent
                     [inputtedParentRef]="parentRef"
                     [user]="parentRef?.user"
                     [currentDirectory]="'Meme/'"
                     [maxResults]="iPhone ? 8 : 20"
                     [canChangeDirectory]="false"
                     [canDragMove]="false"
                     [showPrivatePublicOption]="false"
                     [displayFileType]="false"
                     [displayFileSize]="false"
                     [fileId]="memeId"
                     [autoload]="memeId ? false : true"
                     [displayTotal]="false"
                     [showFileSearchOptions]="false"
                     [showSpaceForNotifications]="true"
                     [currentPage]="currentMemePage" 
                     (userNotificationEvent)="uploadNotification($event);">
    </app-file-search>
    <div class="loadMoreResultsDiv" *ngIf="fileSearchComponent.currentPage < fileSearchComponent.totalPages && fileSearchComponent.directory?.data?.length">
      <button (click)="fileSearchComponent.appendNextPage(); $event.preventDefault()">Load More Results</button>
    </div>
  </div>
</div>
 
<!-- Menu Popup -->
<div class="popupPanel" style="overflow: auto;" *ngIf="isMenuPanelOpen">
  <div class="popupPanelTitle" style="margin-bottom:15px;">
    Meme Menu
  </div>
  <div class="fileUploadInputs">
    <app-file-upload [currentDirectory]="'Meme'"
                     [user]="parentRef?.user"
                     [inputtedParentRef]="parentRef"
                     [showPrivatePublicOption]="false"
                     [allowedFileTypes]="'image/*,video/*'"
                     [uploadButtonText]="'Upload Meme(s)'"
                     (userNotificationEvent)="uploadNotification($event);"
                     (userUploadEvent)="uploadFileListEvent($event);"
                     (userUploadFinishedEvent)="uploadFinished($event)"
                     (userCancelEvent)="uploadCancelEvent($event);"
                     id="fileUploader">
    </app-file-upload>
  </div>
  <div>
    <div class="popupPanelTitle">
      Search Popular Topics:
    </div>
    <div *ngIf="topTopics">
      <span *ngFor="let topic of topTopics | slice:0:15" (click)="topTopicClicked(topic)" class="topTopicsDiv">
        <span class="matchingTopic">{{topic.topicName}}</span>
        <span class="topicFileCount">({{topic.fileCount}})</span>
      </span>
    </div>
  </div>
  <button id="closeOverlay" (click)="closeMenuPanel()">Close</button>
</div>
