<div class="componentMain">
  <div class="closeButton" (click)="remove_me('MemeComponent')"></div>
  <!--<div class="refreshButton" (click)="ngOnInit()"></div>-->
  <div class="componentTitle">Meme</div>

  <div class="notifications">
    <app-notifications [minimalInterface]="true"
                       [inputtedParentRef]="parentRef">
    </app-notifications>
  </div>
  <div class="memeResultsDiv">
    <div *ngFor="let notif of notifications" [innerHTML]="notif" class="notification" (click)="notifications = []"></div>

    <div class="fileUploadInputs">
      <app-file-upload [currentDirectory]="'Meme'"
                       [user]="parentRef?.user"
                       [inputtedParentRef]="parentRef"
                       [showPrivatePublicOption]="false"
                       [allowedFileTypes]="'image/*,video/*'"
                       [uploadButtonText]="'Upload Meme(s)'"
                       (userNotificationEvent)="uploadNotification($event);"
                       (userUploadEvent)="uploadFileListEvent($event);"
                       (userUploadFinishedEvent)="uploadFinished($event)"
                       (userCancelEvent)="uploadCancelEvent($event);"
                       id="fileUploader">
      </app-file-upload>
    </div>

    <app-file-search #fileSearchComponent
                     [inputtedParentRef]="parentRef"
                     [user]="parentRef?.user"
                     [currentDirectory]="'Meme/'"
                     [maxResults]="iPhone ? 8 : 20"
                     [canChangeDirectory]="false"
                     [canDragMove]="false"
                     [showPrivatePublicOption]="false"
                     [displayFileType]="false"
                     [displayFileSize]="false"
                     [fileId]="memeId"
                     [autoload]="memeId ? false : true"
                     [displayTotal]="false"
                     [showFileSearchOptions]="false"
                     [currentPage]="currentMemePage"
                     (userNotificationEvent)="uploadNotification($event);">
    </app-file-search>
    <div class="loadMoreResultsDiv">
      <button *ngIf="fileSearchComponent.currentPage < fileSearchComponent.totalPages && (fileSearchComponent.directory && fileSearchComponent.directory.data ? (fileSearchComponent.directory.data.length > 0 ?? false) : false)" (click)="fileSearchComponent.nextPage()">Load More Results</button>
    </div>
  </div> 
</div>
