<div class="componentMain">
  <div class="closeButton" (click)="remove_me('MemeComponent')"></div>
  <!--<div class="refreshButton" (click)="ngOnInit()"></div>-->
  <div class="componentTitle">Meme</div>
  <div class="fileUploadInputs">
    <app-file-upload [currentDirectory]="'Meme'"
                     [user]="parentRef?.user"
                     [showPrivatePublicOption]="false"
                     [allowedFileTypes]="'image/*,video/*'"
                     [uploadButtonText]="'Upload Meme(s)'"
                     (userNotificationEvent)="uploadNotification($event);"
                     (userUploadEvent)="uploadFileListEvent($event);"
                     (userUploadFinishedEvent)="uploadFinished($event)"
                     (userCancelEvent)="uploadCancelEvent($event);"
                     id="fileUploader">
    </app-file-upload>
  </div>
  <div *ngFor="let notif of notifications" [innerHTML]="notif" class="notification" (click)="notifications = []"></div>
  <app-file-search [inputtedParentRef]="parentRef"
                   [user]="parentRef?.user"
                   [currentDirectory]="'Meme/'"
                   [maxResults]="100"
                   [canChangeDirectory]="false"
                   [canDragMove]="false"
                   [showPrivatePublicOption]="false"
                   [displayFileType]="false"
                   [displayFileSize]="false"
                   [fileId]="memeId"
                   (userNotificationEvent)="uploadNotification($event);">
  </app-file-search>
</div>
