@media only screen and (max-width : 667px) {
  .componentMain {
    width: unset !important;
  }
}

.iframeDiv {
  width: 100%;
  max-height: CALC(var(--vh, 1vh) * 100 - 110px);
  margin-left: auto;
  margin-right: auto;
  position: sticky;
  top: -25px; /* Stick to the top of the parent container */
  z-index: 10;
}
.smallIframeDiv {
  width: 100%;
  height: 75px; 
}

@media only screen and (max-device-width:800px) {
  .iframeDiv { 
    height: 200px; 
  }
}

iframe { 
  width: 100%;
  height: 100%;
}

.musicControls {
  width: 100%;
  text-align: center;
}

  .musicControls label {
    display: inline-block;
    width: 30px;
    height: 30px;
    font-size: 20px;
    cursor: pointer;
    border: var(--main-border);
    line-height: 30px;
    text-align: center; 
    margin: 4px;
  }
.mainTableDiv {
  max-height:  50%;
  overflow: auto;
}
.smallSongList, .normalSongList {
  overflow: auto;
}
.smallSongList {
  height: 300px;
}
.normalSongList {
  height: CALC(var(--vh, 1vh) * 100 - 145px);
}
