<ng-container *ngIf="showBestScores && bestScores">
    <div (click)="showUserHeader ? openMastermind() : toggleMode('best')"
         [class]="(showUserHeader ? 'popupPanelTitle userPopupPanelTitle clickable' : (showHeaderTitles ? 'popupPanelTitle clickable' : 'regularTitle clickable'))">
        Best{{showUserHeader ? " Mastermind " : " "}}Scores (All Time):
        <span *ngIf="!showUserHeader" style="float:right; font-size:0.9em">{{ isModeCollapsed('best') ? '+' : '−' }}</span>
    </div>
    <div *ngIf="!isModeCollapsed('best') && bestScores && bestScores.length > 0" class="scoreDiv">
        <table class="mainTable">
            <thead>
                <tr>
                    <th>User</th>
                    <th>Difficulty</th>
                    <th>Tries</th>
                    <th>Time</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let score of bestScores">
                    <td>
                        <app-user-tag [user]="score.user" [userId]="score.userId" [displayMiniTag]="true"
                            [inputtedParentRef]="parentRef"></app-user-tag>
                    </td>
                    <td>{{score.score}}</td>
                    <td>{{score.tries}}</td>
                    <td>{{score.time}}</td>
                    <td>{{score.submitted | timeSince}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="!bestScores || bestScores.length === 0">No scores yet!</div>
</ng-container>
<ng-container *ngIf="showBestScoresToday && bestScoresToday">
    <div
     (click)="showUserHeader ? openMastermind() : toggleMode('today')"
     [class]="(showUserHeader ? 'popupPanelTitle userPopupPanelTitle clickable' : (showHeaderTitles ? 'popupPanelTitle clickable' : 'regularTitle clickable'))"
     [style]="showBestScores ? 'margin-top:18px;' : ''">
     Today's{{showUserHeader ? " Mastermind " : " "}}Scores:
     <span *ngIf="!showUserHeader" style="float:right; font-size:0.9em">{{ isModeCollapsed('today') ? '+' : '−' }}</span>
    </div>
    <div *ngIf="!isModeCollapsed('today') && bestScoresToday && bestScoresToday.length > 0" class="scoreDiv">
        <table class="mainTable">
            <thead>
                <tr>
                    <th>User</th>
                    <th>Difficulty</th>
                    <th>Tries</th>
                    <th>Time</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let score of bestScoresToday">
                    <td>
                        <app-user-tag [user]="score.user" [userId]="score.userId" [displayMiniTag]="true"
                            [inputtedParentRef]="parentRef"></app-user-tag>
                    </td>
                    <td>{{score.score}}</td>
                    <td>{{score.tries}}</td>
                    <td>{{score.time}}</td>
                    <td>{{score.submitted | timeSince}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="!bestScoresToday || bestScoresToday.length === 0">No scores yet today!</div>
</ng-container>