<div class="overallDisplay">
  <table>
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th><span class="rotated-header">Command Center</span></th>
        <th><span class="rotated-header">Mines</span></th>
        <th><span class="rotated-header">Engineering Bay</span></th>
        <th><span class="rotated-header">Factory</span></th>
        <th><span class="rotated-header">Starport</span></th>
        <th><span class="rotated-header">Warehouse</span></th>
        <th><span class="rotated-header">Supply Depot</span></th>
        <th><span class="rotated-header">📀</span></th>
        <th><span class="rotated-header">Incoming</span></th>
      </tr>
    </thead>
    <tbody *ngFor="let base of getCurrentBases(); let i = index; trackBy: trackByCoords" (click)="selectBase(base)" class="pointer">
      <tr [ngClass]="getBaseClass(base)">
        <td class="greyText">{{i}}</td>
        <td class="smallFont invertedHighlights">{{'{' + base.coordsX + ',' + base.coordsY + '}'}}</td>
        <td>{{base.commandCenterLevel}}</td>
        <td>{{base.minesLevel}}</td>
        <td>{{base.engineeringBayLevel}}</td>
        <td>{{base.factoryLevel}}</td>
        <td>{{base.starportLevel}}</td>
        <td>{{base.warehouseLevel}}</td>
        <td>{{base.supplyDepotLevel}}</td>
        <td class="goldText">{{base.gold | number:'1.2-2'}}</td>
        <td [ngClass]="getAttackClass(base)">{{getAttacksCount(base)}}</td>
      </tr>
      <tr [ngClass]="getBaseClass(base)">
        <td colspan="11" class="unitsListTd">
          <ng-container *ngFor="let unitType of unitTypes">
            <span [ngClass]="getUnitClass(base, unitType.code)">
              {{unitType.shortName}}:{{getUnitTotalSafe(base, unitType.code)}}
            </span>
          </ng-container>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div>
  <select #commandSelector (change)="selectCommand()">
    <option selected disabled>Send a command to all your bases</option>
    <option *ngFor="let command of commands">{{command}}</option>
  </select>
</div>
