table thead th {
  position: sticky;
  top: 0;
}

.overallDisplay {
  height: 66vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.rotated-header {
  display: inline-block;
  transform: rotate(-90deg) translateY(56px) translateX(-5px);
  transform-origin: left bottom;
  white-space: nowrap;
  height: 60px;
  width: 20px;
  text-align: right;
  text-overflow: ellipsis;
  font-size: x-small;
  font-weight: 100;
}

table {
  margin: auto;
  width: 100%;
  height: var(--nexus-gamescreen-height);
  overflow-y: auto;
  border-collapse: collapse;
}

thead th {
  position: sticky;
  top: 0;
  height: 85px;
  overflow: hidden;
  background-color: var(--main-bg-color);
}

th,
td {
  overflow: auto;
  font-size: small;
}

td {
  border-top: var(--main-border);
  border-bottom: var(--main-border);
}

tbody {
  height: 30px !important;
  width: 100%;
}

.highlightedBase {
  background-color: var(--main-highlight-color);
}

.goldText {
  color: gold;
}

.unitsListTd {
  text-align: center;
}

.baseUnitCountSpan {
  margin-left: 5px;
  margin-right: 5px;
  font-size: xx-small;
  background-color: var(--main-bg-color-full-opacity);
}

.gameNotification {
  color: var(--secondary-font-color);
}

.baseNameSpan {
  width: 0px;
  white-space: nowrap;
  float: left; 
}
.blueText{
    color: var(--secondary-font-color);
}
