<div class="pagination-container">
  <button (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
  <select (change)="goToPage(pageSelect.value)" [value]="currentPage" #pageSelect>
    <option *ngFor="let page of pageNumbers" [value]="page">{{ page }}</option>
  </select>
  <button (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
</div>
<div class="pagination-container">
  <select (change)="sortByCriterion()" #sortingSelect>
    <option value="baseName">Base Name</option>
    <option value="commandCenterLevel">Command Center Level</option>
    <option value="minesLevel">Mines Level</option>
    <option value="engineeringBayLevel">Engineering Bay Level</option>
    <option value="factoryLevel">Factory Level</option>
    <option value="starportLevel">Starport Level</option>
    <option value="warehouseLevel">Warehouse Level</option>
    <option value="supplyDepotLevel">Supply Depot Level</option>
    <option value="gold">Gold</option>
    <option value="marineTotal">Marine Total</option>
    <option value="goliathTotal">Goliath Total</option>
    <option value="siegeTankTotal">Siege Tank Total</option>
    <option value="scoutTotal">Scout Total</option>
    <option value="wraithTotal">Wraith Total</option>
    <option value="battlecruiserTotal">Battlecruiser Total</option>
    <option value="glitcherTotal">Glitcher Total</option>
    <option value="incomingAttacks">Incoming Attacks</option>
    <option value="incomingDefences">Incoming Defences</option>
  </select>

  <select (change)="sortOrder = sortOrderSelect.value; sortByCriterion()" #sortOrderSelect>
    <option value="asc">Ascending</option>
    <option value="desc">Descending</option>
  </select>
</div>
<div class="pagination-container commandSelector">
  <select #commandSelector (change)="selectCommand()">
    <option selected disabled>Send a command to all your bases</option>
    <option *ngFor="let command of commands">{{command}}</option>
  </select>
</div>
<div class="overallDisplay">
  <table id="baseTable">
    <thead class="stickyHeader">
      <tr>
        <th colspan="2">
          <span class="rotated-header" (click)="sortColumnBy('baseName')">
            Base Name {{ sortColumn === 'baseName' ? (sortOrder === 'asc' ? '▲' : '▼') : '' }}
          </span>
        </th>
        <th>
          <span class="rotated-header" (click)="sortColumnBy('commandCenterLevel')">
            Command Center {{ sortColumn === 'commandCenterLevel' ? (sortOrder === 'asc' ? '▲' : '▼') : '' }}
          </span>
        </th>
        <th>
          <span class="rotated-header" (click)="sortColumnBy('minesLevel')">
            Mines {{ sortColumn === 'minesLevel' ? (sortOrder === 'asc' ? '▲' : '▼') : '' }}
          </span>
        </th>
        <th>
          <span class="rotated-header" (click)="sortColumnBy('engineeringBayLevel')">
            Engineering Bay {{ sortColumn === 'engineeringBayLevel' ? (sortOrder === 'asc' ? '▲' : '▼') : '' }}
          </span>
        </th>
        <th>
          <span class="rotated-header" (click)="sortColumnBy('factoryLevel')">
            Factory {{ sortColumn === 'factoryLevel' ? (sortOrder === 'asc' ? '▲' : '▼') : '' }}
          </span>
        </th>
        <th>
          <span class="rotated-header" (click)="sortColumnBy('starportLevel')">
            Starport {{ sortColumn === 'starportLevel' ? (sortOrder === 'asc' ? '▲' : '▼') : '' }}
          </span>
        </th>
        <th>
          <span class="rotated-header" (click)="sortColumnBy('warehouseLevel')">
            Warehouse {{ sortColumn === 'warehouseLevel' ? (sortOrder === 'asc' ? '▲' : '▼') : '' }}
          </span>
        </th>
        <th>
          <span class="rotated-header" (click)="sortColumnBy('supplyDepotLevel')">
            Supply Depot {{ sortColumn === 'supplyDepotLevel' ? (sortOrder === 'asc' ? '▲' : '▼') : '' }}
          </span>
        </th>
        <th>
          <span class="rotated-header" (click)="sortColumnBy('gold')">
            📀 {{ sortColumn === 'gold' ? (sortOrder === 'asc' ? '▲' : '▼') : '' }}
          </span>
        </th>
        <th>
          <span class="rotated-header" (click)="sortColumnBy('incomingAttacks')">
            Incoming {{ sortColumn === 'incomingAttacks' ? (sortOrder === 'asc' ? '▲' : '▼') : '' }}
          </span>
        </th>
      </tr>

    </thead>
    <tbody *ngFor="let base of paginatedData; let i = index; trackBy: trackByCoords" (click)="selectBase(base)" class="cursorPointer">
      <tr [ngClass]="getBaseClass(base)"> 
        <td class="smallFont invertedHighlights">
          {{'{' + base.coordsX + ',' + base.coordsY + '}'}}
        </td>
        <td>
          <span class="baseNameSpan invertedHighlights">{{base.baseName}}</span>
        </td>
        <td>{{base.commandCenterLevel}}</td>
        <td>{{base.minesLevel}}</td>
        <td>{{base.engineeringBayLevel}}</td>
        <td>{{base.factoryLevel}}</td>
        <td>{{base.starportLevel}}</td>
        <td>{{base.warehouseLevel}}</td>
        <td>{{base.supplyDepotLevel}}</td>
        <td class="goldText">{{base.gold | number:'1.2-2'}}</td>
        <td><span [ngClass]="getAttackClass(base)">{{getAttacksCount(base)}}</span> <span [ngClass]="getDefenceClass(base)">{{getDefenceCount(base)}}</span></td>
      </tr>
      <tr [ngClass]="getBaseClass(base)">
        <td colspan="12">
          <div class="unitsListTdDiv">
            <ng-container *ngFor="let unitType of unitTypes">
              <span [ngClass]="getUnitClass(base, unitType.code)">
                <img [src]="getUnitPictureSrc(unitType.pictureSrc)"
                     class="unitPic"
                     loading="lazy"
                     decoding="asynchronous" />:{{getUnitTotalSafe(base, unitType.code)}}
              </span>
            </ng-container>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>  
<div class="xxSmallFont">Note: <span class="reorderNote">Click on column headers to reorder the list. Max 100 bases per page.</span></div>

