
<div class="overallDisplay"> 
  <table>
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th><span class="rotated-header">Command Center</span></th>
        <th><span class="rotated-header">Mines</span></th>
        <th><span class="rotated-header">Engineering Bay</span></th>
        <th><span class="rotated-header">Factory</span></th>
        <th><span class="rotated-header">Starport</span></th>
        <th><span class="rotated-header">Warehouse</span></th>
        <th><span class="rotated-header">📀</span></th>
        <th><span class="rotated-header">Incoming</span></th>
      </tr>
    </thead>
    <tbody *ngFor="let base of getCurrentBases(); let i = index;" (click)="selectBase(base)" class="pointer">
      <tr [class]="'borderUnderline smallFont ' +  ((nexusBase && base.coordsX == nexusBase.coordsX && base.coordsY  == nexusBase.coordsY) ? 'highlightedBase' : '')">
        <td class="greyText">{{i}}</td>
        <td class="smallFont invertedHighlights">{{'{' + base.coordsX + ',' + base.coordsY + '}'}}</td>
        <td>{{base.commandCenterLevel}}</td>
        <td>{{base.minesLevel}}</td>
        <td>{{base.engineeringBayLevel}}</td>
        <td>{{base.factoryLevel}}</td>
        <td>{{base.starportLevel}}</td>
        <td>{{base.warehouseLevel}}</td>
        <td class="goldText">{{base.gold | number:'1.2-2'}}</td>
        <td [class]="getAttacksForBase(base.coordsX, base.coordsY).length > 0 ? 'redText' : 'greyText'">{{getAttacksForBase(base.coordsX, base.coordsY).length}}</td>
      </tr>
      <tr [class]="'borderUnderline smallFont ' +  ((nexusBase && base.coordsX == nexusBase.coordsX && base.coordsY  == nexusBase.coordsY) ? 'highlightedBase' : '')">
        <td colspan="10" class="unitsListTd">
          <span [class]="'baseUnitCountSpan ' + (getUnitsForBase(base.coordsX, base.coordsY)?.marineTotal  ? 'gameNotification' : 'greyText')">M:{{getUnitsForBase(base.coordsX, base.coordsY)?.marineTotal ?? 0}}</span>
          <span [class]="'baseUnitCountSpan ' + (getUnitsForBase(base.coordsX, base.coordsY)?.goliathTotal  ? 'gameNotification' : 'greyText')">G:{{getUnitsForBase(base.coordsX, base.coordsY)?.goliathTotal ?? 0}}</span>
          <span [class]="'baseUnitCountSpan ' + (getUnitsForBase(base.coordsX, base.coordsY)?.siegeTankTotal  ? 'gameNotification' : 'greyText')">ST:{{getUnitsForBase(base.coordsX, base.coordsY)?.siegeTankTotal ?? 0}}</span>
          <span [class]="'baseUnitCountSpan ' + (getUnitsForBase(base.coordsX, base.coordsY)?.scoutTotal ? 'gameNotification' : 'greyText')">S:{{getUnitsForBase(base.coordsX, base.coordsY)?.scoutTotal ?? 0}}</span>
          <span [class]="'baseUnitCountSpan ' + (getUnitsForBase(base.coordsX, base.coordsY)?.wraithTotal ? 'gameNotification' : 'greyText')">W:{{getUnitsForBase(base.coordsX, base.coordsY)?.wraithTotal ?? 0}}</span>
          <span [class]="'baseUnitCountSpan ' + (getUnitsForBase(base.coordsX, base.coordsY)?.battlecruiserTotal ? 'gameNotification' : 'greyText')">B:{{getUnitsForBase(base.coordsX, base.coordsY)?.battlecruiserTotal ?? 0}}</span>
          <span [class]="'baseUnitCountSpan ' + (getUnitsForBase(base.coordsX, base.coordsY)?.glitcherTotal ? 'gameNotification' : 'greyText')">GL:{{getUnitsForBase(base.coordsX, base.coordsY)?.glitcherTotal ?? 0}}</span>
        </td>
      </tr>
    </tbody>
  </table> 
</div>
<div>
  <select #commandSelector (change)="selectCommand()">
    <option selected disabled>Send a command to all your bases</option>
    <option>Upgrade Command Center</option>
    <option>Upgrade Mines</option>
    <option>Upgrade Supply Depot</option>
    <option>Upgrade Warehouse</option>
    <option>Upgrade Engineering Bay</option>
    <option>Upgrade Factory</option>
    <option>Upgrade Starport</option>
    <option>Build Marines</option>
    <option>Build Goliath</option>
    <option>Build Siege Tanks</option>
    <option>Build Scouts</option>
    <option>Build Wraith</option>
    <option>Build Battlecruisers</option>
    <option>Build Glitcher</option>
  </select>
</div>
