table thead th {
  position: sticky;
  top: 0;
}
 

.rotated-header {
  display: inline-block;
  transform: rotate(-90deg) translateY(57px) translateX(-5px);
  transform-origin: left bottom;
  white-space: nowrap;
  height: 60px;
  width: 15px;
  text-align: right;
  text-overflow: ellipsis;
  font-size: x-small;
  font-weight: 100;
  cursor: pointer;
}

table {
  margin: auto;
  width: 100%;
  height: var(--nexus-gamescreen-height);
  overflow-y: auto;
  border-collapse: collapse;
}

.stickyHeader {
  opacity: 75%;
  position: sticky;
  top: 0;
  height: 85px;
  background-color: var(--main-highlight-color);
}

table thead, table thead th {
  overflow: hidden;
}

th,
td {
  overflow: auto;
  font-size: small;
  width: 0px;
}

td {
  border-top: var(--main-border);
  border-bottom: var(--main-border);
}

tbody {
  height: 30px !important;
  width: 100%;
}

.highlightedBase {
  background-color: var(--main-highlight-color);
}

.goldText {
  color: gold;
}
 
.unitsListTdDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: baseline;
}
.baseUnitCountSpan {
  font-size: xx-small;
  width: 45px;
  display: inline-flex;
  flex-direction: row;
  align-content: space-between;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.gameNotification {
  color: var(--secondary-font-color);
}

.baseNameSpan { 
  white-space: nowrap; 
  font-size: x-small;
}
.blueText{
    color: var(--secondary-font-color);
}
.reorderNote {
  color: var(--secondary-font-color);
  font-style: italic;
}
.unitPic {
  width: 20px;
  height: 20px;
}


.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center; 
}

  .pagination-container button {  
    margin: 0 5px;
    cursor: pointer; 
  }

    .pagination-container button:disabled { 
      cursor: not-allowed;
    }

.commandSelector{
    margin-top: 15px;
    margin-bottom: 15px;
}
