<!-- Comments Section -->
<div *ngIf="showCommentsHeader && !comment_id"
     [id]="'commentsHeader'+component.id"
     class="commentsHeader {{showComments && !comment_id ? 'commentsHeaderGradientReverse' : ''}}"
     [style.cursor]="commentList && commentList.length <= 0 ? 'default' : 'pointer'"
     (click)="commentHeaderClicked()">
  <span class="smallExpander">
    🗨️Comments (
      <span class="{{commentList && commentList.length > 0 ? 'highlightedCommentCounter' : ''}}">
        {{commentList ? commentList.length : '0'}}
      </span>
    ) {{showComments ? '-' : '+'}}
  </span>
</div>
<div class="comments-section" *ngIf="commentList && commentList.length > 0 && showComments" [style.maxHeight]="comment_id ? '' : '300px'"> 
  <div *ngFor="let comment of commentList!" class="commentListDiv" [style.paddingLeft]="comment_id ? '40px' : '20px'" [style.paddingRight]="comment_id ? '40px' : '20px'">
    <div class="commentContentAndAvatarContainerDiv">
      <div class="commentAvatar usernameProfileLink">
        <app-user-tag [user]="comment.user" [inputtedParentRef]="inputtedParentRef" [displayMiniTag]="true"></app-user-tag>
        <div class="commentDate">{{comment.date | date: 'y/MM/d HH:mm'}}</div>
        <div class="commentReaction">
          <app-reaction [commentId]="comment.id"
                        [component]="comment"
                        [user]="inputtedParentRef?.user"
                        [inputtedParentRef]="inputtedParentRef"
                        [currentReactions]="comment.reactions">
          </app-reaction>
        </div>
        <div style="display: inline-block; cursor: pointer; margin-left: 10px;" (click)="showOptionsPanel(comment)" *ngIf="comment.user?.id == inputtedParentRef?.user?.id">
          ⚙️
        </div>
        <div class="cursorPointer smallFont" *ngIf="!comment_id" (click)="showSubComments(comment.id)" title="Reply to this comment">
          [Reply<span [id]="'commentIdCount' + comment.id" class="{{commentList && commentList.length > 0 ? 'highlightedCommentCounter' : ''}}"></span>]
        </div>
      </div>
      <div class="commentContent">
        <div [innerHTML]="createClickableUrls(comment.commentText)" [id]="'commentText'+comment.id" [style.display]="editingComments.includes(comment.id) ? 'none': 'block'"></div>
        <textarea class="commentTextArea"
                  [style.display]="editingComments.includes(comment.id) ? 'block' : 'none'"
                  [id]="'commentTextTextarea'+comment.id">{{comment.commentText}}</textarea>

        <div *ngIf="replyingToCommentIds.includes(comment.id)">
          <textarea [id]="'commentReplyInput'+comment.id" *ngIf="replyingToCommentIds.includes(comment.id)"></textarea>
          <button (click)="replyToComment(comment)">🗨️Reply</button>
        </div>
        <button [style.display]="editingComments.includes(comment.id) ? 'block' : 'none'" [id]="'commentTextEditConfirmButton' + comment.id" (click)="confirmEditComment(comment)">
          <span class="commentEditSpans commentAcceptEdit" [style.display]="editingComments.includes(comment.id) ? 'block' : 'none'" [id]="'commentAcceptButtonSpan' + comment.id">✔️</span>
          ✏️Edit
        </button>

        <div *ngFor="let file of comment.commentFiles" class="commentMediaFile">
          <app-media-viewer [file]="file"
                            [user]="comment.user"
                            [currentDirectory]="file.directory"
                            [inputtedParentRef]="inputtedParentRef"
                            [displayExtraInfo]="false"
                            [autoplay]="false"
                            [autoload]="true"
                            [showCommentSection]="false"></app-media-viewer>
        </div>

        <div *ngIf="!comment_id"
             [id]="'subCommentComponent' + comment.id"
             [style.display]="'none'">
          <app-comments #subCommentComponent
                        style="margin:50px;"
                        [component]="comment"
                        [comment_id]="comment.id"
                        [inputtedParentRef]="inputtedParentRef"
                        [type]="'Comment'"
                        (subCommentCountUpdatedEvent)="changedCommentCount($event)"></app-comments>
        </div>
      </div>
    </div> 
  </div> 
</div>
<div class="{{comment_id ? 'replyInputArea' : 'commentsInputArea'}}"
     *ngIf="showComments"
     [id]="'commentInputAreaDiv' + component_id">
  <div *ngIf="showCommentLoadingOverlay" class="loadingCommentOverlay">
    Loading comments...
  </div>
  <div *ngIf="!showCommentLoadingOverlay" class="addCommentInputDiv">
    <textarea [placeholder]='comment_id ? "Reply " + component.user.username : commentList && commentList.length > 0 ? "💭Add a comment..." : "🗨️1️⃣Be the FIRST!"'
              #addCommentInput
              class="addCommentTextArea"
              (keyup.enter)="startLoadingComment();"></textarea>
    <button (click)="startLoadingComment();" class="commentSubmit">🗨️{{comment_id ? 'Reply' : 'Post'}}</button>
    <app-media-selector [currentDirectory]="'Users/' + (inputtedParentRef?.user && inputtedParentRef?.user?.id != 0 ? inputtedParentRef?.user!.username : 'Anonymous')"
                        [user]="inputtedParentRef?.user"
                        [inputtedParentRef]="inputtedParentRef"
                        (selectFileEvent)="selectFile($event)"></app-media-selector>
  </div>
  <div *ngIf="selectedFiles.length > 0">{{selectedFiles.length}} file{{selectedFiles.length > 1 ? 's' : ''}} attached.</div>
</div>
<!-- End Comments Section -->
<!-- Options Popup -->
<div class="popupPanel" *ngIf="isOptionsPanelOpen && optionsComment">
  <div class="popupPanelTitle">
    Comment Options
  </div>
  <div class="commentOptionsPanelButtons">
    <button (click)="deleteComment(optionsComment)" title="Delete Comment" *ngIf="inputtedParentRef?.user?.id == optionsComment.user.id && optionsComment.id">❌ Delete</button>
    <button (click)="editComment(optionsComment)" title="Edit Comment" *ngIf="inputtedParentRef?.user?.id == optionsComment.user.id && optionsComment.id">
      <span class="commentEditSpans commentCancelEdit" [style.display]="editingComments.includes(optionsComment.id) ? 'block' : 'none'" [id]="'commentEditButtonSpan' + optionsComment.id">❌</span>
      ✏️ Edit
    </button>
  </div>
  <div class="optionsStatsWrapperDiv">
    <div class="optionsStatsDiv">
      <div class="optionsStatsHeader">
        Comment Id:
      </div>
      <div class="optionsStatsDescription">
        {{optionsComment.id}}
      </div>
    </div>
  </div>
  <button title="Close the options panel" id="closeOverlay" (click)="closeOptionsPanel()">Close</button>
</div>
