
.comments-section {
  cursor: default;
  margin-top: 5px;
  display: flex;
  justify-content: center;
  padding: 5px;
}


.commentsHeader {
  margin-left: auto;
  margin-right: auto;
  width: 130px;
  font-size: large;
  text-align: center;
  cursor: pointer;
}

.commentUsername {
  margin-top: 5px;
  color: var(--secondary-font-color);
  font-size: large;
}

.commentText {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 10px;
  margin-left: 25px;
  margin-bottom: 5px;
}

.commentVoteButtons {
  display: inline-block;
}

.addCommentTextArea {
  height: 20px;
  width: 80%;
}

.commentsInputArea {
  display: flex;
  justify-content: center;
  width: 100%;
}

.loadingCommentOverlay {
  width: 100%;
}

.addCommentInputDiv {
  display: flex;
}

.commentTable {
  border-collapse: collapse !important; 
}
.commentTable td {
    max-width: 300px;
}
 
.commentText {
  border-top: var(--main-border);
  text-align: left;
} 
.commentMediaFile {
  display: block;
  border: var(--main-border);
  max-width: 225px;
  max-height: 525px;
  overflow-y: auto;
}

.commentContentAndAvatarContainerDiv {
    display:flex;
    width:100%;
}
.commentContent {
  width: CALC(100% - 70px);
}
.commentAvatar {
    width:70px;
}
