
.comments-section {
  cursor: default;
  margin-top: 5px;
  display: flex;
  justify-content: flex-start;
  padding: 5px;
  overflow: auto;
  flex-direction: column;
  flex-wrap: nowrap;
}

.commentHeaderSmallExpander {
  color: var(--main-font-color);
}
.smallExpander {
  text-decoration: underline;
}
.commentsHeader {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  cursor: pointer;
  font-weight: 700;
  font-size: smaller;
  color: var(--main-highlight-color-quarter-opacity);
  padding: 5px;
  width: CALC(100% - 10px);
}
.commentsHeaderGradient {
/*  background: linear-gradient(to bottom, transparent, var(--main-highlight-color));
*/  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}


.commentsHeaderGradientReverse {
  background: linear-gradient(to bottom, var(--main-highlight-color), transparent);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.commentUsername {
  margin-top: 5px;
  color: var(--secondary-font-color);
  font-size: large;
}

.commentText {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 10px;
  margin-left: 25px;
  margin-bottom: 5px;
}

.commentOptionButton {
  white-space: nowrap;
}
.commentVoteButtons {
  display: inline-block;
}

.addCommentTextArea {
  width: 80%;
  height: 20px;
}

.commentsInputArea {
  display: flex;
  justify-content: center;
  background: linear-gradient(to bottom, transparent, var(--main-highlight-color));
  border-radius: 8px;
  padding: 5px;
}

.loadingCommentOverlay {
  text-align: center;
}

.addCommentInputDiv {
  display: flex;
  margin-bottom: 10px;
  width: 100%;
  justify-content: space-evenly;
  line-height: 20px;
}

.commentTextArea {
  width: CALC(100% - 10px);
}

.commentTable {
  border-collapse: collapse !important;
}

  .commentTable td {
    max-width: 300px;
  }

.commentText {
  border-top: var(--main-border);
  text-align: left;
}

.commentMediaFile {
  display: block; 
  max-width: 225px;
  max-height: 525px; 
  margin-bottom: 10px;
}

.highlightedCommentCounter {
  color: var(--secondary-font-color);
}

.actionDiv {
  width: 40px;
  display: inline-block;
  vertical-align: top;
}

.commentContent {
  word-break: break-word;
}

.commentContentAndAvatarContainerDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: flex-start;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}

  .commentContentAndAvatarContainerDiv button {
    height: 23px;
    line-height: 0px;
    white-space: nowrap;
    cursor: pointer;
  }

.commentAvatar {
  overflow: hidden;
  text-overflow: ellipsis;
  height: 100%;
  display: flex;
  align-items: center;
  align-content: flex-start;
  justify-content: flex-start;
}

.commentDate {
  font-size: x-small;
  color: var(--secondary-font-color);
  display: inline-flex;
}

.commentSubmit {
  cursor: pointer;
  height: 23px !important;
  line-height: 12px;
  min-width: 70px;
  white-space: nowrap;
}

.commentListDiv {
  margin-bottom: 10px;
}

.commentEditSpans {
  position: relative;
  transform: scale(0.75);
  heighT: 0;
  width: 0;
}

.commentCancelEdit {
  left: -3px;
}

.commentAcceptEdit {
  left: -2px;
  top: -3px;
}

.popupPanel {
  width: 300px;
}

.commentActionSection {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
}

.commentOptionsPanelButtons {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  margin-top: 15px;
  margin-bottom: 20px;
}

.replyInputArea {
  padding-left: 20px;
}

.commentCountWrapper .commentCountSpan {
  color: var(--secondary-font-color);
}

.commentInputArea {
  display: flex;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start; 
}

.borderPaddedComment {
  padding: 10px;
  border: var(--main-border);
  border-radius: 8px;
}

.commentReplyInputTextArea {
  width: CALC(100% - 170px);
}
.subComment {
  margin-left: 40px;
  border-left: var(--main-border);
  padding: 6px;
  border-radius: 6px;
}
.commentTextDiv {
  padding-top: 5px;
} 

.toggle-subcomments { 
  cursor: pointer;
  padding: 2px 5px;
  margin-left: 5px;
  font-size: smaller;
} 