
<div *ngIf="nexusAvailableUnits && nexusHasUnits()" class="unitList">
  <div *ngIf="nexusAvailableUnits.marineTotal > 0" title="Marines" class="portraitContainer">
    <img [src]="marinePictureSrc" class="portrait" *ngIf="marinePictureSrc" (click)="toggleUnitScreen.emit('marine')" />
    <div class="unitCountLabel">
      {{nexusAvailableUnits.marineTotal}}
    </div>
  </div>
  <div *ngIf="nexusAvailableUnits.goliathTotal > 0" title="Goliath" class="portraitContainer">
    <img [src]="goliathPictureSrc" class="portrait" *ngIf="goliathPictureSrc" (click)="toggleUnitScreen.emit('goliath')"  />
    <div class="unitCountLabel">
      {{nexusAvailableUnits.goliathTotal}}
    </div>
  </div>
  <div *ngIf="nexusAvailableUnits.siegeTankTotal > 0" title="Siege Tanks" class="portraitContainer">
    <img [src]="siegeTankPictureSrc" class="portrait" *ngIf="siegeTankPictureSrc" (click)="toggleUnitScreen.emit('siege_tank')"  />
    <div class="unitCountLabel">
      {{nexusAvailableUnits.siegeTankTotal}}
    </div>
  </div>

  <div *ngIf="nexusAvailableUnits.scoutTotal > 0" title="Scouts" class="portraitContainer">
    <img [src]="scoutPictureSrc" class="portrait" *ngIf="scoutPictureSrc" (click)="toggleUnitScreen.emit('scout')" />
    <div class="unitCountLabel">
      {{nexusAvailableUnits.scoutTotal}}
    </div>
  </div>

  <div *ngIf="nexusAvailableUnits.wraithTotal > 0" title="Wraith" class="portraitContainer">
    <img [src]="wraithPictureSrc" class="portrait" *ngIf="wraithPictureSrc" (click)="toggleUnitScreen.emit('wraith')"  />
    <div class="unitCountLabel">
      {{nexusAvailableUnits.wraithTotal}}
    </div>
  </div>

  <div *ngIf="nexusAvailableUnits.battlecruiserTotal > 0" title="Battlecruisers" class="portraitContainer">
    <img [src]="battlecruiserPictureSrc" class="portrait" *ngIf="battlecruiserPictureSrc" (click)="toggleUnitScreen.emit('battlecruiser')"  />
    <div class="unitCountLabel">
      {{nexusAvailableUnits.battlecruiserTotal}}
    </div>
  </div>

  <div *ngIf="nexusAvailableUnits.glitcherTotal > 0" title="Glitcher" class="portraitContainer">
    <img [src]="glitcherPictureSrc" class="portrait" *ngIf="glitcherPictureSrc" (click)="toggleUnitScreen.emit('glitcher')"  />
    <div class="unitCountLabel">
      {{nexusAvailableUnits.glitcherTotal}}
    </div>
  </div>

</div>
<div *ngIf="nexusAvailableUnits && !nexusHasUnits()">
  No Units
</div>
