
.unitList {
  color: var(--secondary-font-color);
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-flow: row wrap;
  column-gap: 2px;
}
 
.portrait {
  width: 50px;
  height: 50px;
}
.portraitContainer {
  position: relative;
  height: 50px;
}
  .portraitContainer::before {
    content: attr(title);
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    color: var(--main-font-color); 
    font-size: 11px; 
    pointer-events: none;
    width: 50px;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: keep-all;
  }
.unitCountLabel {
  position: absolute;
  bottom: 0px;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
  color: white; 
  pointer-events: none;
  width: 50px;
  height: 20px;
  line-height: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: keep-all;
  text-align: center;
  font-size: 11px;
}
