<div class="componentMain">
  <div class="closeButton" (click)="remove_me();"></div>
  <div class="refreshButton" (click)="ngOnInit();"></div>

  <textarea #noteInput (input)="handleNoteInputChange()" required></textarea>
  <input type="submit" value="💾" (click)="addNote()" #noteAddButton />
  <input type="submit" value="🆕" (click)="clearInputs()" #newNoteButton />
  <input type="submit" value="❌" (click)="deleteNote()" #deleteNoteButton  />
  <input type="hidden" value="" #noteId />

  <div class="notesCarousel"> 
    <label *ngFor="let note of notes" (click)="getNote(note.id!)">{{ note.note }}</label> 
  </div>
</div>
