<div class="componentMain">
  <div class="closeButton" (click)="remove_me('NotepadComponent');"></div> 
  <div class="componentTitle">Notepad</div>
  <div class="popupPanel" *ngIf="isPanelExpanded"> 
    <div class="sharedWithWrapperDiv">
      <div class="popupPanelTitle">
        Share Note (id# {{ noteId.value }})? 
        <div *ngIf="splitNoteOwnershipUsers && splitNoteOwnershipUsers.length > 0" class="smallFont">Currently shared with:</div>
      </div>
      <div *ngFor="let user of splitNoteOwnershipUsers">
        <app-user-tag [user]="user" 
        [inputtedParentRef]="parentRef" 
        [displayMiniTag]="true"
        [previousComponent]="'Notepad'"></app-user-tag>
      </div>
    </div>
    <app-user-list (userClickEvent)="shareNote($event);"
                   [user]="parentRef?.user!"
                   [sharingSearch]="true"
                   [inputtedParentRef]="parentRef">
    </app-user-list>
  </div>


  <textarea #noteInput class="noteInputTextArea" (input)="handleNoteInputChange()" required></textarea>
  <fieldset class="buttonFields">
    <input type="submit" value="💾" (click)="addNote(); noteAddButton.disabled=true;" #noteAddButton title="Save Note" />
    <input type="submit" value="↗️" (click)="shareNoteButtonClick()" #shareNoteButton title="Share Note" />
    <input type="submit" value="🆕" (click)="clearInputs()" #newNoteButton title="New Note" />
    <input type="submit" value="❌" (click)="deleteNote()" #deleteNoteButton title="Delete Note" />
    <input type="hidden" value="" #noteId />
  </fieldset>
  <div *ngIf="(notes && notes.length > 0) || (searchInput && searchInput.nativeElement && searchInput.nativeElement.value)" class="searchBar">
    <input placeholder="Search" #searchInput (keyup)="search()" />
    <button (click)="search()">🔍</button>
    <button (click)="toggleCarouselPopup()">{{ isCarouselPopped ? 'Close Notes' : 'Pop Notes' }}</button>
  </div>
  <div [class]="isCarouselPopped ? 'notesCarousel popupPanel poppedUpCarouselleArea' : 'notesCarousel'">
    <div [class]="isCarouselPopped ? 'poppedUpCarouselleArea' : ''">
      <label *ngFor="let note of notes" (click)="getNote(note.id!)">{{ note.note }}</label>
    </div>
    <div *ngIf="isCarouselPopped" class="closeButton" (click)="toggleCarouselPopup()"></div>
  </div> 
</div>
