<div class="new-users-component">
    <div class="newUsersTitle">Today's New Users:</div>
    <div *ngIf="isLoading" class="loading">Loading new users...</div>
    <div *ngIf="loadError" class="error">{{ loadError }}</div>
    <div *ngIf="users && users.length > 0">
        <div *ngFor="let u of users" class="userRow">
            <app-user-tag [user]="u" [inputtedParentRef]="inputtedParentRef" [displayMiniTag]="true"></app-user-tag>
            <span class="username">{{u.username}}</span>
        </div>
    </div>
    <div *ngIf="!users || users.length == 0">No{{" "}}<app-menu-item style="display: inline-block;" [parentRef]="inputtedParentRef ?? parentRef" [type]="'User'"></app-menu-item>{{" "}}users to show for today.</div>
</div>