
.fullscreen-overlay {
  display: none; /* Hidden by default */
  position: fixed; /* Sit on top of the page content */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Black background with opacity */
  z-index: 1000; /* Sit on top */
  text-align: center;
  overflow: auto;
}


.close-overlay {
  position: fixed;
  top: 20px;
  right: 20px;
  font-size: 30px;
  color: white;
  cursor: pointer;
}

.fullscreen-media { 
  max-width: 98vw;
  object-fit: contain;
  margin-left:auto;
  margin-right:auto;
}
.mediaDiv {
    max-width: 50vw;
    max-height: 50vh;
    display:block;
    margin-left:auto;
    margin-right:auto;
    padding:3px;  
    text-align:center;
}

.media {
  width: 100%;
  height: auto;
  max-width: 70vw;
  max-height: 45vh;
  max-height: auto;
  cursor: default;
  object-fit: contain;
}
.mediaContainerWrapperDiv{
    width:100%;
    display:flex;
    justify-content:center;
}
.mediaContainerDiv{
    max-height:60vh; 
    overflow:auto; 
    object-fit:contain;
    background-color:black; 
}
@media only screen and (min-device-width: 300px) and (max-device-width:800px) {
  .mediaContainerDiv { 
    width: 45vh; 
  }
}
.displayExpander {
    font-size: 8px;
}
.attachmentMedia {
  display: block;
  border: var(--main-border);
  max-width: 225px;
  max-height: 525px;
  overflow-y: auto;
}
.audio {
    width:220px;
    height:25px;
}
