<div class="mediaContainerWrapperDiv">
  <!-- Fullscreen Overlay -->
  <div #fullscreenOverlay class="fullscreen-overlay" >
    <span class="close-overlay" (click)="shrink()">✖</span>
    <img #fullscreenImage class="fullscreen-media" />
    <video #fullscreenVideo class="fullscreen-media" controls [autoplay]="autoplay"></video>
    <audio #fullscreenAudio class="fullscreen-media" controls [autoplay]="false"></audio> 
    <div class="shrinkMediaDiv cursorPointer" (click)="shrink()">Shrink {{fileType}} ▢</div>
  </div>
  <div class="mediaContainerDiv">
    <div *ngIf="!autoload" class="noAutoLoadDiv" (click)="forceLoad()">
      <span class="clickToLoadText">Click here to load media</span>
      <span><img src="favicon.ico" /></span>
    </div>
    <div *ngIf="isLoading && autoload" class="loading-spinner">Loading...</div>
    <div *ngIf="!isLoading && autoload && selectedFileSrc != ''" class="mediaDiv">
      <img #mediaContainer (click)="expandFile({url: selectedFile, extension: selectedFileExtension})" *ngIf="imageFileExtensionsIncludes(this.selectedFileExtension)" [src]="selectedFileSrc" alt="file" class="media" />
      <video #mediaContainer *ngIf="videoFileExtensionsIncludes(this.selectedFileExtension)" [src]="selectedFileSrc" controls preload="auto" [autoplay]="autoplay" class="video media"></video>
      <audio #mediaContainer
             *ngIf="audioFileExtensionsIncludes(this.selectedFileExtension)"
             [src]="selectedFileSrc"
             controls
             preload="auto"
             [autoplay]="false"
             class="audio media">
        Your browser does not support the audio element.
      </audio>
      <div *ngIf="otherFileExtensionsIncludes(this.selectedFileExtension)"><img src="../../favicon.ico" /></div>
      <div class="filetype" *ngIf="displayExpander && !audioFileExtensionsIncludes(this.selectedFileExtension) && !otherFileExtensionsIncludes(this.selectedFileExtension)">
        <span class="cursorPointer" (click)="expandFile({url: selectedFile, extension: selectedFileExtension})" title="Expand">Expand {{fileType}} ◻️</span>
      </div>
      <div class="filetype" *ngIf="displayExtraInfo">
        <span (click)="createUserProfileComponent(selectedFile?.user)"
              class="usernameProfileLink cursorPointer">
          {{selectedFile?.user?.username}}
        </span>
        <span class="notification">{{ selectedFile?.date | date: 'MMMM d, y h:mm a' }}</span>
      </div>
      <div class="filetype" *ngIf="displayExtraInfo">
        <button (click)="copyLink()" title="Share Link">📋Share</button>
        <button (click)="download(selectedFile!, true)">📥Download</button>
      </div>
    </div>
  </div>
</div>

<app-comments *ngIf="selectedFile && showCommentSection && displayExtraInfo"
              [inputtedParentRef]="inputtedParentRef"
              [type]="'File'"
              [component_id]="selectedFile.id"
              [commentList]="selectedFile.fileComments">
</app-comments>
