.componentTitle {
  position: unset !important;
}
::ng-deep .fullscreen-overlay {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Sit on top of the page content */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  text-align: center;
  overflow: auto;
  pointer-events: auto;
  padding: 5px;
}


.close-overlay {
  position: fixed;
  top: 20px;
  right: 20px;
  font-size: 30px;
  color: white;
  cursor: pointer;
  text-shadow: 1.2px 1.1px 1.1px black;
}

.fullscreen-media {
  max-width: 98vw;
  object-fit: contain;
  margin-left: auto;
  margin-right: auto;
}

.mediaDiv {
  background-color: transparent;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.media {
  width: 100%;
  height: auto; 
  cursor: default;
  object-fit: contain;
}

.mediaContainerWrapperDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
}

.mediaContainerDiv {
  max-height: CALC(var(--vh, 1vh) * 60);
  object-fit: contain;
}

.displayExpander {
  font-size: 8px;
}

.attachmentMedia {
  display: block;
  border: var(--main-border);
  max-width: 225px;
  max-height: 525px;
  overflow-y: auto;
}

.audio {
  width: 220px;
  height: 25px;
}

.noAutoLoadDiv {
  height: 75px;
  width: 75px;
  font-size: small;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-flow: column;
  text-align: center;
  color: var(--secondary-font-color);
}

.noAutoLoadDiv span {
  position: relative;
  left: 0px;
  top: 0px;
}

.filetype {
  font-size: xx-small;
}

.fileDataDiv {
  width: 100vw;
}

.fileDataComponentBackground {
  background-color: var(--component-background-color);
}

.fileViewerDiv {
  max-height: 40vh;
  overflow: auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  flex-direction: column; 
  gap: 10px; 
  width: 100%;
  margin-bottom: 15px;
}

.showInfoSpan {
  height: 0px;
  width: 0px;
  white-space: nowrap;
  position: relative;
}




.video {
  position: relative;
}

.video-buffering {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  z-index: 10;
}

.buffering-spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top: 4px solid white;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
  margin-bottom: 10px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
 
.fileSharedWith {
  display: flex;
}