<button type="submit"
        (click)="uploadSubmitClicked()"
        title="Upload file(s)">
  {{uploadProgress > 0 ? uploadProgress + '%' : uploadFileList.length > 0 ? '✅' : '⏫'}}
</button>

<button type="submit" *ngIf="uploadFileList.length > 0 && uploadProgress <= 0" (click)="cancelFileUpload()" title="Cancel upload">❌</button>

<input #fileInput type="file" (change)="uploadInitiate()" [accept]="allowedFileTypes" style="visibility: hidden; position: absolute; width:1px;" multiple />

<select #folderVisibility *ngIf="visibility">
  <option value="public">Public</option>
  <option value="private">Private</option>
</select>

<div *ngFor="let file of uploadFileList" class="fileListDiv"> <div class="removeFileButton" (click)="removeFile(file)" title="Remove file">{{file.name}}</div></div>
