 .removeFileButton {
  position: relative;
  top: 0px;
  right: 0px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

  .removeFileButton:before {
    content: '❌';
  }

button {
  cursor: pointer;
}


.fileListContainer {
  display: none;
  position: fixed;
  z-index: 1000;
  background: var(--main-bg-color-full-opacity);
  border: var(--main-border);
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 100vw;
  height: CALC(var(--vh, 1vh) * 100 - 50px);
  top: 0;
  left: 0;
  overflow: auto;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  z-index: 2;
}

  .fileListContainer.open {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
  }

.fileListDiv {
  width: 90%;
  overflow: auto;
  margin-left: auto;
  margin-right: auto; 
  max-height: calc(100% - 100px);
  margin-top: 2px;
  border: var(--main-border);
  overflow: auto;
}
.fileUploaderButtons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: space-between;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.uploadFileActionWrapper {
  display: flex;
  flex-direction: column;
}

.uploadFileActionDiv {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
