<button type="submit"
        (click)="uploadSubmitClicked()"
        title="Upload file(s)">
  {{isUploading ? (getOverallProgress() == 100 ? 'Finalizing...' : getOverallProgress() + '%') : (uploadFileList.length > 0 ? '✅' : '⏫' + uploadButtonText)}}
</button>
<input #fileInput type="file" (change)="uploadInitiate()" [accept]="allowedFileTypes" style="visibility: hidden; position: absolute; width:1px;" multiple />

<div class="fileListContainer" #fileListContainer *ngIf="displayListContainer" [class]="displayListContainer ? 'open' : ''">

  <div *ngIf="showPrivatePublicOption && !getOverallProgress()">
    <span>Select file(s) visibility:</span>
    <select #folderVisibility>
      <option [value]="true">Public</option>
      <option [value]="false">Private</option>
    </select>
  </div>

  <div>
    {{isUploading ? 'Uploading' : 'Upload'}} {{uploadFileList.length}} files to {{currentDirectory && currentDirectory != '' ? currentDirectory : '/'}}{{isUploading ? '...' : '?'}}

    <div class="uploadFileActionWrapper" *ngIf="!isUploading">
      <div class="uploadFileActionDiv">
        <span (click)="displayFileUploadOptions = !displayFileUploadOptions" class="cursorPointer smallFont">
          [Options{{displayFileUploadOptions ? '-' : '+'}}]
        </span>
        <span (click)="displayFileUploadTopics = !displayFileUploadTopics" class="cursorPointer smallFont">
          [Topics{{displayFileUploadTopics ? '-' : '+'}}]
        </span>
      </div>
      <div *ngIf="displayFileUploadOptions" style="display: flex; flex-direction: column;">
        <label><input type="checkbox" #compressCheckbox checked /> Compress Media Files</label>
      </div>
      <div *ngIf="displayFileUploadTopics">
        <app-topics #topicComponent
                    [isDropdown]="true"
                    [user]="inputtedParentRef?.user"
                    [parent]="inputtedParentRef"
                    [attachedTopics]="undefined"
                    [preventClosingOverlay]="true"
                    (topicAdded)="onTopicAdded($event);">
        </app-topics>
      </div>
    </div>
  </div>


  <div class="fileListDiv">
    <div *ngFor="let file of uploadFileList; let i = index">
      <div [class]="(!uploadProgress[file.name] || uploadProgress[file.name] == 0)  ? 'removeFileButton fileUploadLineDiv' : ' fileUploadLineDiv'" (click)="removeFile(file)" title="Remove file">
        <span>{{file.name}}</span>
        <span *ngIf="uploadProgress[file.name]">
          {{ uploadProgress[file.name] === 100 ? '✅' : ('- ' + uploadProgress[file.name] + '%') }}
        </span>
        <span *ngIf="!uploadProgress[file.name] && totalProgress">
          - 0%
        </span>
      </div>
    </div>
  </div>

  <div class="fileUploaderButtons">
    <button type="submit"
            (click)="uploadSubmitClicked()"
            title="Upload file(s)">
      {{isUploading ? (getOverallProgress() == 100 ? 'Finalizing...' : getOverallProgress() + '%') : (uploadFileList.length > 0 ? '✅Upload' : '⏫' + uploadButtonText)}}
    </button>
    <button type="submit" id="closeOverlay" *ngIf="!isUploading" (click)="preventDisplayClose ? null : cancelFileUpload()" title="Cancel upload">❌Cancel</button>
  </div>
</div>
