<div class="daily-music">
    <div class="dailyMusicTitle popupPanelTitle">
        Latest Music
    </div>
    <div *ngIf="songs.length === 0" style="display:flex;">
        No <app-menu-item [type]="'Music'" [label]="'songs'"></app-menu-item> added today.
    </div>

    <table class="mainTable" *ngIf="songs.length > 0">
        <thead>
            <tr>
                <th colspan="2">Titles</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let s of songs">
                <td>{{ s.todo }}</td>
                <td style="width:0">
                    <button (click)="play(s.url, s.fileId)">Play</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>