<div class="daily-music" *ngIf="songs?.length">
    <div class="dailyMusicTitle popupPanelTitle">
        Today's Added Music:
    </div>
    <div *ngIf="songs.length === 0">
        No{{" "}}<app-menu-item [type]="'Music'" [label]="'Songs'" [parentRef]="inputtedParentRef" style="display:inline-block"></app-menu-item>{{" "}} to show for today.
    </div>

    <table class="mainTable" *ngIf="songs.length > 0">
        <thead>
            <tr>
                <th colspan="2">Titles</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let s of songs">
                <td>{{ s.todo }}</td>
                <td style="width:0">
                    <button (click)="play(s.url, s.fileId)">Play</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>