.componentMain {
  max-width: 865px;
}

@media only screen and (min-device-width: 300px) and (max-device-width:800px) {
  .componentMain {
    max-width: 365px;
  }
}

.inputDiv {
  margin-left: auto;
  margin-right: auto;
  width: 90%;  
}

  .inputDiv input[type=text] {
    height: 20px;
  }

.foodForThought {
  min-width: 200px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.storyContainer {
  border: var(--main-border); 
  word-break: break-all;
  margin-top:5px;
}
.storyTextContainer {
  padding: 12px;
}

.storyText {
  width: 100%;
  padding: 5px;
  display: inline-block;
  border-radius: 3px;
  word-wrap: break-word;
  font-size: large;
}

.hidden {
  max-height: 200px;
  overflow-x: hidden;
  text-overflow: ellipsis;
}
 
 
.storyDate {
  color: var(--secondary-font-color);
  font-size: smaller;
  display: inline-block;
}

  .storyDate::before {
    content: '(';
  }

  .storyDate::after {
    content: ')';
  }

.createStoryButton {
  background-color: var(--main-highlight-color);
  border: var(--main-border);
  color: var(--secondary-font-color);
  font-weight:bold;
  font-size: 15px;
}

.metadataImage {
  max-width: 500px;
  max-height: 500px;
}

@media only screen and (min-device-width: 300px) and (max-device-width: 800px) {
  .metadataImage {
    max-width: 300px;
    max-height: 300px;
  }
}

.metadataDescription {
  font-size: smaller;
  color: var(--secondary-font-color);
}

.metadataTitle {
  font-size: small;
  color: var(--main-font-color);
}

.attachedFileSpan { 
  cursor: pointer;
}

.attachment {
  display: inline-block;
  border: var(--main-border);
  max-width: 225px;
  max-height: 525px;
  overflow-y: auto;
}

.fileNotImageOrVideo {
  font-size: 40px;
}

.downloadAttachmentLink {
  text-decoration: underline;
  cursor: pointer;
}
.storyTopics span {  
  border: var(--main-border);
}
  .storyTopics button {
    float:right;
  }
.storyUserDetails {
    display: inline-block;
    width: 100%;
}
.commentVoteButtons { 
  width: 100%;
  height: 25px;
  text-align:right;
  margin-bottom: -5px;
}
.commentUsername { 
} 
.commentText {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: var(--main-highlight-color);
  margin-left: 25px;
  margin-bottom: 5px;
}
.commentsSection {
    border: var(--main-border);
    padding: 10px;
}
.commentDate {
    font-size: small;
    color: var(--secondary-font-color);
}
.matchingTopic {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 4px;
  background-color: var(--main-highlight-color);
  cursor: pointer;
  border: var(--main-border);
}
.chosenTopic 
{
  display: inline-block;
  padding: 5px 10px;
  border-radius: 4px;
  background-color: var(--main-highlight-color);
  cursor: pointer;
  border: var(--main-border);
}
.mainFileUploaderAndTopicSelectorDiv {
    display: flex;
    justify-content: flex-start;
}
.searchInputs {
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}
.additionalSearchFiltersSpan {
    font-size:smaller;
} 
