<div class="componentMain" #componentMain>
  <div *ngIf="!user">
    <div class="closeButton" (click)="remove_me('SocialComponent');"></div>
    <div class="refreshButton" (click)="ngOnInit();"></div>
    <div class="componentTitle">Social</div>
  </div>
  <div *ngFor="let notif of notifications" [innerHTML]="notif" class="notification" (click)="notifications = []"></div>

  <div class="inputDiv">
    <textarea #story
              placeholder="Whats on your mind ?"
              class="foodForThought"
              (focus)="focusInput()"></textarea>
    <div class="mainFileUploaderAndTopicSelectorDiv">

      <app-media-selector #postMediaSelector (selectFileEvent)="selectFile($event)"></app-media-selector>

      <app-topics [user]="parentRef?.user" [parent]="parent ?? parentRef" (topicAdded)="onTopicAdded($event)"></app-topics>

    </div>
    <button (click)="post()" class="createStoryButton">🍌 Post your story</button>
    <div *ngIf="attachedFiles.length > 0"> Attached: {{attachedFiles[0].fileName}}</div>
  </div>
  <div class="inputDiv searchInputs"  *ngIf="!user">
    <input type="text" #search placeholder="Search" (keyup.enter)="searchStories()" />
    <input type="submit" (click)="searchStories()" class="createStoryButton" value="🔍" />
    <div (click)="revealSearchFilters = !revealSearchFilters;" class="additionalSearchFiltersSpan cursorPointer">(+ Additional search filters)</div>
    <div *ngIf="revealSearchFilters">
      Topic filter : <app-topics></app-topics> (coming soon)
    </div>
  </div>
  <div class="mainTableDiv">
    <div *ngFor="let story of stories" [id]="'storyDiv'+story.id" class="storyContainer">
      <div class="commentVoteButtons">
        <button (click)="upvoteStory(story)" class="vote-button">⬆️{{ story.upvotes }}</button>
        <button (click)="downvoteStory(story)" class="vote-button">⬇️{{ story.downvotes }}</button>
        <button (click)="copyLink(story.id!)" *ngIf="!user" title="Share Link" style="display:inline-block">Share 📋</button>
        <button (click)="delete(story)" *ngIf="story.user?.id == parentRef?.user?.id || user?.id == parentRef?.user?.id" title="Share Link" style="display:inline-block">Delete Story ❌</button>
      </div>
      <div class="storyTextContainer">
        <div class="storyUserDetails">
          <div class="storyText" [class]="'hidden'" [innerHtml]="createClickableUrls(story.storyText)"></div>
          <div class="usernameProfileLink cursorPointer" (click)="viewProfile(story.user)">{{story.user.username}} </div>
          <div class="storyDate">{{story.date?.toString()?.replace('T', '@')}}</div>
        </div>
        <div class="storyTopics" *ngIf="story.storyTopics && story.storyTopics.length > 0">
          Topics : <span *ngFor="let topic of story.storyTopics" class="chosenTopic">{{topic.topicText}}</span>
        </div>
        <div *ngIf="story.storyFiles && story.storyFiles.length > 0">
          <div>Attachments:</div>
          <div *ngFor="let file of story.storyFiles" class="attachment">
            <app-media-viewer [user]="file.user"
                              [inputtedParentRef]="parentRef"
                              [currentDirectory]="file.directory"
                              [file]="file"
                              [showCommentSection]="false"
                              [displayExtraInfo]="false"
                              [displayExpander]="true">
            </app-media-viewer>
          </div>
        </div>
        <div *ngIf="story.metadata">
          <div *ngIf="story.metadata.title" class="metadataTitle">{{story.metadata.title}}</div>
          <div *ngIf="story.metadata.description" class="metadataDescription" [innerHtml]="createClickableUrls(story?.metadata?.description)"></div>
          <div *ngIf="story.metadata.imageUrl"><img class="metadataImage" [src]="story?.metadata?.imageUrl" /></div>
        </div>
      </div>
      <app-comments *ngIf="story"
                    [parentRef]="parentRef"
                    [type]="'Social'"
                    [component_id]="story.id!"
                    [commentList]="story!.storyComments!">
      </app-comments>
    </div> 
  </div>
</div>
