<div class="componentMain">
	<div class="closeButton" (click)="remove_me('Art')"></div>
	<div class="menuButton" (click)="showMenuPanel();"></div>
	<div class="componentTitle">Art</div>

	<div class="artResultsDiv">
		<app-file-search #fileSearchComponent
			[inputtedParentRef]="parentRef"
			[user]="parentRef?.user"
			[currentDirectory]="'Art/'"
			[maxResults]="20"
			[canChangeDirectory]="false"
			[canDragMove]="false" 
			[displayFileType]="false"
			[displayFileSize]="false"
			[showTopics]="true"
			[autoload]="true"
			[displayTotal]="false"
			[showFileSearchOptions]="false"
			[showSpaceForNotifications]="false"
			[showHiddenFiles]="false"
			[currentPage]="currentArtPage"
			[previousComponent]="'Art'">
		</app-file-search>
	</div> 
</div>

<!-- Menu Popup -->
<div class="popupPanel artMenuPopup" *ngIf="isMenuPanelOpen">
	<div class="popupPanelTitle popupPanelContents" style="margin-bottom:15px;">
		Art Menu
	</div>
	<div class="fileUploadInputs">
		<app-file-upload [currentDirectory]="'Art'" [user]="parentRef?.user" [inputtedParentRef]="parentRef"
			[showPrivatePublicOption]="true" [uploadButtonText]="'Upload Art'" [maxSelectedFiles]="100"
			(userNotificationEvent)="uploadNotification($event);" (userUploadEvent)="uploadFileListEvent($event);"
			(userUploadFinishedEvent)="uploadFinished($event)" (userCancelEvent)="uploadCancelEvent($event);" id="fileUploader">
		</app-file-upload>
	</div> 
	<button id="closeOverlay" (click)="closeMenuPanel()" class="closeButton">Close</button>
</div>
