<div class="componentMain">
	<div class="closeButton" (click)="remove_me('Art')"></div>
	<div class="menuButton" (click)="showMenuPanel();"></div>
	<div class="componentTitle">Art</div>

	<div class="artResultsDiv">
		<app-file-search #fileSearchComponent
			[inputtedParentRef]="parentRef"
			[user]="parentRef?.user"
			[currentDirectory]="'Art/'"
			[maxResults]="20"
			[canChangeDirectory]="false"
			[canDragMove]="false" 
			[displayFileType]="false"
			[displayFileSize]="false"
			[showTopics]="true"
			[autoload]="true"
			[displayTotal]="false"
			[showFileSearchOptions]="false"
			[showSpaceForNotifications]="parentRef?.user?.id ? true : false"
			[showHiddenFiles]="false"
			[currentPage]="currentArtPage"
			[previousComponent]="'Art'">
		</app-file-search>
	</div>

	<div class="mediaSelectorDiv">
		<app-media-selector
			[user]="parentRef?.user"
			[inputtedParentRef]="parentRef"
			[currentDirectory]="'Art/'" 
			[uploadButtonText]="'Upload Art'"
			[maxSelectedFiles]="20">
		</app-media-selector>
	</div>
</div>

<!-- Menu Popup -->
<div class="popupPanel" *ngIf="isMenuPanelOpen">
	<div class="popupPanelTitle popupPanelContents" style="margin-bottom:15px;">
		Art Menu
	</div>
	<div class="fileUploadInputs">
		<app-media-selector
			[user]="parentRef?.user"
			[inputtedParentRef]="parentRef"
			[currentDirectory]="'Art/'" 
			[uploadButtonText]="'Upload Art'"
			[maxSelectedFiles]="20">
		</app-media-selector>
	</div>
	<div class="popupPanelContents">
		<div class="popupPanelTitle">
			Search Art:
		</div>
	<input type="text" placeholder="Search Art..." (input)="onSearchArtInput($event, fileSearchComponent)" />
	</div>
	<button id="closeOverlay" (click)="closeMenuPanel()" class="closeButton">Close</button>
</div>
