<div class="componentMain">
  <div class="closeButton" (click)="remove_me('ThemeComponent')"></div>
  <div class="componentTitle">Theme</div>

  <div class="themeSelectorDivWrapper">
    <div class="themeSelectorDiv">
      <label>Background Image:</label>
      <app-media-selector #mediaSelector
                          [inputtedParentRef]="parentRef"
                          [maxSelectedFiles]="1"
                          (selectFileEvent)="selectFile($event)">
      </app-media-selector>
    </div>
    <div class="themeSelectorDiv">
      <label for="backgroundColor" class="cursorPointer">Background Color:</label>
      <input type="color" id="backgroundColor" #backgroundColor (input)="updateCSS('--main-bg-color', $event)" [value]="getComputedStyleValueForColor('--main-bg-color')">
    </div>
    <div class="themeSelectorDiv">
      <label for="componentBackgroundColor" class="cursorPointer">Component Background Color:</label>
      <input type="color"
             id="componentBackgroundColor"
             #componentBackgroundColor
             (input)="updateCSS('--component-background-color', $event)"
             [value]="getComputedStyleValueForColor('--component-background-color')">
    </div>
    <div class="themeSelectorDiv">
      <label for="secondaryComponentBackgroundColor" class="cursorPointer">Secondary Component Background Color:</label>
      <input type="color"
             id="secondaryComponentBackgroundColor"
             #secondaryComponentBackgroundColor
             (input)="updateCSS('--secondary-component-background-color', $event)"
             [value]="getComputedStyleValueForColor('--secondary-component-background-color')">
    </div>
    <div class="themeSelectorDiv">
      <label for="fontColor" class="cursorPointer">Font Color:</label>
      <input type="color" id="fontColor" #fontColor (input)="updateCSS('--main-font-color', $event)" [value]="getComputedStyleValueForColor('--main-font-color')">
    </div>
    <div class="themeSelectorDiv">
      <label for="secondaryFontColor" class="cursorPointer">Secondary Font Color:</label>
      <input type="color" id="secondaryFontColor" #secondaryFontColor (input)="updateCSS('--secondary-font-color', $event)" [value]="getComputedStyleValueForColor('--secondary-font-color')">
    </div>
    <div class="themeSelectorDiv">
      <label for="thirdFontColor" class="cursorPointer">Third Font Color:</label>
      <input type="color" id="thirdFontColor" #thirdFontColor (input)="updateCSS('--third-font-color', $event)" [value]="getComputedStyleValueForColor('--third-font-color')">
    </div>
    <div class="themeSelectorDiv">
      <label for="mainHighlightColor" class="cursorPointer">Main Highlight Color:</label>
      <input type="color" id="mainHighlightColor" #mainHighlightColor (input)="updateCSS('--main-highlight-color', $event)" [value]="getComputedStyleValueForColor('--main-highlight-color')">
    </div>
    <div class="themeSelectorDiv">
      <label for="mainHighlightColorQuarterOpacity" class="cursorPointer">Main Highlight Color (Quarter Opacity):</label>
      <input type="color" id="mainHighlightColorQuarterOpacity" #mainHighlightColorQuarterOpacity (input)="updateCSS('--main-highlight-color-quarter-opacity', $event)" [value]="getComputedStyleValueForColor('--main-highlight-color-quarter-opacity')">
    </div>
    <div class="themeSelectorDiv">
      <label for="linkColor" class="cursorPointer">Link Color:</label>
      <input type="color" id="linkColor" #linkColor (input)="updateCSS('--main-link-color', $event)" [value]="getComputedStyleValueForColor('--main-link-color')">
    </div>
    <div class="themeSelectorDiv">
      <label for="fontSize" class="cursorPointer">Font Size:</label>
      <input type="number"
             id="fontSize"
             min="10" max="24"
             #fontSize
             (input)="updateCSS('--main-font-size', $event)"
             [value]="getFontSize()">
    </div>
    <div class="themeSelectorDiv">
      <label for="fontFamily" class="cursorPointer" (click)="openFontFamily();">Font Family:</label>
      <div *ngIf="!fontFamilyExpanded" class="cursorPointerUnderlined" (click)="openFontFamily();">{{getComputedStyleValue('--main-font-family')}}</div>
      <div class="custom-select popupPanel" *ngIf="fontFamilyExpanded">
        <div class="popupPanelTitle">Font Select:</div>
        <div *ngFor="let font of fonts" (click)="updateCSS('--main-font-family', undefined, font.value)" class="cursorPointerUnderlined" [ngStyle]="{ 'font-family': font.value }">
          {{ font.label }}
        </div>
        <button (click)="closeFontFamily()" id="closeOverlay" class="closeButton" style="margin-top:15px;">Done</button>
      </div>
    </div>
  </div>
  
  <div class="loremDiv">
    <a href="#">Lorem Ipsum</a>
    <table class="mainTable">
      <thead>
        <tr><th><h3>What is Lorem Ipsum?</h3></th></tr>
      </thead>
      <tbody>
        <tr>
          <td>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          </td>
        </tr>
      </tbody>
    </table>
    <div class="loremDiv2">
      Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
      when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
      electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages.
      <div class="textExpanderDiv">
        <span class="smallExpander">
          [Expand Text]
        </span>
      </div>
    </div>
  </div>

  <div class="themeButtons">
    <div class="theme-list">
      <div class="theme-section-title">Top Themes / Search</div>
      <select (change)="onThemeChange($event)" [disabled]="allThemes?.length === 0" id="allThemesDropdown">
        <option selected>
          {{ (isSearching || themeSearchInput.value)? (allThemes?.length === 0 ? 'No search matches' : 'Searched Themes') : 'Top Themes' }}
        </option>
        <option *ngFor="let theme of allThemes" [value]="theme.id">{{ theme.name }}</option>
      </select>
      <select (change)="onThemeChange($event)" *ngIf="!isSearching && !themeSearchInput.value" id="myThemesDropdown">
        <option selected>Your Themes</option>
        <option *ngFor="let theme of myThemes" [value]="theme.id">{{ theme.name }}</option>
      </select>
      <input #themeSearchInput placeholder="Search for themes" (input)="themeSearch()" />
    </div>

    <div class="theme-actions">
      <div class="theme-section-title">Save / Manage</div>
      <input #themeNameInput placeholder="Theme Name" />
      <div class="theme-save-delete">
        <button class="theme-save" (click)="saveTheme()">💾 Save</button>
        <button class="theme-delete" (click)="deleteTheme()" *ngIf="userSelectedTheme">❌ Delete</button>
      </div>
      <button class="theme-reset" (click)="restoreDefaultSettings(true)">🔄 Reset</button>
    </div>
  </div>
</div>
