<div class="componentMain">
  <div class="closeButton" (click)="remove_me();" *ngIf="parentRef?.user!"></div>
  <div class="refreshButton" (click)="ngOnInit();"></div>
  <div class="componentTitle">Login</div>
  <div style="width:100%;text-align:center">Total users: {{usersCount}}</div>
  <div *ngIf="notifications" (click)="notifications = []">
    <div *ngFor="let notif of notifications" [innerHTML]="notif"></div>
  </div>

  <div>
    <div *ngIf="!parentRef!.user">
      <div>
        <input type="text" placeholder="Username" #loginUsername />
        <input type="password" placeholder="Password" #loginPassword />
      </div>
      <div style="width:100%;text-align:center">
        <input type="submit" value="Login" (click)="login()" />
        <input type="submit" value="Create User" (click)="createUser()" />
      </div>
    </div>
    <div *ngIf="parentRef!.user" style="width:100%;text-align:center">
      <div>Logged in as: {{ parentRef!.user.username }}</div>
      <input type="submit" value="Logout" (click)="logout()" />
      <input type="submit" value="🗑️" (click)="deleteUser()" title="Delete Account" />
      <input type="submit" value="🔧" (click)="updateUserDivVisible = !updateUserDivVisible" title="Update Settings" />
    </div>
  </div>

  <div *ngIf="parentRef!.user && updateUserDivVisible" style="margin-top:15px">
    <fieldset>
      <legend>Update:</legend>
      <table class="mainTable">

        <!--USERNAME / PASSWORD-->
        <thead (click)="isGeneralToggled = !isGeneralToggled">
          <tr>
            <th>General</th>
            <th style="text-align:right;">
              <button (click)="updateUser()" title="Update settings" [disabled]="!isGeneralToggled">🔄</button>
            </th>
          </tr>
        </thead>
        <tbody *ngIf="isGeneralToggled">
          <tr>
            <td>Name:</td>
            <td><input type="text" placeholder="New Username" #updatedUsername [value]="parentRef!.user.username" /></td>
          </tr>
          <tr>
            <td>Password:</td>
            <td><input type="password" placeholder="New Password" #updatedPassword [value]="parentRef!.user.pass" /></td>
          </tr>
        </tbody>


        <!-- Menu Icons -->
        <thead (click)="isMenuIconsToggled = !isMenuIconsToggled; getMenuIcons()">
          <tr>
            <th colspan="2">Menu Icons</th>
          </tr>
        </thead>
        <tbody *ngIf="isMenuIconsToggled">
          <tr>
            <td>Available/Selected:</td>
            <td class="menuIconsTd">
              <ng-container *ngFor="let icon of parentRef!.navigationItems">
                <ng-container *ngIf="icon.title !== 'Close Menu' && icon.title !== 'User'">
                  <span (click)="selectMenuIcon(icon.title)" [class]="menuIconsIncludes(icon.title) ? 'menuIcon selectedIcon' : 'menuIcon'" [title]="icon.title">
                    <ng-container *ngIf="icon.title !== 'Weather'; else sunEmoji">{{ icon.icon }}</ng-container>
                    <ng-template #sunEmoji>☀️</ng-template>
                  </span>
                </ng-container>
              </ng-container>
            </td>

          </tr>
        </tbody>


        <!--Nicehash API-->
        <thead (click)="isNicehashApiKeysToggled = !isNicehashApiKeysToggled; getNicehashApiKeys()">
          <tr>
            <th>Nicehash API Keys</th>
            <th style="text-align:right;">
              <button (click)="updateNHAPIKeys()" title="Update settings" [disabled]="!isNicehashApiKeysToggled">🔄</button>
            </th>
          </tr>
        </thead>
        <tbody *ngIf="isNicehashApiKeysToggled">
          <tr>
            <td>OrgId:</td>
            <td><input type="text" placeholder="Org Id" #orgId [value]="nhApiKeys?.orgId ?? ''" /></td>
          </tr>
          <tr>
            <td>ApiKey:</td>
            <td><input type="text" placeholder="API Key" #apiKey [value]="nhApiKeys?.apiKey ?? ''" /></td>
          </tr>
          <tr>
            <td>ApiSecret:</td>
            <td><input type="text" placeholder="API Secret" #apiSecret [value]="nhApiKeys?.apiSecret ?? ''" /></td>
          </tr>
        </tbody>

        <!--Weather-->
        <thead (click)="isWeatherLocationToggled = !isWeatherLocationToggled; getWeatherLocation()">
          <tr>
            <th>Weather Location</th>
            <th style="text-align:right;">
              <button (click)="updateWeatherLocation()" title="Update settings" [disabled]="!isWeatherLocationToggled">🔄</button>
            </th>
          </tr>
        </thead>
        <tbody *ngIf="isWeatherLocationToggled">
          <tr>
            <td>Location:</td>
            <td><input type="text" placeholder="IP Address/City (ex: 'Montreal')" #weatherLocationInput /></td>
          </tr>
        </tbody>
      </table> 
      <button (click)="updateUserDivVisible = !updateUserDivVisible">Close</button>
    </fieldset>
  </div>
</div>
