.componentMain {
  min-width: 350px; 
}
.componentMainFullHeight {
  height: CALC(var(--vh, 1vh) * 100 - 55px);
}
@media only screen and (max-width : 667px) {
  .componentMain {
    width: unset !important;
  }
}

.userProfileContents {
  max-height: CALC(var(--vh, 1vh) * 100 - 55px);
}

.mainTable thead {
  cursor: pointer;
}

.menuIcon {
  display: inline-block;
  font-size: 25px;
  width: 30px;
  height: 30px;
  vertical-align: top;
  padding: 10px;
  text-align: center;
}

.selectedIcon {
  border: var(--main-border);
  background-color: var(--main-highlight-color);
}

.menuIconsTd {
  max-width: 500px;
  overflow-x: auto;
  white-space: nowrap;
}

@media only screen and (min-device-width: 400px) and (max-device-width: 700px) {
  .mainTable td:last-child {
    max-width: 270px;
  }
}

.mainTable td {
  max-width: unset !important;
}


.mainTable tr {
  border: var(--main-border);
}

.profileUsername {
  min-width: 30vw;
  font-size: large;
  text-align: center;
}
 

.friendsContainer {
  width: 300px;
}

.welcomeMessage {
  text-align: center;
  font-size: 24px;
  z-index: 1;
}
 
.welcomeTitle {
  color: var(--secondary-font-color);
  font-weight: bold;
  font-size:14px;
}
.moreInfoTitle {
    font-size: xx-small;
    margin-top: 25px;
}
.bughostedHeader {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: stretch;
  flex-wrap: nowrap;
  padding-left: 2px;
  padding-right: 2px;
}
.profileHeaderUserDescription {
  padding-bottom: 10px;
  padding-top: 10px;
  max-width: 230px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.profileControls {
  text-align: center;
  display: flex;
  justify-content: flex-start;
  padding-top: 15px;
}
.aboutTable {
    text-align:center;
}
.bugHostedLogo {
  margin-top: -47px;
  width: 100%;
  text-align: center;
  z-index: 2;
  position: relative;
  font-size: 20px; 
  left: 2px;
}
.loginOnlyInstructionDiv {
    width: 100%;
    height:25px;
    margin-top: -25px;
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.loginDiv {
    text-align:center;
}
.notificationCounterDiv {
  position: absolute;
  right: 35px;
  top: 4px;
  width: 40px;
  text-align: right;
}
.profileHeader {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  gap: clamp(0px, 3vw, 20px);
  justify-content: center;
  margin-bottom: 10px;
}
.emptyUserTagLogo {
  display: flex;
  justify-content: center;
}
.aboutSiteDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  font-size:small;
}
.profileHeaderInfo {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  min-width: 230px;
}

.popupPanel { 
  width: 320px; 
}
.aboutPopupPanel {
  height: CALC(var(--vh, 1vh) * 100);
  width: 100vw;
  justify-content: space-between;
}
  .aboutPopupPanel #closeOverlay {
    margin-top: 20px;
    margin-bottom: 15px;
  }

  .popupPanelTitle {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
  }

.friendsListWrapperDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 25px;
  padding: 5px;
}

.friendsListDiv:hover {
  border: 1px dotted var(--main-highlight-color);
}
 
.friendsPopupContainer {
  width: 99%;
}

.deletingFriendsListWrapper {
  flex-direction: column;
  max-height: 350px;
  overflow: auto; 
  gap: unset;
}

.deletingFriendsList {
  width: 95%;
}
  
.deletingFriendsList, .friendsRequestReceivedList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px;
}
.mainFriendsPopupDiv {
  max-height: 350px;
  overflow: auto;
}

.friendshipRequestActionDiv button {
  margin-left: 25px;
  padding: 10px;
} 
 

.seperatedUserHeader {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  border-bottom: 1px dotted var(--main-font-color); 
}
.profileControlsSelector option:first-child {
  text-align: center;
}
.friendsPopupPanelTitle {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
.followingFriendsPanelTitle {
  margin-top: 20px;
}

.aboutPopupPanelContentContainer {
  width: CALC(100% - 40px);
}
.aboutPictureContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
  align-content: space-between;
  gap: 30px;
}
.trophyContainerWrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  gap: 20px;
}
.trophyContainer {
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
  max-width: 70px;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
  text-align: center;
}
.trophy {
  max-width:50px;
  max-height:50px;
  border: 1px solid var(--main-link-color);
  border-radius: 12px;
}
.aboutPopupPanelContentContainer .optionsStatsWrapperDiv {
  height: unset !important;
} 
