
.componentMain {
  min-width: 350px;
  max-height: CALC(CALC(var(--vh, 1vh) * 100) - 40px);
}
 

.mainTable thead {
  cursor: pointer;
}

.menuIcon {
  display: inline-block;
  font-size: 25px;
  width: 30px;
  height: 30px;
  vertical-align: top;
  padding: 10px;
  text-align: center;
}

.selectedIcon {
  border: var(--main-border);
  background-color: var(--main-highlight-color);
}

.menuIconsTd {
  max-width: 500px;
  overflow-x: auto;
  white-space: nowrap;
}

@media only screen and (min-device-width: 400px) and (max-device-width: 700px) {
  .mainTable td:last-child {
    max-width: 270px;
  }
}

.mainTable td {
  max-width: unset !important;
}


.mainTable tr {
  border: var(--main-border);
}

.profileUsername {
  min-width: 30vw;
  font-size: large;
  text-align: center;
}
 

.friendsContainer {
  width: 300px;
}

.welcomeMessage {
  text-align: center;
  font-size: 24px;
}

  .welcomeMessage p {
    background-color: var(--main-bg-color);
  }
.welcomeTitle {
  color: var(--secondary-font-color);
  font-weight: bold;
  font-size:14px;
}
.moreInfoTitle {
    font-size: xx-small;
    margin-top: 25px;
}
.bughostedHeader {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: stretch;
  flex-wrap: nowrap;
  padding-left: 2px;
  padding-right: 2px;
}
.profileControls {
  text-align: center;
  display: flex;
  justify-content: flex-start;
}
.aboutTable {
    text-align:center;
}
.bugHostedLogo {
  margin-top: -47px;
  width: 100%;
  text-align: center;
  z-index: 2;
  position: relative;
  font-size: 20px; 
  left: 2px;
}
.loginOnlyInstructionDiv {
    width: 100%;
    height:25px;
    margin-top: -25px;
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.loginDiv {
    text-align:center;
}
.notificationCounterDiv {
  position: absolute;
  right: 35px;
  top: 4px;
  width: 40px;
  text-align: right;
}
.profileHeader {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px; 
  justify-content: center;
}
.emptyUserTagLogo {
  display: flex;
  justify-content: center;
}
.aboutSiteDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  font-size:small;
}
.profileHeaderInfo {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.popupPanel {
  position: fixed;
  width: 320px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--main-bg-color);
  z-index: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 8px;
  overflow: auto;
  padding: 20px;
}

.popupPanelTitle {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.friendsListWrapperDiv {
  display: flex;
  flex-wrap: wrap;
}

.friendsListDiv:hover {
  border: 1px dotted var(--main-highlight-color);
}
 
.friendsPopupContainer {
  width: 99%;
}

.deletingFriendsListWrapper {
  flex-direction: column;
  max-height: 350px;
  overflow: auto;
}
.deletingFriendsList, .friendsRequestReceivedList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px;
}
.mainFriendsPopupDiv {
  max-height: 350px;
  overflow: auto;
}

.friendshipRequestActionDiv button {
  margin-left: 25px;
  padding: 10px;
}
