.mainTable thead {
  cursor: pointer;
}

.menuIcon {
  display: inline-block;
  font-size: 25px;
  width: 30px;
  height: 30px;
  vertical-align: top;
  padding: 10px;
  text-align: center;
}

.selectedIcon {
  border: var(--main-border);
  background-color: var(--main-highlight-color);
}

.menuIconsTd {
  max-width: 500px;
  overflow-x: auto;
  white-space: nowrap;
}

@media only screen and (min-device-width: 400px) and (max-device-width: 700px) {
  .mainTable td:last-child {
    max-width: 270px;
  }
}

.mainTable td {
  max-width: unset !important;
}


.mainTable tr {
  border: var(--main-border);
}

.profileUsername {
  min-width: 30vw;
  font-size: large;
  text-align: center;
}
 

.friendsContainer {
  width: 300px;
}

.welcomeMessage {
  text-align: center;
}

.welcomeTitle {
  color: var(--secondary-font-color);
  font-weight: bold;
  font-size:12px;
}
.profileControls  {
    text-align:center;
}
.avatar {
  width: 50px;
  height: 50px;
  border: var(--main-border);
  margin-left:auto;
  margin-right:auto;
}

.avatarBug, .avatarBrain, .avatarBust {
display:inline;
position: relative;  
  top: auto; /* Remove top positioning */
  left: auto; /* Remove left positioning */
}

.avatarBug {
  z-index: 3;
  font-size: 15px;
  left: 8px;
}
 

.avatarBust {
  font-size: 40px;
  top: -20px;
  left: -1px;
  z-index:2; 
} 
