<div class="componentMain">
  <div class="closeButton" (click)="remove_me('UserComponent');" *ngIf="canClose || (!loginOnly && (parentRef?.user || user))"></div>
  <div class="refreshButton" (click)="ngOnInit();" *ngIf="!loginOnly"></div>
  <div class="componentTitle" *ngIf="!loginOnly">{{user ? user.username : 'Login'}}</div>
  <div *ngFor="let notif of notifications" class="notification" (click)="notifications = []">{{notif}}</div>

  <div class="notificationCounterDiv" *ngIf="parentRef?.user">
    <app-notifications [minimalInterface]="true"
                       [inputtedParentRef]="parentRef">
    </app-notifications>
  </div>


  <div class="profileHeader">
    <div class="avatar" *ngIf="!loginOnly && (user && this.parentRef && user.displayPictureFile) && (user?.displayPictureFile ?? this.parentRef?.user?.displayPictureFile)">
      <app-media-viewer #displayPictureViewer
                        [displayExpander]="false"
                        [displayExtraInfo]="false"
                        [showCommentSection]="false"
                        [file]="user.displayPictureFile"
                        [currentDirectory]="user.displayPictureFile.directory"
                        [user]="user">
      </app-media-viewer>
    </div>
    <div class="profileHeaderInfo" *ngIf="!loginOnly">
      <div>
        {{user?.about?.description}}
      </div>
      <div *ngIf="parentRef?.user || user">
        <span class="invertedHighlights xxSmallFont">Location: </span>{{weatherLocation || 'Unknown'}} <span class="invertedHighlights xxSmallFont">Joined: </span>{{(user && user.created ? (user.created | date: 'y/MM/d') : 'Unknown')}} <span class="invertedHighlights xxSmallFont">({{user && user.created ? daysSince(user.created) : '0'}} days)</span>
      </div>
      <div>
        <div class="profileControls" *ngIf="user || parentRef?.user">
          <select (change)="onProfileControlsChange()" #profileControls>
            <option selected disabled>Options</option>
            <option *ngIf="user || parentRef?.user" value="shareProfile">📋 Share Profile</option>
            <option *ngIf="user && user != parentRef?.user && (user && parentRef?.user?.username != user.username) && !friendsIncludeMe() && canAddFriend(user)" value="addFriend">👤 Follow</option>
            <option *ngIf="areWeFriends(user)" value="removeFriend">👤 Remove Friend</option>
            <option *ngIf="user && parentRef && parentRef.user && user.id != parentRef.user.id && !contactsContains(user)" value="addContact">👤 Add Contact</option>
            <option value="showFriends">👤 Show Friends</option>
            <option *ngIf="user" value="chat">🗨️ Chat</option> 
            <option *ngIf="user" value="userInfo">ℹ️ {{ isAboutPanelOpen ? 'Hide ' : '' }} User Info</option>
            <option *ngIf="user && user.id == parentRef?.user?.id" value="settings">⚙️ Settings</option>
            <option *ngIf="user && user.id == parentRef?.user?.id" value="logout">🔑 Logout</option>
          </select>
        </div>
      </div>
    </div>
  </div>

  <!--LOGIN AREA-->
  <div *ngIf="(user && parentRef && parentRef.user && user.id == parentRef.user.id) || !user && !parentRef?.user">
    <div>
      <div *ngIf="!parentRef?.user">
        <div class="bughostedHeader">
          <div class="emptyUserTagLogo" *ngIf="!loginOnly">
            <app-user-tag [displayEmptyAvatar]="true"></app-user-tag>
          </div>
          <div class="bugHostedLogo" *ngIf="!loginOnly">
            BugH_sted
          </div>
          <div class="welcomeMessage" *ngIf="!loginOnly">
            <p class="welcomeTitle">Social... <small>and anti-social</small> Community🪲</p>
            <p class="welcomeTitle">Total users: <span [class]="!usersCount && !isLoading ? 'redText' : ''">{{usersCount && !isLoading ? usersCount : !usersCount && !isLoading ? 'Server is down!' : 'Unknown Error'}}</span></p>
          </div>

          <div *ngIf="loginOnly" class="loginOnlyInstructionDiv">
            {{loginReasonMessage ? loginReasonMessage : "Remember to log in to save your progress!"}}
          </div>

          <div class="loginDiv">
            <input type="text" placeholder="Username" #loginUsername (keydown.enter)="login()" />
            <input type="password" placeholder="Password" #loginPassword (keydown.enter)="login()" />
            <div>
              <input type="submit" value="🔑 Login" (click)="login()" />
              <input type="submit" value="👤➕ Create User" (click)="createUser()" />
              <input type="submit" value="👤➕ Guest" (click)="createUser(true)" />
            </div>
          </div>
        </div>
        <div *ngIf="!usersCount && !isLoading">Server down</div>
        <p *ngIf="!loginOnly" class="moreInfoTitle welcomeTitle cursorPointerUnderlined" (click)="isAboutOpen = !isAboutOpen">{{ !isAboutOpen ? 'Click here for more' : 'Show less'}} information</p>
        <div *ngIf="isAboutOpen" class="aboutSiteDiv">
          <ul>
            <li>
              Play games together
              <app-media-viewer [fileId]="6373"
                                [inputtedParentRef]="parentRef"
                                [displayExtraInfo]="false"
                                [showCommentSection]="false"
                                [displayExpander]="false">
              </app-media-viewer>
            </li>
            <li>
              Interact with users
              <app-media-viewer [fileId]="6374"
                                [inputtedParentRef]="parentRef"
                                [displayExtraInfo]="false"
                                [showCommentSection]="false"
                                [displayExpander]="false">
              </app-media-viewer>
            </li>
            <li>
              Social Media platform
              <app-media-viewer [fileId]="6375"
                                [inputtedParentRef]="parentRef"
                                [displayExtraInfo]="false"
                                [showCommentSection]="false"
                                [displayExpander]="false">
              </app-media-viewer>
            </li>
            <li>
              Memes
              <app-media-viewer [fileId]="6376"
                                [inputtedParentRef]="parentRef"
                                [displayExtraInfo]="false"
                                [showCommentSection]="false"
                                [displayExpander]="false">
              </app-media-viewer>
            </li>
            <li>
              Shared Filesystem
              <app-media-viewer [fileId]="6380"
                                [inputtedParentRef]="parentRef"
                                [displayExtraInfo]="false"
                                [showCommentSection]="false"
                                [displayExpander]="false">
              </app-media-viewer>
            </li>
            <li>
              Cryptocurrency Tools
              <app-media-viewer [fileId]="6377"
                                [inputtedParentRef]="parentRef"
                                [displayExtraInfo]="false"
                                [showCommentSection]="false"
                                [displayExpander]="false">
              </app-media-viewer>
              <app-media-viewer [fileId]="6378"
                                [inputtedParentRef]="parentRef"
                                [displayExtraInfo]="false"
                                [showCommentSection]="false"
                                [displayExpander]="false">
              </app-media-viewer>
            </li>
            <li>
              Music and self organization tools
              <app-media-viewer [fileId]="6379"
                                [inputtedParentRef]="parentRef"
                                [displayExtraInfo]="false"
                                [showCommentSection]="false"
                                [displayExpander]="false">
              </app-media-viewer>
            </li>
            <li>
              Calendar
              <app-media-viewer [fileId]="6381"
                                [inputtedParentRef]="parentRef"
                                [displayExtraInfo]="false"
                                [showCommentSection]="false"
                                [displayExpander]="false">
              </app-media-viewer>
            </li>
            <li>
              Todo
              <app-media-viewer [fileId]="6382"
                                [inputtedParentRef]="parentRef"
                                [displayExtraInfo]="false"
                                [showCommentSection]="false"
                                [displayExpander]="false">
              </app-media-viewer>
            </li>
          </ul>
          And more! All available for free in our public <a href="https://github.com/maxhanna/BugHosted">GitHub repository</a>
        </div>
      </div>
    </div>
  </div>


  <!-- SOCIAL -->
  <div *ngIf="user || parentRef?.user">
    <app-social #socialComponent
                [user]="user"
                [parent]="parentRef"
                [showTopicSelector]="false"
                *ngIf="user && parentRef"></app-social>
  </div>

  <div *ngIf="user && user.id == parentRef?.user?.id && parentRef?.user?.username?.includes('Guest')" class="xxSmallFont">Note: <span class="italics">Guest accounts will be deleted after 10 days.</span></div>
</div>

<!-- Friends Popup -->
<div class="popupPanel" *ngIf="isFriendsPanelOpen">
  <div class="popupPanelTitle">
    {{ isEditingFriends ? 'Deleting ' : ''}}Friends
    <span *ngIf="!userId || userId == parentRef?.user?.id"
          (click)="isEditingFriends = !isEditingFriends"
          class="smallFont cursorPointerUnderlined">
      [{{ isEditingFriends ? 'cancel' : 'edit' }}]
    </span>
  </div>
  <div *ngIf="!isEditingFriends" class="friendsPopupContainer mainFriendsPopupDiv">

    <div *ngIf="friends" class="friendsListWrapperDiv">
      <div *ngFor="let friend of friends" class="friendsListDiv">
        <div (click)="viewProfile(friend)" class="usernameProfileLink">
          <app-user-tag [user]="friend" [inputtedParentRef]="parentRef"></app-user-tag>
        </div>
      </div>

    </div>
    <div *ngIf="isLoading && (!friends || friends.length == 0)">Loading friends list...</div>
    <div *ngIf="!isLoading && (!friends || friends.length == 0)">Friends list is empty.</div>
  </div>

  <div *ngIf="!isEditingFriends && friendRequestsSent.length > 0">
    Following:
  </div>
  <div *ngIf="!isEditingFriends && friendRequestsSent.length > 0" class="friendsPopupContainer mainFriendsPopupDiv">
    <div *ngFor="let friendReq of friendRequestsSent" class="friendsListDiv friendsRequestReceivedList">
      <div class="usernameProfileLink">
        <app-user-tag [user]="friendReq.receiver" [inputtedParentRef]="parentRef" [displayMiniTag]="true"></app-user-tag>
      </div>
      <div class="friendshipRequestActionDiv" *ngIf="!userId || userId == parentRef?.user?.id">
        <span (click)="deleteFriendshipRequest(friendReq)" class="cursorPointer" title="Unfollow">❌</span>
      </div>
    </div>
  </div>

  <div *ngIf="!isEditingFriends && friendRequestsReceived.length > 0">
    Followers:
  </div>
  <div *ngIf="!isEditingFriends && friendRequestsReceived.length > 0" class="friendsPopupContainer mainFriendsPopupDiv">
    <div *ngFor="let friendReq of friendRequestsReceived" class="friendsListDiv friendsRequestReceivedList">
      <div class="usernameProfileLink">
        <app-user-tag [user]="friendReq.sender" [inputtedParentRef]="parentRef" [displayMiniTag]="true"></app-user-tag>
      </div>
      <div class="friendshipRequestActionDiv" *ngIf="!userId || userId == parentRef?.user?.id">
        <span (click)="acceptFriendshipRequest(friendReq)" class="cursorPointer" title="Follow Back">➕</span>
      </div>
    </div>
  </div>


  <div *ngIf="isEditingFriends" class="friendsPopupContainer">
    <div *ngIf="friends" class="friendsListWrapperDiv deletingFriendsListWrapper">

      <div *ngFor="let friend of friends" class="friendsListDiv deletingFriendsList">
        <div>
          <app-user-tag [user]="friend" [inputtedParentRef]="parentRef" [displayMiniTag]="true"></app-user-tag>
        </div>
        <div *ngIf="!userId || userId == parentRef?.user?.id">
          <span title="Remove Friend" (click)="removeFriend(friend)" class="cursorPointer">
            ❌
          </span>
        </div>
      </div>

    </div>
  </div>
  <div>
    <button id="closeOverlay" (click)="closeFriendsPanel()">Close</button>
  </div>
</div>
 
<!-- About User Popup -->
<div class="popupPanel aboutPopupPanel" *ngIf="isAboutPanelOpen">
  <div class="popupPanelTitle">
    About User
  </div>
  <div class="aboutPopupPanelContentContainer">
    <div class="topProfileContainer" id="aboutContainer">
      <div *ngIf="user || parentRef?.user" class="aboutContainer"> 
        <span class="smallExpander mainTable" (click)="expandDiv('aboutContainer');"> 
        <span class="cursorPointerUnderlined mainTable" (click)="expandDiv('aboutContainer'); isAboutExpanded = !isAboutExpanded">About</span> 
          {{isAboutExpanded ? '-' : '+'}}
        </span> 
        <span class="cursorPointerUnderlined mainTable" (click)="expandDiv('aboutContainer');">About</span>

        <div class="mainTableDiv" *ngIf="isAboutExpanded">
          <table class="mainTable aboutTable" *ngIf="user?.about && (user?.about?.description || user?.about?.birthday || user?.about?.email || user?.about?.phone || wordlerStreak > 0)">
            <tbody>
              <tr *ngIf="user?.about?.description">
                <td colspan="2" title=Description>
                  {{user?.about?.description}}
                </td>
              </tr>
              <tr *ngIf="user?.lastSeen">
                <td title="Last Seen" colspan="2">
                  Last Seen : {{daysSince(user?.lastSeen)}} days ago.
                </td>
              </tr>
              <tr *ngIf="user?.about?.email">
                <td colspan="2" title="Email">
                  {{user?.about?.email}}
                </td>
              </tr>
              <tr *ngIf="user?.about?.birthday">
                <td title="Birthday" colspan="2">
                  {{user?.about?.birthday}}
                </td>
              </tr>
              <tr *ngIf="user?.about?.phone">
                <td title="Phone Number" colspan="2">
                  {{user?.about?.phone}}
                </td>
              </tr>
              <tr *ngIf="wordlerStreak > 0">
                <td title="Wordler Streak" colspan="2">
                  Current Wordler streak: {{wordlerStreak}} consecutive days.
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div> 
    </div> 
    </div>  

    <!-- WORDLER SCORES-->
    <div class="topProfileContainer" id="wordlerScoresProfileContainer" (click)="expandDiv('wordlerScoresProfileContainer');">
      <div *ngIf="user || parentRef?.user" class="wordlerScoreDiv"> 
        <span class="cursorPointerUnderlined mainTable">Best Wordler Scores</span> 
        <span class="smallExpander mainTable">
          {{isWordlerScoresExpanded ? '-' : '+'}}
        </span> 
        <span class="cursorPointerUnderlined mainTable">
          Best Wordler Scores
          <span class="xxSmallFont">(out of {{wordlerScoresCount}} total scores)</span>
        </span> 

        <div *ngIf="wordlerScores.length > 0 && isWordlerScoresExpanded" class="mainTableDiv">
          <table *ngIf="wordlerScores && wordlerScores.length > 0" class="mainTable" id="scoreTable">
            <thead>
              <tr>
                <th (click)="sortTable(1, 'scoreTable')">Score</th>
                <th (click)="sortTable(2, 'scoreTable')">Time</th>
                <th (click)="sortTable(3, 'scoreTable')">Difficulty</th>
                <th (click)="sortTable(3, 'scoreTable')">Date</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let score of wordlerScores">
                <td>{{score.score + 1}}</td>
                <td>{{score.time}}</td>
                <td>{{score.difficulty == 4 ? 'Easy Difficulty' : score.difficulty == 5 ? 'Medium Difficulty' : score.difficulty == 6 ? 'Hard Difficulty' : 'Master Wordler'}}</td>
                <td>{{score.submitted!.toString().replace('T', ' ')}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div *ngIf="!wordlerScores || wordlerScores.length == 0 && !isLoading && isWordlerScoresExpanded">No Worlder scores yet!</div>
      </div>
    </div>

    <!-- MUSIC --> 
    <div class="topProfileContainer" id="musicProfileContainer"> 
      <span class="smallExpander mainTable" (click)="expandDiv('musicProfileContainer');">
        {{isMusicContainerExpanded ? '-' : '+'}}
      </span>
      <span class="cursorPointerUnderlined mainTable" (click)="expandDiv('musicProfileContainer');">
        Music Playlist
        <span class="xxSmallFont">{{'('+(playListCount || songPlaylist.length)+')'}}</span>
      </span>

      <div *ngIf="isMusicContainerExpanded">
        <app-music *ngIf="isMusicContainerExpanded"
                    [user]="user"
                    [songPlaylist]="songPlaylist"
                    [smallPlayer]="true"
                    (gotPlaylistEvent)="gotPlaylistEvent($event)">
        </app-music>
      </div>  
    <div class="topProfileContainer" id="musicProfileContainer">
      <div *ngIf="user || parentRef?.user" class="">
        <span class="cursorPointerUnderlined mainTable" (click)="expandDiv('musicProfileContainer'); isMusicContainerExpanded = !isMusicContainerExpanded">Music Playlist</span>
        <span class="smallExpander mainTable" (click)="expandDiv('musicProfileContainer'); isMusicContainerExpanded = !isMusicContainerExpanded">
          {{'('+(playListCount || songPlaylist.length)+')'}}{{isMusicContainerExpanded ? '-' : '+'}}
        </span>
        <div style="width:100%;height:100px;overflow:auto;" *ngIf="isMusicContainerExpanded">
          <app-music *ngIf="isMusicContainerExpanded"
                     [user]="user"
                     [songPlaylist]="songPlaylist"
                     [smallPlayer]="true"
                     (gotPlaylistEvent)="gotPlaylistEvent($event)">
          </app-music>
        </div>
      </div> 
    </div>
  </div>
  <div>
    <button id="closeOverlay" (click)="closeAboutPanel()">Close</button>
  </div>
</div>

<!-- Friends Popup -->
<div class="popupPanel" *ngIf="isFriendsPanelOpen">
  <div class="popupPanelTitle">
    {{ isEditingFriends ? 'Deleting ' : ''}}Friends
    <span *ngIf="!userId || userId == parentRef?.user?.id"
          (click)="isEditingFriends = !isEditingFriends"
          class="smallFont cursorPointerUnderlined">
      [{{ isEditingFriends ? 'cancel' : 'edit' }}]
    </span>
  </div>
  <div *ngIf="!isEditingFriends" class="friendsPopupContainer mainFriendsPopupDiv">

    <div *ngIf="friends" class="friendsListWrapperDiv">
      <div *ngFor="let friend of friends" class="friendsListDiv">
        <div (click)="viewProfile(friend)" class="usernameProfileLink">
          <app-user-tag [user]="friend" [inputtedParentRef]="parentRef"></app-user-tag>
        </div>
      </div>

    </div>
    <div *ngIf="isLoading && (!friends || friends.length == 0)">Loading friends list...</div>
    <div *ngIf="!isLoading && (!friends || friends.length == 0)">Friends list is empty.</div> 
  </div>

  <div *ngIf="!isEditingFriends && friendRequestsSent.length > 0">
    Following:
  </div>
  <div *ngIf="!isEditingFriends && friendRequestsSent.length > 0" class="friendsPopupContainer mainFriendsPopupDiv">  
    <div *ngFor="let friendReq of friendRequestsSent" class="friendsListDiv friendsRequestReceivedList">
      <div class="usernameProfileLink">
        <app-user-tag [user]="friendReq.receiver" [inputtedParentRef]="parentRef" [displayMiniTag]="true"></app-user-tag>
      </div>
      <div class="friendshipRequestActionDiv" *ngIf="!userId || userId == parentRef?.user?.id"> 
        <button (click)="deleteFriendshipRequest(friendReq)" class="cursorPointer" title="Cancel Friendship Request">❌Cancel</button>
      </div>
    </div> 
  </div>

  <div *ngIf="!isEditingFriends && friendRequestsReceived.length > 0">
    Followers:
  </div>
  <div *ngIf="!isEditingFriends && friendRequestsReceived.length > 0" class="friendsPopupContainer mainFriendsPopupDiv"> 
    <div *ngFor="let friendReq of friendRequestsReceived" class="friendsListDiv friendsRequestReceivedList">
      <div class="usernameProfileLink">
        <app-user-tag [user]="friendReq.sender" [inputtedParentRef]="parentRef" [displayMiniTag]="true"></app-user-tag>
      </div>
      <div class="friendshipRequestActionDiv" *ngIf="!userId || userId == parentRef?.user?.id">
        <button (click)="acceptFriendshipRequest(friendReq)" class="cursorPointer" title="Accept Friendship Request">➕Follow Back</button>
        <!--<button (click)="denyFriendshipRequest(friendReq)" class="cursorPointer" title="Deny Friendship Request">❌Deny</button>-->
      </div>
    </div>
  </div>


  <div *ngIf="isEditingFriends" class="friendsPopupContainer">
    <div *ngIf="friends" class="friendsListWrapperDiv deletingFriendsListWrapper">

      <div *ngFor="let friend of friends" class="friendsListDiv deletingFriendsList">
        <div>
          <app-user-tag [user]="friend" [inputtedParentRef]="parentRef" [displayMiniTag]="true"></app-user-tag>
        </div>
        <div *ngIf="!userId || userId == parentRef?.user?.id">
          <span title="Remove Friend" (click)="removeFriend(friend)" class="cursorPointer">
            ❌
          </span>
        </div>
      </div>

    </div>
  </div>
  <div>
    <button id="closeOverlay" (click)="closeFriendsPanel()">Close</button>
  </div>
</div>
