 
.unitInput {
  width: 25px;
}
.bottomButtons {
  display: flex;
  justify-content: center;
}
.titleMessage {
    padding:5px;
    text-align:center;
}
.unitStatsDiv { 
  display: flex; 
  justify-content: space-evenly;
  align-items: center;
}
