<ng-content *ngIf="originBase">

  Select units to send from {{'{' + originBase.coordsX + ',' + originBase.coordsY + '}'}}:
  <div class="unitsTableDiv">
    <table class="mainTable">
      <tbody *ngFor="let unit of unitStats">
        <tr>
          <td class="unitPictureTd">
            <img [src]="unit.pictureSrc" class="unitPicture" *ngIf="unit.pictureSrc" />
          </td>
          <td class="unitPictureTd">
            {{ unit.unitType }}
          </td>
          <td class="unitSliderTd">
            <input type="range" class="unitSliderTd" [value]="unit.sentValue ?? 0" [min]="0" [max]="maxSliderValue(unit)" [step]="1" (input)="onSliderChange($event, unit)" />
          </td>
          <td>
            {{unit.sentValue ? unit.sentValue : '0'}}
          </td>
        </tr>
        <tr *ngIf="unit.sentValue"> 
          <td class="smallFont" colspan="4">
            ⏱️ETA:{{ formatTimer(calculateAttackDuration(unit))}}
            ⚔️:{{ unit.groundDamage * (unit.sentValue ? unit.sentValue : 1)}}
            🚀:{{ unit.airDamage * (unit.sentValue ? unit.sentValue : 1)}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <button (click)="closeAttackScreen()">Cancel</button>
  <button (click)="engageAttack()" [disabled]="!isEngagingUnits()">Engage</button> 

</ng-content>
