<ng-content *ngIf="originBase && selectedNexus">

  Select units to send from {{'{' + originBase.coordsX + ',' + originBase.coordsY + '}'}} to {{'{' + selectedNexus.coordsX + ',' + selectedNexus.coordsY + '}'}}:
  <div class="unitsTableDiv">
    <table class="mainTable">
      <tbody *ngFor="let unit of getAvailableUnitStats()">
        <tr>
          <td class="unitPictureTd">
            <img [src]="unit.pictureSrc" class="unitPicture" *ngIf="unit.pictureSrc" />
          </td>
          <td class="unitPictureTd">
            {{ unit.unitType }}
          </td>
          <td class="unitSliderTd">
            <input type="range" class="unitSliderTd" [value]="unit.sentValue ?? 0" [min]="0" [max]="maxSliderValue(unit)" [step]="1" (input)="onSliderChange($event, unit)" />
          </td>
          <td>
            <input [value]="unit.sentValue ? unit.sentValue : '0'" (keyup)="onSliderChange($event, unit)" class="unitInput" />
          </td>
        </tr>
        <tr *ngIf="unit.sentValue">
          <td class="smallFont" colspan="4">
            ⏱️ETA:{{ formatTimer(calculateAttackDuration(unit))}}
            ⚔️:{{ unit.groundDamage * (unit.sentValue ? unit.sentValue : 1)}}
            🚀:{{ unit.airDamage * (unit.sentValue ? unit.sentValue : 1)}}
          </td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="getAvailableUnitStats().length == 0" class="notification">No units currently in base</div>
  </div>
  <button (click)="closeAttackScreen()">Cancel</button>
  <button (click)="engageAttack()" [disabled]="!isEngagingUnits() || isLoading" [style.display]="hasUnitsToSend() ? 'inline-block' : 'none'" >Engage</button>
  <button (click)="engageAttackAllUnits()" [disabled]="isLoading" [style.display]="hasUnitsToSend() ? 'inline-block' : 'none'" >Send All Units</button>

</ng-content>
