<button *ngIf="!hide" class="storyControlFlairButton" (click)="insertBold();" title="Bold">
    <span style="font-weight:900">B</span>
</button>
<button *ngIf="!hide" class="storyControlFlairButton" (click)="insertItalics();" title="Italic">
    <span style="font-style:italic">I</span>
</button>
<button *ngIf="!hide" class="storyControlFlairButton" (click)="insertBullet();" title="Bullet-point">
    <span>&bull;</span>
</button>
<button *ngIf="!hide" class="storyControlFlairButton" (click)="insertH2();" title="Header">
    <span style="font-size:7px;">##</span>
</button>
<button *ngIf="!hide" class="storyControlFlairButton" (click)="insertH3();" title="Sub-Header">
    <span style="font-size:7px;">###</span>
</button>
<button *ngIf="!hide" class="storyControlFlairButton" (click)="openInsertEmojiPanel();" title="Emoji">
    <span>🙂</span>
</button>
<button *ngIf="!hide" class="storyControlFlairButton" (click)="insertPollSnippet();" title="Poll">
    <span>📊</span>
</button>
<button *ngIf="!hide" class="storyControlFlairButton" (click)="insertLink();" title="Insert Link">
    <span>🔗</span>
</button>
<button *ngIf="!hide" class="storyControlFlairButton" (click)="openComponentSelector();" title="Insert Component">
    <span>🧩</span>
</button>


<!-- Emoji picker Popup -->
<div class="popupPanel" *ngIf="isEmojiPanelOpen">
    <div>
        <div class="emojiFilterInputDiv">
            <input id="emojiFilter" #emojiFilter placeholder="🔍Search" (input)="searchForEmoji($event)" />
        </div>
        <div class="emojiFilterContainer">
            <span *ngFor="let emoji of filteredEmojis | keyvalue" (click)="insertEmoji(emoji.value)"
                style="cursor: pointer; font-size: 24px; margin: 5px;" [title]="emoji.key">
                {{ emoji.value }}
            </span>
        </div>
    </div>
    <button id="closeOverlay" class="closeButton" (click)="closeInsertEmojiPanel()">Close</button>
</div>

<!-- Component Selector Popup -->
<div *ngIf="showComponentSelector" class="popupPanel componentSelectorPanel">
    <div class="popupHeader">
        <div class="popupPanelTitle">Select Component</div>
    </div>

    <div class="componentSearch" style="padding:6px;">
        <input id="componentFilter" #componentFilter placeholder="🔍Search" style="width:100%;padding:6px;border-radius:4px;border:1px solid #ccc;" (input)="searchNavigationItems($event)" />
    </div>

    <div class="componentList">
        <div *ngFor="let item of getNavigationItems()" class="componentsItem" (click)="insertComponent(item.title)">
            <span class="componentsIcon">{{item.title != 'Weather' ? item.icon : '☀️'}}</span>
            <span class="componentsTitle">{{item.title}}</span>
        </div>
    </div>
    <button class="closeButton" id="closeOverlay" style="margin-top: 10px;"
        (click)="closeComponentSelector()">Close</button>
</div>

<!-- Crawler popup for inserting links -->
<div class="popupPanel crawlerPanel" *ngIf="isCrawlerOpen">
    <div class="popupPanelTitle">Select or add a link</div>
    <app-crawler [onlySearch]="true" [inputtedParentRef]="inputtedParentRef"
        (urlSelectedEvent)="crawlerUrlSelected($event)" (closeSearchEvent)="closeCrawler()"></app-crawler>
    <button id="closeOverlay" class="closeButton" (click)="closeCrawler()">Close</button>
</div>