<div class="componentMain">
  <div class="closeButton" (click)="remove_me('ChatComponent');"></div>
  <div class="menuButton" (click)="showMenuPanel();"></div>
  <div *ngIf="currentChatUsers" class="menuBackButton" (click)="closeChat();"></div>
  <div class="componentTitle">
    Chat
    <span *ngIf="currentChatUsers">
      with
      <span *ngFor="let user of getChatUsersWithoutSelf(); let i = index"
        (click)="user?.id ? viewProfile(user, 'Chat') : ''" class="cursorPointer"><span *ngIf="i > 0">,
        </span>{{user.username}}</span>
    </span>
  </div>

  <app-user-list (userClickEvent)="singleUserSelected($event);" (userSelectClickEvent)="userSelectClickEvent($event)"
    (groupChatEvent)="groupChatEvent($event)" [user]="parentRef?.user" [class.expanded]="isPanelExpanded"
    [displayOnlyFriends]="true" [displayRadioFilters]="true" [inputtedParentRef]="parentRef" class="userPanel"
    *ngIf="isPanelExpanded && showUserList">
  </app-user-list>
  <div class="chatArea" [class]="isPanelExpanded ? 'expanded' : ''">
    <div *ngIf="currentChatUsers">
      <div class="chatWindow" *ngIf="chatHistory" #chatWindow (scroll)="onScroll();">
        <div *ngIf="pageNumber < totalPages" appInView (inView)="loadPreviousPage()"
          style="width: 100%; text-align: center;" class="smallFont secondaryFontColor">
          <span>Current Page: {{pageNumber}}</span><span *ngIf="isLoadingPreviousPage">{{" "}}Loading...</span>
        </div>

        <div *ngFor="let message of chatHistory" [attr.id]="'messageText' + message.id" [class.messageContainer]="true"
          [class.otherPersonsMessage]="message.sender.id !== (parentRef?.user?.id ?? 0)"
          [style.flexDirection]="message.sender.id != (parentRef?.user?.id ?? 0) ? 'row-reverse' : 'row'">

          <span class="messageTimestamp">
            {{ getUtcTimestampString(message.timestamp) }}
            <span class="userSeen" *ngIf="message.seen" [title]="'Seen by:' + message.seen">👀</span>
          </span>

          <!-- Profile tag on left for receiver, right for sender -->
          <div class="profileTag">
            <div class="usernameProfileLink">
              <app-user-tag [user]="message.sender" [inputtedParentRef]="parentRef" [previousComponent]="'Chat'"
                [displayHoverPicture]="true" [containUsername]="true"></app-user-tag>
            </div>
          </div>
          <div class="messageContent" [attr.data-timestamp]="message.timestamp">
            <div [innerHTML]="getTextForDOM(decryptContent(message.content), 'messageText' + message.id)"
              *ngIf="!isEditing.includes(message.id)"></div>
            <div *ngIf="isEditing.includes(message.id)">
              <app-text-input 
                [inputtedParentRef]="parentRef ?? inputtedParentRef"
                [type]="'Chat'" 
                [chatId]="message.id" 
                [showPostInput]="true"
                [initialContent]="decryptContent(message.content)"
                (contentUpdated)="onChatUpdated($event, message)">
              </app-text-input>
            </div>
            <div class="xxSmallFont thirdFontColor" *ngIf="message.editDate" [title]="message.editDate">
              Edited: {{message.editDate | timeSince}}
            </div>

            <div *ngFor="let file of message.files"
              [style.marginTop]="(message.files && message.files.length > 0) ? '10px' : ''"
              [style.marginBottom]="(message.files && message.files.length > 0) ? '15px' : ''">
              <app-media-viewer [file]="file" [currentDirectory]="file.directory" [inputtedParentRef]="parentRef"
                [displayExtraInfo]="false" [displayExpander]="false" [showMediaInformation]="true"
                [showCommentSection]="false" [user]="parentRef?.user" [autoplay]="false" [autoload]="true"
                [previousComponent]="'Chat'">
              </app-media-viewer>
            </div>

            <div class="reactionDiv">
              <app-reaction [messageId]="message.id" [user]="parentRef?.user" [component]="message"
                [inputtedParentRef]="parentRef" [currentReactions]="message.reactions"
                [previousComponent]="'Chat'"></app-reaction>
              <button *ngIf="!isEditing.length" title="Quote Chat Message" (click)="quote(message)"
                class="coloredBgButton">🗨️</button>
              <button
                *ngIf="message.sender.id === (parentRef?.user?.id ?? 0) && (isEditing.includes(message.id) || isEditing.length == 0)"
                title="Edit Chat Message" class="coloredBgButton"
                (click)="isEditing.includes(message.id) ? acceptEdit(message) : edit(message)">
                ✏️{{ isEditing.includes(message.id) ? ' Accept' : '' }}
              </button>
              <button *ngIf="message.sender.id === (parentRef?.user?.id ?? 0) && isEditing.includes(message.id)"
                class="coloredBgButton" title="Cancel Edit Chat Message" (click)="stopEdit(message)">
                ❌Cancel
              </button>
            </div>
          </div>
        </div>

        <div *ngIf="(!chatHistory || chatHistory.length == 0) && !isLoading">
          ZZzzz. Empty chat!
        </div>
        <div *ngIf="(!chatHistory || chatHistory.length == 0) && isLoading">
          Loading chat...
        </div>
      </div>

      <div [style]="isEditing.length > 0 ? 'display: none' : ''">
        <app-text-input #chatInput [inputtedParentRef]="parentRef ?? inputtedParentRef" [type]="'Chat'"
          [quoteMessage]="quoteMessage" [chatId]="currentChatId" [currentChatUsers]="currentChatUsers"
          [enterToPost]="true" (contentPosted)="chatMessagePosted($event)"></app-text-input>
      </div>
    </div>
  </div>
</div>

<!-- Chat Members Popup -->
<div class="popupPanel" *ngIf="isDisplayingChatMembersPanel">
  <div class="popupPanelTitle">
    Chat Members
  </div>
  <div class="addChatMembersList gradientBackground">
    <div *ngFor="let chatMember of currentChatUsers" class="addChatMemberLi">
      <app-user-tag [user]="chatMember" [inputtedParentRef]="parentRef ?? inputtedParentRef" [displayMiniTag]="true"
        [displayHoverPicture]="true" [previousComponent]="'Chat'"></app-user-tag>
    </div>
  </div>
  <div style="width: 100%; margin-top: 5px; text-align: center; max-height: 250px; overflow: auto">
    Add Chat Member(s) :
    <div style="max-height:200px; width: 100%; overflow:auto; display: inline;">
      <app-user-list [searchOnly]="true" [inputtedParentRef]="inputtedParentRef ?? parentRef"
        (groupChatEvent)="addChatMember($event)"></app-user-list>
    </div>
  </div>
  <button id="closeOverlay" (click)="closeChatMembersPanel()" class="closeButton"
    style="margin-top: 10px;">Close</button>
</div>


<!-- Menu Popup -->
<div class="popupPanel chatMenuPopupPanel" *ngIf="isMenuPanelOpen">
  <div class="popupPanelTitle" style="margin-bottom:15px;">
    Chat Menu
  </div>
  <div class="optionsStatsWrapperDiv chatMenuPopupWrapperDiv">
    <div class="optionsStatsDiv" *ngIf="!showUserList">
      <div class="optionsStatsHeader">Page:</div>
      <div class="optionsStatsDescription">
        <select (change)="changePage($event)" #changePageMenuSelect>
          <option *ngFor="let page of totalPagesArray; let i = index" [value]="i+1">{{ i+1 }}</option>
        </select>
      </div>
    </div>
    <div class="optionsStatsDiv" *ngIf="!showUserList">
      <div class="optionsStatsHeader">Close Chat:</div>
      <div class="optionsStatsDescription">
        <button (click)="closeChat()">Back</button>
      </div>
    </div>
    <div class="optionsStatsDiv" *ngIf="!showUserList && currentChatId">
      <div class="optionsStatsHeader">Leave Chat:</div>
      <div class="optionsStatsDescription">
        <button (click)="leaveChat(currentChatId)">Leave</button>
      </div>
    </div>
    <div class="optionsStatsDiv">
      <div class="optionsStatsHeader" title="When Ghost Read is enabled: Read date no longer updates.">Ghost Read:</div>
      <div class="optionsStatsDescription" title="When Ghost Read is enabled: Read date no longer updates.">
        <button (click)="enableGhostRead()">{{ghostReadEnabled ? '🙈Disable' : '🙉Enable'}}</button>
      </div>
    </div>
    <div class="optionsStatsDiv" *ngIf="!showUserList && currentChatUsers">
      <div class="optionsStatsHeader">
        Members:
        <span *ngIf="currentChatUsers.length > 1" style="cursor: pointer" (click)="displayChatMembers()">
          ({{currentChatUsers.length}})</span>
      </div>
      <div class="optionsStatsDescription">
        <button (click)="displayChatMembers()">Display</button>
      </div>
    </div>
  </div>
  <div class="smallFont thirdFontColor">
    Note: Chat messages are end-to-end encrypted with quantum-resistant encryption. We take your privacy seriously. That
    means your chat messages leave your computer securely encrypted over the internet, and kept encrypted in our
    database. No one but you and the recipient(s) can read these messages.
  </div>
  <div class="chatMenuPopupCloseDiv">
    <button id="closeOverlay" (click)="closeMenuPanel()">Close</button>
  </div>
</div>