<div class="componentMain">
  <div class="closeButton" (click)="remove_me('ChatComponent');"></div>
  <div class="refreshButton" (click)="ngOnInit();"></div>
  <div class="componentTitle">Chat</div>


  <app-user-list (userClickEvent)="openChat($event);"
                 [user]="parentRef?.user!"
                 [chatNotifications]="notifications"
                 [class.expanded]="isPanelExpanded"
                 class="userPanel"
                 *ngIf="isPanelExpanded">
  </app-user-list>

  <div class="chatArea" [class]="isPanelExpanded ? 'expanded' : ''">
    <div *ngIf="currentChatUser">
      <div class="chatHeader">
        <span style="margin-right:10px;">
          Chat with
          <span class="usernameProfileLink cursorPointer" (click)="viewProfile(currentChatUser);">
            {{ currentChatUser.username }}
          </span>
        </span>
        <div class="pagination-controls" *ngIf="!isPanelExpanded">
          <select (change)="changePage($event)">
            <option *ngFor="let page of totalPagesArray; let i = index" [value]="i+1">{{ i+1 }}</option>
          </select>
        </div>
        <button (click)="closeChat()">Close Chat with {{ currentChatUser.username }}</button>
      </div>
      <div class="chatWindow" *ngIf="chatHistory" #chatWindow (scroll)="onScroll();">
        <div *ngFor="let message of chatHistory" [class]="{'align-left': message.sender.id === parentRef?.user!.id, 'align-right': message.sender.id !== parentRef?.user!.id, 'messageContainer': true}">
          <!-- USER MESSAGE -->
          <ng-container *ngIf="message.sender.id === parentRef?.user!.id">
            <div class="profileTag">
              <div class="usernameProfileLink">
                <app-user-tag [user]="message.sender" [inputtedParentRef]="parentRef"></app-user-tag>
              </div>
              ({{ formatTimestamp(message.timestamp) }})
            </div>
            <div class="messageContent">
              {{ message.content }}
              <div *ngFor="let file of message.files">
                <app-media-viewer [file]="file"
                                  [currentDirectory]="file.directory"
                                  [inputtedParentRef]="parentRef"
                                  [displayExtraInfo]="false"
                                  [showCommentSection]="false"
                                  [user]="parentRef?.user"
                                  [autoplay]="true"
                                  [autoload]="false">
                </app-media-viewer>
              </div>
              <app-reaction [messageId]="message.id" [user]="parentRef?.user" [currentReactions]="message.reactions"></app-reaction>
            </div>
          </ng-container>
          <!-- RECEIVER MESSAGE -->
          <ng-container *ngIf="message.sender.id !== parentRef?.user!.id">
            <div class="messageContent">
              {{ message.content }}
              <div *ngFor="let file of message.files">
                <div class="attachmentMedia">
                  <app-media-viewer [file]="file"
                                    [currentDirectory]="file.directory"
                                    [inputtedParentRef]="parentRef"
                                    [displayExtraInfo]="false"
                                    [showCommentSection]="false"
                                    [user]="parentRef?.user"
                                    [autoplay]="true"
                                    [autoload]="false">
                  </app-media-viewer>
                </div>
              </div>
              <app-reaction [messageId]="message.id"
                            [user]="parentRef?.user"
                            [currentReactions]="message.reactions"></app-reaction>
            </div>
            <div class="profileTag">
              <div class="usernameProfileLink">
                <app-user-tag [user]="message.sender" [inputtedParentRef]="parentRef"></app-user-tag>
              </div>
              ({{ formatTimestamp(message.timestamp) }})
            </div>
          </ng-container>
        </div>
        <div *ngIf="(!chatHistory  || chatHistory.length == 0 ) && !isLoading">
          ZZzzz. Empty chat!
        </div>
        <div *ngIf="(!chatHistory  || chatHistory.length == 0 ) && isLoading">
          Loading chat...
        </div>
      </div>
      <div class="messageInput">
        <input placeholder="Type a message" #newMessage (keydown.enter)="sendMessage()" />
        <button (click)="sendMessage()">🗨️Send</button>
        <div>
          <app-media-selector [currentDirectory]="'Users/' + (parentRef?.user && parentRef?.user?.id != 0 ? parentRef?.user!.username : 'Anonymous')"
                              [user]="parentRef?.user"
                              [inputtedParentRef]="parentRef"
                              (selectFileEvent)="selectFile($event)">
          </app-media-selector>
        </div>
      </div>
      <div *ngIf="attachedFiles && attachedFiles.length > 0">Attachments :</div>
      <div *ngIf="attachedFiles && attachedFiles.length > 0" class="attachedFilesDiv">
        <div *ngFor="let file of attachedFiles">{{file.fileName}}</div>
      </div>
    </div>
  </div>
</div>
