.componentMain {
  display: flex;
  flex-direction: column;
  min-height: 300px;
  min-width: 300px;
}

@media only screen and (min-width:800px) {
  .componentMain {
    min-width: 500px;
    max-width: 40vw;
  }
}

@media only screen and (max-width:800px) {
  .componentMain {
    width: 99vw;
  }
}

.userPanel {
  width: 0px;
  height: 0px;
  overflow-x: hidden;
  display: none;
}

.userPanel.expanded {
  width: 100%;
  height: CALC(var(--vh, 1vh) * 100 - 60px);
  display: block;
}


.chatArea {
  margin-left: 0;
  width: 100%;
}

/* Use the global theme variables so per-chat user themes affect the chat area */
.chatArea {
  background-color: var(--main-bg-color, transparent);
  color: var(--main-font-color, inherit);
  background-image: var(--main-background-image-url, none);
  background-size: cover;
  background-position: center;
}

.messageInputInnerDiv {
  display: flex;
  flex-direction: column;
}

.chatHeader {
  margin: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chatWindow {
  border: 1px solid #ccc;
  padding: 10px;
  max-height: CALC(var(--vh, 1vh) * 100 - 160px);
  overflow: auto;
  margin-bottom: 10px;
}


.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.align-right * {
  border-color: var(--secondary-font-color);
}

.messageContainer {
  display: flex;
  margin: 20px 0;
  position: relative;
  background: linear-gradient(to bottom, var(--main-highlight-color), transparent);
  border-radius: 12px;
  border: var(--main-border);
  padding-left: 12px;
  padding-right: 12px;
}

.align-left .messageContainer {
  text-align: left;
}

.align-right .messageContainer {
  text-align: right;
}

.messageContent {
  display: inline-block;
  padding: 10px 10px;
  word-break: break-word;
  width: 100%;
}

.messageSender {
  color: var(--secondary-font-color);
}

.messageInput {
  display: flex;
  gap: 10px;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.profileTag {
  margin-left: unset !important;
  margin-right: unset !important;
  margin-top: 5px;
  text-align: center;
  width: 50px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: column;
}

.attachedFilesDiv {
  display: flex;
  justify-content: center;
}

.otherPersonsMessage {
  background: linear-gradient(to bottom, var(--secondary-component-background-color), transparent);
}

.messageTimestamp {
  font-size: xx-small;
  white-space: nowrap;
  position: absolute;
  top: -12px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: auto;
}

.reactionDiv {
  display: flex;
  margin-top: 10px;
  gap: 20px;
}

.otherPersonsReactionDiv {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  gap: 20px;
}

.reactionDiv button,
.otherPersonsReactionDiv button {
  cursor: pointer;
}

.chatUserConnected {
  cursor: pointer;
}

.chatUserConnected span {
  text-decoration: underline;
}

.chatUserConnected:not(:last-of-type)::after {
  content: ",";
  margin-right: 5px;
}

.pagination-controls {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.chatMenuPopupPanel {
  max-width: 420px;
}

.popupPanelTitle {
  display: flex; 
  justify-content: space-evenly;
}

.addChatMembersList {
  margin-top: 15px;
  max-height: 100px;
  overflow: auto;
  gap: 10px;
  width: calc(100% - 20px);
  border: var(--main-border);
  border-radius: 8px;
}

.addChatMemberLi {
  width: 100%;
}

.addChatMemberLi:not(:last-child) {
  border-bottom: var(--main-border);
}

.receiverSeen,
.userSeen {
  font-size: xx-small;
  cursor: pointer;
  margin-left: 5px;
}

.chatMenuPopupWrapperDiv {
  height: unset !important;
}

.chatMenuPopupWrapperDiv .optionsStatsDiv {
  margin-bottom: 15px;
}

.chatMenuPopupCloseDiv {
  margin: 20px 20px 0px 20px;
}


.poll-container {
  width: 100%;
}

.serverDown {
  color: red;
  text-align: center;
}