.componentMain {
  display: flex;
  flex-direction: column;
  min-height: 300px;
}

.userPanel {
  position: absolute;
  top: 60px;
  left: 0;
  height: CALC(100% - 60px);
  width: 0;
  overflow-x: hidden;
  transition: 0.3s;
  z-index: 1;
}

  .userPanel.expanded {
    width: 100px;
  }


.chatArea {
  margin-left: 0;
  transition: margin-left 0.3s;
  width: 100%;
}

  .chatArea.expanded {
    width: CALC(100% - 100px);
  }

.userPanel.expanded ~ .chatArea {
  margin-left: 100px;
}

.chatHeader {
  margin: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chatWindow {
  border: 1px solid #ccc;
  padding: 10px;
  max-height: 300px;
  max-width: 570px;
  overflow-y: auto;
  margin-bottom: 10px;
}

@media only screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 1.5) {
  .chatWindow {
    max-width: 270px;
  }
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.messageContainer {
  margin: 10px 0;
}

.align-left .messageContainer {
  text-align: left;
}

.align-right .messageContainer {
  text-align: right;
}

.messageContent {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: var(--main-highlight-color);
}

.messageSender {
  color: var(--secondary-font-color);
}

.messageInput {
  width: 100%;
}

  .messageInput input {
    width: CALC(100% - 50px);
  }

  .messageInput button {
    width: 42px;
  }

input[type="text"] {
  touch-action: manipulation;
}
