<div class="shareUserListDiv" #shareUserListDiv>
  <div>Share {{selectedSharedFile?.givenFileName ?? selectedSharedFile?.fileName ?? ''}} With?</div>
  <div class="shareUserList"><app-user-list (userClickEvent)="shareFile($event);" [user]="user!" *ngIf="showShareUserList"></app-user-list></div>
</div>
<div class="filters" *ngIf="showPrivatePublicOption && showData">
  <div>
    <label>
      Visibility:
      <select (change)="setFilterVisibility($event)">
        <option value="all" [selected]="filter.visibility === 'all'">All</option>
        <option value="public" [selected]="filter.visibility === 'public'">Public</option>
        <option value="private" [selected]="filter.visibility === 'private'">Private</option>
      </select>
    </label>
  </div>
  <div>
    <label>
      Ownership:
      <select (change)="setFilterOwnership($event)">
        <option value="own" [selected]="filter.ownership === 'own'">Own</option>
        <option value="others" [selected]="filter.ownership === 'others'">Others</option>
      </select>
    </label>
  </div>
</div>
<!-- Page Controls -->
<div class="searchInput">
  <span *ngIf="totalPages > 1 && currentPage != 1">
    <button (click)="previousPage()" [disabled]="currentPage === 1">⬅️<span *ngIf="displayTotal || (searchTerms != '' && currentPage != 1)">{{currentPage - 1}}</span></button>
  </span>
  <input #search (keyup)="searchDirectory()" placeholder="🔍Search {{currentDirectory}}" />
  <span *ngIf="totalPages > 1">
    <button (click)="nextPage()" [disabled]="currentPage === totalPages"><span *ngIf="displayTotal || searchTerms != ''">{{totalPages}}</span>➡️</button>

  </span>
</div>

<div *ngIf="showData">
  <div *ngIf="displayTotal" class="totalDisplay">
    <span class="currentDirectorySpan" *ngIf="!search.value">
      Current Directory:
      <span class="invertedHighlights">{{currentDirectory || '.'}}</span>
    </span>

    Total: {{directory?.totalCount}}
  </div>

  <!-- Main Data -->
  <div class="">
    <div id="fileTable" *ngIf="!isLoading">
      <div *ngIf="showUpFolderRow && canChangeDirectory && !this.search.value">
        <div (click)="previousDirectory()"
             class="upOneFolder"
             title="Up one folder"
             (drop)="onDrop('...')"
             (dragover)="onDragOver($event)"
             colspan="4">
          ⬆️📁...
        </div>
      </div>

      <div *ngIf="directory && directory.totalCount! > 0" class="directoryDisplayDiv">
        <ng-container *ngFor="let file of directory.data; let i = index">
          <div class="draggableDiv"
               draggable="true"
               (dragstart)="onDragStart($event, file.fileName)">
            <div class="fileNameDiv {{ file.isFolder ? 'folder' : '' }}"
                 (dragover)="onDragOver($event)"
                 (drop)="onDrop(file.fileName)"
                 [id]="'fileIdDiv'+file.id"
                 [attr.data-content]="file?.givenFileName ?? file?.fileName ?? ''">
              <span class="fileNameWrapperSpan">
                <input type="text"
                       [placeholder]="file?.givenFileName ?? (file && file.fileName ? file.fileName.split('.')[0]! : 'New file name')"
                       [value]=""
                       [style.display]="isEditing.includes(file.id) ? 'inline-block':'none' "
                       (keyup)="editFileKeyUp($event, file.id)"
                       (click)="$event.stopPropagation()"
                       [id]="'editFileNameInput'+file.id" />

                <span class="fileFolderNameSpan {{file.isFolder ? 'folder' : ''}}" (click)="selectFile(file);" [id]="'fileIdName'+file.id">
                  {{file.isFolder ? '📁' : ''}}{{isEditing.includes(file.id) ? '' : file?.givenFileName ?? getFileWithoutExtension(file.fileName)!}}
                </span>
              </span>
              <div class="fileExtras">
                <app-reaction *ngIf="displayReactions && !file.isFolder"
                              [user]="user"
                              [inputtedParentRef]="inputtedParentRef ?? parentRef"
                              [currentReactions]="file.reactions"
                              [fileId]="file.id" (click)="$event.stopPropagation()">
                </app-reaction>
                <div *ngIf="displayComments && !file.isFolder" style="cursor:pointer;" (click)="openFileWithComments(file); $event.stopPropagation()">
                  🗨️ <span class="xxSmallFont">{{file.fileComments ? file.fileComments.length : 0}}</span>
                </div>
                <div class="typeTd" (click)="selectFile(file); $event.stopPropagation();" *ngIf="displayFileType">
                  <span [class]="file.visibility == 'Private' ? 'private':''"
                        title="This is a private file.">
                    {{file.visibility == 'Private' ? '🔒' : ''}}
                  </span>
                </div>
                <div (click)="showOptionsPanel(file); $event.stopPropagation();" style="cursor:pointer;">
                  ⚙️
                </div>
              </div>
            </div>
            <div *ngIf="!file.isFolder &&
                 (
                  (!autoload && viewMediaFile && openedFiles.includes(file.id)) || autoload || ((fileId ?? 0) == file.id)
                 )" class="mediaViewDiv">
              <app-media-viewer #mediaViewerComponent
                                [user]="user"
                                [file]="file"
                                [autoplay]="true"
                                [showCommentSection]="true"
                                [showCommentSectionOnLoad]="showCommentsInOpenedFiles.includes(file.id)"
                                [inputtedParentRef]="inputtedParentRef"
                                [canScroll]="fileId ? true : false"
                                [displayExpander]="false"
                                [displayExtraInfo]="false"
                                [forceInviewLoad]="true"
                                (emittedNotification)="emittedNotification($event)"
                                class="mediaViewer">
              </app-media-viewer>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
    <div *ngIf="isLoading || !directory">
      Loading Data...
    </div>
    <div *ngIf="!isLoading && directory && directory.totalCount == 0">
      Empty.
    </div>
  </div>
</div>
<!-- File Options Popup -->
<div class="popupPanel" *ngIf="isOptionsPanelOpen && optionsFile">
  <div style="font-family: var(--title-font-family)">
    File Options
    <button title="Close the options panel" id="closeOverlay" (click)="closeOptionsPanel()">Close</button>
  </div>
  <div style="margin-top: 20px; margin-bottom: 20px ">
    <button title="Edit File Name" (click)="startEditing(optionsFile.id);" [style.display]="shouldShowEditButton(optionsFile) ? 'inline-block' : 'none'">
      ✏️Edit
    </button>
    <button title="Share File" (click)="(optionsFile.visibility.toLowerCase() == 'private' ? shareFileInitiate(optionsFile) : shareLink(optionsFile));">
      ↗️Share
    </button>
    <button title="Delete File" (click)="this.delete(optionsFile);" *ngIf="shouldShowEditButton(optionsFile) ? 'inline-block' : 'none'">
      ❌Delete
    </button>
  </div>
  <div style="height:300px; overflow: auto;">
    <div class="optionsPanelDataDiv"><span class="smallFont">Id:</span> {{optionsFile.id}}</div>
    <div class="optionsPanelDataDiv"><span class="smallFont">{{optionsFile.isFolder ? 'Folder' : 'File'}} Name:</span> {{optionsFile.fileName}}</div>
    <div class="optionsPanelDataDiv" *ngIf="optionsFile.givenFileName"><span class="smallFont">Given File Name:</span> {{optionsFile.givenFileName}}</div>
    <div class="optionsPanelDataDiv" *ngIf="optionsFile.fileType || optionsFile.isFolder"><span class="smallFont">Type:</span> {{optionsFile.fileType.toUpperCase()}} {{optionsFile.isFolder ? 'Folder' : ''}}</div>
    <div class="optionsPanelDataDiv" *ngIf="optionsFile.fileSize"><span class="smallFont">Size:</span> {{formatFileSize(optionsFile.fileSize)}}</div>
    <div class="optionsPanelDataDiv" *ngIf="optionsFile.width"><span class="smallFont">Width:</span> {{optionsFile.width}}<span class="smallFont">, Height:</span> {{optionsFile.height}}</div>
    <div class="optionsPanelDataDiv" *ngIf="optionsFile.directory"><span class="smallFont">Directory:</span> {{optionsFile.directory}}</div>
    <div class="optionsPanelDataDiv" *ngIf="optionsFile.visibility"><span class="smallFont">Visibility:</span> {{optionsFile.visibility}}</div>
    <div class="optionsPanelDataDiv" *ngIf="optionsFile.sharedWith"><span class="smallFont">Shared With:</span> {{optionsFile.sharedWith}}</div>
    <div class="optionsPanelDataDiv">
      <span class="smallFont">
        Created:
      </span>
      <span *ngIf="optionsFile.date" style="display: inline-block;">
        {{optionsFile.date | date: 'y/MM/d HH:mm'}}
      </span>
      <div *ngIf="optionsFile.user">
        <app-user-tag [user]="optionsFile.user" [inputtedParentRef]="parentRef ?? inputtedParentRef" [displayMiniTag]="true"></app-user-tag>
      </div>
    </div>
    <div class="optionsPanelDataDiv" *ngIf="optionsFile.lastUpdatedBy && optionsFile.lastUpdatedBy.id !== optionsFile.user.id">
      <span class="smallFont">
        Updated:
      </span>
      <span *ngIf="optionsFile.lastUpdated">
        {{optionsFile.lastUpdated | date: 'y/MM/d HH:mm'}}
      </span>
      <div *ngIf="optionsFile.lastUpdatedBy">
        <app-user-tag [user]="optionsFile.lastUpdatedBy" [inputtedParentRef]="parentRef ?? inputtedParentRef" [displayMiniTag]="true"></app-user-tag>
      </div>
    </div>
  </div>
</div>
