
@media only screen and (max-width: 800px) {
  .componentMain {
    width: 96vw;
  }


  .fileExtras {
    justify-content: space-between;
  }

  .actionTd {
    flex-direction: column;
    align-items: flex-start;
  }

  .fileFolderNameSpan {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.tableDiv {
  max-height: 100px;
  overflow: auto;
}

.folder {
  color: var(--secondary-font-color);
}

.upOneFolder {
  cursor: pointer;
  font-size: large;
  border: var(--main-border);
  border-color: #4285f4;
  text-shadow: 1.2px 1.1px 1.1px black;
}

.pageContainerDiv {
  text-align: center;
}

.searchInput {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-small;
}

@media only screen and (max-width : 355px) {
  .searchInput {
    display: inline-flex;
  }
}

.typeTd {
  text-align: center;
  color: var(--secondary-font-color);
}

.fileSizeTd {
  max-width: 100px;
  text-align: center;
  color: var(--secondary-font-color);
}

.actionTd {
  text-align: center;
  color: var(--secondary-font-color);
}


.commentCountTd {
  text-align: center;
  color: var(--secondary-font-color);
}

.filters {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 15px;
}

.fileTypeSpan {
  position: relative;
  top: 10px;
  left: 0;
}

.fileNameDiv {
  flex-flow: row;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  border-bottom: var(--main-border);
}

.fileNameWrapperSpan {
  width: 100%;
}

.mediaViewDiv {
  border-bottom: var(--main-border);
  display: flex;
}

.fileFolderNameSpan {
  display: flex;
  align-items: center;
  width: 100%;
  word-break: break-word;
  cursor: pointer;
}

.fileExtras {
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  white-space: nowrap;
  font-size: small;
  margin-right: 15px;
}

  .fileExtras div {
    margin-left: 5px;
  }

.directoryDisplayDiv {
  border-top: var(--main-border);
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.draggableDiv {
  display: inline-block;
  min-width: 100%;
  width: 100%;
}

.shareUserListDiv {
  display: none;
  position: fixed;
  z-index: 1000;
  background: var(--main-bg-color-full-opacity);
  border: var(--main-border);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 330px;
  height: 370px;
  top: CALC(50% - 300px);
  left: CALC(50% - 150px);
  overflow: auto;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

  .shareUserListDiv.open {
    display: flex;
  }

.shareUserList {
  max-height: 200px;
  overflow: auto;
}

.mediaViewer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  flex-grow: 1;
  flex-basis: 100%;
  max-width: 100%;
}

.currentDirectorySpan {
  font-size: xx-small;
}

.totalDisplay {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.fileSearchDiv {
  max-height: CALC(100% - 30px);
}

.popupPanel { 
  width: 300px;
  height: 380px;  
}

.fileOptionsStats {
  height: 300px;
  width: 100%;
  overflow: auto;
}

.totalPageDisplay {
  margin-left: 5px;
  margin-right: 5px;
}

.fileOptionsStats div {
  padding: 5px;
}

.fileActionCommands {
  position: absolute;
  top: 3px;
  right: 40px;
  display: flex;
  gap: 10px;
}

  .fileActionCommands span {
    cursor: pointer;
  }

.popupPanelActions {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  width: 100%;
  gap: 12px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.optionsPanelDataDiv {
  display: flex;
  align-content: space-around;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px dotted;
}

.searchPopup, .fileOptionsPopup {
  height: 150px !important;
}
