
@media only screen and (min-device-width: 300px) and (max-device-width:800px) { 
  .componentMain {
    width: 96vw;
  }

  .mainTable input {
    max-width: 80% !important;
    word-wrap: break-word;
    text-overflow: ellipsis;
  }
} 
.tableDiv {
  max-height: 100px;
  overflow:auto;
}

.folder {
  color: black;
  cursor: pointer;
}

  .folder::before {
    content: '📁';
  }

.upOneFolder {
  cursor: pointer;
  font-size: large;
  border: var(--main-border);
  border-color: #4285f4;
}

.pageContainerDiv {
    text-align:center;
}
.searchInput {
    text-align:center;
}
.typeTd {
    width: 1%;
}
.fileSizeTd{
    width:1%;
}
.actionTd {
  text-align: right;
  width: 190px;
}
.commentCountTd {
  width: 16px;
  text-align:right;
}

.filters {
    display:flex; 
    flex-direction:column;
}
.privateOnTop {
  position: relative;
  top: -10px;
  left: 0;
}
.fileTypeSpan {
  position: relative;
  top: +10px;
  left: 0;
}
