.graphTitle
{
    text-align:center;
    font-weight:bold;
}
.graphOptions {
    text-align:center;
}

.sectionName {
  font-family: Courier New, Arial;
  font-weight: bolder;
  text-shadow: 0px 0.50px 0.50px var(--secondary-font-color);
  text-align: center;
}
