.battleReportDiv {
  border: var(--main-border);
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 15px;
  margin-top: 10px;
  border-top-width: 10px;
  border-left-width: 8px;
  border-bottom-width: 10px;
  border-right-width: 8px;
}

.rotated-header {
  display: inline-flex;
  text-transform: capitalize;
  transform:   translateY(2px);
  white-space: nowrap;
  margin-left: -45px;
  height: 24px;
  width: 83px;
  font-size: xx-small;
  text-overflow: ellipsis;
  color: var(--secondary-font-color);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  align-content: flex-end;
  font-size: 10px !important; 
}
td:nth-child(even) .rotated-header {
  transform: translateX(-2px) translateY(12px);
}
table {
  border-collapse: collapse;
}

td {
  text-align: center; 
}

th {
  width: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
}


.unitSummaryDiv { 
  display: flex; 
  justify-content: center;
  align-items: flex-end;
}



.reportsCenterDisplay {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.reportsNameDisplay {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.reportTimestampSpan {
  font-size: small;
  color: var(--secondary-font-color);
}

.reportHeader {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-content: space-between;
}

.reportTitleDiv {
  position: relative;
  top: -26px;
  left: CALC(50% - 25px);
  text-align: center;
  width: 50px;
}

.pageControls {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
}

.greyText {
  color: grey;
}

.goldText {
  color: gold;
}
.deleteAllReportsDiv {
    justify-content:center;
    display:flex;
    align-content:center;
    margin-top:10px;
    max-height:200px;
    overflow: auto;
}
.expireNote {
    color: var(--secondary-font-color);
    font-style: italic;
}
.unitPic {
    width:20px;
    height:20px;
}
.buildingNameTH {
    font-size:xx-small;
}
.buildingPicture {
    width:30px;
    height:30px;
}
