<div class=componentMain>
  <div class="closeButton" (click)="remove_me('CalendarComponent');"></div>
  <div class="refreshButton" (click)="ngOnInit();"></div>
  <div class="componentTitle">Calendar</div>

  <table class="calendarMonthTable">
    <tr>
      <td (click)="monthBackClick();" class="currentDay">
        <div #monthBack>{{ getMonthName(monthBackFromNow) }}</div><div #yearBack>{{ monthBackFromNow.getFullYear() }}</div>
      </td>
      <td>
        <div #month>{{ getMonthName(now) }}</div><div #year>{{ now.getFullYear() }}</div>
      </td>
      <td (click)="monthForwardClick();" class="currentDay">
        <div #monthForward>{{ getMonthName(monthForwardFromNow) }}</div><div #yearForward>{{ monthForwardFromNow.getFullYear() }}</div>
      </td>
    </tr>
  </table>
  <table class=calendarTable>
    <thead>
      <tr>
        <td>Sun</td>
        <td>Mon</td>
        <td>Tue</td>
        <td>Wed</td>
        <td>Thu</td>
        <td>Fri</td>
        <td>Sat</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td *ngFor="let cal of calendarDays.slice(0,7)"
            (click)="getCalendarDetails(cal);"
            class="calendarDay"
            [ngClass]="{'emptyDay': (cal.date?.getDate() ? false : true), 'currentDay': compareDatesWithoutTime(cal.date!, currentDate), 'staticCurrentDay': compareDatesWithoutTime(cal.date!, getCurrentDate())}">
          {{ cal.date?.getDate() }}{{ convertSymbols(cal.symbols!) }}
        </td>
      </tr>
      <tr>
        <td *ngFor="let cal of calendarDays.slice(7,14)"
            (click)="getCalendarDetails(cal);"
            class="calendarDay"
            [ngClass]="{'emptyDay': (cal.date?.getDate() ? false : true), 'currentDay': compareDatesWithoutTime(cal.date!, currentDate), 'staticCurrentDay': compareDatesWithoutTime(cal.date!, getCurrentDate())}">
          {{ cal.date?.getDate() }}{{ convertSymbols(cal.symbols!) }}
        </td>
      </tr>
      <tr>
        <td *ngFor="let cal of calendarDays.slice(14,21)"
            (click)="getCalendarDetails(cal);"
            class="calendarDay"
            [ngClass]="{'emptyDay': (cal.date?.getDate() ? false : true), 'currentDay': compareDatesWithoutTime(cal.date!, currentDate), 'staticCurrentDay': compareDatesWithoutTime(cal.date!, getCurrentDate())}">
          {{ cal.date?.getDate() }}{{ convertSymbols(cal.symbols!) }}
        </td>
      </tr>
      <tr>
        <td *ngFor="let cal of calendarDays.slice(21,28)"
            (click)="getCalendarDetails(cal);"
            class="calendarDay"
            [ngClass]="{'emptyDay': (cal.date?.getDate() ? false : true), 'currentDay': compareDatesWithoutTime(cal.date!, currentDate), 'staticCurrentDay': compareDatesWithoutTime(cal.date!, getCurrentDate())}">
          {{ cal.date?.getDate() }}{{ convertSymbols(cal.symbols!) }}
        </td>
      </tr>
      <tr>
        <td *ngFor="let cal of calendarDays.slice(28,35)"
            (click)="getCalendarDetails(cal);"
            class="calendarDay"
            [ngClass]="{'emptyDay': (cal.date?.getDate() ? false : true), 'currentDay': compareDatesWithoutTime(cal.date!, currentDate), 'staticCurrentDay': compareDatesWithoutTime(cal.date!, getCurrentDate())}">
          {{ cal.date?.getDate() }}{{ convertSymbols(cal.symbols!) }}
        </td>
      </tr>
      <tr>
        <td *ngFor="let cal of calendarDays.slice(35,42)"
            (click)="getCalendarDetails(cal);"
            class="calendarDay"
            [ngClass]="{'emptyDay': (cal.date?.getDate() ? false : true), 'currentDay': compareDatesWithoutTime(cal.date!, currentDate), 'staticCurrentDay': compareDatesWithoutTime(cal.date!, getCurrentDate())}">
          {{ cal.date?.getDate() }}{{ convertSymbols(cal.symbols!) }}
        </td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="!!selectedDate" class="calendarDetail">
    <div style="width:100%; text-align:center;font-weight:bolder;">
      {{selectedDate!.date!.toLocaleDateString('en-US', { weekday: 'long', month: 'long', day: 'numeric', year: 'numeric' }) }}
    </div>
    <table style="width:100%;" *ngIf="selectedCalendarEntries!.length > 0">
      <tr *ngFor="let cal of selectedCalendarEntries">
        <td style="width:70px;">{{cal.date | date:'shortTime'}}</td>
        <td>
          {{ cal.type !== "Milestone" ? cal.note : (cal.date ? '(' + cal.date.toString().substring(0, cal.date.toString().indexOf('-')) + ') ' + cal.note : cal.note) }}
        </td>
        <td style="width:35px;"><input type="button" value="❌" (click)="deleteCalendarEntry(cal!);" /></td>
      </tr>
    </table>
    <div *ngIf="selectedCalendarEntries!.length == 0">No entries</div>
    <fieldset class="saveEntryFieldset">
      <legend>New calendar entry</legend>
      <input #calendarNoteEntry type="text" placeholder="Description" required />
      <select #calendarTypeEntry>
        <ng-container *ngFor="let eventType of getEventTypes()">
          <option>{{ eventType }}</option>
        </ng-container>
      </select>
      <input #calendarTimeEntry type="time" value="00:00" />
      <input type="button" (click)="validateNoteEntry()" value="💾" />
    </fieldset>
  </div>
</div>
