.componentMain {
    width:370px;
}
.calendarTable {
  border-collapse: collapse;
  width:370px;
}

  .calendarTable td {
    border: 1px solid black;
  }

  .calendarTable thead td {
    font-style: italic;
    text-align:center;
  }

.calendarDay {
  width: 50px;
  height: 50px;
}

.emptyDay {
  width: 50px;
  height: 50px;
  border: dotted 1px black;
  background-color: var(--secondary-bg-color) !important;
  color: #A29EAD;
  padding: 10px 10px 10px 10px;
}

.scheduleFrame {
  width: 100%;
  height: 300px;
}

.weekDay div {
  width: 100%;
  height: 100%;
}

.weekDay {
  width: 50px;
  height: 50px;
  border: solid 1px black;
  background-color: white;
}

.currentDay, thead {
  background-color: var(--table-thead-color);
}

.currentDay {
  border: var(--main-border) !important;
  cursor: pointer;
}
 
  .calendarTable thead, .currentDay {
    font-weight: bold;
  }

.calendarMonthTable {
  width: 100%;
}

  .calendarMonthTable td {
    width: 33%;
    text-align: center;
  }

    .calendarMonthTable td a {
      text-decoration: none;
    }

    .calendarMonthTable td:not(:nth-child(2)) {
      border: var(--main-border) !important;
    }

      .calendarMonthTable td:not(:nth-child(2)) a {
        color: var(--secondary-font-color);
      }

.saveEntryFieldset {
  max-width: 340px;

}
.saveEntryFieldset input{
    display:inline-block;
}
