<div class=componentMain>
  <div class="closeButton" (click)="remove_me('CalendarComponent');"></div>
  <div class="menuButton" (click)="showMenuPanel();"></div>
  <div class="componentTitle">Calendar</div>

  <table class="calendarMonthTable">
    <tr>
      <td (click)="monthBackClick();" class="currentDay">
        <div #monthBack>{{ getMonthName(monthBackFromNow) }}</div><div #yearBack>{{ monthBackFromNow.getFullYear() }}</div>
      </td>
      <td>
        <div #month>{{ getMonthName(now) }}</div><div #year>{{ now.getFullYear() }}</div>
      </td>
      <td (click)="monthForwardClick();" class="currentDay">
        <div #monthForward>{{ getMonthName(monthForwardFromNow) }}</div><div #yearForward>{{ monthForwardFromNow.getFullYear() }}</div>
      </td>
    </tr>
  </table>
  <table class=calendarTable [style.opacity]="isLoading ? 0.5 : 1" [style.pointerEvents]="isLoading ? 'none' : 'auto'">
    <thead>
      <tr>
        <td>Sun</td>
        <td>Mon</td>
        <td>Tue</td>
        <td>Wed</td>
        <td>Thu</td>
        <td>Fri</td>
        <td>Sat</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td *ngFor="let cal of calendarDays.slice(0,7)"
            (click)="getCalendarDetails(cal);"
            class="calendarDay"
            [ngClass]="{'emptyDay': (cal.date?.getDate() ? false : true), 'currentDay': compareDatesWithoutTime(cal.date!, currentDate), 'staticCurrentDay': compareDatesWithoutTime(cal.date!, getCurrentDate())}">
          {{ cal.date?.getDate() }}{{ convertSymbols(cal.symbols!) }}
        </td>
      </tr>
      <tr>
        <td *ngFor="let cal of calendarDays.slice(7,14)"
            (click)="getCalendarDetails(cal);"
            class="calendarDay"
            [ngClass]="{'emptyDay': (cal.date?.getDate() ? false : true), 'currentDay': compareDatesWithoutTime(cal.date!, currentDate), 'staticCurrentDay': compareDatesWithoutTime(cal.date!, getCurrentDate())}">
          {{ cal.date?.getDate() }}{{ convertSymbols(cal.symbols!) }}
        </td>
      </tr>
      <tr>
        <td *ngFor="let cal of calendarDays.slice(14,21)"
            (click)="getCalendarDetails(cal);"
            class="calendarDay"
            [ngClass]="{'emptyDay': (cal.date?.getDate() ? false : true), 'currentDay': compareDatesWithoutTime(cal.date!, currentDate), 'staticCurrentDay': compareDatesWithoutTime(cal.date!, getCurrentDate())}">
          {{ cal.date?.getDate() }}{{ convertSymbols(cal.symbols!) }}
        </td>
      </tr>
      <tr>
        <td *ngFor="let cal of calendarDays.slice(21,28)"
            (click)="getCalendarDetails(cal);"
            class="calendarDay"
            [ngClass]="{'emptyDay': (cal.date?.getDate() ? false : true), 'currentDay': compareDatesWithoutTime(cal.date!, currentDate), 'staticCurrentDay': compareDatesWithoutTime(cal.date!, getCurrentDate())}">
          {{ cal.date?.getDate() }}{{ convertSymbols(cal.symbols!) }}
        </td>
      </tr>
      <tr>
        <td *ngFor="let cal of calendarDays.slice(28,35)"
            (click)="getCalendarDetails(cal);"
            class="calendarDay"
            [ngClass]="{'emptyDay': (cal.date?.getDate() ? false : true), 'currentDay': compareDatesWithoutTime(cal.date!, currentDate), 'staticCurrentDay': compareDatesWithoutTime(cal.date!, getCurrentDate())}">
          {{ cal.date?.getDate() }}{{ convertSymbols(cal.symbols!) }}
        </td>
      </tr>
      <tr>
        <td *ngFor="let cal of calendarDays.slice(35,42)"
            (click)="getCalendarDetails(cal);"
            class="calendarDay"
            [ngClass]="{'emptyDay': (cal.date?.getDate() ? false : true), 'currentDay': compareDatesWithoutTime(cal.date!, currentDate), 'staticCurrentDay': compareDatesWithoutTime(cal.date!, getCurrentDate())}">
          {{ cal.date?.getDate() }}{{ convertSymbols(cal.symbols!) }}
        </td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="!!selectedDate" class="calendarDetail">
    <div style="width:100%; text-align:center;font-weight:bolder;">
      {{selectedDate!.date!.toLocaleDateString('en-US', { weekday: 'long', month: 'long', day: 'numeric', year: 'numeric' }) }}
    </div>
    <table style="width:100%;" *ngIf="selectedCalendarEntries!.length > 0">
      <tr *ngFor="let cal of selectedCalendarEntries" id="calNo{{cal.id}}" [class]="isEditingEntry.includes(cal) ? 'popupPanel' : ''" (click)="isEditingEntry.includes(cal) ? '' : editCalendarEntry(cal)">
        <td style="width:70px;">{{cal.date | date:'shortTime'}}</td>
        <td>
          <div *ngIf="!isEditingEntry.includes(cal)">{{ cal.type !== "Milestone" ? cal.note : (cal.date ? '(' + cal.date.toString().substring(0, cal.date.toString().indexOf('-')) + ') ' + cal.note : cal.note) }}</div>
          <div *ngIf="isEditingEntry.includes(cal)">
            Time: <input id="calendarEditingTime" type="time" [value]="(cal.date | date:'HH:mm')" (input)="hasEditedCalendarEntry = true" />
            <div>Note: <input id="calendarEditingNote" type="text" [value]="cal.note" (input)="hasEditedCalendarEntry = true" /></div>
            <div>Type: <select id="calendarEditingType" (change)="hasEditedCalendarEntry = true">
                <option *ngFor="let t of getEventTypes()" [selected]="t === cal.type">{{t}}</option>
            </select></div>
          </div>
        </td>
        <td style="width:35px;">
          <button *ngIf="!isEditingEntry.includes(cal)" (click)="deleteCalendarEntry(cal!); $event.preventDefault();">❌</button>
          <button *ngIf="isEditingEntry.includes(cal)" (click)="closeEditPopupCalendar(); $event.preventDefault();">💾Update</button>
          <button *ngIf="isEditingEntry.includes(cal)" (click)="deleteCalendarEntry(cal!); $event.preventDefault();">❌Delete</button>
        </td>
      </tr>
    </table>
    <div *ngIf="selectedCalendarEntries!.length == 0">No entries</div>
    <fieldset class="saveEntryFieldset">
      <legend>New calendar entry</legend>
      <input #calendarNoteEntry type="text" placeholder="Description" required />
      <select #calendarTypeEntry>
        <ng-container *ngFor="let eventType of getEventTypes()">
          <option>{{ eventType }}</option>
        </ng-container>
      </select>
      <input #calendarTimeEntry type="time" value="00:00" />
      <input type="button" (click)="validateNoteEntry()" value="💾" />
    </fieldset>
  </div>
  <div *ngIf="isLoading">Loading...</div>
</div>


<div *ngIf="isMenuPanelOpen" class="popupPanel">
  <div class="popupPanelTitle">
    Calendar
  </div>
  <div class="menuPanelOptionsDiv">
    <div class="optionsStatsDiv">
      <div class="optionsStatsHeader">
        Month : 
      </div>
      <div class="optionsStatsDescription"> 
        <select [value]="selectedMonth" (change)="onMonthChange()" #selectedMonthDropdown>
          <option *ngFor="let month of monthNames" [selected]="month === selectedMonth" [value]="month">{{ month }}</option> 
        </select>
      </div>
    </div>
    <div class="optionsStatsDiv">
      <div class="optionsStatsHeader"> 
        Year :
      </div>
      <div class="optionsStatsDescription">
        <select [value]="selectedYear" (change)="onYearChange()" #selectedYearDropdown> 
          <option *ngFor="let year of years" [selected]="year === selectedYear" [value]="year">{{ year }}</option>
        </select>
      </div>
    </div>
  </div> 
  <button id="closeOverlay" (click)="closeMenuPanel()" class="closeButton">Close</button> 
</div>
