.componentMain {
    width:370px;
}

@media only screen and (min-device-width: 300px) and (max-device-width:800px) {
  .componentMain {
    max-width: 90vw !important;
  } 
}

.calendarTable {
  border-collapse: collapse;
  width:100%;
}

  .calendarTable td {
    border: 1px solid black;
  }

  .calendarTable thead td {
    font-style: italic;
    text-align:center;
  }

.calendarDay {
  width: 50px;
  height: 50px;
  background-color: var(--main-bg-color-full-opacity);
}

.emptyDay {
  background-color: var(--secondary-bg-color);
}

.scheduleFrame {
  width: 100%;
  height: 300px;
}

.weekDay div {
  width: 100%;
  height: 100%;
}

.weekDay {
  width: 50px;
  height: 50px;
  border: solid 1px black;
  background-color: white;
}
.staticCurrentDay {
  background-color: var(--table-thead-color);
}
.currentDay, thead {
  background-color: var(--table-thead-color);
}

.currentDay {
  border: var(--main-border) !important;
  cursor: pointer;
}
 
  .calendarTable thead, .currentDay {
    font-weight: bold;
  }

.calendarMonthTable {
  width: 100%;
}

  .calendarMonthTable td {
    width: 33%;
    text-align: center;
  }

    .calendarMonthTable td a {
      text-decoration: none;
    }

    .calendarMonthTable td:not(:nth-child(2)) {
      border: var(--main-border) !important;
    }

      .calendarMonthTable td:not(:nth-child(2)) a {
        color: var(--secondary-font-color);
      } 
.saveEntryFieldset input{
    display:inline-block;
}
