<div class="topRankTableContainer">
  <div *ngIf="loading">Loading highscores...</div>
  <table *ngIf="!loading && topHeroes && topHeroes.length > 0" class="scoreTable mainTable">
    <thead>
      <tr>
        <th></th>
        <th>Hero</th>
        <th></th>
        <th>Level</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let h of topHeroes; let i = index">
        <td>{{i + 1}}</td>
        <td>{{h.heroName}}</td>
        <td>
          <app-user-tag [user]="h.owner" [hideName]="true" [inputtedParentRef]="inputtedParentRef"
            [displayMiniTag]="true" [displayHoverPicture]="true" [openInNewTab]="true"
            [previousComponent]="'Bones'"></app-user-tag>
        </td>
        <td>{{h.level}}</td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="!loading && (!topHeroes || topHeroes.length == 0)">No heroes yet.</div>