<button type="button" class="closeButton" *ngIf="showClose" title="Close" aria-label="Close" (click)="closeClicked.emit($event)"></button>
<button type="button" class="refreshButton" *ngIf="showRefresh" title="Refresh" aria-label="Refresh" (click)="refreshClicked.emit($event)"></button>
<button type="button" class="menuButton" *ngIf="showMenu" title="Open Menu" aria-label="Open Menu" (click)="menuClicked.emit($event)"></button>
<button type="button" class="helpButton" *ngIf="showHelp" title="Show Help" aria-label="Show Help" (click)="helpClicked.emit($event)"></button>
<div class="searchButton" *ngIf="showSearch" title="Show Search" (click)="searchClicked.emit($event)"
  [style.right]="searchRight" class="searchButton"></div>
<div class="menuBackButton" *ngIf="showBack" title="Back to User List" (click)="backClicked.emit();"></div>
<div class="componentTitle" *ngIf="showTitle">
  <span [class]="titleSpanClass" [ngStyle]="font ? { 'font-family': font } : {}">
    <span>{{ title }}</span>      <ng-container *ngIf="titleUsers && titleUsers.length > 0">
        <ng-container *ngFor="let user of titleUsers; let i = index">
          <span *ngIf="i > 0">, </span>
          <span class="titleUserLink" (click)="titleUserClicked.emit(user)" title="View user profile">&#64;{{ user.username }}</span>
        </ng-container>
      </ng-container>
      <span *ngIf="badge" class="titleBadge" [title]="badgeTitle || badge">{{ badge }}</span>
    </span>
</div>
<app-notifications *ngIf="showNotifications" [minimalInterface]="true" [inputtedParentRef]="inputtedParentRef"
  [notificationIconSlot]="notificationIconSlot" (notificationRead)="notificationReadEmitted()">
</app-notifications>