<div class="closeButton" *ngIf="showClose" title="Close" (click)="closeClicked.emit($event)"></div>
<div class="refreshButton" *ngIf="showRefresh" title="Refresh" (click)="refreshClicked.emit($event)"></div>
<div class="menuButton" *ngIf="showMenu" title="Open Menu" (click)="menuClicked.emit($event);"></div> 
<div class="helpButton" *ngIf="showHelp" title="Show Help" (click)="helpClicked.emit($event)"></div>
<div class="searchButton" 
  *ngIf="showSearch" 
  title="Show Search" 
  (click)="searchClicked.emit($event)" 
  [style.right]="searchRight"
  class="searchButton"
></div>
<div class="menuBackButton" *ngIf="showBack" title="Back to User List" (click)="backClicked.emit();"></div>
<div class="componentTitle" *ngIf="showTitle"><span [class]="titleSpanClass">{{ title }}</span></div>
<app-notifications 
  *ngIf="showNotifications" 
  [minimalInterface]="true"
  [inputtedParentRef]="inputtedParentRef" 
  [notificationIconSlot]="notificationIconSlot"
  (notificationRead)="notificationReadEmitted()">
</app-notifications>