#navbar {
  height: 50px;
  width: 100%;
  position: fixed;
  z-index: 100;
  bottom: 0;
  left: 0;
  background-color: #111;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  overflow-x: auto;
  overflow-y: hidden;
  gap: 12px;
  transition: transform 0.3s ease; /* Animation for sliding */
}
@media only screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 1.5) {
  #navbar {
    height: 60px;
    justify-content: flex-start;
  }
}

  #navbar div {
    display: inline-block;
    width: 45px;
    height: 45px;
    text-align: center;
    margin-top: -30px;
  }

.navbarNotificationSpan {
  position: relative;
  top: 25px;
  left: 1px;
  color: var(--primary-font-color);
  text-shadow: 1px 1px 2px var(--secondary-font-color);
  width: 50px;
  height: 50px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
  .navbarNotificationSpan label {
    background-color: var(--secondary-bg-color);
  }

  .navbarNotificationSpan:empty {
    background-color: transparent;
  }
   
.navLink {
  display: inline-block;
  width: 50px;
  height: 100%;
  background-color: black;
  border: 1px solid red;
  border-radius: 3px;
  font-size: 35px;
  line-height: 45px; 
  margin-top:-19px;
}

  .navLink:hover {
    color: red;
  }


.collapsed {
  transform: translateY(100%);
}

.toggleNavButton {
  position: fixed;
  bottom: 10px;
  left: 10px;
  background: transparent;
  color: #fff;
  border: none;
  font-size: 16px;
  cursor: pointer;
  z-index: 11;
  opacity: 0;
  transition: opacity 3s ease;
}

  .toggleNavButton.visible {
    opacity: 1; 
  }
