#navbar {
  position: absolute;
  top: 0px;
  left: 0px;
  max-height: CALC(var(--vh, 1vh) * 100);
  display: flex;
  flex-wrap: wrap;
  flex-direction: unset;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: space-evenly;
  overflow: auto;
  gap: 14px;
  transition: transform 0.3s ease;
  padding: 12px;
}
 
a {
  font-style: unset;
}

#navbar div {
  display: inline-block;
  width: 50px;
  height: 50px;   
  cursor: pointer; 
  text-align: center;
  text-indent: .1em;
}

  #navbar div:before {
    content: '';
    position: absolute;
    background: inherit;
  }

.navbarNotificationSpan {
  position: relative;
  top: 37px;
  left: 1px;
  color: black;
  text-shadow: -2px -2px 3px white, 2px -2px 3px white, -2px 2px 3px white, 2px 2px 3px white;
  font-weight: bolder;
  width: 50px;
  height: 0px !important;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: self-end;
  cursor: pointer;
}

.largeNotificationSpan {
  top: 50px;
}

.navLink {
  display: inline-block;
  width: 50px;
  height: 100%;
  line-height: 47px;
  text-shadow: 1px 1px;
  border: 2px solid var(--main-font-color);
  border-radius: 65% / 10%;
  font-size: 35px;
  overflow: hidden;
}
  .navLink ::ng-deep * {
    overflow: hidden;
  }

  .navLink:before {
    border-radius: 2% / 50%;
    background: inherit;
    content: ''; 
  }

.navLinkText {
  font-size: 8px;
  overflow: hidden;
  height: 12px;
  line-height: 13px;
  text-overflow: clip;
  display: inline-block;
  width: 50px;
  position: relative;
  top: 1px;
  left: 2px;
  margin-left: auto;
  margin-right: auto;
  text-decoration: underline;
  cursor: pointer;
  text-shadow: 0px 0px 2px black;
  box-shadow: 1px 1px 1px 1px black;
  background-color: #000000a6;
}
.navLinkUnderText { 
  font-size: 10px;
  overflow: hidden;
  height: 12px;
  line-height: 13px;
  text-overflow: clip;
  display: inline-block;
  width: 49px;
  position: relative;
  top: -20px;
  left: 0px;
}

.collapsed {
    display:none !important; 
}
 
.collapsedNavbar {
  height: 0px !important; 
}

.toggleNavButton {
  position: fixed;
  bottom: 10px;
  left: 10px;
  background: transparent;
  color: #fff;
  border: none;
  font-size: 16px;
  cursor: pointer;
  z-index: 1;
  opacity: 0;
  transition: opacity 3s ease;
  font-size: 20px;
  animation: glow 1.5s infinite alternate;
} 
.toggleNavButton.visible {
  opacity: 1;
}

.weatherPic {
  height: 52px;
}

.redTitle {
  color: red;
}
.greenTitle {
  color: chartreuse;
}
