.selection-check {
  margin-right: 8px;
  font-size: 18px;
  cursor: pointer;
}

.userSearchDiv {
  margin-top: 10px;
  max-height: 30vh;
  overflow: auto;
  margin-left: auto;
  margin-right: auto;
  background: var(--gradient-background);
  padding: 10px;
}

@media only screen and (min-width : 667px) {
  .userSearchDiv {
    max-width: 50%;
  }
}

.currentModeratorTable {
  max-width: 100vw;
  max-width: 100dvw;
  overflow: auto;
}