.topicSelector {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap; 
  align-items: center;
}
input {
  width: 170px;
}

.matchingTopic {
  height: 20px;
  display: inline-flex;
  padding: -4px 5px;
  border-radius: 4px;
  background-color: var(--main-highlight-color);
  cursor: pointer;
  border: var(--main-border);
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.topicSpanDiv {
}

.addTopicButton {
  visibility: hidden;
  border: var(--main-border);
}

.dropdownMenu {
  width: 175px;
  max-height: 200px;
  overflow-y: auto;
  border: var(--main-border);
  z-index:1;
  position:absolute;
}

.dropdownMenuTopic {
  border-bottom: var(--main-border);
  font-size: small;
  color: var(--secondary-font-color);
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-bg-color-full-opacity);
}

.removeTopicButton {
  width: 15px;
  height: 15px;
  font-size: xx-small;
  border: 0;
  padding: 0;
  vertical-align: middle;
  background-color: unset;
}
