.componentMain {
  max-height: CALC(var(--vh, 1vh)* 100 - 60px);
  overflow: auto;
}

.crawler-container {
  min-width: 300px;
  margin: 10px 10px;
}

.loadingNotificationDiv {
  margin: 20px;
}

.error-message {
  color: red;
  font-weight: bold;
}

.crawler-container img {
  width: 50px;
  max-height: 50px;
}

.crawlerInputs {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
}

.nbDiv {
  margin: 10px 10px;
}

.metadataSearchDiv {
  border: var(--main-border);
  border-radius: 12px;
  margin: 22px;
  padding: 12px; 
  display: flex;
  flex-direction: column;
  word-break: break-all;
}

.metadataSearchWrapper {
}

.metadataTitleWrapper {
  display: flex;
  align-content: space-between;
  align-items: flex-start;
  justify-content: space-between;
  white-space: pre;
  text-overflow: ellipsis;
}

.metadataTitleDiv {
  display: flex;
  word-break: break-word;
  white-space: pre-wrap;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: center;
}

.descriptionDiv {
  max-height: 500px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  white-space: normal;
  word-break: break-word;
  text-align: left;
}

.imageUrlPictureDiv { 
  width: 50px;
  height: 50px; 
}

.keywordsClass, .authorClass {
  font-size: xx-small;
}

.descriptClass {
  margin: 10px;
  font-size: smaller;
}
.groupDomainTitle {
  font-size: x-small;
  color: var(--secondary-font-color);
}

.metadataTitleLinkFavouriteWrapper {
  display: flex;
  gap: 15px;
  max-width: calc(100% - 70px);
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  flex-direction: row;
  text-align: left;
}
.metadataTitleLinkFavouriteWrapper a {
  text-align: left !important;
}
.metadataTitleLinkFavouriteWrapper button {
  cursor: pointer;
}
.groupLinkWrapperDiv {
  min-height: 50px; 
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.groupLinkDataWrapperDiv {
  width: CALC(100% - 50px);
}
