.cursorPointer {
  cursor: pointer;
  font-size: 1.2em;
  transition: color 0.2s;
}


@keyframes glow {
  0% {
    text-shadow: 0 0 0px var(--secondary-font-color), 0 0 5px var(--secondary-font-color), 0 0 6px var(--secondary-font-color), 0 0 7px var(--secondary-font-color), 0 0 8px var(--secondary-font-color);
  }
  100% {
    text-shadow: 0 0 5px var(--secondary-font-color), 0 0 6px var(--secondary-font-color), 0 0 7px var(--secondary-font-color), 0 0 8px var(--secondary-font-color), 0 0 9px var(--secondary-font-color);
  }
}
