.cursorPointer {
  cursor: pointer;
  font-size: 1.2em;
  transition: color 0.2s;
}

.ratingsListContainer {
  width: calc(100% - 20px);
  /* max-height: 50vh; */
  /* overflow-y: auto; */
  display:flex; 
  align-items:center; 
  justify-content: space-between; 
  margin-bottom:4px;
}

.ratingPopupPanel {
  min-width: 300px; 
}
.ratingPopupPanel > .popupPanelTitle:first-of-type {
  max-width: calc(100% - 90px); 
}