/* You can add global styles to this file, and also import other style files */
:root {
  --main-border: 2px ridge rgba(245, 23, 23, 0.5);
  --main-bg-color: rgba(54, 25, 25, .5);
  --table-thead-color: rgba(54, 25, 25);
  --main-font-color: #00FF00;
  --secondary-font-color: cornflowerblue;
}

body {
  background-color: black;
  color: var(--main-font-color);
  margin: 0;
  padding: 0;
  padding-left: 50px;
}

.componentMain {
  background-color: var(--main-bg-color);
  max-width: 500px;
  min-width: 200px;
}

#mainTable,
.hiddenTable {
  background-color: var(--main-bg-color);
}

#mainTable {
  background-color: red;
  float: left;
  border: var(--main-border);
  border-radius: 5px;
}

  #mainTable a:link,
  #mainTable a:visited {
    color: var(--main-font-color);
    text-decoration: none;
  }

  #mainTable a:hover {
    color: #FF00FF;
    text-decoration: underline;
  }

  #mainTable a:active {
    color: #0000FF;
  }

.hiddenTable {
  display: none;
  overflow-y: auto;
  max-height: 300px;
}

.closeButton::before {
  content: 'X';
}

.closeButton {
  width: 15px;
  height: 15px;
  position: relative;
  top: 0px;
  left: calc(100% - 15px);
  border: 1px solid var(--secondary-font-color);
  border-radius: 2px;
  background-color: var(--secondary-font-color);
  color: black;
  text-align: center;
}

#loadingDiv {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #f0f0f0;
  z-index: 9999;
  display: none;
}

#loadingBar {
  height: 100%;
  background: linear-gradient(to right, #ff7e5f, #feb47b, #ffdb99, #fffeaa, #dbf6e9, #a7f4e8, #77e0e8, #96d0e1, #a2bcc8, #a0a7b2, #958d9f, #6f7474);
  animation: loadingAnimation 2s linear infinite;
}

@keyframes loadingAnimation {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}
