/* You can add global styles to this file, and also import other style files */
:root {
  --main-font-size: 16px;
  --main-bg-color: #0e0e0e;
  --component-background-color: #202020;
  --main-highlight-color: #3a3a3a;
  --main-highlight-color-quarter-opacity: #a9a9a987;
  --secondary-component-background-color: #011300;
  --table-thead-color: var(--main-highlight-color);
  --main-font-family: Helvetica, Arial;
  --title-font-family: 'Gill Sans', Verdana, sans-serif;
  --section-font-family: 'Courier New', Arial, sans-serif;
  --main-font-color: #b0c2b1;
  --main-link-color: chartreuse;
  --primary-font-color: var(--main-font-color);
  --secondary-font-color: #ffffff;
  --third-font-color: cornflowerblue;
  --main-border: 2px ridge var(--main-highlight-color);
  --gameboyBgColor: darkgrey;
  --nexus-gamescreen-height: 275px;
  --nexus-gamescreen-width: 350px;
  --main-background-image-url: '';
}


/* prevent pull-to-refresh for Safari 16+ */
@media screen and (pointer: coarse) {
  @supports (-webkit-backdrop-filter: blur(1px)) and (overscroll-behavior-y: none) {
    html {
      min-height: 100.3%;
      overscroll-behavior-y: none;
    }
  }
}

html {
  height: 100%;
}

body {
  margin: 0px;
  -webkit-overflow-scrolling: auto !important;
  overscroll-behavior-y: none;
  font-family: var(--main-font-family), Arial;
  font-size: var(--main-font-size);
  background-color: var(--main-bg-color);
  color: var(--main-font-color);
  margin: 0;
  padding: 0;
  background-image: var(--main-background-image-url);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

html,
body {
  overscroll-behavior-x: none;
}

a {
  color: var(--main-link-color);
  font-family: Gadugi, Arial, Helvetica;
  padding: 1px;
  text-align: center;
  text-decoration: none;
  font-style: italic;
  word-break: break-word;
}

textarea {
  font-size: var(--main-font-size);
}

a:visited {
  color: var(--main-link-color);
}

a:active {
  color: var(--secondary-font-color);
}

a:hover {
  border-radius: 5px;
  border-bottom: 1px dotted var(--main-font-color);
}

legend {
  border: var(--main-border);
  text-align: center;
}

fieldset {
  text-align: center;
  border: var(--main-border);
}

.componentMain {
  background-color: var(--component-background-color);
  position: relative;
  padding-top: 55px;
  border: var(--main-border);
  border-radius: 5px;
  transition: transform 0.8s ease;
  overflow: auto;
}

@media only screen and (max-width : 667px) {
  .componentMain {
    width: calc(99vw - 10px) !important
  }
}

.refreshButton::before,
.closeButton::before,
.menuButton::before,
.menuBackButton::before {
  z-index: 1;
}

.refreshButton::before,
.closeButton::before,
.menuButton::before,
.menuBackButton::before,
.notificationTopButton,
.topSearchButtonDiv,
.topSearchButtonDivSpecial {
  position: absolute;
  top: 0px;
  width: 50px;
  height: 46px;
  font-size: 35px;
  line-height: 50px;
  border: 2px groove black;
  text-align: center;
  padding-left: 0px;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.refreshButton::before {
  content: '🔄';
}

.menuButton::before {
  content: '☰';
}

.menuBackButton::before {
  content: '⤺';
  right: 50px;
  text-shadow: 1px 1px var(--main-link-color);
}

.refreshButton::before,
.menuButton::before {
  left: 0px;
}

.closeButton::before {
  content: '❌';
  right: 0px;
}

.refreshButton:active::before,
.closeButton:active::before,
.menuButton:active::before,
.notificationTopButton:active,
.topSearchButtonDiv:active {
  border: 2px inset black;
  transform: translateY(2px);
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.3);
  width: 50px;
  height: 43px;
}

.notificationTopButton {
  right: 53px !important;
  text-shadow: 1px 1px var(--main-link-color);
}

.topSearchButtonDiv {
  right: 105px;
  text-shadow: 1px 1px var(--main-link-color);
}
.topSearchButtonDivSpecial {
  right: 53px;
  text-shadow: 1px 1px var(--main-link-color);
}
.topBackButtonDivSpecial {
  right: 53px; 
}

.componentTitle {
  font-family: var(--title-font-family);
  font-weight: bolder;
  position: absolute;
  font-size: 25px;
  line-height: 50px;
  top: 0px;
  left: 55px;
  display: block;
  text-shadow: 0px 0.50px 0.50px var(--secondary-font-color);
}

.mainTableDiv {
  overflow-y: auto;
}

.mainTableTitle {
  display: block;
  width: 100%;
  font-size: large;
  text-align: center;
  text-decoration: underline;
}

/* Make the table scrollable horizontally on mobile */
@media only screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 1.5) {
  .mainTable {
    overflow-x: scroll;
  }
}

@media only screen and (max-device-width:800px) {

  .componentMain {
    max-width: 100%;
  }

  .mainTableDiv {
    overflow-x: auto;
  }

  .media {
    max-width: unset !important;
  }


  .mainTable td {
    max-width: 100px !important;
    word-wrap: break-word;
    text-overflow: ellipsis;
  }

  .mainTable input {
    max-width: 100px !important;
    word-wrap: break-word;
    text-overflow: ellipsis;
  }
}

.mainTable {
  width: 100%;
  background-color: var(--secondary-component-background-color);
  border-collapse: collapse;
  color: var(--secondary-font-color);
}

.mainTable thead th {
  position: sticky;
  top: 0;
  background-color: var(--main-highlight-color);
  z-index: 1;
  cursor: default;
}

.mainTable tr:not(thead, tr):hover {
  outline: var(--main-border);
}

.mainTable tr:nth-child(even) {
  border-bottom: 1px solid;
  border-top: 1px solid;
  border-color: var(--main-highlight-color);
  background-color: var(--secondary-bg-color);
}

.mainTable tbody {
  height: 30px !important;
  width: 100%;
  overflow-y: hidden;
  cursor: default;
}

.mainTable tbody tr:hover td:first-child {
  position: relative;
}

.mainTable tbody tr:hover td:first-child::before,
.mainTable tbody tr:hover td:first-child::after {
  content: '';
  position: absolute;
  bottom: 0;
  border-bottom: 1px dotted var(--secondary-font-color);
  width: 100%;
  height: 1px;
  pointer-events: none;
}

.mainTable tbody tr:hover td:first-child::before {
  left: 0;
}

.mainTable tbody tr:hover td:first-child::after {
  right: 0;
}

.mainTable a:link,
.mainTable a:visited {
  color: var(--main-font-color);
  text-decoration: none;
}

.mainTable a:hover {
  color: #FF00FF;
  text-decoration: underline;
}

.mainTable a:active {
  color: #0000FF;
}

.mainTable td:first-child {
  color: var(--main-font-color);
}

.mainTable td:nth-child(2) {
  color: var(--main-font-color);
}

.mainTable th {
  border-collapse: collapse;
  text-align: left;
  background-color: var(--main-highlight-color-quarter-opacity);
  color: var(--main-font-color);
  position: sticky;
  top: -3px;
  font-weight: bold;
}

#loadingDiv {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #f0f0f0;
  z-index: 1;
  display: none;
}

#loadingBar {
  height: 100%;
  background: linear-gradient(to right, #ff7e5f, #feb47b, #ffdb99, #fffeaa, #dbf6e9, #a7f4e8, #77e0e8, #96d0e1, #a2bcc8, #a0a7b2, #958d9f, #6f7474);
  animation: loadingAnimation 2s linear infinite;
}

@keyframes loadingAnimation {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}


::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}

::-webkit-scrollbar-track {
  box-shadow: var(--main-border);
  border: var(--main-border);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--secondary-font-color);
  box-shadow: var(--main-border);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--main-font-color);
}



.notification {
  color: var(--secondary-font-color);
  font-size: smaller;
  text-decoration-color: var(--main-font-color);
}

.notification::before {
  content: '🪲';
}

.cursorPointer {
  cursor: pointer;
}

.cursorPointerUnderlined {
  cursor: pointer;
  text-decoration: underline;
}

.usernameProfileLink {
  text-decoration-color: var(--secondary-font-color);
  text-shadow: 0.1px 0.1px var(--third-font-color);
  font-weight: 100;
}

.smallExpander {
  font-size: small;
  cursor: pointer;
}

.helperSpanTitle {
  display: inline-block;
  width: 10.5px;
  height: 10.5px;
  line-height: 10.5px;
  text-align: center;
  font-size: small;
  border-radius: 50%;
  border: var(--main-border);
  background-color: var(--main-bg-color);
  color: var(--primary-font-color);
  position: relative;
  cursor: pointer;
}

.helperSpanTitle:before {
  content: 'ℹ️';
}

.avatar {
  max-width: 50px;
  max-height: 50px;
}

.largeAvatar {
  max-width: 100px;
  max-height: 100px;
}

.avatarBug,
.avatarBust {
  display: inline;
  position: relative;
  top: auto;
  left: auto;
}

.avatarBug {
  font-size: 15px;
  left: 8px;
  top: -75px;
}


.avatarBust {
  font-size: 40px !important;
}

.italics {
  font-style: italic;
}

.smallFont {
  font-size: small;
}

.xxSmallFont {
  font-size: xx-small;
}

.capitalize {
  text-transform: capitalize;
}

.invertedHighlights {
  color: var(--secondary-font-color);
  text-shadow: 0.2px 1px 1.1px var(--primary-font-color);
}

.redText {
  color: red;
}

.greyText {
  color: grey;
}

.mainInfoSection {
  text-align: center;
  font-size: small;
  border-top: var(--main-border);
  margin-bottom: 2px;
  display: block;
  background-color: var(--main-highlight-color);
  color: var(--secondary-font-color);
  box-shadow: 0px 0px 5px black;
}

.onlineButton {
  font-size: x-small;
  position: relative;
  top: -3px;
}

.glowing {
  animation: glow 1.5s infinite alternate;
}

@keyframes glow {
  0% {
    text-shadow: 0 0 0px var(--secondary-font-color), 0 0 5px var(--secondary-font-color), 0 0 6px var(--secondary-font-color), 0 0 7px var(--secondary-font-color), 0 0 8px var(--secondary-font-color);
  }

  100% {
    text-shadow: 0 0 5px var(--secondary-font-color), 0 0 6px var(--secondary-font-color), 0 0 7px var(--secondary-font-color), 0 0 8px var(--secondary-font-color), 0 0 9px var(--secondary-font-color);
  }
}

.popupPanel {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--secondary-component-background-color);
  z-index: 4 !important;
  border-radius: 8px;
  overflow: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  cursor: default;
  animation: popupFadeIn 0.2s ease-out;
}
@keyframes popupFadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, 0);
  }

  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

.fullscreenPopupPanel {
  top: 0px !important;
  left: 0px !important;
  padding: 0px;
  transform: unset !important;
  width: 100vw !important;
  height: CALC(var(--vh, 1vh) * 100) !important;
}

@media only screen and (max-width : 667px) {
  .popupPanel {
    width: 99vw;
    max-height: CALC(var(--vh, 1vh) * 99);
  }
}

.popupPanelTitle {
  font-family: var(--section-font-family);
  font-size: x-large;
}

.titleFont {
  font-family: var(--section-font-family);
}

.matchingTopic {
  display: inline-flex;
  padding: 5px;
  padding-top: 6px;
  line-height: 12px;
  border-radius: 4px;
  background-color: var(--main-highlight-color);
  cursor: pointer;
  border: var(--main-border);
  color: var(--secondary-font-color);
  align-items: center;
  gap: 8px;
}


.optionsStatsWrapperDiv {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  height: 300px;
  overflow: auto;
}

.optionsStatsDiv {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dotted var(--main-font-color);
}

.optionsStatsDiv:hover {
  border-bottom: 1px solid var(--main-link-color);
}

.optionsStatsHeader {
  min-width: 125px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  cursor: default;
  word-break: break-word;
}

.optionsStatsDescription {
  text-align: right;
  line-break: anywhere;
  cursor: default;
}

@media only screen and (min-width : 667px) {
  .optionsStatsDescription, .optionsStatsHeader {
    padding: 5px;
  }
}

.popupPanel button,
.popupPanel a {
  cursor: pointer;
}

.hiddenInput {
  width: 0px;
  height: 0px;
  position: absolute;
  top: 99vh;
  right: 99vw;
}

.quote-text {
  font-size: x-small;
}

.quote-message {
  color: var(--secondary-font-color);
}

.quote-time {
  font-size: smaller;
}

.quote-link {
  color: unset;
  cursor: pointer;
  text-align: unset;
}

.linkedComponent {
  color: var(--main-link-color);
  cursor: pointer;
}

.secondaryFontColor {
  color: var(--secondary-font-color);
}

.thirdFontColor {
  color: var(--third-font-color);
}

.linkFontColor {
  color: var(--main-link-color);
}

.centeredContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -15%);
}
.userMentionSpan {
  color: var(--main-link-color);
  font-weight: bold;
  cursor: pointer;
  text-decoration: underline;
}
 
.poll-container {
  border: var(--main-border);
  border-radius: 8px;
  padding-left: 15px; 
  padding-right: 15px;
  padding-top: 15px;
}

.poll-question {
  font-weight: bold; 
  color: var(--secondary-font-color);
}

.poll-option {  
  display: flex;
}

.poll-option:hover {
  background-color: var(--secondary-component-background-color);
}

.poll-vote-btn { 
  padding: 5px 15px;
  background-color: var(--component-background-color); 
  border: var(--main-border);
  color: var(--main-font-color);
  border-radius: 4px;
  cursor: pointer;
}

.poll-error {
  color: red;
  font-style: italic;
}