.positive {
    color: #28a745;
}

.negative {
    color: #dc3545;
}

.market-caps-table th {
    font-size: small;
}

@media (max-width: 768px) {
    .market-caps-table {
        font-size: 12px;
    }

    .market-caps-table th,
    .market-caps-table td {
        padding: 8px;
    }
}

.expandButton {
    position: relative;
    left: calc(50% - 35px);
    width: 70px;
    margin-top: 5px;
    margin-bottom: 5px;
}