.positive {
    color: #28a745;
}

.negative {
    color: #dc3545;
}

.expandButton {
    width: 70px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.mainTable {
    width: calc(100% - 20px);
}

.mainTable td {
    height: 35px;
}

.mainTableContainer {
    overflow: auto;
    width: 100%;
    display: flex;
    max-height: 80vh;
    margin-bottom: 8px;
    align-items: stretch;
    justify-content: space-around;
}

.popupPanel {
    padding: 0px !important;
}

.popupPanelTitleExpanded {
    margin-top: 20px;
}

.sectionName {
    font-family: var(--section-font-family);
    font-weight: bolder;
    text-align: center;
    padding: 10px;
    width: calc(100% - 20px) !important;
}