td {
    text-align:center;
}
.smallConditionIcon
 {
    max-width:30px;
    max-height:30px;
}
.mainTable th, td {
  padding-left: 5px;
  padding-right: 5px;
}
.highlight {
  background-color: var(--main-highlight-color) !important; 
  border: var(--main-border);
}
