<div class="componentMain">
  <div class="closeButton" (click)="remove_me();"></div>
  <div class="refreshButton" (click)="ngOnInit();"></div>

  <h3>Current Weather</h3>
  <table>
    <thead>
      <tr>
        <th>Last Updated</th>
        <th>Temperature (°C)</th>
        <th>Temperature (°F)</th>
        <th>Condition</th>
        <th>Wind (mph)</th>
        <th>Wind (kph)</th>
        <th>Humidity</th>
        <th>Cloud</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="weather.current">
        <td>{{ weather.current.last_updated }}</td>
        <td>{{ weather.current.temp_c }}</td>
        <td>{{ weather.current.temp_f }}</td>
        <td>{{ weather.current.condition.text }}</td>
        <td>{{ weather.current.wind_mph }}</td>
        <td>{{ weather.current.wind_kph }}</td>
        <td>{{ weather.current.humidity }}</td>
        <td>{{ weather.current.cloud }}</td>
      </tr>
    </tbody>
  </table>

  <h3>Forecast</h3>
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Temperature (°C)</th>
        <th>Temperature (°F)</th>
        <th>Condition</th>
        <th>Wind (mph)</th>
        <th>Wind (kph)</th>
        <th>Humidity</th>
        <th>Cloud</th>
      </tr>
    </thead>
    <tbody *ngIf="weather.forecast">
      <ng-container *ngFor="let day of weather.forecast.forecastday">
        <tr>
          <td (click)="toggleDay(day.date)" style="cursor: pointer;" colspan=8>
            <span [class.collapsible]="!isCollapsed(day.date)" [class.collapsed]="isCollapsed(day.date)">
              {{ day.date }}
            </span>
          </td>
        </tr>
        <ng-container *ngIf="!isCollapsed(day.date)">
          <tr *ngFor="let hour of day.hour">
            <td>{{ hour.time }}</td>
            <td>{{ hour.temp_c }}</td>
            <td>{{ hour.temp_f }}</td>
            <td>{{ hour.condition.text }}</td>
            <td>{{ hour.wind_mph }}</td>
            <td>{{ hour.wind_kph }}</td>
            <td>{{ hour.humidity }}</td>
            <td>{{ hour.cloud }}</td>
          </tr>
        </ng-container>
      </ng-container>
    </tbody>
  </table>
</div>
