.smallConditionIcon {
  max-width: 30px;
  max-height: 30px;
}

.mainTable {
  border-collapse: unset;
}

.mainTable th,
td {
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}

@media only screen and (max-width : 600px) {

  .mainTable th,
  td {
    padding-left: unset;
    padding-right: unset;
  }
}



.highlight {
  background-color: rgba(255, 99, 71, 0.3) !important;
  border: var(--main-border);
}

.mainBgColor {
  background-color: var(--main-bg-color) !important;
}

.weatherLegend {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  font-size: x-small;
  gap: 20px;
  padding: 20px;
  color: var(--secondary-font-color);
  align-items: center;
  justify-content: center;
}

.weatherLegend div {
  display: flex;
}

.mainTableContainer {
  height: CALC(var(--vh, 1vh) * 100 - 360px);
  overflow: auto;
}

.currentWeather {
  display: flex;
  align-items: center;
  gap: 5px;
  position: relative;
  top: -10px;
  justify-content: center;
  align-content: flex-start;
}

.currentWeatherContainer {
  background: linear-gradient(135deg, var(--component-background-color), var(--secondary-component-background-color));
  border: var(--main-border);
  border-radius: 8px;
  padding: 5px;
}

.currentWeatherStats.optionsStatsWrapperDiv {
  padding-top: 15px;
  height: unset;
}

.optionsStatsDescription {
  cursor: pointer;
}

.feelsLikeMainDiv {
  width: 100%;
  text-align: center;
  font-size: small;
  color: var(--third-font-color);
  height: 0px;
  top: -16px;
  position: relative;
}
.weatherButtonTabContainer button {
  position: relative;
  z-index: 2;
}
.tabTimeSelectedSpan {
  height: 0px;
  position: relative;
  top: 0px;
  left: 0px;
  display: block;
  font-size: xx-small;
  color: var(--secondary-font-color);
}


 
/* All tab content */
.hourly-forecast { 
  animation: fadeIn 0.3s ease-in-out;  
}
 
/* Optional fade-in */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}