
.componentMain {
  max-width: 800px;
  max-height: CALC(CALC(var(--vh, 1vh) * 100) - 110px);
}
.mainTable td {
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

.selectType {
  align-self: center;
}

