<div class="componentMain">
  <div class="closeButton" (click)="remove_me('TodoComponent');"></div> 
  <div class="componentTitle">Checklist</div>

  <div style="display: flex; justify-content: center; align-items: center; gap: 20px"> 
    <select #selectedType class=selectType (change)="typeOnChange()" style="font-size:large">
      <option *ngFor="let type of todoTypes" [value]="type">{{ type }} <span *ngIf="type === selectedType.value">({{ todoCount }})</span></option>
    </select>
    <span class="smallFont cursorPointerUnderlined" (click)="openEditListPanel()">[Edit]</span>
    <span class="smallFont cursorPointerUnderlined" (click)="openShareListPanel()">[Share]</span>
  </div>

  <fieldset class="addTodoInputFieldset"> 
    <input type="text" id="todoInput" [placeholder]="todoPlaceholder" #todoInput required (keydown.enter)="addTodo()" />
    <input type="url" id="urlInput" placeholder="url?" #urlInput (keydown.enter)="addTodo()" />
    <app-media-selector #mediaSelector
      [currentDirectory]="'Users/' + (parentRef?.user && parentRef?.user?.id != 0 ? parentRef?.user?.username : 'Anonymous')"
      [user]="parentRef?.user" [inputtedParentRef]="parentRef" [maxSelectedFiles]="10" [uploadButtonText]="''" (selectFileEvent)="selectFile($event)"></app-media-selector>
    <input type="submit" value="💾Save" (click)="addTodo()" />
  </fieldset>

  <div class="mainTableContainer" [style.opacity]="!isLoading ? '1' : '0.5'">
    <table class="mainTable" id="todoTable">
      <thead>
        <tr>
          <th>
            <input placeholder="Search" #searchInput (keyup)="search()" [style.visibility]="todos && todos.length > 1 ? 'visible' : 'hidden'" />
            <button (click)="search()" [style.visibility]="todos && todos.length > 1 ? 'visible' : 'hidden'">🔍</button>
          </th>
          <th (click)="sortTable(1, 'todoTable')">🔗</th>
          <th (click)="sortTable(2, 'todoTable')">📅</th>
          <th></th>
        </tr>
      </thead>
      <tbody *ngIf="todos.length > 0">
        <tr *ngFor="let item of todos" id="todoNo{{item.id}}">
          <td *ngIf="item.id">
            <div>
              <span class="todoText" *ngIf="!isEditing.includes(item.id)">{{ item.todo }}</span>
              <textarea *ngIf="isEditing.includes(item.id)" [value]="item.todo" id="todoEditingTextarea" style="width:100%"></textarea>
            </div>
            <app-media-viewer *ngIf="item.fileId" [fileId]="item.fileId" [inputtedParentRef]="parentRef"
              [showCommentSection]="false" [showMediaInformation]="true" [displayExpander]="true"
              [displayExtraInfo]="true"></app-media-viewer>
          </td>
          <td><a (click)="visitUrl(item.url)" *ngIf="item.url" [title]="item.url">🔗</a></td>
          <td class="todoDate" [title]="(item.date?.toString() ?? '').replace('T',' ')">{{ item.date | timeSince }}</td>
          <td *ngIf="item.id" style="display:flex; gap: 5px; justify-content: space-around;">
            <button (click)="editTodo(item.id)" [title]="'Edit'" class="xxSmallFont cursorPointer">{{ isEditing.includes(item.id) ? '💾':'✏️'}}</button>
            <input type="button" value="❌" [title]="'Delete'" (click)="deleteTodo(item.id!);" id="todoDeleteNo{{item.id}}" class="xxSmallFont cursorPointer" *ngIf="!isEditing.includes(item.id)" />
          </td>
        </tr>
      </tbody>
    </table><div *ngIf="todos.length <= 0 && !isLoading">Nothing in this list yet!</div>
    <div *ngIf="todos.length <= 0 && isLoading">Loading...</div>
  </div>
</div>
<div class="popupPanel" *ngIf="isEditListPanelOpen">
  <div class="popupPanelTitle">Edit list</div>
  <div>
    <div *ngFor="let type of todoTypes">{{type}} <span class="cursorPointer" (click)="hideColumn(type)">[❌]</span></div>
  </div>
  <div>
    <input #addNewColumnInput />
    <button (click)="addColumn()">Add</button>
  </div>
  <div>
    <button id="closeOverlay" (click)="closeEditListPanel()">Close</button>
  </div>
</div>

<div class="popupPanel" *ngIf="isShareListPanelOpen">
  <!-- Existing Share Panel Content -->
  <div *ngIf="!defaultTodoTypes.includes(selectedType.value) && !showSharedList">
    <div class="panel-title">Share {{selectedType.value}} list?</div>
    <div class="user-list-container">
      <app-user-list [displayOnlyFriends]="true" [inputtedParentRef]="parentRef" [hidePreviousMessages]="true" (userClickEvent)="shareWith($event);">
      </app-user-list>
    </div> 
  </div> 

  <!-- New Shared Columns Display -->
  <div *ngIf="showSharedList" class="shared-columns-view">
    <div class="panel-title">Sharing Status</div>  
    <div class="shared-section" *ngIf="this.sharedColumns.length > 0"> 
      <div class="shared-user" *ngFor="let item of getSharedWithYou()">
        
        <div>
          <div>Category: {{item.columnName}}</div>
          <div class="smallFont">Shared With {{item.sharedWith.split(',').length}} user{{item.sharedWith.split(',').length > 0 ? 's' : ''}}.</div>

          <app-user-tag [userId]="item.ownerId" [inputtedParentRef]="parentRef" 
            [displayHoverPicture]="true" 
            [displayMiniTag]="true">
          </app-user-tag>
        </div>
        
        <div class="shareListButtons">
          <div>
            Enabled:
            <label class="toggle-switch">
              <input type="checkbox" [checked]="isColumnAdded(item.columnName)" (change)="toggleSharedColumn(item)">
              <span class="slider round"></span>
            </label>
          </div> 
          <div>
            Delete: <button class="unshare-btn" (click)="leaveSharedColumn(item.columnName, item.ownerId)">Remove</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Shared By Current User -->
    <!-- <div class="shared-section" *ngIf="this.sharedColumns.length > 0">
      <h4>You've Shared:</h4>
      <div class="shared-user" *ngFor="let column of getSharedUsers()"> 
        <div>
          <div>Column: {{column.columnName}}</div>
          <div>Shared With {{column.sharedWith.split(',').length}} user{{column.sharedWith.split(',').length > 0 ? 's' : ''}}.</div>
          <div style="display: flex;justify-content: space-between;"><span>Owner:</span><app-user-tag [userId]="column.ownerId" [inputtedParentRef]="parentRef" [displayHoverPicture]="true"></app-user-tag></div>
        </div>
        <div class="shared-with">
          <div>Users:</div>
          <div *ngFor="let userId of column.sharedWith.split(',')" class="sharedWithUser">
            <app-user-tag [userId]="userId" [inputtedParentRef]="parentRef" [displayHoverPicture]="true"></app-user-tag>
            <button class="unshare-btn" (click)="unshare(column.columnName, userId)">Remove</button>
          </div>
        </div> 
      </div>
    </div> -->

    <div *ngIf="this.sharedColumns.length === 0">
      <p>Currently no lists shared with anyone</p>
    </div>
  </div> 
  <div class="panel-footer">
    <button class="view-shared-btn" (click)="showSharedList = true" *ngIf="!showSharedList">
      View Shared Status
    </button>
    <button *ngIf="showSharedList" class="back-btn" (click)="showSharedList = false">
      Back to Sharing
    </button>
    <button id="closeOverlay" (click)="closeShareListPanel()">Close</button>
  </div>
 
  <div class="shareErrorMessage" *ngIf="defaultTodoTypes.includes(selectedType.value) && !showSharedList">
    {{selectedType.value}} cannot be shared.<br>Choose another or create a new list to share it with another user.
    <div class="smallFont thirdFontColor">Cannot share : {{defaultTodoTypes.join(', ')}}</div>
  </div>

</div>