
.componentMain {
  max-width: 800px;
}

.mainTable td {
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

.selectType {
  align-self: center;
}

.todoDate {
  font-size: x-small;
  white-space: nowrap !important;
}

.mainTableContainer {
  overflow: auto;
  max-height: CALC(var(--vh, 1vh) * 100 - 130px);
}
@media only screen and (max-width : 600px) {
.mainTableContainer { 
    max-height: CALC(var(--vh, 1vh) * 100 - 170px);
  }
}

.addTodoInputFieldset {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}
