.smallContainerForMedia
 {
    max-height:150px;
    max-width:150px;
    overflow:auto;
}
.mediaSelectorDiv {
    display:flex;
    justify-content:center;
    max-width: 300px;
    min-width:50px;
}
