#selectMediaDiv {
  display: none;
  position: fixed;
  z-index: 1000;
  background: var(--main-bg-color-full-opacity);
  border: var(--main-border);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 350px;
  height: 370px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  padding-bottom: 35px;
}

  #selectMediaDiv.open {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    z-index: 3;
    border-radius: 8px;
  }

.smallContainerForMedia {
  text-align: center;
  border: var(--main-border);
}
  .smallContainerForMedia button {
    cursor: pointer;
  }

  .searchContainerDiv {
    overflow: auto;
  }

.mediaSelectorTitle {
  font-weight: bolder;
  text-align: center;
}

.mediaSelectorButton {
  white-space: nowrap;
}

.mediaFileName {
  display: inline-block;
  width: 10vw;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.attachmentChoiceContainer {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  width: 300px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  gap: 15px;
  overflow: auto;
}
.mediaChoices {
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
}
.fileSearchDiv { 
  height: 350px;
  width: 100%;
  overflow:auto;
}

.fileUploadOverlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: var(--main-highlight-color-quarter-opacity);
}
.selectFilesTitle {
  font-family: var(--title-font-family);  
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.searchUploadButtonChoiceDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: space-between;
  justify-content: space-between;
  align-items: center;
  width: 96%;
  position: absolute;
  bottom: 0px;
}
