#selectMediaDiv {
  display: none;
  position: fixed;
  background: var(--secondary-component-background-color);
  border: var(--main-border);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  /* width: CALC(100vw - 4px); */
  width: CALC(75vw - 4px);
  height: CALC(var(--vh, 1vh) * 50);
  top: 0;
  left: 0;
  overflow: hidden;
}

@media only screen and (max-width:800px) {
  #selectMediaDiv {
    width: CALC(100vw - 4px);
    height: CALC(var(--vh, 1vh) * 100);
  }

  #selectMediaDiv.open {
    transform: unset !important;
  }

  .attachmentChoiceContainer {
    max-height: CALC(var(--vh, 1vh) * 100 - 170px) !important;
    min-height: 60vh;
  }
}

#selectMediaDiv.open {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  z-index: 30;
  border-radius: 8px;
  transform: translate(15vw, 25vh);
}

.smallContainerForMedia {
  text-align: center;
  border: var(--main-border);
}

.smallContainerForMedia button {
  cursor: pointer;
}

.searchContainerDiv {
  overflow: auto;
}

.mediaSelectorTitle {
  font-weight: bolder;
  text-align: center;
}

.maximumFilesTitle {
  margin-top: 15px;
}

.mediaSelectorButton {
  white-space: nowrap;
}

.mediaSelectorButtonFullWidthHeight {
  width: 100%;
  height: 100%;
}

.mediaFileName {
  display: inline-block;
  width: 10vw;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
} 
.attachmentChoiceContainer {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  gap: 5px;
  overflow-y: auto;
  overflow-x: hidden;
  border: var(--main-border);
  border-radius: 8px;
  border-color: var(--third-font-color);
  max-height: 300px;
}

.attachmentChoiceContainer button {
  height: unset !important;
  width: calc(100% - 30px);
  text-overflow: ellipsis;
  overflow: hidden;
}

.mediaChoices {
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
}

.fileSearchDiv {
  /* height: 100%;
  width: 100%; */
  overflow: auto;
  line-height: normal;
}

.fileUploadOverlay {
  position: absolute;
  top: 0px;
  left: 0px;
  /* width: 100%;
  height: 100%; */
  z-index: 1;
  background-color: var(--main-highlight-color-quarter-opacity);
}

.selectFilesTitle {
  font-family: var(--title-font-family);
  width: 100%;
  display: flex;
  align-items: center;
  font-size: large;
  justify-content: space-around;
  gap: 35px;
  position: absolute;
  top: -1px;
  border: var(--main-border);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 10px;
  background: linear-gradient(135deg, var(--component-background-color), var(--secondary-component-background-color));
}

.searchUploadButtonChoiceDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: space-between;
  justify-content: center;
  align-items: center;
  width: 96%;
  gap: 35px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}