<div class="mediaSelectorDiv">
  <button class="mediaSelectorButton cursorPointer" (click)="toggleMediaChoices()">
    🧷{{uploadButtonText}}
    <span style="font-size:xx-small" *ngIf="selectedFiles && selectedFiles.length > 0">({{ selectedFiles.length }})</span>
  </button>
  <ng-container *ngIf="viewMediaChoicesOpen || displaySearch">
    <div id="selectMediaDiv" [ngClass]="{'open': viewMediaChoicesOpen || displaySearch}">

      <div class="mediaSelectorTitle selectFilesTitle">
        <span>
          Select Media Files <span class="smallFont" *ngIf="selectedFiles && selectedFiles.length > 0">({{selectedFiles.length}} selected)</span>
        </span>

        <button id="closeOverlay" class="doneButton cursorPointer" #doneButton (click)="done()" *ngIf="(displaySearch && selectedFiles.length > 0) ? true  : true">{{selectedFiles && selectedFiles.length > 0 ? 'Finished' : 'Cancel'}}</button>
      </div>
      <div class="smallFont" *ngIf="maxSelectedFiles">
        Maximum: {{maxSelectedFiles}} files.
      </div>
      <!-- SELECTED MEDIA FILES-->
      <div [class]="selectedFiles && selectedFiles.length > 0 ? 'mediaChoices' : ''" [style.display]="selectedFiles && selectedFiles.length > 0 ? 'block' : 'none'">
        <div *ngIf="viewMediaChoicesOpen">
          <div class="attachmentChoiceContainer" *ngIf="selectedFiles && selectedFiles.length > 0">
            <div *ngFor="let file of selectedFiles">
              <div class="smallContainerForMedia">
                <div>
                  <div><button (click)="removeFile(file)">Remove {{file.fileName}}</button></div>
                </div>
                <app-media-viewer [user]="user"
                                  [inputtedParentRef]="inputtedParentRef"
                                  [currentDirectory]="file.directory"
                                  [file]="file"
                                  [showCommentSection]="false"
                                  [showTopics]="false"
                                  [displayExtraInfo]="false"
                                  [displayExpander]="false"
                                  [autoplay]="false" 
                                  (expandClickedEvent)="removeFile(file)">
                </app-media-viewer>
              </div>
            </div>
          </div>

        </div>
      </div>

      <!-- file searching display -->

      <div *ngIf="displaySearch && !maxFilesReached" class="fileSearchDiv">
        <app-file-search [user]="user"
                         [inputtedParentRef]="inputtedParentRef"
                         [currentDirectory]="currentDirectory"
                         [clearAfterSelectFile]="true"
                         [showPrivatePublicOption]="false"
                         [maxResults]="10"
                         [canChangeDirectory]="true"
                         [fileSearchMode]="true"
                         [displayFileType]="false"
                         [displayFileSize]="false"
                         [displayFileData]="false"
                         [displayFileActions]="false"
                         [displayReactions]="false"
                         [displayComments]="false" 
                         [autoload]="true"
                         (expandClickedEvent)="expandClickedEvent($event)"
                         (selectFileEvent)="selectFile($event)"
                         (currentDirectoryChangeEvent)="directoryChanged($event)">
        </app-file-search>
      </div>

       
      <!-- SEARCH/UPLOAD buttons -->
      <div class="searchUploadButtonChoiceDiv" *ngIf="!maxFilesReached">
        <button (click)="displaySearch ? closeSearchDiv($event) : displaySearchDiv()" title="Search for files" class="cursorPointer">
          {{displaySearch ? 'Close Search' : ('🔍Search' )}}
        </button>
        <div *ngIf="!displaySearch">
          <app-file-upload #fileUploadComponent
                           [uploadButtonText]="uploadButtonText"
                           [inputtedParentRef]="inputtedParentRef"
                           [showPrivatePublicOption]="false"
                           [currentDirectory]="currentDirectory"
                           (userUploadFinishedEvent)="uploadFinishedEvent($event)"
                           (userUploadEvent)="uploadEvent($event)"
                           (userCancelEvent)="uploadCancelledEvent($event)"
                           [user]="user">
          </app-file-upload>
        </div>
      </div>
    </div>
  </ng-container>
</div> 
