<div [class]="'mediaSelectorDiv' + (takeAllSpace ? ' mediaSelectorButtonFullWidthHeight' : '')">
  <button 
    [class]="'mediaSelectorButton cursorPointer' + (takeAllSpace ? ' mediaSelectorButtonFullWidthHeight' : '')" 
    (click)="toggleMediaChoices()" 
    [disabled]="disabled"
    [title]="viewMediaChoicesOpen ? 'Close Media Selector' : 'Select Media Files'">
    📎{{uploadButtonText}}
    <span style="font-size:smaller" *ngIf="selectedFiles && selectedFiles.length > 0">({{ selectedFiles.length }})</span>
  </button>
  <ng-container *ngIf="viewMediaChoicesOpen || displaySearch">
    <div id="selectMediaDiv" [ngClass]="{'open': viewMediaChoicesOpen || displaySearch}" [style]="!displaySearch ? 'justify-content: center;' : ''">

      <div class="mediaSelectorTitle selectFilesTitle" *ngIf="!displaySearch">
        <span class="popupPanelTitle">
          Select Media Files <span class="smallFont" *ngIf="selectedFiles && selectedFiles.length > 0">({{selectedFiles.length}} selected)</span>
        </span>

        <button id="closeOverlay" class="doneButton cursorPointer" #doneButton (click)="done()" *ngIf="(displaySearch && selectedFiles.length > 0) ? true  : true">{{selectedFiles && selectedFiles.length > 0 ? 'Finished' : 'Cancel'}}</button>
      </div>
      <div class="smallFont maximumFilesTitle" *ngIf="maxSelectedFiles && !displaySearch">
        Maximum: {{maxSelectedFiles}} files.
      </div>
      <!-- SELECTED MEDIA FILES-->
      <div [class]="selectedFiles && selectedFiles.length > 0 ? 'mediaChoices' : ''" [style.display]="selectedFiles && selectedFiles.length > 0 ? 'block' : 'none'">
        <div *ngIf="viewMediaChoicesOpen && selectedFiles && selectedFiles.length > 0" class="attachmentChoiceContainer">
         
          <div *ngFor="let file of selectedFiles" class="smallContainerForMedia"> 
            <div style="display:flex; flex-direction: column; width:100%">
              <div><button (click)="removeFile(file)" style="width:100%">Remove</button></div>
              <div>{{file.fileName}}</div>
            </div>
            <app-media-viewer [user]="user"
                              [inputtedParentRef]="inputtedParentRef"
                              [currentDirectory]="file.directory"
                              [file]="file"
                              [showCommentSection]="false"
                              [showTopics]="false"
                              [displayExtraInfo]="false"
                              [displayExpander]="false"
                              [autoplay]="false" 
                              (expandClickedEvent)="removeFile(file)">
            </app-media-viewer>
            
          </div> 

        </div>
      </div>

      <!-- file searching display -->

      <div *ngIf="displaySearch && !maxFilesReached" class="fileSearchDiv">
        <app-file-search #fileSearchComponent
                         [user]="user"
                         [inputtedParentRef]="inputtedParentRef"
                         [currentDirectory]="currentDirectory"
                         [clearAfterSelectFile]="true"
                         [showPrivatePublicOption]="false"
                         [maxResults]="10"
                         [canChangeDirectory]="true"
                         [fileSearchMode]="true"
                         [displayFileType]="false"
                         [displayFileSize]="false"
                         [displayFileData]="false"
                         [displayFileActions]="false"
                         [displayReactions]="false"
                         [displayComments]="false" 
                         [autoload]="true"
                         (expandClickedEvent)="expandClickedEvent($event)"
                         (selectFileEvent)="selectFile($event)"
                         (currentDirectoryChangeEvent)="directoryChanged($event)">
        </app-file-search>
      </div>

       
      <!-- SEARCH/UPLOAD buttons -->
      <div class="searchUploadButtonChoiceDiv" *ngIf="!maxFilesReached">
        <button id="closeOverlay" (click)="displaySearch ? closeSearchDiv($event) : displaySearchDiv()"  
          title="Search for files" class="cursorPointer" 
          [style]="displaySearch ? 'position:relative; top:-10px;' : ''">
          {{displaySearch ? 'Close Search' : ('🔍Search' )}}
        </button>
        <div *ngIf="!displaySearch">
          <app-file-upload #fileUploadComponent
                           [allowedFileTypes]="allowedFileTypes"
                           [uploadButtonText]="uploadButtonText || 'Upload'"
                           [inputtedParentRef]="inputtedParentRef"
                           [showPrivatePublicOption]="false"
                           [currentDirectory]="currentDirectory"
                           (userUploadFinishedEvent)="uploadFinishedEvent($event)"
                           (userUploadEvent)="uploadEvent($event)"
                           (userCancelEvent)="uploadCancelledEvent($event)"
                           [maxSelectedFiles]="maxSelectedFiles"
                           [user]="user">
          </app-file-upload>
        </div>
      </div>
    </div>
  </ng-container>
</div> 
