.sigint-container {
    position: relative;
    width: 100%;
    height: calc(100vh - 70px);
    overflow: hidden;
    background: #000;
}

app-starry-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

app-globe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}