<div class="componentMain">
    <app-title-bar [title]="'SigInt'" [hasSearch]="true" (menuClicked)="showMenuPanel()"
        (closeClicked)="safeDestroy();"></app-title-bar>
    <div class="sigint-container">
        <app-starry-background></app-starry-background>
        <app-globe [inputtedParentRef]="parentRef" (isLoadingEvent)="isLoadingEventFired($event)"></app-globe>
    </div>
</div>

<!-- Menu Popup -->
<div class="popupPanel" *ngIf="isMenuPanelOpen">
    <div class="popupPanelTitle popupPanelContents" style="margin-bottom:15px;">
        SigInt Menu
    </div>

    <button id="closeOverlay" (click)="closeMenuPanel()" class="closeButton">Close</button>
</div>