<div class="componentMain" [style.paddingTop]="isFullScreen ? '0px' : null">
  <div class="closeButton" (click)="remove_me('EmulatorPs1Component');" *ngIf="!isFullScreen"></div>
  <div class="menuButton" (click)="toggleFullscreen();" *ngIf="!isFullScreen"></div>
  <div class="componentTitle" *ngIf="!isFullScreen">
    <span class="romNameTitle">{{ romName ? getRomName() : 'PS1 Emulator' }}</span>
  </div>
  <div *ngIf="!romName">Please note: Still under construction</div>

  <!-- Search panel (hide after selecting a ROM) -->
  <div class="gamesContainer expanded" *ngIf="!romName">
    <app-file-search
      [user]="parentRef?.user"
      [inputtedParentRef]="parentRef"
      [currentDirectory]="'Roms/'"
      [clearAfterSelectFile]="true"
      [showPrivatePublicOption]="false"
      [showFileSearchOptions]="false"
      [canChangeDirectory]="false"
      [canDragMove]="false"
      [displayFileActions]="true"
      [displayComments]="false"
      [displayFileSize]="false"
      [displayReactions]="false"
      [allowedFileTypes]="getAllowedRomFileTypes()"
      [disabled]="isLoading"
      [showPicturesOnlyToggler]="false"
      [showVideosOnlyToggler]="false"
      [showNSFWToggler]="false"
      (selectFileEvent)="onFileSearchSelected($event)">
    </app-file-search>
  </div>

  <!-- Emulator viewport -->
  <div #fullscreenContainer [style.visibility]="romName ? 'visible' : 'hidden'"
       [style.height]="romName ? (isFullScreen ? '100vh' : '') : '0px'">
    <div class="screen-area">
      <div #container class="player-container"></div>
    </div>
  </div>
</div>

  <!-- Menu Popup -->
  <div class="popupPanel" *ngIf="isMenuPanelOpen">
    <div class="popupPanelTitle" style="margin-bottom:15px;">
      PS1 Menu
    </div> 
    <div>
      <app-file-upload
        [currentDirectory]="'Roms'"
        [user]="parentRef?.user!"
        [inputtedParentRef]="parentRef"
        [uploadButtonText]="'Upload Rom(s)'"
        [maxSelectedFiles]="100"
        [allowedFileTypes]="getAllowedRomFileTypesString()"
        [displayOptionsAndTopicsButtons]="false"
        (userUploadEvent)="isFileUploaderExpanded = true;"
        (userCancelEvent)="isFileUploaderExpanded = false;"
        (userUploadFinishedEvent)="finishFileUploading()">
      </app-file-upload>
    </div> 
    <button id="closeOverlay" (click)="closeMenuPanel()" class="closeButton">Close</button>
  </div>