.componentMain { width: 100vw; overflow: hidden; border: unset !important; }
.romNameTitle { width: calc(100% - 100px); display: block; overflow: hidden; text-overflow: ellipsis; }
.gamesContainer { width: 100%; height: calc(var(--vh, 1vh) * 100 - 65px); overflow: auto; }
.screen-area { width: 100%; display: flex; align-items: center; justify-content: center; overflow: hidden; }
.player-container { width: 100%; height: calc(100vh - 60px); }
.player-container, wasmpsx-player { touch-action: none; overscroll-behavior: none; }
.uploaderPopupPanel { width: calc(100% - 60px); min-height: 60vh; } 
