<div class="popupPanel menuPanel" *ngIf="visible">
  <div *ngIf="type === 'login'">
    <app-user [loginOnly]="true" [inputtedParentRef]="parentRef" [canClose]="false"
      (closeUserComponentEvent)="close.emit($event)"
      [loginReasonMessage]="message">
    </app-user>
  </div>
  <div *ngIf="type !== 'login' && message !== ''">
    <span class="prompt-message-row">
      <span *ngIf="emoji" class="prompt-emoji">{{ emoji }}</span>
      <span>{{ message }}</span>
    </span>
  </div>
  <div class="promptButtonContainer">
    <button *ngIf="showSpecialAction" id="specialActionButton" (click)="specialActionCallback && specialActionCallback()" class="specialActionButton" [attr.title]="specialActionButtonLabel">
      {{ specialActionButtonLabel }}
    </button>
    <button id="closeOverlay" (click)="close.emit($event)" class="closeButton">Close</button>
  </div>
</div>
