.map {
  display: flex;
  flex-direction: column;
  overflow: auto;
  width: 100%;
  height: 275px;
  position: relative;
}

.row {
  display: flex;
}

.cell {
  width: 50px;  
  height: 50px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.cell-content {
  width: 50px;
  height: 50px;
  overflow: hidden;
  background-color: #150f0f;
}


.cell-content-coords {
  position: relative;
  top: -13px;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  font-size: small;
  pointer-events: none;
  width: 50px;
  height: 12px;
  line-height: 13px;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: keep-all;
  color: var(--secondary-font-color);
  text-shadow: 0.2px 1px 1.1px var(--primary-font-color);
}
.cell-content-coords-adjustedForBase {
  top: -27px;
}
.attackIconSpan-adjustedForNoBase {
  top: -50px !important;
}
.mapInput {
  width: 40px;
}

.centeredDiv {
  text-align: center;
}

.attacking::before {
  content: '⚔️';
}

.reportsDisplayDiv {
  max-height: 200px;
  overflow: auto;
}
.baseAllianceSpan {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: relative;
  top: -50px;
  right: -30px; 
  display: block;
}
.myBase {
  background-color: var(--main-font-color);
}
.emptyBase {
  background-color: gray;
}
.enemyBase {
  background-color: orangered;
}
.incomingIconSpan {
  width: 10px;
  height: 10px; 
  position: relative;
  top: -72px;
  left: 4px;
  display: block;
}
.attackDefenceTimers {
    max-height: 150px;
    overflow: auto;
}
.topMapCoords {
    display: flex;
    justify-content: space-between;
}
.zoomInButtonDiv {
  display: none;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100px;
  height: 30vh;
}
.attackScreenDiv {
  max-height: CALC(100vh - 430px);
  overflow: auto;
}
