<div class="map" *ngIf="mapData" #mapContainer>
  <div *ngFor="let row of grid; let y = index" class="row">
    <div *ngFor="let cell of row; let x = index" class="cell" [attr.x]="x" [attr.y]="y">
      <div class="cell-content" (click)="selectCoordinates(x, y);">
        <div *ngIf="nexusPictureSrc && mapTileSrc">
          <img [src]="grid[x][y] ? nexusPictureSrc : mapTileSrc" class="cell-content">
        </div>
        <div class="cell-content-coords">{{x + ',' + y}}</div>
      </div>
    </div>
  </div>
</div>
<div>
  X:
  <input type="number" placeholder="0" min="0" max="grid[0].length" #mapInputX class="mapInput" (keyup.enter)="showMapLocation()" />
  Y:
  <input type="number" placeholder="0" min="0" max="grid[0].length" #mapInputY class="mapInput" (keyup.enter)="showMapLocation()" />
  <button (click)="showMapLocation()">Show</button>
  <button (click)="clearMapInputs()">Clear</button>
</div>
<div (click)="showHomeBase()">
  Show home base.
  <button (click)="showHomeBase()">Show</button>
</div>
<div *ngIf="selectedNexusBase">
  <div>
    <button (click)="showAttackScreen()" *ngIf="showAttackButton">Attack</button>
    📍: {{'{' + selectedNexusBase.coordsX + ',' + selectedNexusBase.coordsY + '}'}}
    <span *ngIf="selectedNexusBase.user">
      User: <span style="display:inline-block;"><app-user-tag [user]="selectedNexusBase.user" [inputtedParentRef]="inputtedParentRef" [displayOnlyName]="true"></app-user-tag></span>
    </span>
  </div>
</div>
<div *ngIf="isAttackScreenOpen">
  <app-nexus-attack-screen [selectedNexus]="selectedNexusBase"
                           [nexusUnits]="nexusUnits"
                           [unitStats]="unitStats"
                           [marinePictureSrc]="marinePictureSrc"
                           [goliathPictureSrc]="goliathPictureSrc"
                           [siegeTankPictureSrc]="siegeTankPictureSrc"
                           [scoutPictureSrc]="scoutPictureSrc"
                           [wraithPictureSrc]="wraithPictureSrc"
                           [battlecruiserPictureSrc]="battlecruiserPictureSrc"
                           (closedAttackScreen)="closedAttackScreen()">
  </app-nexus-attack-screen>
</div>
