<div class="map" *ngIf="mapData" #mapContainer>
  <div *ngFor="let row of grid; let y = index" class="row">
    <div *ngFor="let cell of row; let x = index" class="cell" [attr.x]="x" [attr.y]="y">
      <div class="cell-content" (click)="selectCoordinates(x, y);">
        <div *ngIf="nexusPictureSrc && mapTileSrc" [id]="'x' + x + ',y' + y + 'LocDiv'">
          <img [src]="grid[x][y] ? nexusPictureSrc : mapTileSrc" class="cell-content">
        </div>
        <div class="cell-content-coords" [id]="'x' + x + ',y' + y + 'LocCoordsDiv'">{{x + ',' + y}}</div>
      </div>
    </div>
  </div>
</div>
<div class="centeredDiv" *ngIf="!isAttackScreenOpen">
  <div> 
    <button (click)="closeMapEvent.emit()" title="Close Map">❌Close</button>
    <button (click)="showHomeBase()" *ngIf="nexusBase">📍:{{'{' + nexusBase.coordsX + ',' + nexusBase.coordsY + '}'}}</button>
  </div>

  X: <input type="number" placeholder="0" min="0" max="99" #mapInputX class="mapInput" (keyup.enter)="showMapLocation()" />
  Y: <input type="number" placeholder="0" min="0" max="99" #mapInputY class="mapInput" (keyup.enter)="showMapLocation()" />

  <button (click)="showMapLocation()" *ngIf="mapInputX.value && mapInputY.value" [disabled]="!mapInputX.value || !mapInputY.value">📍:{{'{' + mapInputX.value + ',' + mapInputY.value  + '}'}}</button>
  <button (click)="clearMapInputs()" *ngIf="mapInputX.value || mapInputY.value">Clear</button>
</div>

<div *ngIf="selectedNexusBase" class="centeredDiv">
  <button (click)="showAttackScreen()" *ngIf="showAttackButton">Attack</button>
  {{isAttackScreenOpen ? 'Attacking 📍:' : '📍:'}} {{'{' + selectedNexusBase.coordsX + ',' + selectedNexusBase.coordsY + '}'}}
  <span *ngIf="selectedNexusBase.user">
    👤: <span style="display:inline-block;"><app-user-tag [user]="selectedNexusBase.user" [inputtedParentRef]="inputtedParentRef" [displayOnlyName]="true"></app-user-tag></span>
  </span>
</div>
<div *ngIf="isAttackScreenOpen">
  <app-nexus-attack-screen [user]="user"
                           [originBase]="nexusBase"
                           [selectedNexus]="selectedNexusBase"
                           [nexusUnits]="nexusUnits"
                           [unitStats]="unitStats"
                           [marinePictureSrc]="marinePictureSrc"
                           [goliathPictureSrc]="goliathPictureSrc"
                           [siegeTankPictureSrc]="siegeTankPictureSrc"
                           [scoutPictureSrc]="scoutPictureSrc"
                           [wraithPictureSrc]="wraithPictureSrc"
                           [battlecruiserPictureSrc]="battlecruiserPictureSrc"
                           (closedAttackScreen)="closedAttackScreen()"
                           (emittedReloadEvent)="emittedReloadEvent.emit()"
                           (emittedAttackCoordinates)="emittedAttackCoordinates($event)">
  </app-nexus-attack-screen>
</div>
