.chatNotificationNumber {
  font-size: 14px; 
  color: var(--secondary-font-color);
  font-weight:bold;
}

.chatIcon {
  margin-right: 4px; /* Adjust spacing between the emoji and the username */
  margin-top: 2px;
  font-size: small;
  white-space: nowrap;
}

.userList {
  overflow: hidden;
  text-overflow: ellipsis;
  border: var(--main-border);
  cursor: pointer;
  padding: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}
.userAvatars {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: row; 
}
.users {
  display: flex;
}
.user {
    width:100%;
    display: flex;
    margin-right: 10px;
}
.username {
  color: white;
}
.searchDiv {
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.searchResults {
    margin-top: 10px;
}
.prevChatMessages {
    color: var(--secondary-font-color);
    text-align:center;

} 
.popupPanel { 
  width: 320px; 
}

.popupPanelTitle {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.searchPopupUserListWrapper {
  max-height: 350px;
  overflow: auto;
}

.searchUsersSpan {
  cursor: pointer;
  margin-left: 10px;
}
.popupPanelTitle {
  margin-bottom: 20px;
}
.popupPanel button {
  margin-top: 20px;
}
