.chatNotificationNumber {
  font-size: 14px; 
  color: var(--secondary-font-color);
  font-weight:bold;
}

.chatIcon {
  margin-right: 4px; /* Adjust spacing between the emoji and the username */
  margin-top: 2px;
  font-size: small;
  white-space: nowrap;
}

.userList {
  overflow-y: auto;
  border: var(--main-border);
  cursor: pointer;
  padding: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

.user {
    width:100%;
}
.searchDiv {
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.searchResults {
    margin-top: 10px;
}
.prevChatMessages {
    color: var(--secondary-font-color);
    text-align:center;

} 
.popupPanel {
  position: fixed;
  width: 320px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--main-bg-color);
  z-index: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 8px;
  overflow: auto;
  padding: 20px;
}

.popupPanelTitle {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.searchUsersSpan {
  cursor: pointer;
  margin-left: 10px;
}
