<!-- Search Popup -->
<div class="{{searchOnly ? '' : 'popupPanel searchPopup'}}" *ngIf="isSearchPanelOpen">
  <div class="popupPanelTitle">Search Users</div>
  <div>
    <input #searchInput (keyup)="searchUsers()" placeholder="🔍Search for Users" />
    <div class="searchPopupUserListWrapper">
      <div>
        Result(s): {{ usersSearched.length }}
      </div>
      <div *ngFor="let user of usersSearched" class="userList" (click)="closeOverlayOnClick(user);">
        <span class="user">
          <app-user-tag [user]="user"
                        [inputtedParentRef]="inputtedParentRef ?? parentRef"
                        [displayMiniTag]="true"
                        [preventOpenProfile]="true"
                        [preventExpandPicture]="true"></app-user-tag> 
        </span>
        <span class="chatIcon" *ngIf="getChatNotificationsByUserId(user.id)">
          💬
          <span class="chatNotificationNumber">
            {{ getChatNotificationsByUserId(user.id) }}
          </span>
        </span>
      </div>
    </div> 
  </div>
  <div *ngIf="!searchOnly">
    <button id="closeOverlay" (click)="closeSearchPanel()">Ok</button>
  </div>
</div>


<div class="searchDiv" [style.display]="searchOnly ? 'inline-flex' : 'flex'">
  <div *ngIf="displayRadioFilters">
    Show:
    <label>
      <input type="radio" name="userFilter" value="friends" (change)="filterUsers()" #friendsRadio [checked]="displayOnlyFriends" />
      Friends
    </label>
    <label>
      <input type="radio" name="userFilter" value="all" (change)="filterUsers()" #allUsersRadio [checked]="!displayOnlyFriends" />
      All Users
    </label>
  </div> 
  <div> 
    <button (click)="openSearchPanel()" class="searchUsersSpan" title="Search All Users" *ngIf="!isSearchPanelOpen">🔍Search</button>
    <button (click)="userClickEvent.emit()" class="searchUsersSpan" title="Cancel" *ngIf="sharingSearch && !isSearchPanelOpen">❌Cancel</button>
  </div>
</div>
<div class="searchResults">
  <div class="prevChatMessages popupPanelTitle" *ngIf="!searchOnly">
    {{ isFriendsChecked ? 'Friends' : 'User' }} List
  </div>
  <div *ngFor="let user of users" class="userList" (click)="closeOverlayOnClick(user);">
    <span class="user"> 
      <app-user-tag [user]="user"
                    [inputtedParentRef]="inputtedParentRef ?? parentRef"
                    [displayMiniTag]="true"
                    [preventOpenProfile]="true"
                    [preventExpandPicture]="true"></app-user-tag>  
    </span>
    <span class="chatIcon" *ngIf="getChatNotificationsByUserId(user.id)">
      💬
      <span class="chatNotificationNumber">
        {{ getChatNotificationsByUserId(user.id) }}
      </span>
    </span>
  </div>
  <div *ngIf="!searchOnly && (!users || users.length == 0)">
    No {{ isFriendsChecked ? 'Friends' : 'Users' }} to Display.
  </div>
  <div *ngIf="(searchOnly && searchInput && searchInput.nativeElement?.value != '' && (!usersSearched || usersSearched.length == 0))">
    No Users to Display.
  </div>
  <div *ngIf="messageRows && messageRows.length > 0 && isFriendsChecked && !friendsOnly && !sharingSearch">
    <div class="prevChatMessages popupPanelTitle" *ngIf="messageRows.length > 0">
      Previous Messages
    </div>
    <div *ngFor="let row of messageRows" (click)="openChatById(row.chatId);" class="userList">
      <div class="users"> 
        <div class="userAvatars"> 
          <span *ngFor="let user of removeSelfFromReceivers(row.receiver)">
            <app-user-tag [user]="user"
                          [inputtedParentRef]="inputtedParentRef ?? parentRef"
                          [displayMiniTag]="true"
                          [preventOpenProfile]="true"
                          [preventExpandPicture]="true"
                          [displayOnlyAvatar]="true"></app-user-tag>
          </span>
        </div>
        <span *ngFor="let user of removeSelfFromReceivers(row.receiver); let i = index; let last = last">
          <span class="username">{{ user.username }}</span><ng-container *ngIf="!last">, </ng-container>
        </span>
      </div>
      
      <span class="chatIcon" *ngIf="getChatNotificationsByChatId(row.chatId)">
        💬
        <span class="chatNotificationNumber">
          {{ getChatNotificationsByChatId(row.chatId) }}
        </span>
      </span>
    </div>
  </div>

</div>

<button id="closeOverlay" style="display:none" (click)="closeOverlayOnClick()"></button>
