.chatNotificationNumber {
  font-size: 14px;
  color: var(--secondary-font-color);
  font-weight: bold;
}

.chatIcon {
  margin-right: 4px;
  /* Adjust spacing between the emoji and the username */
  margin-top: 2px;
  font-size: small;
  white-space: nowrap;
}

.userList {
  overflow: hidden;
  text-overflow: ellipsis;
  border: var(--main-border);
  cursor: pointer;
  padding: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}
.sharingSearchUserList { 
  max-height: 60vh;
  overflow-y: auto;
  padding: 15px;
  border: 2px solid; 
}

.userList .user ::ng-deep * {
  font-size: unset;
}

.userAvatars {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  gap: 5px;
}

.users {
  display: flex;
  gap: 10px;
  align-items: center;
}

.user {
  width: 100%;
  display: flex;
  margin-right: 10px;
}

.username {
  color: var(--secondary-font-color);
}

.searchDiv {
  flex-direction: row;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
}

.searchResults {
  margin-top: 10px;
}

.prevChatMessages {
  color: var(--secondary-font-color);
  text-align: center;
  margin-top: 20px;
}

.popupPanel {
  width: 320px;
}

.popupPanelTitle {
  display: flex; 
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.searchUsersSpan {
  cursor: pointer;
  margin-left: 10px;
} 

.popupPanel button {
  margin-top: 20px;
}

.searchPopup {
  max-height: CALC(var(--vh, 1vh) * 100 - 60px);
}

.onlineButton {
  height: 0px;
  width: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-left: 10px;
  font-size: xx-small !important;
}

.titleContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}