
<div class="gameCanvasContainer" [style.display]="parentRef && parentRef.user ? 'block' : 'none'">
  <canvas #gameCanvas id="gameCanvas" class="gameCanvas" width="320" height="180"></canvas>
  <button (click)="advanceStartingStoryText()" class="nextStoryTextButton" *ngIf="showingNarrationText">{{advanceStoryButtonText}}</button>
</div>


<div class="componentMain" #componentMain>
  <div class="closeButton" (click)="remove_me('MetaComponent');"></div>
  <div class="refreshButton" (click)="ngOnInit();"></div>
  <div class="componentTitle">Meta-Bots</div>

  <div *ngIf="isLoading" class="loadingModal">The game is loading...</div>

  <app-user *ngIf="isUserComponentOpen"
            [loginOnly]="true"
            [inputtedParentRef]="parentRef"
            [canClose]="false"
            (closeUserComponentEvent)="closeUserComponent($event)"
            [loginReasonMessage]="'You must log in to play Meta-Bots.'"></app-user>


  <div *ngIf="parentRef && parentRef.user">
    <div class="heroCanvasContainer" (click)="heroCanvasClicked()">
      <canvas #heroCanvas class="heroCanvas"></canvas>
    </div>

    <div class="chatBox" id="chatBox" *ngIf="!(showingNarrationText || showStartingStory)">
      <div *ngFor="let msg of chat">
        <span class="xxSmallFont">({{msg.timestamp | date: 'd/MM/yyyy@HH:mm'}})</span> <span class="heroName">{{msg.hero.name}}</span>: {{msg.content}}
      </div>
    </div>
    <div [class]="showNameInput ? 'enterNameInput' : 'chatInputDiv'">
      <input type="text" [placeholder]="showNameInput ? 'Name' : 'Chat'" #chatInput (keydown)="handleInputKeydown($event)" class="chatInput" />
    </div>

    <div class="joystick-container" *ngIf="hero">
      <div class="joystick"
           (touchstart)="startJoystick($event)"
           (touchmove)="moveJoystick($event)"
           (touchend)="stopJoystick()"
           (touchcancel)="stopJoystick()"
           (mousedown)="startJoystick($event)"
           (mousemove)="moveJoystick($event)"
           (mouseup)="stopJoystick()"
           (mouseleave)="stopJoystick()"></div>
    </div>
  </div>
</div>
