@font-face {
    font-family: fontRetroGaming;
    src: url("../../assets/metabots/retro-gaming.ttf")
}
html, body {
  image-rendering: pixelated;
  padding: 0;
  margin: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.componentMain {
  width: 99vw;
  height: CALC(CALC(var(--vh, 1vh) * 100) - 40px); 
  max-height: calc(100vh - 40px);
  overflow: hidden;
  user-select: none;
  display: flex;
  flex-direction: column;
}

.gameCanvas {
  border: var(--main-border);
  display: block;
  background-color: black;
  width: 100%;
  max-width: calc(CALC(var(--vh, 1vh) * 100) * (1024 / 910)); /* Sets max-width based on the height */
  max-height: CALC(CALC(var(--vh, 1vh) * 100) - 325px);
  margin-left: auto;
  margin-right: auto;
}

.chatArea { 
  height: CALC(100% - 630px);
}

.chatInputDiv {
  display: flex;
  justify-content: center;
  align-content: center;
}

.chatInput {
  width: 350px;
  max-width: 50%;
  font-family: fontRetroGaming;
  border-radius: 20px;
}

.loadingModal {
  position: absolute;
  left: CALC(50vw - 150px);
  top: CALC(50vh - 225px);
  width: 300px;
  height: 250px;
  border: var(--main-border);
  background-color: var(--main-bg-color);
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.chatBox {
  background-color: var(--main-bg-color);
  width: 100%;
  max-width: calc(100vh*(1024 / 910));
  height: 100%;
  overflow: auto;
  scroll-behavior: revert-layer;
  direction: rtl;
  text-align: left;
  border: var(--main-border);
  border-width: 4px;
  border-radius: 5px;
  margin-left:auto;
  margin-right:auto; 
}

.chatBoxMessage {
  font-family: fontRetroGaming;
}

.heroName {
  color: chartreuse;
}

.heroCanvasContainer {
  position: fixed;
  bottom: 10px;
  left: 10px;
  width: 64px;
  height: 80px;
  overflow: hidden;
  transform-origin: bottom left;
  border: var(--main-border);
}
 

.inputArea {
  display: flex;
  justify-content: space-between; 
}

.controls {
  display: flex;
  justify-content: space-between;
}

.dpad {
  position: fixed;
  bottom: 10px;
  left: 10px;
  display: inline-block;
  width: 160px;
  height: 160px;
  z-index: 5;
}

  .dpad > * {
    width: 36%;
    height: 34%;
    position: absolute;
    background-color: var(--main-bg-color);
    cursor: pointer;
  }
  .dpad .middle {
    width: 60px;
    height: 60px;
  }

    .dpad > * i {
      position: relative;
      display: block;
      margin: 0 auto;
      text-align: center;
      height: 100%;
      font-size: 28px;
      color: #333a4a;
      text-shadow: 0px -0.5px 0px #aaa;
    }

.up { 
  left: 33%;
  border-top: 4px solid black;
  border-left: 4px solid black;
  border-right: 4px solid black;
  border-radius: 5px 5px 0px 0px;
}

  .up:active {
    background: linear-gradient(to top, #565e6a 0%, #333 100%);
  }

.right {
  top: 33%;
  left: calc(70%);
  border-top: 4px solid black;
  border-bottom: 4px solid black;
  border-right: 4px solid black;
  border-radius: 0px 5px 5px 0px;
  box-shadow: 0px -2px 0px #888 inset;
}

  .right:active {
    background: linear-gradient(to right, #565e6a 0%, #333 100%);
  }


.down {
  top: calc(70%);
  left: 33%;
  border-left: 4px solid black;
  border-bottom: 4px solid black;
  border-right: 4px solid black;
  border-radius: 0px 0px 5px 5px;
  box-shadow: 0px -2px 0px #888 inset;
}

  .down:active {
    background: linear-gradient(to bottom, #565e6a 0%, #333 100%);
  }

.left {
  top: 33%;
  left: -2%;
  border-top: 4px solid black;
  border-bottom: 4px solid black;
  border-left: 4px solid black;
  border-radius: 5px 0px 0px 5px;
  box-shadow: 0px -2px 0px #888 inset;
}


  .left:active {
    background: linear-gradient(to left, #565e6a 0%, #333 100%);
  }

.middle {
  top: 33%;
  left: 33%;
  z-index: -5;
}

  .middle::after {
    content: "";
    position: absolute;
    top: 22%;
    left: 26%;
    display: inline-block;
    background: linear-gradient(to bottom, #333 30%, var(--secondary-font-color) 100%);
    border-radius: 50%;
    height: 60%;
    width: 60%;
  }

.up-down {
  background-color: #565e6a;
  border: var(--main-border);
  border-radius: 5px;
  width: 20px;
  height: 60px;
}

.left-right {
  background-color: #565e6a;
  border: var(--main-border);
  border-radius: 5px;
  width: 60px;
  height: 20px;
}

.a-b {
  position: fixed;
  bottom:10px;
  right:100px;
  display: inline-block;
  width: 120px;
  height: 90px;
}

.a, .b {
  position: absolute;
  display: inline-block;
  font-size: 32px;
  width: 65px;
  height: 65px;
  line-height: 65px;
  border-radius: 50%;
  background-color: var(--main-bg-color);
  border-bottom: 2px solid #888;
  box-shadow: -1px 1px 5px black, 0px 0px 5px black inset;
  text-shadow: 0px -1px 1px #888;
  color: var(--secondary-font-color);
  text-align: center;
  -webkit-user-select: none;
  cursor: pointer;
}

  .a:active, .b:active, .c:active {
    box-shadow: -1px 1px 1px black, 0px 0px 5px black inset;
    border-width: 0px;
    line-height: 70px;
    filter: brightness(85%);
  }

.a {
  top: -10px;
  right: -60%;
}

.b {
  top: 15px;
  left: 55px;
}


.start {
  position: fixed;
  bottom: 120px;
  right: 100px;
  display: inline-block;
  color: var(--secondary-font-color);
  text-shadow: 0px -1px 0px #3436bf;
  letter-spacing: -1px;
  width: 60px;
  font-size: 16px;
  text-align: center;
}

  .start::before  {
    content: "";
    display: block;
    margin: 0 auto;
    width: 30px;
    height: 10px;
    margin-bottom: 5px;
    border-radius: 40%;
    background: linear-gradient(to bottom, #0b0a1c 0%, #0b0a1c 30%, #62636c 70%, var(--secondary-font-color) 100%);
    background-repeat: no-repeat;
    border: 2px solid #0b0a1c;
    box-shadow: 0px -2px 1px #8482e9;
    cursor: pointer;
  }

  .start:active::before {
    background: linear-gradient(to bottom, #0b0a1c 0%, #0b0a1c 50%, var(--secondary-font-color) 100%);
  }

.up-triangle {
  position: absolute;
  left: 12px;
  top: 10px;
  border-left: solid 15px transparent;
  border-right: solid 15px transparent;
  border-bottom: solid 20px var(--secondary-font-color);
}

.right-triangle {
  position: absolute;
  left: 12px;
  top: 14px;
  border-left: solid 15px transparent;
  border-right: solid 15px transparent;
  border-bottom: solid 20px var(--secondary-font-color);
  transform: rotate(90deg);
}

.down-triangle {
  position: absolute;
  left: 14px;
  top: 12px;
  border-left: solid 15px transparent;
  border-right: solid 15px transparent;
  border-bottom: solid 20px var(--secondary-font-color);
  transform: rotate(180deg);
}

.left-triangle {
  position: absolute;
  left: 12px;
  top: 14px;
  border-left: solid 15px transparent;
  border-right: solid 15px transparent;
  border-bottom: solid 20px var(--secondary-font-color);
  transform: rotate(-90deg);
}

.down-left {
  bottom: -5px;
}

.top-left {
  top: 0px;
  left: 7px;
}

.down-right {
  right: -15px;
  bottom: -5px;
}

.up-right {
  top: 0px;
  right: -15px;
}
.up-left {
  left: -5px;
}

.down-left, .down-right, .up-left, .up-right {
  position: absolute;
  background-color: transparent !important;
  margin: auto;
  width: 65%;
  height: 65%;
  z-index: 3;
}

  .down-left::after, .down-right::after, .up-left::after, .up-right::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
  }

  .down-left::after {
    border-width: 0 20px 20px 0;
    border-color: transparent var(--secondary-font-color) transparent transparent;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(180deg);
  }

  .up-left::after {
    border-width: 20px 20px 0 0;
    border-color: var(--main-font-color) transparent transparent transparent;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(360deg);
  }

  .down-right::after {
    border-width: 0 0 20px 20px;
    border-color: transparent transparent var(--secondary-font-color) transparent;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .up-right::after {
    border-width: 20px 0 0 20px;
    border-color: var(--secondary-font-color) transparent transparent transparent;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
