.componentMain {
  max-height: CALC(CALC(var(--vh, 1vh) * 100) - 40px);
  min-width: 200px;
} 

.editContactLabel {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
  text-align: center;
  display: block;
}

.editContactForm {
  width: 100%;
  align-content: center;
}

.editContactTable {
  margin-left: auto;
  margin-right: auto;
}

.saveCancelButtonTd {
  text-align: center;
}

.longInput {
  min-width: 300px;
}

.noTMI {
  display: inline-block;
  max-width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mainTable {
  border-collapse: separate;
}

  .mainTable td:nth-child(3) {
    text-align: center;
  }
