<router-outlet #outlet>
  <div id="loadingDiv">
    <div id="loadingBar"></div>
  </div>
  <div class="notificationArea" (click)="notifications = [];">
    <div *ngFor="let notif of notifications"
         [innerHTML]="notif"
         title="Click to clear notifications"
         class=" notification notificationBubble"></div>
  </div>


  <app-navigation [user]="user"></app-navigation>
  <app-modal *ngIf="isModalOpen" (close)="closeModal()" [isCloseButtonVisible]="isModalCloseVisible" [isModal]="isModal" #modalComponent></app-modal>

  <div class="componentContainer">
    <ng-template #viewContainerRef>
    </ng-template>
  </div>
</router-outlet>
<div class="overlay" *ngIf="showOverlay" (click)="closeOverlay()"></div>
