.componentContainer {
  display: flex;
  height: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  align-content: flex-start;
  overflow: hidden;
}

.routerOutletContainer {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: CALC(var(--vh, 1vh) * 100);
  background-color: var(--main-highlight-color-quarter-opacity);
  z-index: 2;
  overflow: hidden;
  opacity: 0.75;
}

.notificationArea {
  margin-top: 10px;
  margin-bottom: 10px;
  position: fixed;
  top: 0px;
  right: 25px;
  background-color: var(--secondary-bg-color);
  max-height: CALC(var(--vh, 1vh) * 100 - 60px);
  overflow: hidden;
  z-index: 10;
}

.notificationBubble {
  background-color: var(--secondary-component-background-color);
  padding: 30px;
  width: 200px;
  z-index: 10;
  border-radius: 12px;
  border: 2px solid var(--main-link-color);
  font-size: larger;
}

.notificationBubble:not(:first-of-type) {
  margin-top: 20px;
}

#youtubeIframe {
  width: 98vw;
  max-width: 800px;
  aspect-ratio: 16 / 9;
  border: none;
}

.pollPopupPanel {
  border-radius: 4px;
  padding: 20px 20px 0px 20px;
  max-width: calc(100vw - 60px);
}

.popupContent {
  width: 100%;
}

.userTagPopupPanel {
  max-width: 200px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* padding: 15px; */
  border: var(--main-border);
  /* border-radius: 8px;
  overflow: hidden; */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.user-tag-background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
  overflow: hidden;
}

.user-tag-content-wrapper {
  position: relative;
  z-index: 1;
  color: black;
  width: 100%;

}

.popupUserTagInfo {  
  background: rgba(255, 255, 255, 0.4);
  padding: 4px 8px; /* Adjust as needed */
  border-radius: 4px; /* Optional: rounded corners */
}

.popupUserTagAvatarAndName {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  max-width: 75px;
  white-space: normal;
  word-wrap: break-word;
}