.componentContainer {
  display: flex;
  height: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  align-content: flex-start;
  overflow: hidden;
}

.routerOutletContainer {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: CALC(var(--vh, 1vh) * 100);
  background-color: var(--main-highlight-color-quarter-opacity);
  z-index: 2;
  overflow: hidden;
  opacity: 0.75;
}

.notificationArea {
  margin-top: 10px;
  margin-bottom: 10px;
  position: fixed;
  top: 0px;
  right: 25px;
  background-color: var(--secondary-bg-color);
  max-height: CALC(var(--vh, 1vh) * 100 - 60px);
  overflow: hidden;
  z-index: 10;
}

.notificationBubble {
  background-color: var(--secondary-component-background-color);
  padding: 30px;
  width: 200px;
  z-index: 10;
  border-radius: 12px;
  border: 2px solid var(--main-link-color);
  font-size: larger;
}

.notificationBubble:not(:first-of-type) {
  margin-top: 20px;
}

#youtubeIframe {
  width: 98vw;
  max-width: 800px;
  aspect-ratio: 16 / 9;
  border: none;
}

.pollPopupPanel {
  border-radius: 4px;
  padding: 20px 20px 0px 20px; 
  max-width: calc(100vw - 60px);
}

.popupContent {
  width: 100%;
}

.poll-question {
  font-weight: bold;
  margin-bottom: 15px;
  font-size: 18px;
  color: var(--secondary-font-color)
}

.poll-option {
  margin-bottom: 15px;
  display: flex;
  width: 100%;
  align-items: stretch;
  justify-content: space-between;
}

.option-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.vote-bar-container {
  border-radius: 5px;
  margin-bottom: 5px;
  min-width: 70px;
}

.vote-bar {
  height: 100%;
  background-color: var(--third-font-color);
  border-radius: 5px;
  transition: width 0.3s ease;
}

.percentage {
  text-align: left;
  font-size: 12px;
  color: var(--secondary-font-color);
  padding-left: 5px;
  padding-top: 2px;
}

.total-voters {
  margin-top: 20px;
  font-style: italic;
  text-align: center;
  color: var(--third-font-color);
}

.pollTitle {
  position: relative;
  top: -25px;
}

.pollResults {
  position: relative;
  top: -20px;
}