.componentContainer {
  display: flex;
  height: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  align-content: flex-start;
  overflow: hidden;
}

.routerOutletContainer {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: CALC(var(--vh, 1vh) * 100);
  background-color: var(--main-highlight-color-quarter-opacity);
  z-index: 2;
  overflow: hidden;
  opacity: 0.75;
}

.notificationArea {
  margin-top: 10px;
  margin-bottom: 10px;
  position: fixed;
  top: 0px;
  right: 25px;
  background-color: var(--secondary-bg-color);
  max-height: CALC(var(--vh, 1vh) * 100 - 60px);
  overflow: hidden;
  z-index: 10;
}

.notificationBubble {
  background-color: var(--secondary-component-background-color);
  padding: 30px;
  width: 200px;
  z-index: 10;
  border-radius: 12px;
  border: 2px solid var(--main-link-color);
  font-size: larger;
}

  .notificationBubble:not(:first-of-type) {
    margin-top: 20px;
  }
