<router-outlet #outlet>
  <div id="loadingDiv">
    <div id="loadingBar"></div>
  </div>
  <div class="notificationArea" (click)="notifications = [];">
    <div *ngFor="let notif of notifications"
         title="Click to clear notifications"
         class="notificationBubble">
        <div class="notifClosePopupButtonDiv"><button class="closePopupBtn" (click)="notifications = [];" title="Clear Notifications">×</button></div>
        <div>🪲{{notif}}</div>
    </div>
  </div>


  <app-navigation [user]="user"></app-navigation>
  <app-modal *ngIf="isModalOpen" (close)="closeModal()" [isCloseButtonVisible]="isModalCloseVisible" [isModal]="isModal" #modalComponent></app-modal>

  <div class="componentContainer">
    <ng-template #viewContainerRef>
    </ng-template>
  </div>
</router-outlet>
<div class="overlay" *ngIf="isShowingOverlay" (click)="closeOverlay()"></div>
<div class="popupPanel" *ngIf="isShowingYoutubePopup">
  <iframe id="youtubeIframe"></iframe>
  <div style="margin-top: 10px; text-align: center;">
    <button id="closeOverlay" (click)="closeYoutubePopup()">❌ Close</button>
    <button (click)="fullscreenYoutubePopup()">◼ Fullscreen</button>
  </div>
</div>

<!-- POLL POPUP PANEL -->
<div class="popupPanel pollPopupPanel" *ngIf="pollChecked" (click)="closePollPopup()">
  <span class="closeButton" id="closeOverlay" (click)="closePollPopup()"></span>
  <div class="popupContent" (click)="$event.stopPropagation()">
    <h2 class="pollTitle">Poll Results</h2>

    <div *ngIf="pollResults" class="pollResults">
      <div class="poll-question">{{ pollQuestion || 'Poll Results' }}</div>

      <div class="poll-options">
        <div class="poll-option" *ngFor="let option of pollResults.options; let i = index">
          <div class="option-row">
            <span class="option-text">{{ option.value }}</span>
            <span class="option-votes">({{ option.voteCount }} votes)</span>
          </div>
          <div class="vote-bar-container">
            <div class="vote-bar" [style.width.%]="(option.voteCount / pollResults.totalVoters) * 100">
              <div class="percentage">
                {{ (option.voteCount / pollResults.totalVoters * 100).toFixed(1) }}%
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="total-voters">
        Total voters: {{ pollResults.totalVoters }}
      </div>
    </div>
  </div>
</div>
<!-- USER TAG POPUP PANEL -->
<div class="popupPanel userTagPopupPanel" [style.left.px]="showUserTagX ? showUserTagX.value : 0"
  [style.top.px]="showUserTagY ? showUserTagY.value : 0" *ngIf="isShowingUserTagPopup"
  (click)="isShowingUserTagPopup = false;" (touchend)="isShowingUserTagPopup = false;">
  <div class="user-tag-background-overlay" *ngIf="popupUserTagUser?.profileBackgroundPictureFile">
    <app-media-viewer #userTagPopupMediaViewer [displayExpander]="false" [displayExtraInfo]="false"
      [showCommentSection]="false" [inputtedParentRef]="this" [file]="popupUserTagUser?.profileBackgroundPictureFile">
    </app-media-viewer>
  </div>
  <div class="user-tag-content-wrapper">
    <div style="display: flex; justify-content: space-between; gap:20px;">
      <div class="popupUserTagAvatarAndName blackFontColor">
        <div style="height:50px; width:50px; overflow:hidden; display:inline-block;">
          <app-user-tag [userId]="showUserTagUserId ? parseInteger(showUserTagUserId.value) : 0"
            [inputtedParentRef]="this" (userLoaded)="userTagUserLoaded($event)" [preventOpenProfile]="true"
            [hideName]="true">
          </app-user-tag>
        </div>
        <div style="margin-top:5px;" [class]="'popupUserTagInfo ' + ((popupUserTagUser?.username || 'Anonymous').length > 10 ? 'xxSmallFont'
                    : (popupUserTagUser?.username || 'Anonymous').length > 5 ? 'smallFont' : '')">
          <span>
            {{popupUserTagUser?.username ?? "Anonymous"}}
          </span>
        </div>
      </div>
      <div *ngIf="popupUserTagUser" class="popupUserTagInfo blackFontColor">
        <div [class]="(popupUserTagUser.about?.description?.length ?? 0) > 55 ? 'xxSmallFont' :
          (popupUserTagUser.about?.description?.length ?? 0) > 25 ? 'smallFont' : ''">
          {{ popupUserTagUser.about?.description }}
        </div>
        <div class="xxSmallFont">Last Seen: </div>
        <div>
          <span
            *ngIf="popupUserTagUser && popupUserTagUser.lastSeen && isUserOnline(popupUserTagUser.lastSeen | timeSince:'minute':true)"
            class="cursorPointer" [title]="popupUserTagUser.lastSeen | timeSince:'minute':true">
            <span class="onlineButton"></span> Online
          </span>
          <span
            *ngIf="popupUserTagUser && popupUserTagUser.lastSeen && !isUserOnline(popupUserTagUser.lastSeen | timeSince:'minute':true)">
            {{ popupUserTagUser.lastSeen | timeSince:'minute':true }}
          </span>
          <span *ngIf="!popupUserTagUser?.lastSeen">
            Unknown <span class="xxSmallFont">(0 days)</span>
          </span>
        </div>
        <div class="seperatedUserHeader">
          <div class="xxSmallFont">Joined: </div>
          <div
            [title]="(popupUserTagUser && popupUserTagUser.created ? (popupUserTagUser.created | date: 'y/MM/d') : 'Unknown')"
            class="smallFont cursorPointer">
            {{(popupUserTagUser && popupUserTagUser.created ? popupUserTagUser.created : '0 days') | timeSince}}
          </div>
        </div>
        <div class="seperatedUserHeader smallFont" *ngIf="popupUserTagUser.about?.currency">
          {{ (popupUserTagUser.about?.currency ?? '') | currencyFlag }}
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Security Alert POPUP PANEL -->
<div class="popupPanel securityPopup" *ngIf="isShowingSecurityPopup">
  <div class="popupPanelTitle">Security Warning</div>
  <div>The security token has expired. ⚠️<br>Would you like to refresh the security token?</div>
  <div style="margin-top: 10px; display: flex; gap: 15px">
    <button class="closeButton" id="closeOverlay" (click)="closeSecurityPopup()">Close</button>
    <button (click)="updateLastSeen(); closeSecurityPopup();">Refresh</button></div>
</div>

<input type="hidden" id="hiddenUrlToVisit" />
<button style="width:0px;height:0px;display:none;" id="hiddenUrlToVisitButton"
  (click)="visitExternalLinkButtonClicked()"></button>
<button id="youtubeVideoButton" style="display:none;" (click)="playYoutubeVideo()" class="hiddenInput"></button>
<input type="hidden" id="youtubeVideoIdInput" />
<button id="quoteClickButton" style="display:none;" (click)="scrollToQuote()" class="hiddenInput"></button>
<input type="hidden" id="scrollToQuoteDateInput" />
<input type="hidden" id="scrollToQuoteMessageInput" />
<input type="hidden" id="componentCreateName" />
<button id="componentCreateClickButton" style="display:none;" (click)="createComponentButtonClicked()"
  class="hiddenInput"></button>
<input type="hidden" id="userMentionInput" />
<button type="button" id="userMentionButton" style="display: none;" (click)="handleUserMention()"></button><input
  type="hidden" id="pollCheckId" />
<input type="hidden" id="pollValue" />
<input type="hidden" id="pollComponentId" />
<input type="hidden" id="pollQuestion" />
<button type="button" id="pollCheckClickedButton" style="display: none;" (click)="handlePollCheckClicked()"></button>
<button type="button" id="pollDeleteButton" style="display: none;" (click)="handlePollDeleteClicked()"></button>
<button type="button" id="showUserTagButton" style="display: none;" (click)="showUserTagPopup()"></button>
<button type="button" id="hideUserTagButton" style="display: none;" (click)="isShowingUserTagPopup = false"></button>
<input type="hidden" id="showUserTagX" #showUserTagX />
<input type="hidden" id="showUserTagY" #showUserTagY />
<input type="hidden" id="showUserTagUserId" #showUserTagUserId />

<div #richHost class="rich-text-host" [innerHTML]="renderedHtml"></div>