<div class="componentMain">
  <div class="closeButton" (click)="remove_me('UpdateUserProfile')"></div> 
  <div class="componentTitle">{{ !showOnlySelectableMenuItems ? 'Settings' : 'Select Your Apps' }}</div> 
  <div *ngFor="let notif of notifications"
         [innerHTML]="notif"
         (click)="notifications = [];"
         title="Click to clear notifications"
         class="notificationArea notification"></div>
  <div class="settingsDiv">
    <fieldset>
      <legend *ngIf="!showOnlySelectableMenuItems">Update:</legend>
      <table class="updateTable">

        <!--USERNAME / PASSWORD-->
        <thead (click)="isGeneralToggled = !isGeneralToggled" *ngIf="!showOnlySelectableMenuItems && parentRef?.user">
          <tr>
            <th>
              <span class="helperSpanTitle" title="Change your username or password."></span>
            </th>
            <th class="cursorPointerUnderlined">General</th>
            <th style="text-align:right;">
              <button (click)="updateUser()" title="Update settings" [disabled]="!isGeneralToggled" *ngIf="isGeneralToggled">🔄</button>
            </th>
          </tr>
        </thead>
        <tbody *ngIf="isGeneralToggled">
          <tr>
            <td>Name:</td>
            <td><input type="text" placeholder="New Username" #updatedUsername [value]="parentRef!.user!.username" /></td>
          </tr>
          <tr>
            <td>Password:</td>
            <td><input type="password" placeholder="New Password" #updatedPassword [value]="parentRef!.user!.pass" /></td>
          </tr>
        </tbody>


        <!--Display Picture-->
        <thead (click)="isDisplayPictureToggled = !isDisplayPictureToggled" *ngIf="!showOnlySelectableMenuItems && parentRef?.user">
          <tr>
            <th>
              <span class="helperSpanTitle" title="Change your display picture"></span>
            </th>
            <th class="cursorPointerUnderlined">Display Picture</th>
            <th></th>
          </tr>
        </thead>
        <tbody *ngIf="isDisplayPictureToggled">
          <tr>
            <td></td>
            <td>
              Attach your profile picture:
              <div class="avatar" *ngIf="!this.parentRef?.user!.displayPictureFile">
                <span class="avatarBug">🪲</span>
                <span class="avatarBust">👤</span>
              </div>
              <div *ngIf="this.parentRef?.user?.displayPictureFile">
                <span class="xxSmallFont">Current display picture:</span>
                <div class="avatar">
                  <app-media-viewer #displayPictureViewer
                                    [displayExpander]="false"
                                    [displayExtraInfo]="false"
                                    [showCommentSection]="false"
                                    [file]="this.inputtedParentRef?.user?.displayPictureFile ?? this.parentRef?.user!.displayPictureFile"
                                    [currentDirectory]="this.parentRef?.user!.displayPictureFile!.directory"
                                    [user]="parentRef!.user"
                                    [inputtedParentRef]="parentRef!">
                  </app-media-viewer>
                </div>
              </div>
            </td>
            <td>
              <app-media-selector #displayPictureSelector
                                  [maxSelectedFiles]="1"
                                  [inputtedParentRef]="parentRef"
                                  [user]="parentRef?.user"
                                  [currentDirectory]="'Users/'+parentRef?.user?.username"
                                  (selectFileEvent)="avatarSelected($event)">
              </app-media-selector>
            </td>
          </tr>
        </tbody>


        <!--ABOUT-->
        <thead (click)="isAboutToggled = !isAboutToggled" *ngIf="!showOnlySelectableMenuItems && parentRef?.user">
          <tr>
            <th>
              <span class="helperSpanTitle" title="Your contact information."></span>
            </th>
            <th class="cursorPointerUnderlined">About You</th>
            <th style="text-align:right;">
              <button (click)="updateUserAbout()" title="Update information" [disabled]="!isAboutToggled" *ngIf="isAboutToggled">🔄</button>
            </th>
          </tr>
        </thead>
        <tbody *ngIf="isAboutToggled">
          <tr>
            <td colspan="3">
              <table class="mainTable">
                <tbody>
                  <tr>
                    <td>Description:</td>
                    <td><input type="text" placeholder="Profile description" #updatedDescription [value]="parentRef?.user?.about?.description ?? ''" /></td>
                  </tr>
                  <tr>
                    <td>Birthday:</td>
                    <td><input type="date" #updatedBirthday [value]="formatDate(parentRef?.user?.about?.birthday)" /></td>
                  </tr>
                  <tr>
                    <td>Email:</td>
                    <td><input type="text" #updatedEmail [value]="parentRef?.user?.about?.email ?? ''" /></td>
                  </tr>
                  <tr>
                    <td>Phone:</td>
                    <td><input type="tel" #updatedPhone [value]="parentRef?.user?.about?.phone ?? ''" /></td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>


        <!-- Menu Icons -->
        <thead (click)="getMenuIcons()">
          <tr *ngIf="!showOnlySelectableMenuItems || isMenuIconsToggled">
            <th>
              <span class="helperSpanTitle" title="Add / Remove icons from your menu."></span>
            </th>
            <th colspan="2" class="cursorPointerUnderlined">Selectable Menu Items</th>
          </tr>
        </thead>
        <tbody *ngIf="showOnlySelectableMenuItems || isMenuIconsToggled">
          <tr>
            <td class="menuIconTableContainer" colspan=3>
              <table class="menuIconTable">
                <tbody *ngIf="selectableIcons">
                  <tr *ngFor="let icon of selectableIcons">
                    <td>
                      <div>
                        <div class="selectableMenuIconTitles">
                          <span (click)="selectMenuIcon(icon.title)" class="pointer">{{ icon.title == 'Weather' ? '☀️' : icon.icon }}<span class=appTitle>{{ icon.title }}</span></span>
                          <label class="switch" (click)="selectMenuIcon(icon.title); $event.preventDefault();">
                            <input type="checkbox" [checked]="menuIconsIncludes(icon.title)" />
                            <span class="slider round"></span>
                          </label>
                        </div>
                        <div>
                          <div *ngIf="icon.title == 'Bug-Wars'" [id]="icon.title+'tddiv'">
                            <div [id]="icon.title+'tddivdiv'" (click)="menuInformationZoom(icon.title+'td')" [class]="parentRef && parentRef.isModalOpen ? '' : 'ellipsis'">
                              "Bug Wars" is a real-time strategy, massively multiplayer online game set in the near future. Create your base and compete against others for control over the map!<br />
                            </div>
                          </div>
                          <div *ngIf="icon.title == 'Files'" [id]="icon.title+'tddiv'">
                            <div [id]="icon.title+'tddivdiv'" (click)="menuInformationZoom(icon.title+'td')" [class]="parentRef && parentRef.isModalOpen ? '' : 'ellipsis'">
                              a Filesystem which is the backbone of the Memes/Social/Chat section.
                              Anything publicly available in the filesystem can be used as an attachment anywhere on the site or shared publicly off-site for free!
                            </div>
                          </div>
                          <div *ngIf="icon.title == 'News'" [id]="icon.title+'tddiv'">
                            <div [id]="icon.title+'tddivdiv'" (click)="menuInformationZoom(icon.title+'td')" [class]="parentRef && parentRef.isModalOpen ? '' : 'ellipsis'">
                              Get the latest news on any subject from multiple different sources (from both main and non-mainstream news).
                            </div>
                          </div>
                          <div *ngIf="icon.title == 'Notifications'" [id]="icon.title+'tddiv'">
                            <div [id]="icon.title+'tddivdiv'" (click)="menuInformationZoom(icon.title+'td')" [class]="parentRef && parentRef.isModalOpen ? '' : 'ellipsis'">
                              Notifications display for all components of this website. Get up to date information about your content.
                            </div>
                          </div>
                          <div *ngIf="icon.title == 'Weather'" [id]="icon.title+'tddiv'">
                            <div [id]="icon.title+'tddivdiv'" (click)="menuInformationZoom(icon.title+'td')" [class]="parentRef && parentRef.isModalOpen ? '' : 'ellipsis'">
                              Get up to date weather information based on a location you supply or the automatically found location based on your IP-Address!
                            </div>
                          </div>
                          <div *ngIf="icon.title == 'Todo'" [id]="icon.title+'tddiv'">
                            <div [id]="icon.title+'tddivdiv'" (click)="menuInformationZoom(icon.title+'td')" [class]="parentRef && parentRef.isModalOpen ? '' : 'ellipsis'">
                              A todo list to keep yourself reminded of everything todo. Create your own lists and save reminders to it!
                            </div>
                          </div>
                          <div *ngIf="icon.title == 'Music'" [id]="icon.title+'tddiv'">
                            <div [id]="icon.title+'tddivdiv'" (click)="menuInformationZoom(icon.title+'td')" [class]="parentRef && parentRef.isModalOpen ? '' : 'ellipsis'">
                              A music list to keep track of your favourite youtube songs! Once added, the songs are displayed and a playlist can be selected from your profile page!
                            </div>
                          </div>
                          <div *ngIf="icon.title == 'Crypto-Hub'" [id]="icon.title+'tddiv'">
                            <div [id]="icon.title+'tddivdiv'" (click)="menuInformationZoom(icon.title+'td')" [class]="parentRef && parentRef.isModalOpen ? '' : 'ellipsis'">
                              Crypto Hub does many Crypto-related things.
                              <ul>
                                <li>Keeps track of crypto prices for the most popular coins.</li>
                                <li>Show your cryptocurrency wallet balance.</li>
                                <li>Manage your cryptocurrency mining rigs.</li>
                              </ul>
                              <div class="smallFont">
                                Currently only supports the NiceHash API for crypto mining rigs and wallet.
                                If you do not have any mining rigs or wallets set up, you can quickly get started by using Nicehash.
                                Follow this <a href='http://nicehash.com' target="_blank">Link</a> for more info!
                              </div>
                            </div>
                          </div>
                          <div *ngIf="icon.title == 'HostAi'" [id]="icon.title+'tddiv'">
                            <div [id]="icon.title+'tddivdiv'" (click)="menuInformationZoom(icon.title+'td')" [class]="parentRef && parentRef.isModalOpen ? '' : 'ellipsis'">
                              BugHosted's AI. Get information about anything instantly.
                            </div>
                          </div>
                          <div *ngIf="icon.title == 'Notepad'" [id]="icon.title+'tddiv'">
                            <div [id]="icon.title+'tddivdiv'" (click)="menuInformationZoom(icon.title+'td')" [class]="parentRef && parentRef.isModalOpen ? '' : 'ellipsis'">
                              Jot down notes and share them with others.
                            </div>
                          </div>
                          <div *ngIf="icon.title == 'Contacts'" [id]="icon.title+'tddiv'">
                            <div [id]="icon.title+'tddivdiv'" (click)="menuInformationZoom(icon.title+'td')" [class]="parentRef && parentRef.isModalOpen ? '' : 'ellipsis'">
                              <div>
                                Add your friends as contacts! Simply go to a person's profile page and click Add as Contact to keep track of friends' contact information and profiles.
                              </div>
                            </div>
                          </div>
                          <div *ngIf="icon.title == 'Calendar'" [id]="icon.title+'tddiv'">
                            <div [id]="icon.title+'tddivdiv'" (click)="menuInformationZoom(icon.title+'td')" [class]="parentRef && parentRef.isModalOpen ? '' : 'ellipsis'">
                              The Calendar helps you remember important things. Dont forget.
                            </div>
                          </div>
                          <div *ngIf="icon.title == 'Meta-Bots'" [id]="icon.title+'tddiv'">
                            <div [id]="icon.title+'tddivdiv'" (click)="menuInformationZoom(icon.title+'td')" [class]="parentRef && parentRef.isModalOpen ? '' : 'ellipsis'">
                              Meta-Bots, our up and coming MMORPG.
                            </div>
                          </div>
                          <div *ngIf="icon.title == 'Social'" [id]="icon.title+'tddiv'">
                            <div [id]="icon.title+'tddivdiv'" (click)="menuInformationZoom(icon.title+'td')" [class]="parentRef && parentRef.isModalOpen ? '' : 'ellipsis'">
                              Social platform.
                            </div>
                          </div>
                          <div *ngIf="icon.title == 'Meme'" [id]="icon.title+'tddiv'">
                            <div [id]="icon.title+'tddivdiv'" (click)="menuInformationZoom(icon.title+'td')" [class]="parentRef && parentRef.isModalOpen ? '' : 'ellipsis'">
                              Share memes, use them in chat, on the socials or even as a display picture!
                            </div>
                          </div>
                          <div *ngIf="icon.title == 'Wordler'" [id]="icon.title+'tddiv'">
                            <div [id]="icon.title+'tddivdiv'" (click)="menuInformationZoom(icon.title+'td')" [class]="parentRef && parentRef.isModalOpen ? '' : 'ellipsis'">
                              Can you defeat the Wordler? A word guessing game inspired from the NY Times website!
                            </div>
                          </div>
                          <div *ngIf="icon.title == 'Chat'" [id]="icon.title+'tddiv'">
                            <div [id]="icon.title+'tddivdiv'" (click)="menuInformationZoom(icon.title+'td')" [class]="parentRef && parentRef.isModalOpen ? '' : 'ellipsis'">
                              Still under construction. Chat system to connect you with your friends or groups of friends.
                            </div>
                          </div>
                          <div *ngIf="icon.title == 'Favourites'" [id]="icon.title+'tddiv'">
                            <div [id]="icon.title+'tddivdiv'" (click)="menuInformationZoom(icon.title+'td')" [class]="parentRef && parentRef.isModalOpen ? '' : 'ellipsis'">
                              Still under construction.
                            </div>
                          </div>
                          <div *ngIf="icon.title == 'Array'" [id]="icon.title+'tddiv'">
                            <div [id]="icon.title+'tddivdiv'" (click)="menuInformationZoom(icon.title+'td')" [class]="parentRef && parentRef.isModalOpen ? '' : 'ellipsis'">
                              The Array transports users down a seemingly infinite array.
                              The further you go down the array, the more experience you gain.
                              Find items to make you stronger!
                              Fight other players for glory!
                            </div>
                          </div>
                          <div *ngIf="icon.title == 'Emulation'" [id]="icon.title+'tddiv'">
                            <div [id]="icon.title+'tddivdiv'" (click)="menuInformationZoom(icon.title+'td')" [class]="parentRef && parentRef.isModalOpen ? '' : 'ellipsis'">
                              Our "Nostalgist" emulator allows users to play Gameboy (Color), Gameboy Advance, Nintendo, Super Nintendo, Sega and more!
                              Simply upload roms and enjoy the autosaving feature! The game will automatically be saved to our servers.
                              You may now restart from anywhere with any device! (Supports joysticks and fullscreen mode!)
                            </div>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>

        <!--Weather-->
        <thead (click)="isWeatherLocationToggled = !isWeatherLocationToggled; getWeatherLocation()" *ngIf="!showOnlySelectableMenuItems">
          <tr>
            <th>
              <span class="helperSpanTitle" title="Default is to automatically update your weather based on your IP address,
but you can also set your own City for a more precise location."></span>
            </th>
            <th class="cursorPointerUnderlined">Weather Location</th>
            <th style="text-align:right;">
              <button (click)="updateWeatherLocation()" title="Update settings" [disabled]="!isWeatherLocationToggled" *ngIf="isWeatherLocationToggled">🔄</button>
            </th>
          </tr>
        </thead>
        <tbody *ngIf="isWeatherLocationToggled">
          <tr>
            <td>Location:</td>
            <td><input type="text" placeholder="IP Address/City (ex: 'Montreal')" #weatherLocationInput /></td>
            <td></td>
          </tr>
        </tbody>


        <!--Nicehash API-->
        <thead (click)="isNicehashApiKeysToggled = !isNicehashApiKeysToggled; getNicehashApiKeys()" *ngIf="!showOnlySelectableMenuItems && parentRef?.user">
          <tr>
            <th><span class="helperSpanTitle" title="These API Keys enable Nicehash support. A system for mining cryptocurrency."></span></th>
            <th class="cursorPointerUnderlined">Nicehash API Keys</th>
            <th style="text-align:right;">
              <button (click)="updateNHAPIKeys()" title="Update settings" [disabled]="!isNicehashApiKeysToggled" *ngIf="isNicehashApiKeysToggled">🔄</button>
            </th>
          </tr>
        </thead>
        <tbody *ngIf="isNicehashApiKeysToggled">
          <tr>
            <td></td>
            <td>OrgId:</td>
            <td><input type="text" placeholder="Org Id" #orgId [value]="nhApiKeys?.orgId ?? ''" /></td>
          </tr>
          <tr>
            <td></td>
            <td>ApiKey:</td>
            <td><input type="text" placeholder="API Key" #apiKey [value]="nhApiKeys?.apiKey ?? ''" /></td>
          </tr>
          <tr>
            <td></td>
            <td>ApiSecret:</td>
            <td><input type="text" placeholder="API Secret" #apiSecret [value]="nhApiKeys?.apiSecret ?? ''" /></td>
          </tr>
        </tbody>



        <!--BTC Wallet Addresses-->
        <thead (click)="isBTCWalletAddressesToggled = !isBTCWalletAddressesToggled; getBTCWalletAddresses()" *ngIf="!showOnlySelectableMenuItems && parentRef?.user">
          <tr>
            <th><span class="helperSpanTitle" title="Keep track of your BTC Wallet address here."></span></th>
            <th class="cursorPointerUnderlined">BTC Wallet Addresses</th>
            <th style="text-align:right;">
              <button (click)="updateBTCWalletAddresses(); $event.stopPropagation()" title="Update BTC Wallet Addresses" [disabled]="!isBTCWalletAddressesToggled" *ngIf="isBTCWalletAddressesToggled">🔄</button>
              <button (click)="addBTCWalletAddress(); $event.stopPropagation()" title="Add BTC Wallet Address" [disabled]="!isBTCWalletAddressesToggled" *ngIf="isBTCWalletAddressesToggled && btcWalletAddresses.length > 0">➕</button>
            </th>
          </tr>
        </thead>
        <tbody *ngIf="isBTCWalletAddressesToggled">
          <tr *ngFor="let address of btcWalletAddresses; let i = index">
            <td></td>
            <td>BTC Wallet Address:</td>
            <td><input type="text"  class="btcWalletInput" placeholder="BTC Wallet Address" [value]="address" /><button *ngIf="address" (click)="deleteBTCWalletAddress(address)">🗑️</button></td>
          </tr>
          <tr *ngIf="btcWalletAddresses.length === 0 || showAddBTCWalletAddressInput">
            <td></td>
            <td>BTC Wallet Address:</td>
            <td><input type="text" class="btcWalletInput" placeholder="BTC Wallet Address" /></td>
          </tr>
        </tbody>



        <!--Delete Account-->
        <thead (click)="isDeleteAccountToggled = !isDeleteAccountToggled" *ngIf="!showOnlySelectableMenuItems && parentRef?.user">
          <tr>
            <th><span class="helperSpanTitle" title="Delete your account"></span></th>
            <th class="cursorPointerUnderlined">Delete your account?</th>
            <th style="text-align:right;">
              <button (click)="deleteUser()" title="Delete your account?" [disabled]="!isDeleteAccountToggled" *ngIf="isDeleteAccountToggled">🗑️</button>
            </th>
          </tr>
        </thead>

      </table>
      <button (click)="!showOnlySelectableMenuItems ? parentRef?.createComponent('User') : remove_me('UpdateUserProfile')">Close</button>
    </fieldset>
  </div>
</div>
