.componentMain {
  min-width: 500px;
  max-width: 50vw;
  max-height: CALC(CALC(var(--vh, 1vh) * 100) - 40px);
}

@media only screen and (min-device-width: 0px) and (max-device-width: 700px) {
  .componentMain {
    width: 98vw;
    min-width: 98vw;
  }
}

.helperSpanTitle {
  display: inline-block;
  width: 10.5px;
  height: 10.5px;
  line-height: 10.5px;
  text-align: center;
  font-size: small;
  border-radius: 50%;
  border: var(--main-border);
  background-color: var(--main-bg-color);
  color: var(--primary-font-color);
  position: relative;
  cursor: pointer;
}

  .helperSpanTitle:before {
    content: 'ℹ️';
  }

.updateTable {
  width: 100%;
}

  .updateTable th, td {
    text-align: left;
  }

.noWidth {
  width: 0%;
}

.menuIconTable {
  width: 100%;
}

  .menuIconTable tr {
    height: 30px;
  }

  .menuIconTable td {
    border: 1px solid black;
  }

  .menuIconTable tr:nth-child(even) {
    background-color: var(--main-bg-color-full-opacity);
  }

.settingsDiv {
  max-height: CALC(CALC(var(--vh, 1vh) * 100) - 40px);
  overflow: auto;
}

.helperSpanTitle {
  display: inline-block;
  width: 10.5px;
  height: 10.5px;
  line-height: 10.5px;
  text-align: center;
  font-size: small;
  border-radius: 50%;
  border: var(--main-border);
  background-color: var(--main-bg-color);
  color: var(--primary-font-color);
  position: relative;
  cursor: pointer;
}

  .helperSpanTitle:before {
    content: 'ℹ️';
  }

.menuInfoDiv {
  height: 15px;
  white-space: nowrap;
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.selectableMenuIconTitles {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 15px;
}

  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
}

  .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 15px;
    top: 1px;
    left: 1px;
    background-color: white;
    transition: .4s;
  }

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

  .slider.round:before {
    border-radius: 50%;
  }

.appTitle {
  font-family: Courier New, Arial;
  font-weight: bolder;
  text-shadow: 0px 0.50px 0.50px var(--secondary-font-color);
  padding-left: 10px;
} 
