<div class="componentMain">
  <div class="closeButton" (click)="remove_me('UpdateUserProfile')"></div>
  <div class="componentTitle">{{ !showOnlySelectableMenuItems ? 'Settings' : 'App Selection' }}</div>

  <div class="settingsDiv">
    <!--USERNAME / PASSWORD-->
    <div (click)="isGeneralToggled = !isGeneralToggled"
      *ngIf="!showOnlyNicehashApiKeys && !showOnlyKrakenApiKeys && !showOnlyWeatherLocation && !showOnlySelectableMenuItems && parentRef?.user"
      class="sectionHeaderDiv">
      <div class="sectionHeaderLabel popupPanelTitle">
        <div>
          <span class="helperSpanTitle" title="Change your username or password."></span>
        </div>
        <div class="settingsSectionHeaderTitle">Account</div>
      </div>
      <div style="text-align:right;">
        <button (click)="updateUser()" title="Update settings" [disabled]="!isGeneralToggled"
          *ngIf="isGeneralToggled">💾Save Username/Password</button>
      </div>
    </div>
    <div *ngIf="isGeneralToggled" class="sectionDescriptionDiv">
      <div class="sectionDescriptionSection">
        <div>Name:</div>
        <div><input type="text" placeholder="New Username" #updatedUsername [value]="parentRef!.user!.username" /></div>
      </div>
      <div class="sectionDescriptionSection">
        <div>Password:</div>
        <div><input type="password" placeholder="New Password" #updatedPassword [value]="parentRef!.user!.pass" /></div>
      </div>
      <div class="sectionDescriptionSection">
        <div>
          Display NSFW:
        </div>
        <div>
          <input type="checkbox" #nsfwCheckmark [checked]="isDisplayingNSFW" (click)="updateNSFW()" />
        </div>
      </div>
      <div class="sectionDescriptionSection">
        <div>
          Push Notifications:
        </div>
        <div>
          <input type="checkbox" #pushNotificationsCheckmark [checked]="isPushNotificationsEnabled"
            (click)="updatePushNotifications()" />
        </div>
      </div>
      <!-- Profile picture -->
      <div class="sectionDescriptionSection profilePictureSectionContainer">
        <div>
          Attach your profile picture:
          <div class="avatar" *ngIf="!this.parentRef?.user!.displayPictureFile">
            <span class="avatarBug">🪲</span>
            <span class="avatarBust">👤</span>
          </div>
          <div *ngIf="this.parentRef?.user?.displayPictureFile?.id" class="displayPictureContainerDiv">
            <div class="xxSmallFont">Current picture:</div>
            <div class="avatar">
              <app-media-viewer #displayPictureViewer [displayExpander]="false" [displayExtraInfo]="false"
                [showCommentSection]="false"
                [file]="this.inputtedParentRef?.user?.displayPictureFile ?? this.parentRef?.user!.displayPictureFile"
                [currentDirectory]="this.parentRef?.user!.displayPictureFile!.directory" [user]="parentRef!.user"
                [inputtedParentRef]="parentRef!" [previousComponent]="'UpdateUserSettings'">
              </app-media-viewer>
            </div>
          </div>
        </div>
        <div>
          <app-media-selector #displayPictureSelector [uploadButtonText]="'Upload Display Picture'" [maxSelectedFiles]="1"
            [inputtedParentRef]="parentRef" [user]="parentRef?.user" [currentDirectory]="'Users/'+parentRef?.user?.username"
            (selectFileEvent)="avatarSelected($event)">
          </app-media-selector>
        </div>
      </div>
      <!-- Background Picture -->
      <div class="sectionDescriptionSection profilePictureSectionContainer">
        <div>
          Attach your profile background picture: 
          <div class="displayPictureContainerDiv" *ngIf="this.parentRef?.user!.profileBackgroundPictureFile?.id">
            <div class="xxSmallFont">Current picture:</div>
            <div>
              <app-media-viewer #backgroundPictureViewer [displayExpander]="false" [displayExtraInfo]="false"
                [showCommentSection]="false"
                [file]="this.inputtedParentRef?.user?.profileBackgroundPictureFile ?? this.parentRef?.user!.profileBackgroundPictureFile"
                [user]="parentRef!.user"
                [inputtedParentRef]="parentRef!" [previousComponent]="'UpdateUserSettings'">
              </app-media-viewer>
            </div>
          </div>
        </div>
        <div>
          <app-media-selector #profileBackgroundPictureSelector [uploadButtonText]="'Upload Background Picture'" [maxSelectedFiles]="1"
            [inputtedParentRef]="parentRef" [user]="parentRef?.user" [currentDirectory]="'Users/'+parentRef?.user?.username"
            (selectFileEvent)="profileBackgroundSelected($event)">
          </app-media-selector>
        </div>
      </div> 
    </div>


    <!--ABOUT-->
    <div (click)="isAboutToggled = !isAboutToggled"
      *ngIf="!showOnlyNicehashApiKeys && !showOnlyKrakenApiKeys && !showOnlyWeatherLocation && !showOnlySelectableMenuItems && parentRef?.user"
      class="sectionHeaderDiv">
      <div class="sectionHeaderLabel popupPanelTitle">
        <div>
          <span class="helperSpanTitle" title="Your contact information."></span>
        </div>
        <div class="settingsSectionHeaderTitle">About You</div>
      </div>
      <div style="text-align:right;">
        <button (click)="updateUserAbout()" title="Update information" [disabled]="!isAboutToggled"
          *ngIf="isAboutToggled">💾Save About You</button>
      </div>
    </div>
    <div *ngIf="isAboutToggled" class="sectionDescriptionDiv">
      <div class="sectionDescriptionSection">
        <div>Description:</div>
        <div><input type="text" placeholder="Profile description" #updatedDescription maxlength="100"
            [value]="parentRef?.user?.about?.description ?? ''" /></div>
      </div>
      <div class="sectionDescriptionSection">
        <div>Birthday:</div>
        <div><input type="date" #updatedBirthday [value]="formatDate(parentRef?.user?.about?.birthday)" /></div>
      </div>
      <div class="sectionDescriptionSection">
        <div>Email:</div>
        <div><input type="text" #updatedEmail [value]="parentRef?.user?.about?.email ?? ''" maxlength="100" /></div>
      </div>
      <div class="sectionDescriptionSection">
        <div>Is Email Public?:</div>
        <div style="display: flex;">
          <label>
            <input type="radio" name="emailPublic" #isEmailPublicYes [value]="true"
              [checked]="parentRef?.user?.about?.isEmailPublic === true" /> Yes
          </label>
          <label>
            <input type="radio" name="emailPublic" #isEmailPublicNo [value]="false"
              [checked]="parentRef?.user?.about?.isEmailPublic === false" /> No
          </label>
        </div>
      </div>
      <div class="sectionDescriptionSection">
        <div>Phone:</div>
        <div><input type="tel" #updatedPhone [value]="parentRef?.user?.about?.phone ?? ''" /></div>
      </div>
      <div class="sectionDescriptionSection">
        <div>Currency:</div>
        <div>
          <select #selectedCurrencyDropdown>
            <option *ngFor="let currency of uniqueCurrencyNames"
              [selected]="parentRef?.user?.about?.currency === currency">{{ currency }}</option>
          </select>
        </div>
      </div>
    </div>
    <!-- LOCATION -->
    <div (click)="isWeatherLocationToggled = !isWeatherLocationToggled; getWeatherLocation()"
      *ngIf="!showOnlyNicehashApiKeys && !showOnlyKrakenApiKeys && !showOnlySelectableMenuItems"
      class="sectionHeaderDiv">
      <div class="sectionHeaderLabel popupPanelTitle">
        <div>
          <span class="helperSpanTitle" title="Default is to automatically update your weather based on your IP address,
but you can also set your own City for a more precise location."></span>
        </div>
        <div class="settingsSectionHeaderTitle">Location</div>
      </div>
      <div style="text-align:right;">
        <button (click)="updateWeatherLocation()" title="Update settings" [disabled]="!isWeatherLocationToggled"
          *ngIf="isWeatherLocationToggled">💾Save Location</button>
      </div>
    </div>
    <div *ngIf="isWeatherLocationToggled || showOnlyWeatherLocation" class="sectionDescriptionDiv">
      <div class="sectionDescriptionDiv">
        <div class="sectionDescriptionSection">
          <div>City: </div>
          <div><input type="text" placeholder="City (ex: 'Montreal')" #weatherLocationCityInput /></div>
        </div>
        <div class="sectionDescriptionSection">
          <div>Country: </div>
          <div><input type="text" placeholder="Country (ex: 'Canada')" #weatherLocationCountryInput /></div>
        </div>
      </div>
    </div>

    <!-- BLOCKED USERS -->
    <div (click)="isBlockedUsersToggled = !isBlockedUsersToggled; getBlockedUsers()"
      *ngIf="!showOnlyNicehashApiKeys && !showOnlyKrakenApiKeys && !showOnlySelectableMenuItems"
      class="sectionHeaderDiv">
      <div class="sectionHeaderLabel popupPanelTitle">
        <div>
          <span class="helperSpanTitle" title="Blocked user list"></span>
        </div>
        <div class="settingsSectionHeaderTitle">Blocked Users</div>
      </div>
    </div>
    <div *ngIf="isBlockedUsersToggled" class="sectionDescriptionDiv">
      <div class="sectionDescriptionSection" *ngFor="let user of blockedUsers"> 
        <div>
          <app-user-tag [user]="user" [inputtedParentRef]="inputtedParentRef" 
          [displayHoverPicture]="true"
          [displayMiniTag]="true"
          [previousComponent]="'UpdateUserSettings'"></app-user-tag>
        </div>
        <div style="display:flex;"> 
          <button (click)="unblock(user)" title="Unblock">❌</button>
        </div>
      </div>
      
      <div *ngIf="!blockedUsers || blockedUsers.length == 0">
        No blocked users.
      </div>
    </div>

    <!-- MENU ICONS -->
    <div (click)="showOnlySelectableMenuItems ? '' : getMenuIcons()" class="sectionHeaderDiv"
      *ngIf="!showOnlyNicehashApiKeys && !showOnlyKrakenApiKeys && !showOnlyWeatherLocation">
      <div *ngIf="!showOnlySelectableMenuItems || isMenuIconsToggled" class="sectionHeaderLabel popupPanelTitle">
        <div>
          <span class="helperSpanTitle" title="Add / Remove icons from your menu."></span>
        </div>
        <div colspan="2" class="settingsSectionHeaderTitle">App Selection</div>
      </div>
    </div>
    <div *ngIf="showOnlySelectableMenuItems || isMenuIconsToggled" class="sectionDescriptionDiv">
      <div class="menuIconTable menuIconTableContainer" *ngIf="selectableIcons">
        <div *ngFor="let icon of selectableIcons" class="selectableIconMenuSection">
          <div class="selectableMenuIconTitles">
            <span (click)="toggleIconDescription(icon.title)" class="cursorPointer">
              {{ icon.title == 'Weather' ? '☀️' : icon.icon }}<span class=appTitle>{{ icon.title }}</span>
            </span>
            <label class="switch" (click)="selectMenuIcon(icon.title); $event.preventDefault();">
              <input type="checkbox" [checked]="menuIconsIncludes(icon.title)" />
              <span class="slider round"></span>
            </label>
          </div>
          <div class="selectableMenuIconDescriptions" *ngIf="icon.title === expandedIconTitle"> 
            <div [id]="icon.title + 'tddiv'">
              <div [id]="icon.title + 'tddivdiv'" (click)="menuInformationZoom(icon.title + 'td')"
                [class]="parentRef && parentRef.isModalOpen ? '' : 'ellipsis'" 
                [innerHTML]="parentRef?.getMenuItemDescription(icon.title)">
              </div>
            </div>      
          </div>
        </div>
      </div>
    </div>



    <div (click)="(showOnlyApiKeys ? '' : (isApiKeysToggled = !isApiKeysToggled)); getNicehashApiKeys(); getKrakenApiKeys()"
      *ngIf="(showOnlyApiKeys || (!showOnlyWeatherLocation && !showOnlySelectableMenuItems && parentRef?.user))"
      class="sectionHeaderDiv">
    
      <div class="sectionHeaderLabel popupPanelTitle">
        <div>
          <span class="helperSpanTitle"
            title="Configure your NiceHash and Kraken API keys here to enable crypto mining and trading support."></span>
        </div>
        <div class="settingsSectionHeaderTitle">Crypto API Keys</div>
      </div>
    
      <div style="text-align:right;">
        <button (click)="updateNHAPIKeys(); updateKrakenAPIKeys(); $event.stopPropagation()" title="Update both NiceHash and Kraken settings"
          [disabled]="!isApiKeysToggled" *ngIf="isApiKeysToggled || showOnlyApiKeys">💾Save</button>
      </div>
    </div>
    
    <div *ngIf="isApiKeysToggled || showOnlyApiKeys" class="sectionDescriptionDiv">
    
      <!-- NICEHASH KEYS -->
      <div class="sectionSubHeader smaller">NiceHash API Keys</div>
      <div class="apiKeyInputWrapper sectionDescriptionSection">
        <div>OrgId<span *ngIf="hasNhApiKeys" title="Key is saved. For security purposes, we cannot show the saved API key."
          class="cursorPointer glowing onlineButton"> 🟢</span>:</div>
        <div><input type="text" placeholder="Org Id {{hasNhApiKeys ? '(Overwriting)' : ''}}" #orgId /></div>
      </div>
      <div class="apiKeyInputWrapper sectionDescriptionSection">
        <div>ApiKey<span *ngIf="hasNhApiKeys" title="Key is saved. For security purposes, we cannot show the saved API key."
          class="cursorPointer glowing onlineButton"> 🟢</span>:</div>
        <div><input type="text" placeholder="API Key {{hasNhApiKeys ? '(Overwriting)' : ''}}" #apiKey /></div>
      </div>
      <div class="apiKeyInputWrapper sectionDescriptionSection">
        <div>ApiSecret<span *ngIf="hasNhApiKeys" title="Key is saved. For security purposes, we cannot show the saved API key."
          class="cursorPointer glowing onlineButton"> 🟢</span>:</div>
        <div><input type="text" placeholder="API Secret {{hasNhApiKeys ? '(Overwriting)' : ''}}" #apiSecret /></div>
      </div>
      <div class="apiKeyInputWrapper sectionDescriptionSection">
        <div>Delete Nicehash Keys:</div>
        <div><button (click)="deleteNicehashApiKeys()">Delete</button></div>
      </div>
     
      <!-- KRAKEN KEYS -->
      <div class="sectionSubHeader smaller">Kraken API Keys</div>
      <div class="apiKeyInputWrapper sectionDescriptionSection">
        <div>
          Api Key<span *ngIf="hasKrakenKeys" title="Key is saved. For security purposes, we cannot show the saved API key."
            class="cursorPointer glowing onlineButton"> 🟢</span>:
        </div>
        <div><input type="text" placeholder="API Key {{hasKrakenKeys ? '(Overwriting)' : ''}}" #krakenApiKey /></div>
      </div>
      <div class="apiKeyInputWrapper sectionDescriptionSection">
        <div>
          Private Key<span *ngIf="hasKrakenKeys"
            title="Key is saved. For security purposes, we cannot show the saved API key."
            class="cursorPointer glowing onlineButton"> 🟢</span>:
        </div>
        <div><input type="text" placeholder="Private Key {{hasKrakenKeys ? '(Overwriting)' : ''}}" #krakenPrivateKey />
        </div>
      </div>
      <div class="apiKeyInputWrapper sectionDescriptionSection">
        <div>Information:</div>
        <div><button (click)="showKrakenHelpPanel()">Help</button></div>
      </div>
      <div class="apiKeyInputWrapper sectionDescriptionSection">
        <div>Delete Kraken Keys:</div>
        <div><button (click)="deleteKrakenApiKeys()">Delete</button></div>
      </div>
    
    </div>
 

    <!--BTC Wallet Addresses-->
    <div (click)="isBTCWalletAddressesToggled = !isBTCWalletAddressesToggled; getBTCWalletAddresses()"
      *ngIf="!showOnlyNicehashApiKeys && !showOnlyKrakenApiKeys && !showOnlyWeatherLocation && !showOnlySelectableMenuItems && parentRef?.user"
      class="sectionHeaderDiv">
      <div class="sectionHeaderLabel popupPanelTitle">
        <div><span class="helperSpanTitle" title="Keep track of your BTC Wallet address here."></span></div>
        <div class="settingsSectionHeaderTitle">BTC Wallet Addresses</div>
      </div>
      <div style="text-align:right;">
        <button (click)="updateBTCWalletAddresses(); $event.stopPropagation()" title="Update BTC Wallet Addresses"
          [disabled]="!isBTCWalletAddressesToggled" *ngIf="isBTCWalletAddressesToggled">💾Save</button>
        <button (click)="addBTCWalletAddress(); $event.stopPropagation()" title="Add BTC Wallet Address"
          [disabled]="!isBTCWalletAddressesToggled"
          *ngIf="isBTCWalletAddressesToggled && btcWalletAddresses && btcWalletAddresses.length > 0">➕</button>
      </div>
    </div>
    <div *ngIf="isBTCWalletAddressesToggled" class="sectionDescriptionDiv">
      <div *ngFor="let address of btcWalletAddresses; let i = index" class="sectionDescriptionSection">
        <div>BTC Wallet Address:</div>
        <div><input type="text" class="btcWalletInput" placeholder="BTC Wallet Address" [value]="address" /><button
            *ngIf="address" (click)="deleteBTCWalletAddress(address)">🗑️</button></div>
      </div>
      <div *ngIf="btcWalletAddresses?.length === 0 || showAddBTCWalletAddressInput" class="sectionDescriptionSection">
        <div>BTC Wallet Address:</div>
        <div><input type="text" class="btcWalletInput" placeholder="BTC Wallet Address" /></div>
      </div>
    </div>

    <!--Delete Account-->
    <div (click)="isDeleteAccountToggled = !isDeleteAccountToggled"
      *ngIf="!showOnlyNicehashApiKeys && !showOnlyKrakenApiKeys && !showOnlyWeatherLocation && !showOnlySelectableMenuItems && parentRef?.user"
      class="sectionHeaderDiv">
      <div class="sectionHeaderLabel popupPanelTitle">
        <div><span class="helperSpanTitle" title="Delete your account"></span></div>
        <div class="settingsSectionHeaderTitle">Delete your account?</div>
      </div>
      <div style="text-align:right;">
        <button (click)="deleteUser()" title="Delete your account?" [disabled]="!isDeleteAccountToggled"
          *ngIf="isDeleteAccountToggled">🗑️</button>
      </div>
    </div>
    <div style="text-align:center; margin: 5px;">
      <button (click)="closeThisComponent()">Close</button>
    </div>
  </div>
</div>



<!-- Menu Popup -->
<div class="popupPanel" *ngIf="isKrakenHelpPanelShowing">
  <div class="popupPanelTitle popupPanelContent" style="margin-bottom:15px;">
    🦑How to get Kraken API keys?
  </div>
  <ol>
    <li>First, sign up on Kraken: <a href="https://krakenpro.onelink.me/9f1e/he08evy5" target="_blank">Kraken Sign Up</a>.</li>
    <li>Go to your Kraken Pro API settings page: <a href="https://pro.kraken.com/app/settings/api" target="_blank">https://pro.kraken.com/app/settings/api</a></li>
    <li>Click on "Create API Key" button. Enable these options: 
      <br>Under "Orders and trades":
      <ul><li>Query open orders & trades</li><li>Query closed orders & trades</li><li>Create & modify orders</li></ul>
      <br>Under "Funds permissions": 
      <ul><li>Query</li></ul>
      <br>Enabling only these options offers the maximum security for your account. No withdrawals possible while still allowing the bot to trade on your behalf.</li>
    <li>Once you name your key and save it, you will be shown your API Key and Private key, copy and paste those into the inputs on this settings page.</li>
    </ol>

  <button id="closeOverlay" (click)="closeKrakenHelpPanel()">Close</button>
</div>