.addReactionDiv {
  position: relative;
  bottom: 0;
  right: 0;
  font-size: small;
  color: grey;
  display: inline-block;
}
.addReactionSpan {
  white-space: nowrap;
  font-size: small;
  border: 1px solid;
  border-radius: 15px;
  padding-right: 2px;
  padding-left: 2px;
  cursor: pointer;
}

.myReactionDiv{
    display: inline-block;
}
.addReactionTitleSpan {
  font-size: small;
}
.reactionChoicesContainer {
  width: 300px;
  height: 200px;
  position: absolute;
  z-index: 2;
  background-color: var(--main-bg-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 19px;
  align-content: center;
  flex-wrap: wrap;
  font-size: small;
  top: CALC(50% - 100px);
  left: CALC(50% - 150px);
  border-radius: 5%;
  border: var(--main-border);
}
.reactionChoices {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: x-large;
}
.reactionsContainer {
  display: flex;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
}
