.addReactionDiv {
  position: relative;
  bottom: 0;
  right: 0;
  font-size: small;
  color: grey;
  display: inline-block;
}
.addReactionSpan {
  font-size: small;
  border: 1px solid;
  border-radius: 15px;
  padding-right: 2px;
  padding-left: 2px;
  cursor: pointer;
}

.myReactionDiv{
    display: inline-block;
}
.addReactionTitleSpan { 
} 
.reactionChoices {
  position:relative;
  z-index:4;
  background-color: var(--main-bg-color-full-opacity);
}
