<div class="reactionsContainer" id="reactionsContainer">
  <div class="addReactionDiv cursorPointer" (click)="showReactionsOnClick()" *ngIf="!(userHasReacted() && reactionCount == 1)">
    {{reactionsDisplay}}
    <button *ngIf="showReactionChoices" (click)="cancelClick($event)">
      Cancel
    </button>
  </div>

  <div class="addReactionDiv myReactionDiv" (click)="reactionDisplayOnClick()">
    <span class="addReactionSpan" [id]="'addReactionSpan_' + reactionId">
      {{userHasReacted() ? replaceReactionType(userReaction) : '✚'}}
      <span class="addReactionTitleSpan" *ngIf="!userHasReacted()" title="Reactions"></span>
    </span>
  </div>
</div>

<div *ngIf="showReactionChoices" class="popupPanel" id="reactionChoicesDiv">
  <div class="popupPanelTitle">
    Reaction Choices
  </div>
  <div class="searchInputDiv"> 
    <input #reactionFilter placeholder="Filter/Search" (input)="searchForReaction()" /><button (click)="searchForReaction()">🔍Search</button>
  </div>
   
  <div class="reactionChoices">
    <div class="reactionChoice" *ngFor="let reaction of filteredReactions" (click)="selectReaction(reaction.type)" [title]="reaction.label">
      {{reaction.emoji}} {{ reaction.label }}
    </div>
  </div>
  <div>
    <button id="closeOverlay" (click)="closeReactionDisplay()">Close</button>
  </div>
</div>

<div *ngIf="showReactions" class="popupPanel">
  <div style="margin-bottom: 20px;">
    <span class="popupPanelTitle">Reactions ({{currentReactions?.length ?? 0}}) </span>
    <button id="closeOverlay" (click)="closeReactionsPanel()">Close</button>
  </div>
  <div class="reactionsOverlayWrapper optionsStatsWrapperDiv">
    <div *ngFor="let reaction of currentReactions" class="reactedReactionDiv optionsStatsDiv">
      <div class="optionsStatsHeader">
        <app-user-tag [user]="reaction.user" [inputtedParentRef]="inputtedParentRef" [displayMiniTag]="true"></app-user-tag>
      </div>
      <div class="optionsStatsDescription">
        <span class="reactionTypeSpan" [title]="reaction.type">{{replaceReactionType(reaction.type)}}</span>
        <span class="smallFont">{{daysSinceDate(reaction.timestamp)}}</span>
      </div>
    </div>
  </div> 
</div>
