.addReactionDiv {
  position: relative;
  bottom: 0;
  right: 0;
  font-size: small;
  color: grey;
  display: inline-block;
  white-space: nowrap;
}
.addReactionSpan {
  white-space: nowrap;
  font-size: small;
  border: 1px solid;
  border-radius: 15px;
  padding-right: 2px;
  padding-left: 2px;
  cursor: pointer;
}
.reactionWrapper {
  display: flex;
  align-items: baseline;
  justify-content: center;
  white-space: normal;
}
.myReactionDiv{
    display: inline-block;
}
.addReactionTitleSpan {
  font-size: small;
}
.reactionChoice {
  cursor: pointer;
}
.reactionChoices {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: xxx-large;
}
.reactionsContainer {
  display: flex;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
}
.reactionTypeSpan {
  font-size: 30px;
}
 
.popupPanel button {
  margin-top: 20px;
  cursor: pointer;
}
.reactionsOverlayWrapper {
  height: 100%;
  width: 100%;
  overflow: auto;
}
