<div class="currentlyPlayingTitle popupPanelTitle" *ngIf="showEmptyMessage || gamers.length > 0">Currently Playing:</div>
<div *ngIf="loading">Loading...</div> 
<div *ngFor="let g of gamers"> 
    <ng-container *ngIf="g.user; else usernameOnly">
        <app-user-tag [user]="g.user" [displayMiniTag]="true" [displayHoverPicture]="true" [inputtedParentRef]="parentRef"></app-user-tag>
    </ng-container>
    <ng-template #usernameOnly>
        <strong>{{g.username}}</strong>
    </ng-template> 
    <!-- Render as an app-menu-item when we can map the game to a known component -->
    <ng-container *ngIf="mapGameToMenuTitle(g.game) as menuTitle">
        <app-menu-item *ngIf="menuTitle" [type]="menuTitle" [parentRef]="parentRef" [label]="menuTitle"></app-menu-item>
        <span *ngIf="!menuTitle">{{g.game}}</span>
    </ng-container> 
    <small *ngIf="g.lastActivityUtc">{{g.lastActivityUtc | timeSince}}</small>
</div>
 
<div *ngIf="showEmptyMessage && !loading && gamers.length === 0">No players are currently active.</div>

