.componentMain {
  max-width: 400px;
  height: CALC(var(--vh, 1vh) * 100 - 60px);
}

.rankingDiv {
  max-height: CALC(var(--vh, 1vh) * 100 - 650px);
  min-height: 100px;
  overflow: auto;
  width: 100%;
  text-align: left;
}
  .rankingDiv.expanded {
    max-height: CALC(var(--vh, 1vh) * 80);
  }
.rankingDivOffNexus {
  max-height: CALC(var(--vh, 1vh)* 100 - 550px);
}

.radar {
  z-index: 3;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.radarCube {
  width: 25px;
  height: 25px;
  border: var(--main-border);
  margin: 5px;
}

.userTag {
  width: 25px !important;
  height: 25px !important;
  overflow: hidden;
}

.actionButtons {
  display: flex;
  width: 100%;
  flex-flow: column;
  z-index:1;
}

  .actionButtons button {
    height: 30px;
  }

  .deathMessage {
    width: 100%;
    text-align: center;
    color: var(--main-highlight-color);
    font-size: xx-large;
    font-weight: bolder;
  }

.deathMessageDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.arrayNexusNotificationDiv {
  text-align: center;
}

.nexusIcon {
  font-size: xx-large;
}

.gameScreen { 
  height: 255px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  position: relative;
  overflow: hidden;
}

.locationPicture {
  width: 98vw;
  max-height: 275px;
  overflow: hidden; 
  position: relative; 
  bottom: 0; 
}

.heroStatsDiv {
  height: CALC(100% - 10px);
  z-index: 1;
  position: absolute;
  top: 10px;
  left: 10px;
  color: var(--secondary-font-color);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  align-content: flex-start;
  flex-wrap: nowrap;
  gap: 10px;
  opacity: 0.8;
}
  .heroStatsDiv div {
    background-color: var(--component-background-color);
    padding: 2px; 
    border: var(--main-border); 
    border-radius: 12px; 
  }
.inventoryGameScreenDiv {
  z-index: 1;
  position: absolute;
  bottom: 10px;
  right: 10px;  
}
.inventoryTitle {
  font-size: large;
  font-weight: bold;
  text-align: center;
}
.inventoryItemsDiv {
    display:flex;
    justify-content:center;
    align-content:center;
}
.inventoryItem {
    height:50px;
    width:50px;
}
.inventoryDiv, inventoryItemsDiv { 
  height:255px;
  overflow: auto;
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: space-evenly;
  justify-items: center;
  flex-flow: column wrap;
}
.ranksExpander {
    font-size: xx-small;
    color: var(--secondary-font-color);
}
.arrayPopupPanel { 
  position: fixed;
  top: 0;
  left: 0; 
  height: CALC(var(--vh, 1vh) * 100 - 50px);
  background: var(--secondary-component-background-color);
  z-index: 4 !important;
  border-radius: 8px;
  overflow: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  cursor: default;
}
.arrayHelpButtonsWrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  padding: 10px;
}
.miniUserTag {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: center;
}
