.componentMain {
  max-width: 400px;
  height: CALC(100vh - 110px);
}

.rankingDiv {
  max-height: 225px;
  overflow: auto;
  width: 100%;
  text-align: left;
}
.rankingDiv.expanded {
  max-height: 550px; 
}

.radar {
  z-index: 3;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.radarCube {
  width: 25px;
  height: 25px;
  border: var(--main-border);
  margin: 5px;
}

.userTag {
  width: 25px !important;
  height: 25px !important;
  overflow: hidden;
}

.actionButtons {
  display: flex;
  width: 100%;
  flex-flow: column;
}

.deathMessage {
  width: 100%;
  text-align: center;
  color: var(--main-highlight-color);
  font-size: xx-large;
  font-weight: bolder;
}

.deathMessageDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.arrayNexusNotificationDiv {
  text-align: center;
}

.nexusIcon {
  font-size: xx-large;
}

.gameScreen { 
  height: 255px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  position: relative; 
}

.locationPicture {
  width: 98vw;
  max-height: 275px;
  overflow: hidden;
  z-index: -1;
  position: relative; 
  bottom: 0; 
}

.heroStatsDiv {
  width: 95%;
  z-index: 1;
  position: absolute;
  bottom: 10px; 
  left: 10px;
}

.inventoryTitle {
  font-size: large;
  font-weight: bold;
  text-align: center;
}
.inventoryItemsDiv {
    display:flex;
    justify-content:center;
    align-content:center;
}
.inventoryItem {
    height:50px;
    width:50px;
}
.inventoryDiv, inventoryItemsDiv {
  max-width: 300px;
  height:255px;
  overflow: auto;
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: space-evenly;
  justify-items: center;
  flex-flow: column wrap;
}
.ranksExpander {
    font-size: xx-small;
    color: var(--secondary-font-color);
}
