.largeAvatar {
  border: unset;  
  text-align: center;
}

.displayPicture {
  overflow: hidden; 
}

.noAvatar {
  text-decoration: unset !important;
  height: 50px;
  width: 50px;
}
.usernameSpan {
  word-break: break-all; 
  text-align: center; 
  display: block;
}
.userTag {
    width:25px;
    height:25px;
}
