.largeAvatar {
  border: unset;
  text-align: center;
  white-space: normal !important;
}
.miniAvatar {
  width:25px;
  height:25px;
  white-space: nowrap;
}
.tinyAvatarPic {
  width: 25px;
  height: 25px;
}
.displayPicture {
  overflow: hidden;
}

.noAvatar {
  text-decoration: unset !important;
  height: 50px;
  width: 50px;
}
.usernameSpan {          
  word-break: break-all; 
  text-align: center; 
  display: block;
  font-size:small;
  cursor: pointer;
}
.username {
  color: var(--secondary-font-color);
}
.userTag {
  width: 50px;
  max-height: 80px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: flex-start;
  gap: 10px;
}
.miniTag {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  max-width:200px;
  width: unset !important;
}
.miniAvatarBust {
  transform: scale(0.5) translateX(-15px) translateY(-25px);
  width: 25px;
}
.miniAvatarBug {
  left: -30px !important;
  top: -25px !important;
} 
.avatar { 
  line-height: 50px !important;
}
.avatarBug {
  left: 6px;
  top: -77px;
  position: relative !important;
} 
