

.attempt {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.letter {
  margin-right: 5px;
}

input {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 18px;
}

  input.correct {
    background-color: green;
    color: white;
  }

  input.present {
    background-color: yellow;
    color: black;
  }

.wordlerTitleIcons {
  font-size: xx-large;
}

.wordlerTitleDiv {
  width: 100%;
  text-align: center;
  font-size: large;
}

.wordlerTitle {
  align-items: center;
  position: relative;
  font-size: 24px;
}

.wordlerTitleText {
  margin-left: -80px;
  z-index: 10;
  position: relative;
  text-shadow: 1px 1px 2px var(--main-highlight-color), 0 0 1em var(--secondary-font-color), 0 0 0.2em var(--secondary-font-color);
}

.wordlerTitleIcons {
  display: inline-block;
}

.villain {
  z-index: 2;
  position: relative;
  font-size: 54px;
}

.brain {
  z-index: 1;
  position: relative;
  font-size: 1.5em;
  left: -45px;
  top: -25px;
}

.keyboard {
  gap: 5px;
  text-align: center;
}

.keyboardRow {
  line-height: 35px;
  width: 100%;
  height: 35px;
  display: flex;
  gap: 2.2px;
  justify-content: center;
}

.key {
  cursor: pointer;
  width: 35px;
  border-radius: 3px;
  border: 2px outset black;
}

.grey {
  background-color: slategrey;
}

.yellow {
  background-color: #ffd800;
}

.green {
  background-color: #07a700;
}

.key:hover {
  background-color: #e0e0e0;
}

.instructions {
  font-size: small;
}

#enterButton {
  font-size: 8px;
  text-align: center;
  padding: 0px;
  text-decoration: underline;
}

#backspaceButton span {
  margin-left: -3px;
}

.difficultySelectDiv {
  width: 100%;
  text-align: center;
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-5px);
  }

  50% {
    transform: translateX(5px);
  }

  75% {
    transform: translateX(-5px);
  }
}

.shake {
  animation: shake 0.5s;
}

.flip {
  animation: flip 0.6s;
}

@keyframes flip {
  0% {
    transform: rotateX(0);
  }

  50% {
    transform: rotateX(90deg);
  }

  100% {
    transform: rotateX(0);
  }
}

.toss {
  animation: toss-up 0.6s ease-out forwards;
}

@keyframes toss-up {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0);
  }
}

.exitGameButtonDiv {
  margin-top: 15px;
  text-align: center;
}
